<h5>Systemeinstellungen</h5>
{{ knp_menu_render('backend.menu.system', {'template': '@PSCBackendDashboard/menu/knp_menu.html.twig', 'ancestorClass': 'open', 'currentClass': 'active'}) }}
<ul class="nav  nav-pills flex-column">
    <li class="first"><a href="{{ path("psc_system_plugin_backend_list") }}">
            <i class="fab fa-lg fa-app-store"></i>
            <span class="menu-item-parent">Apps & App Store</span>
        </a>
    </li>
</ul>
{% if displaySupport %}
    <script>
        var supportUrl = "{{ supportUrlFirst }}&url={{ app.request.getSchemeAndHttpHost()|url_encode }}";
        $.ajax({
            url: "{{ supportUrl }}"
        }).done(function(data) {
            $('.swarm').append(data);

        });
    </script>

{% endif %}