{% extends 'backend_base.html.twig' %}

{% block body %}

    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fas fa-check-double"></i>
                    Preflightcheck Regeln <span>>
                    bearbeiten </span>
                </h3>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-end">
                <a href="{{ path("psc_plugin_system_preflightcheck_backend_list") }}" class="btn btn-default btn-sm"><i class="fas fa-arrow-left"></i> Zurück</a>
            </div>
        </div>
    </div>

    <div class="body">
        {{ form_start(form, { 'attr': {'class': ''}}) }}
        <div class="panel">
            <div class="header">
                <h4>{{ preflightCheck.nr }}</h4>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-md-2">
                        <ul class="nav nav-pills flex-column" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="#all" role="tab">Allgemein</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#fileformat" role="tab">Dateiformat</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#pdfformat" role="tab">PDF Format</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#sitecount" role="tab">Seitenanzahl</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#pdffonts" role="tab">PDF Fonts</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-10">
                        <div class="tab-content">
                            <div class="tab-pane active" id="all" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label">{{ form_label(form.nr) }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.nr) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label">{{ form_label(form.description) }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.description) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="fileformat" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label">{{ form_label(form.checkFileTypePdf) }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.checkFileTypePdf) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label">{{ form_label(form.checkFileTypeImage) }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.checkFileTypeImage) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label">{{ form_label(form.checkFileTypeErrorMessage) }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.checkFileTypeErrorMessage) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="pdfformat" role="tabpanel">
                                <h6>Ausrichtung</h6>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label">{{ form_label(form.checkFormatQuer) }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.checkFormatQuer) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label">{{ form_label(form.checkFormatHoch) }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.checkFormatHoch) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label">{{ form_label(form.checkFormatOrientationRelation) }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.checkFormatOrientationRelation) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr/>
                                <h6>Größe</h6>
                                <div class="row">
                                    <div class="col-md-1">
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                {{ form_widget(form.checkFormatA0) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                {{ form_widget(form.checkFormatA1) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                {{ form_widget(form.checkFormatA2) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                {{ form_widget(form.checkFormatA3) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                {{ form_widget(form.checkFormatA4) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                {{ form_widget(form.checkFormatA5) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                {{ form_widget(form.checkFormatA6) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                {{ form_widget(form.checkFormatA7) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                {{ form_widget(form.checkFormatA8) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                {{ form_widget(form.checkFormatA9) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-1">
                                        <div class="form-group row">
                                            <div class="col-md-12">
                                                {{ form_widget(form.checkFormatA10) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label">{{ form_label(form.checkFormatCustomWidthFrom) }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.checkFormatCustomWidthFrom) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label">{{ form_label(form.checkFormatCustomWidthTo) }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.checkFormatCustomWidthTo) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label">{{ form_label(form.checkFormatCustomHeightFrom) }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.checkFormatCustomHeightFrom) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label">{{ form_label(form.checkFormatCustomHeightTo) }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.checkFormatCustomHeightTo) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label">{{ form_label(form.checkFormatErrorMessage) }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.checkFormatErrorMessage) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label">{{ form_label(form.checkFormatSizeRelation) }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.checkFormatSizeRelation) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr/>
                                <h6>Boxen</h6>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label">{{ form_label(form.checkFormatBoxMedia) }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.checkFormatBoxMedia) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label">{{ form_label(form.checkFormatBoxTrim) }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.checkFormatBoxTrim) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label">{{ form_label(form.checkFormatBoxBleed) }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.checkFormatBoxBleed) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label">{{ form_label(form.checkFormatBoxCrop) }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.checkFormatBoxCrop) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label">{{ form_label(form.checkFormatBoxArt) }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.checkFormatBoxArt) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label">{{ form_label(form.checkFormatBoxErrorMessage) }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.checkFormatBoxErrorMessage) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="sitecount" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label">{{ form_label(form.checkSiteCount) }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.checkSiteCount) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label">{{ form_label(form.checkSiteCountColor) }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.checkSiteCountColor) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label">{{ form_label(form.checkSiteCountBlackWhite) }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.checkSiteCountBlackWhite) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label">{{ form_label(form.checkSiteCountRelation) }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.checkSiteCountRelation) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label">{{ form_label(form.checkSiteCountErrorMessage) }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.checkSiteCountErrorMessage) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="pdffonts" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label">{{ form_label(form.checkPdfFontsEmbedded) }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.checkPdfFontsEmbedded) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group row">
                                            <label class="col-md-3 form-control-label">{{ form_label(form.checkPdfFontsEmbeddedErrorMessage) }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.checkPdfFontsEmbeddedErrorMessage) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel">
            <div class="body">
                <div class="form-group row">
                    <div class="col-md-offset-1 col-md-11">
                        {{ form_widget(form.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>

    {{ summernote_mediabundle_init('default') }}
{% endblock %}