{% if pageCount > 1 %}
    <nav aria-label="navigation">
        <ul class="pagination justify-content-center">
            {% if previous is defined %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): previous})) }}" aria-label="{{ 'Previous'|trans }}">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">{{ 'Previous'|trans }}</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="" aria-label="{{ 'Previous'|trans }}">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">{{ 'Previous'|trans }}</span>
                    </a>
                </li>
            {% endif %}


            {% if startPage > 1 %}
                <li class="page-item"><a class="page-link" href="{{ path(route, query|merge({(pageParameterName): 1})) }}">1</a></li>
                {% if startPage == 3 %}
                    <li class="page-item"><a class="page-link" href="{{ path(route, query|merge({(pageParameterName): 2})) }}">2</a></li>
                {% elseif startPage != 2 %}
                    <li class="page-item disabled"><a class="page-link" href="#">&hellip;</a></li>
                {% endif %}
            {% endif %}


            {% for page in pagesInRange %}
                {% if page != current %}
                    <li class="page-item"><a class="page-link" href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a></li>
                {% else %}
                    <li class="page-item disabled"><a class="page-link" href="#">{{ page }}</a></li>
                {% endif %}

            {% endfor %}


            {% if pageCount > endPage %}
                {% if pageCount > (endPage + 1) %}
                    {% if pageCount > (endPage + 2) %}
                        <li class="page-item disabled"><a class="page-link" href="#">&hellip;</a></li>
                    {% else %}
                        <li class="page-item"><a class="page-link" href="{{ path(route, query|merge({(pageParameterName): pageCount -1})) }}">{{ pageCount -1 }}</a></li>
                    {% endif %}
                {% endif %}
                <li class="page-item"><a class="page-link" href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}">{{ pageCount }}</a></li>
            {% endif %}



            {% if next is defined %}
                <li class="page-item">
                    <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): next})) }}" aria-label="{{ 'Next'|trans }}">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">{{ 'Next'|trans }}</span>
                    </a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link" href="#" aria-label="{{ 'Next'|trans }}">
                        <span aria-hidden="true">&raquo;</span>
                        <span class="sr-only">{{ 'Next'|trans }}</span>
                    </a>
                </li>
            {% endif %}

        </ul>
    </nav>
{% endif %}
