{% extends 'backend_base.html.twig' %}

{% block body %}
    <div class="row hidden-mobile">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-envelope"></i>
                Versand <span>>
			Paketnummern </span></h1>
        </div>

    </div>

    <div class="jarviswidget">
        <header>
            <h2>Neue Nummer anlegen</h2>
        </header>

        <div>

            {{ form_start(form, { 'attr': {'class': 'smart-form'}}) }}
            {{ form_errors(form) }}


            <!-- widget content -->
            <div class="widget-body">

                <div class="row">
                    <div class="col col-5">
                        <div class="row">
                            <section class="col col-6">
                                <label class="label">{{ form_label(form.number) }}</label>
                                <label class="input"> <i class="icon-prepend fas fa-question-circle"></i>
                                    {{ form_widget(form.number) }}
                                    <b class="tooltip tooltip-top-left">
                                        <i class="fa fa-warning txt-color-teal"></i>
                                        {{ form_label(form.number) }}</b>
                                </label>
                            </section>
                            <section class="col col-6">
                                <label class="label">{{ form_label(form.shippingId) }}</label>
                                <label class="input">
                                    {{ form_widget(form.shippingId) }}

                                </label>
                            </section>

                        </div>

                    </div>
                </div>

            </div>


            <footer>
                {{ form_widget(form.save, {attr: {class: 'btn btn-primary'}}) }}
            </footer>

            {{ form_end(form) }}
            <!-- end widget content -->


        </div>


    </div>

    <div class="jarviswidget">
        <header>
            <h2>Importieren</h2>
        </header>

        <div>

            {{ form_start(formImport, { 'attr': {'class': 'smart-form'}}) }}
            {{ form_errors(formImport) }}


            <!-- widget content -->
            <div class="widget-body">

                <div class="row">
                    <div class="col col-5">
                        <div class="row">
                            <section class="col col-6">
                                <label class="label">{{ form_label(formImport.importFile) }}</label>
                                <label class="input">
                                    {{ form_widget(formImport.importFile) }}
                                </label>
                            </section>

                            <section class="col col-6">
                                <label class="label">{{ form_label(formImport.shippingId) }}</label>
                                <label class="input">
                                    {{ form_widget(formImport.shippingId) }}

                                </label>
                            </section>
                        </div>

                    </div>
                </div>

            </div>


            <footer>
                {{ form_widget(formImport.save, {attr: {class: 'btn btn-primary'}}) }}
            </footer>

            {{ form_end(formImport) }}
            <!-- end widget content -->


        </div>


    </div>

    <section id="widget-grid" class="">

        <!-- row -->
        <div class="row">

            <!-- NEW WIDGET START -->
            <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                <!-- Widget ID (each widget will need unique ID)-->
                <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                    <header>
                        <span class="widget-icon"> <i class="fas fa-table"></i> </span>
                        <h2>Paketnummern</h2>

                    </header>


                    <div>


                        <!-- widget content -->
                        <div class="widget-body no-padding">

                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>{{ knp_pagination_sortable(pagination, 'Id', 'a.id') }}</th>
                                        <th{% if pagination.isSorted('a.Title') %} class="sorted"{% endif %}>{{ knp_pagination_sortable(pagination, 'Title', 'a.title') }}</th>
                                        <th>Angelegt</th>
                                        <th>Benutzt?</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for parcelnumber in pagination %}
                                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                                            <td>{{ parcelnumber.id }}</td>
                                            <td>{{ parcelnumber.number }}</td>
                                            <td>{{ parcelnumber.created is empty ? "" : parcelnumber.created|date("m.d.Y H:i:s") }}</td>
                                            <td>{% if parcelnumber.used %}<span class="badge bg-success">Ja</span>{% else %}<span class="badge bg-info">Nein</span>{% endif %}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            {# display navigation #}
                            <div class="navigation">
                                {{ knp_pagination_render(pagination) }}
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
{% endblock %}