.layoutarea {
    margin: 0;
    padding-top: 10px;
}

#c {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;

}

body {
  background: white url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAHklEQVQYV2NkYGCQBGKCgJGgCogCyVGF+EKK+OABAMMUAQVnw0MeAAAAAElFTkSuQmCC);
}

canvas {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.canvas-container textarea {
  //display: none;
}