<!DOCTYPE html>
<html ng-app="layouterApp" ng-controller="AppCtrl">
  <head>
    <title ng-bind="pageTitle"></title>

    <!-- font awesome from BootstrapCDN -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" ngIf="stylePath" type="text/css" ng-href="{{stylePath}}" />
    <link rel="stylesheet" type="text/css" href="assets/layouts/style.css" />
    <!--<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Mr+Bedfort|Great+Vibes|Kaushan+Script|Seaweed+Script|Cinzel+Decorative|Audiowide|Euphoria+Script|Codystar|UnifrakturMaguntia|Ewert|Faster+One|Rye" />-->
    <!-- compiled JavaScript -->
    
        <script type="text/javascript" src="vendor/ng-file-upload/ng-file-upload-shim.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="vendor/angular/angular.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="vendor/angular-sanitize/angular-sanitize.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="vendor/angular-animate/angular-animate.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="vendor/angular-bootstrap/ui-bootstrap-tpls.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="vendor/angular-loading-bar/build/loading-bar.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="vendor/angular-ui-select/dist/select.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="vendor/angular-ui-router/release/angular-ui-router.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="fabricjs/fabric.min.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="vendor/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="vendor/ng-file-upload/ng-file-upload.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="vendor/jquery/dist/jquery.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="vendor/ion-range-slider/js/ion.rangeSlider.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="vendor/angular-intro.js/build/angular-intro.min.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="vendor/mathjs/dist/math.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="vendor/underscore/underscore.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="vendor/holderjs/holder.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="vendor/angulartics/dist/angulartics.min.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="vendor/angulartics-google-analytics/dist/angulartics-ga.min.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="vendor/ngInfiniteScroll/build/ng-infinite-scroll.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="src/app/app.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="src/app/elements/cal.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="src/app/elements/image.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="src/app/elements/itext.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="src/app/elements/rect.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="src/app/elements/svg.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="src/app/elements/text.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="src/app/elements/textbox.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="src/app/footer/footer.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="src/app/help/help.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="src/app/motiv/motiv.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="src/app/painter/painter.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="src/app/preview/preview.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="src/app/settings/settings.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="src/app/simplecolorpicker/simplecolorpicker.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="src/app/sites/sites.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="src/app/tools/tools.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="src/app/top/top.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="src/app/wizard/wizard.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="src/common/plusOne/plusOne.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="templates-app.js?version=1.1.0"></script>
    
        <script type="text/javascript" src="templates-themes.js?version=1.1.0"></script>
    

    <!-- it's stupid to have to load it here, but this is for the +1 button -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
      { "parsetags": "explicit" }
    </script>
  </head>
  <script src="//ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
  <script>

  </script>

  <body ng-switch on="theme">
        <span ng-switch-default>
            <div class="loading_mask" ng-show="showLoading">Loading</div>
            <div id="wrap">
                <div ng-include="'painter/painter.tpl.html'" ng-controller="PainterCtrl"></div>

                <div ng-include="'top/top.tpl.html'" ng-controller="TopCtrl"></div>

                <div style="float: left" ng-include="'sites/sites.tpl.html'" ng-controller="SitesCtrl"></div>

                <div ng-include="'settings/settings.tpl.html'" ng-controller="SettingsCtrl"></div>

                <div ng-include="'tools/tools.tpl.html'" ng-controller="ToolsCtrl"></div>
            </div>

            <div ng-include="'footer/footer.tpl.html'" ng-controller="FooterCtrl"></div>

            <div ng-include="'motiv/motiv.tpl.html'" ng-controller="MotivCtrl"></div>

            <div ng-include="'wizard/wizard.tpl.html'" ng-controller="WizardCtrl"></div>
        </span>
        <span ng-switch-when="dp">
            <div class="loading_mask" ng-show="showLoading">Loading</div>
            <div id="wrap" style="position: relative;height: 100%;">


                <div ng-include="'themes/dp/app/top/top.tpl.html'" ng-controller="TopCtrl"></div>

                <section id="dp24deskwrapper" class="container-fluid column-2">
                    <div class="row">
                        <section class="col-sm-9 col-sm-push-3 col-md-9 col-md-push-3 desk">



                            <div id="dp24-canvas-wrapper" style="margin-top: 20px;" class="row" ng-include="'themes/dp/app/painter/painter.tpl.html'" ng-controller="PainterCtrl"></div>


                        </section>

                        <section class="col-sm-3 col-sm-pull-9 col-md-3 col-md-pull-9 dp24-sidebar" ng-include="'themes/dp/app/tools/tools.tpl.html'" ng-controller="ToolsCtrl"></section>
                    </div>
                </section>
            </div>

            <div ng-include="'themes/dp/app/footer/footer.tpl.html'" ng-controller="FooterCtrl"></div>

            <div ng-include="'themes/dp/app/motiv/motiv.tpl.html'" ng-controller="MotivCtrl"></div>

            <div ng-include="'themes/dp/app/wizard/wizard.tpl.html'" ng-controller="WizardCtrl"></div>
        </span>
         <span ng-switch-when="niceart">
             <div class="loading_mask" ng-show="showLoading">Loading</div>
            <div id="wrap" style="position: relative;height: 100%;">


                <div ng-include="'themes/niceart/app/top/top.tpl.html'" ng-controller="TopCtrl"></div>

                <section id="niceartdeskwrapper" class="container-fluid column-2">
                    <div class="row">
                        <section class="col-sm-9 col-sm-push-3 col-md-9 col-md-push-3 desk">



                            <div id="niceart-canvas-wrapper" style="margin-top: 20px;" class="row" ng-include="'themes/niceart/app/painter/painter.tpl.html'" ng-controller="PainterCtrl"></div>


                        </section>

                        <section class="col-sm-3 col-sm-pull-9 col-md-3 col-md-pull-9 niceart-sidebar" ng-include="'themes/niceart/app/tools/tools.tpl.html'" ng-controller="ToolsCtrl"></section>
                    </div>
                </section>
            </div>

            <div ng-include="'themes/niceart/app/footer/footer.tpl.html'" ng-controller="FooterCtrl"></div>

            <div ng-include="'themes/niceart/app/motiv/motiv.tpl.html'" ng-controller="MotivCtrl"></div>

            <div ng-include="'themes/niceart/app/wizard/wizard.tpl.html'" ng-controller="WizardCtrl"></div>
        </span>
        <span ng-switch-when="sweet">
             <div class="loading_mask" ng-show="showLoading">Loading</div>
            <div id="wrap" style="position: relative;height: 100%;">


                <div ng-include="'themes/sweet/app/top/top.tpl.html'" ng-controller="TopCtrl"></div>

                <section id="niceartdeskwrapper" class="container-fluid column-2">
                    <div class="row">
                        <section class="col-sm-9 col-sm-push-3 col-md-9 col-md-push-3 desk">



                            <div id="niceart-canvas-wrapper" style="margin-top: 20px;" class="row" ng-include="'themes/sweet/app/painter/painter.tpl.html'" ng-controller="PainterCtrl"></div>


                        </section>

                        <section class="col-sm-3 col-sm-pull-9 col-md-3 col-md-pull-9 niceart-sidebar" ng-include="'themes/sweet/app/tools/tools.tpl.html'" ng-controller="ToolsCtrl"></section>
                    </div>
                </section>
            </div>

            <div ng-include="'themes/sweet/app/footer/footer.tpl.html'" ng-controller="FooterCtrl"></div>

            <div ng-include="'themes/sweet/app/motiv/motiv.tpl.html'" ng-controller="MotivCtrl"></div>

            <div ng-include="'themes/sweet/app/wizard/wizard.tpl.html'" ng-controller="WizardCtrl"></div>
        </span>
        <span ng-switch-when="psc">
             <div class="loading_mask" ng-show="showLoading">Loading</div>
            <div id="wrap" style="position: relative;height: 100%;">


                <div ng-include="'themes/psc/app/top/top.tpl.html'" ng-controller="TopCtrl"></div>

                <section id="niceartdeskwrapper" class="container-fluid column-2">
                    <div class="row">
                        <section class="col-sm-3 col-md-3 niceart-sidebar" ng-include="'themes/psc/app/tools/tools.tpl.html'" ng-controller="ToolsCtrl"></section>

                        <section class="col-sm-9 col-md-9 desk">

                            <div id="niceart-canvas-wrapper" style="margin-top: 20px;" class="row" ng-include="'themes/psc/app/painter/painter.tpl.html'" ng-controller="PainterCtrl"></div>


                        </section>
                    </div>
                </section>
            </div>

            <div ng-include="'themes/psc/app/footer/footer.tpl.html'" ng-controller="FooterCtrl"></div>

            <div ng-include="'themes/psc/app/motiv/motiv.tpl.html'" ng-controller="MotivCtrl"></div>

            <div ng-include="'themes/psc/app/wizard/wizard.tpl.html'" ng-controller="WizardCtrl"></div>
        </span>
        <span ng-switch-when="gz">
             <div class="loading_mask" ng-show="showLoading">Loading</div>
            <div id="wrap" style="position: relative;height: 100%;">


                <div ng-include="'themes/gz/app/top/top.tpl.html'" ng-controller="TopCtrl"></div>

                <section id="niceartdeskwrapper" class="container-fluid column-2">
                    <div class="row">
                        <section class="col-sm-3 col-md-3 niceart-sidebar" ng-include="'themes/gz/app/tools/tools.tpl.html'" ng-controller="ToolsCtrl"></section>

                        <section class="col-sm-9 col-md-9 desk">

                            <div id="niceart-canvas-wrapper" style="margin-top: 20px;" class="row" ng-include="'themes/gz/app/painter/painter.tpl.html'" ng-controller="PainterCtrl"></div>


                        </section>
                    </div>
                </section>
            </div>

            <div ng-include="'themes/gz/app/footer/footer.tpl.html'" ng-controller="FooterCtrl"></div>

            <div ng-include="'themes/gz/app/motiv/motiv.tpl.html'" ng-controller="MotivCtrl"></div>

            <div ng-include="'themes/gz/app/wizard/wizard.tpl.html'" ng-controller="WizardCtrl"></div>
        </span>
        <span ng-switch-when="psc_kdv">
             <div class="loading_mask" ng-show="showLoading">Loading</div>
            <div id="wrap" style="position: relative;height: 100%;">


                <div ng-include="'themes/psc_kdv/app/top/top.tpl.html'" ng-controller="TopCtrl"></div>

                <section id="niceartdeskwrapper" class="container-fluid column-2">
                    <div class="row">
                        <section class="col-sm-3 col-md-3 niceart-sidebar" ng-include="'themes/psc_kdv/app/tools/tools.tpl.html'" ng-controller="ToolsCtrl"></section>

                        <section class="col-sm-9 col-md-9 desk">

                            <div id="niceart-canvas-wrapper" style="margin-top: 20px;" class="row" ng-include="'themes/psc_kdv/app/painter/painter.tpl.html'" ng-controller="PainterCtrl"></div>


                        </section>
                    </div>
                </section>
            </div>

            <div ng-include="'themes/psc_kdv/app/footer/footer.tpl.html'" ng-controller="FooterCtrl"></div>

            <div ng-include="'themes/psc_kdv/app/motiv/motiv.tpl.html'" ng-controller="MotivCtrl"></div>

            <div ng-include="'themes/psc_kdv/app/wizard/wizard.tpl.html'" ng-controller="WizardCtrl"></div>
        </span>
        <span ng-switch-when="astov">
             <div class="loading_mask" ng-show="showLoading">Loading</div>
            <div id="wrap" style="position: relative;height: 100%;">


                <div ng-include="'themes/astov/app/top/top.tpl.html'" ng-controller="TopCtrl"></div>

                <section id="niceartdeskwrapper" class="container-fluid column-2">
                    <div class="row">
                        <section class="col-sm-9 col-sm-push-3 col-md-9 col-md-push-3 desk">



                            <div id="niceart-canvas-wrapper" style="margin-top: 20px;" class="row" ng-include="'themes/astov/app/painter/painter.tpl.html'" ng-controller="PainterCtrl"></div>


                        </section>

                        <section class="col-sm-3 col-sm-pull-9 col-md-3 col-md-pull-9 niceart-sidebar" ng-include="'themes/astov/app/tools/tools.tpl.html'" ng-controller="ToolsCtrl"></section>
                    </div>
                </section>
            </div>

            <div ng-include="'themes/astov/app/footer/footer.tpl.html'" ng-controller="FooterCtrl"></div>

            <div ng-include="'themes/astov/app/motiv/motiv.tpl.html'" ng-controller="MotivCtrl"></div>

            <div ng-include="'themes/astov/app/wizard/wizard.tpl.html'" ng-controller="WizardCtrl"></div>
        </span>
        <span ng-switch-when="mypetbooks">
             <div class="loading_mask" ng-show="showLoading">Loading</div>
            <div id="wrap" style="position: relative;height: 100%;">


                <div ng-include="'themes/mypetbooks/app/top/top.tpl.html'" ng-controller="TopCtrl"></div>

                <section id="niceartdeskwrapper" class="container-fluid column-2">
                    <div class="row">
                        <section class="col-sm-9 col-sm-push-3 col-md-9 col-md-push-3 desk">



                            <div id="niceart-canvas-wrapper" style="margin-top: 20px;" class="row" ng-include="'themes/mypetbooks/app/painter/painter.tpl.html'" ng-controller="PainterCtrl"></div>


                        </section>

                        <section class="col-sm-3 col-sm-pull-9 col-md-3 col-md-pull-9 niceart-sidebar" ng-include="'themes/mypetbooks/app/tools/tools.tpl.html'" ng-controller="ToolsCtrl"></section>
                    </div>
                </section>
            </div>

            <div ng-include="'themes/mypetbooks/app/footer/footer.tpl.html'" ng-controller="FooterCtrl"></div>

            <div ng-include="'themes/mypetbooks/app/motiv/motiv.tpl.html'" ng-controller="MotivCtrl"></div>

            <div ng-include="'themes/mypetbooks/app/wizard/wizard.tpl.html'" ng-controller="WizardCtrl"></div>
        </span>
        <script type="text/javascript">var _gaq=_gaq||[];(function(){var ga=document.createElement('script');ga.type='text/javascript';ga.async=true;ga.src=('https:'==document.location.protocol?'https://ssl':'http://www')+'.google-analytics.com/ga.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(ga,s);})();</script>
  </body>
</html>
