{% extends 'backend_base.html.twig' %}

{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-tasks"></i>
                    Aktionen <span>>
                    Liste </span>
                </h3>
            </div>

        </div>
    </div>
    <div class="body">
        <div class="panel">
            <div class="header">
                <h4>Aktionen</h4>
            </div>
            <div class="body">
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle btn-sm" type="button" id="dropdownMenu1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Neue anlegen
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        {% for key, queues in queueTypes %}
                            <span class="dropdown-header">{{ key }}</span>
                            {% for queue in queues %}
                                <a class="dropdown-item" href="{{ path('psc_shop_queue_backend_edit_create', {type: queue.type}) }}">{{ queue.name }}</a>
                            {% endfor %}
                        {% endfor %}
                    </div>
                </div>
                <p></p>
                <table class="table table-striped table-sm">
                    <thead class="">
                    <tr>
                        <th>Uid</th>
                        <th>Name</th>
                        <th>Event</th>
                        <th>Typ</th>
                        <th>Aktiv?</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for queue in pagination %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>{{ queue.id }}</td>
                            <td>{{ queue.name }}</td>
                            <td>{% if eventRegistry.has(queue.eventType) %}{{ eventRegistry.get(queue.eventType).description }}{% else %}not found{% endif %}</td>
                            <td>{% if queueRegistry.has(queue.queueType) %}{{ queueRegistry.get(queue.queueType).name }}{% else %}not found{% endif %}</td>
                            <td>{% if queue.active %}<span class="badge bg-success">Ja</span>{% else %}<span class="badge bg-warning">Nein</span>{% endif %}</td>
                            <td>
                                <a href="{{ path("psc_shop_queue_backend_edit_edit", {uuid: queue.id}) }}" class="btn btn-info btn-sm"><span class="fa fa-edit"></span> Details</a>
                                <a href="{{ path("psc_shop_queue_backend_edit_copy", {uuid: queue.id}) }}" class="btn btn-warning btn-sm"><span class="fa fa-copy"></span></a>
                                <a href="{{ path("psc_shop_queue_backend_edit_delete", {uuid: queue.id}) }}" class="btn btn-danger btn-sm"><span class="fa fa-trash"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="header">
                <h4>Aktuelle auszuführende Aktionen</h4>
            </div>
            <div class="body">

                <table class="table table-striped table-sm">
                    <thead class="">
                    <tr>
                        <th>Uid</th>
                        <th>Shop / Queue</th>
                        <th>erzeugt</th>
                        <th>letztes mal gelaufen</th>
                        <th>Event</th>
                        <th>Data</th>
                        <th>Aktionen</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for job in jobs %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>{{ job.job.id }}</td>
                            <td>{{ job.shop.title }}</td>
                            <td>{{ job.job.created|date('d.m.Y H:i:s') }}</td>
                            <td>{{ job.job.updated|date('H:i:s d.m.Y') }}</td>
                            <td>{{ job.job.event }}</td>
                            <td>{% for key,value in job.job.data %}{{ key }}: {% if value is iterable %}{{ value|join }}{% else %}{{ value }}{% endif %}{% endfor %}</td>
                            <td><a href="{{ path("psc_shop_queue_backend_list_delete", {uuid: job.job.id}) }}" class="btn btn-sm btn-danger">Löschen</a></td>
                        </tr>
                        {% for log in job.logs %}
                        <tr>
                            <td><b>Queue:</b> {{ log.queue.id }}</td>
                            <td>{{ log.queue.name }}</td>
                            <td>{{ log.log.created|date('d.m.Y H:i:s') }}</td>
                            <td>{% if log.log.error != '' %}<span class="badge bg-danger">{{ log.log.updated|date('H:i:s d.m.Y') }}</span>{% else %}<span class="badge bg-success">{{ log.log.updated|date('H:i:s d.m.Y') }}</span>{% endif %}</td>
                            <td colspan="2">{% if log.log.error != '' %}<b>Error Count:</b> {{ log.log.count }} <b>Error:</b> {{ log.log.error }}{% endif %}</td>
                            <td>{% if log.log.error != '' %}<a href="{{ path("psc_shop_queue_backend_list_reset_jobqueue", {uuid: log.log.id }) }}" class="btn btn-sm btn-warning">Reset</a>{% endif %}</td>
                        </tr>
                        {% endfor %}
                    {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}