{% extends 'backend_base.html.twig' %}
{% trans_default_domain 'core_account_list' %}
{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa fa-user-friends"></i>
                    {{ 'company'|trans }} <span>>
                    {{ 'list'|trans }} </span>
                </h3>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="panel">
            <div class="body">
                <a class="btn btn-info btn-sm" href="{{ path("psc_shop_account_backend_create") }}">{{ 'addcompany'|trans }}</a>
            </div>
        </div>
        <div class="panel">
            <div class="body">
                {{ form_start(form, { 'attr': {'class': 'searchForm'}}) }}
                <div class="form-group form-group-sm row">
                    <label class="col-md-1 form-control-label">
                        {{ 'search'|trans }}
                    </label>
                    <div class="col-md-3">
                        <div class="input-group input-group-sm">
                            {{ form_widget(form.term, {attr: {class:'form-control'}}) }}
                            <span class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                </div>

                {{ form_rest(form) }}

                {{ form_end(form) }}

                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>{{ knp_pagination_sortable(pagination, 'Id'|trans, 'account.uid') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Locked'|trans, 'account.lock') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Name'|trans, 'account.title') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'street'|trans, 'account.street') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'housenumber'|trans, 'account.houseNumber') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'zip'|trans, 'account.zip') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'city'|trans, 'account.city') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'additive'|trans, 'account.title') }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for account in pagination %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>{{ account.id }}</td>
                            <td>{% if account.locked %}<span class="badge bg-warning">{{ 'Yes'|trans }}</span>{% else %}<span
                                        class="badge bg-success">{{ 'No'|trans }}</span>{% endif %}</td>
                            <td>{{ account.title }}</td>
                            <td>{{ account.street }}</td>
                            <td>{{ account.houseNumber }}</td>
                            <td>{{ account.zip }}</td>
                            <td>{{ account.city }}</td>
                            <td>{{ account.appendix }}</td>
                            <td class="text-end">
                                <a href="{{ path("psc_shop_account_backend_edit", {uuid: account.id}) }}" class="btn btn-info btn-sm"><span class="fa fa-edit"></span> {{ 'Toedit'|trans }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}