
    <div style="display:none;" id="alert" class="alert alert-danger" role="alert"></div>
        <div style="display:none;" id="alertsuccess" class="alert alert-success" role="alert"></div>
    <div class="form-group row">
        <label class="col-md-4 form-control-label">{{ form_label(form.paypalplus.production) }}</label>
        <div class="col-md-8">
            {{ form_widget(form.paypalplus.production, {attr: {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-4 form-control-label">{{ form_label(form.paypalplus.clientId) }}</label>
        <div class="col-md-8">
            {{ form_widget(form.paypalplus.clientId, {attr: {'class': 'form-control'}}) }}
        </div>
    </div>


    <div class="form-group row">
        <label class="col-md-4 form-control-label">{{ form_label(form.paypalplus.clientSecret) }}</label>
        <div class="col-md-8">
            {{ form_widget(form.paypalplus.clientSecret, {attr: {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-4 form-control-label">{{ form_label(form.paypalplus.brandName) }}</label>
        <div class="col-md-8">
            {{ form_widget(form.paypalplus.brandName, {attr: {'class': 'form-control'}}) }}
        </div>
    </div>

{% if form.paypalplus.children.clientId.vars.value != "" %}

<div class="panel panel-default">
                                    <div class="header"><h5>Paypal-Gateway Test</h5></div>
                                    <div class="body">
                                        <div class="row">

                                            <div class="col-md-4 offset-4">
                                                <div class="row mb-3">
                                                    <label class="form-label required" for="product_initialStatus">Paypal-Check</label>
                                                    <div class="col-md-8">
                                                            
    
                                                   
<div id="smart-button-container">
      <div style="text-align: center;">
        <div id="paypal-button-container"></div>
      </div>
    </div>

     </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
<script src="https://www.paypal.com/sdk/js?client-id={{form.paypalplus.children.clientId.vars.value}}&enable-funding=venmo&currency=EUR" data-sdk-integration-source="button-factory"></script>
  <script>
    function initPayPalButton() {
        console.log(typeof paypal === 'undefined' || paypal === null);
        if(typeof paypal === 'undefined' || paypal === null) {
document.getElementById("alert").style.display = "block";
document.getElementById("alert").innerHTML = "FEHLER: client-id stimmt nicht!";

        } else {
      paypal.Buttons({
        style: {
          shape: 'rect',
          color: 'gold',
          layout: 'vertical',
          label: 'paypal',
          
        },

        createOrder: function(data, actions) {
          var pricenet = 0.01;
          var pricemwst = 0.00;
          var priceend = 0.01;
          return actions.order.create({
            purchase_units: [{"description":"Grafiker.de Ausschreibung","amount":{"currency_code":"EUR","value":priceend,"breakdown":{"item_total":{"currency_code":"EUR","value":pricenet},"shipping":{"currency_code":"EUR","value":0},"tax_total":{"currency_code":"EUR","value":pricemwst}}}}]
          });
        },

        onApprove: function(data, actions) {
          return actions.order.capture().then(function(orderData) {
            
            // Full available details , JSON.stringify(orderData, null, 2)
            //var arrayout =  JSON.parse(JSON.stringify(orderData, null, 2));

document.getElementById("alertsuccess").style.display = "block";
document.getElementById("alertsuccess").innerHTML = "BEZAHLT";
            // Show a success message within this page, e.g.

            // Or go to another URL:  actions.redirect('thank_you.html');
            
          });
        },

        onError: function(err) {
          console.log(err);
        }
      }).render('#paypal-button-container');
    }
    }
    initPayPalButton();

  </script>
  {% endif %}