{% extends 'backend_base.html.twig' %}
{% trans_default_domain 'core_voucher_edit' %}
{% block body %}

    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-id-card"></i>
                    {{'Voucher'|trans}} <span>>
                    {{'create'|trans}} </span>
                </h3>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-end">
                <a href="{{ path("psc_shop_voucher_backend_list") }}" class="btn btn-default btn-sm"><i class="fa fa-lg fa-fw fa-arrow-left"></i> {{'back'|trans}}</a>
            </div>
        </div>
    </div>

    <div class="body">
        {{ form_start(form, { 'attr': {'class': ''}}) }}
            <div class="panel">
                <div class="header">
                    <h4>{{ voucher.title }}</h4>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-md-2">
                            <ul class="nav nav-pills flex-column" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-bs-toggle="tab" href="#all" role="tab">{{'General'|trans}}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#add" role="tab">{{'Others'|trans}}</a>
                                </li>
                                {% for customGroup in customGroups %}
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" href="#{{ customGroup.id }}" role="tab">{{ customGroup.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-md-10">
                            <div class="tab-content">
                                <div class="tab-pane active" id="all" role="tabpanel">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.title) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.title) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-6">{{ form_widget(form.enable) }}</div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.fromDate) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.fromDate) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.toDate) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.toDate) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.percent) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.percent) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.value) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.value) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.mode) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.mode) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.more) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.more) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.count) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.count) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.code) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.code) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="add" role="tabpanel">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.productIds) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.productIds) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.productGroupIds) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.productGroupIds) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% for customGroup in customGroups %}
                                    <div class="tab-pane" id="{{ customGroup.id }}" role="tabpanel">
                                        {% for customField in customFields %}
                                            {% if customField.group == customGroup.id  and customField.getTemplate %}
                                                {{ include(customField.getTemplate, { 'form': form }) }}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel">
                <div class="body">
                    <div class="row mb-3">
                        <div class="col-md-offset-1 col-md-11">
                            {{ form_widget(form.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                        </div>
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </div>

    {{ summernote_mediabundle_init('default') }}

{% endblock %}