<script type="text/ng-template" id="stepSet">
    <div class="modal-content">
        <div class="modal-header">
            <h4><span ng-repeat="step in steps"> <i class="fa fa-circle-o fa-lg" ng-class="{'text-danger': step.isDisplayed, 'text-muted': !step.isDisplayed, 'text-success': step.isFinished }"></i> {{step.label}}</span></h4>
        </div>

        <div class="modal-body">
            <div id="{{ step.id }}" ng-repeat="step in steps" ng-show="step.isDisplayed">
                <span ng-repeat="element in step.elements">
                    <div class="form-group" ng-if="element.type=='formrte'">
                        <label>{{ element.label }}</label>
                        <input type="text" class="form-control" name="email" ng-change="changeText(element)" ng-model="element.value"/>
                    </div>
                    <div class="form-group" ng-if="element.type=='formtextarea'">
                        <label>{{ element.label }}</label>
                        <textarea class="form-control" name="email" ng-change="changeText(element)" ng-model="element.value"></textarea>
                    </div>
                    <div class="form-group" ng-if="element.type=='formuploadmotiv'">
                        <label>{{ element.label }}</label>
                        <div class="row">
                            <div class="col-lg-12 text-center">
                                <div id="dragdroparea" class="well well-dragdrop" ngf-drop ng-model-rejected="rejFiles" ngf-accept="'.jpg,.jpeg,.png,.gif'" ngf-select ngf-change="changeMotiv($files, element);" ng-file-drop-available="dropSupported=true">
                                    <p class="lead">Einfach Fotos per Drag & Drop hereinziehen</p>
                                    <p>oder</p>
                                    <p><button type="button" class="btn btn-inverse"><i class="fa fa-plus"></i> Datei auswählen ...</button></p>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="selectedFiles != null">
                            <div ng-repeat="f in selectedFiles" class="col-xs-12">
                                <div class="progress progress-striped active">
                                    <div class="progress-bar"  role="progressbar" aria-valuenow="{{progress[$index]}}" aria-valuemin="0" aria-valuemax="100" style="width:{{progress[$index]}}%">
                                        <span class="sr-only">{{progress[$index]}}% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" ng-show="rejFiles.length > 0">
                            <div class="col-lg-12 text-center"><div class="alert alert-danger">
                                Dateiformat wird nicht unterstützt. Lade dein Bild bitte als JPEG, PNG oder Gif hoch.
                            </div></div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="element.type=='datatable'">
                        <h1>{{ element.value }}</h1>
                        <table class="table">
                            <thead>
                            <tr>
                                <th ng-repeat="col in element.columns">{{ col.label }}</th><th><button ng-click="addRowFromDatatable(element)" class="btn btn-sm btn-success"><i class="fa fa-plus-square"></i></button></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in element.rows"><td ng-repeat="col in element.columns"><input type="text" ng-model="row[col.id]"/></td><td><button ng-click="removeRowFromDatatable(row, element)" class="btn btn-sm btn-danger"><i class="fa fa-minus-square"></i></button></td></tr>
                            </tbody>

                        </table>
                    </div>
                    <div class="form-group" ng-if="element.type=='formmultiuploadmotiv'">
                        <h3>{{ element.label }} ({{ selectableMotive.length }} Stück)</h3>
                        <p>
                            <button type="button" ngf-select ngf-change="changeMotive($files, element)" ngf-multiple="true" class="btn btn-success"><i class="fa fa-plus"></i> Foto auswählen ...</button>
                            <button type="button" ng-click="clearMotive()" class="btn btn-danger"><i class="fa fa-trash"></i> Alle Fotos löschen</button>
                        </p>
                        <div class="row" ng-show="multiUploadFiles != null">
                            <div ng-repeat="f in multiUploadFiles" class="col-xs-4 col-md-2">
                                <a href="#" class="thumbnail">
                                    <img ng-show="f.url" ng-src="{{f.url}}" class="img-rounded"/>
                                </a>
                            </div>
                        </div>
                        <div class="row" ng-show="rejFiles.length > 0">
                            <div class="col-lg-12 text-center"><div class="alert alert-danger">
                                Dateiformat wird nicht unterstützt. Lade dein Bild bitte als JPEG, PNG oder Gif hoch.
                            </div></div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="element.type=='h1'">
                        <h1>{{ element.value }}</h1>
                    </div>
                    <div class="form-group" ng-if="element.type=='h2'">
                        <h2>{{ element.value }}</h2>
                    </div>
                    <div class="form-group" ng-if="element.type=='h3'">
                        <h3>{{ element.value }}</h3>
                    </div>
                    <div class="form-group" ng-if="element.type=='h4'">
                        <h4>{{ element.value }}</h4>
                    </div>
                    <div class="form-group" ng-if="element.type=='h5'">
                        <h5>{{ element.value }}</h5>
                    </div>
                    <div class="form-group" ng-if="element.type=='p'">
                        <p>{{ element.value }}</p>
                    </div>
                </span>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-original-title="" title="" ng-click="cancel()"><i class="fa fa-times"></i> abbrechen</button>
            <button type="button" ng-disabled="!previousEnabled" class="btn btn-default pull-left" data-original-title="" title="" ng-click="previous()"><i class="fa fa-chevron-left"></i> zurück</button>
            <button type="button" ng-disabled="!nextEnabled" class="btn btn-success assi-weiter-2" data-original-title="" title="" ng-click="next()">weiter <i class="fa fa-chevron-right"></i></button>
            <button type="button" ng-disabled="!submitEnabled" class="btn btn-success" data-original-title="" title="" ng-click="finish()">Fertigstellen <i class="fa fa-check"></i></button>
        </div>

    </div>
</script>


<script type="text/ng-template" id="stepsetOld">
    <div>
        <form name="stepForm">
            <div id="steps" ng-transclude>
            </div>

            <div id="navBar">
      <span>
        <button class="btn" ng-click="previous()" ng-disabled="!previousEnabled">{{previousText}}</button>
        <button class="btn" ng-click="next()" ng-disabled="!nextEnabled">{{nextText}}</button>
        <button class="btn btn-success" ng-click="submit()" ng-disabled="stepForm.$invalid || !submitEnabled">{{submitText}}</button>
      </span>
            </div>
        </form>
    </div>
</script>
<script type="text/ng-template" id="stepOld">
    <div ng-show="isDisplayed">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
        <div ng-transclude></div>
    </div>
</script>