{% extends 'backend_base.html.twig' %}
{% trans_default_domain 'core_payment_list' %}
{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-credit-card"></i>
                    {{'paymentmethods'|trans}} <span>>
                    {{'List'|trans}} </span>
                </h3>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="panel">
            <div class="body">
                <a class="btn btn-info btn-sm" href="{{ path("psc_shop_payment_backend_create") }}">{{'Addpaymentmethod'|trans}}</a>
            </div>
        </div>
        <div class="panel">
            <div class="body">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>{{ knp_pagination_sortable(pagination, 'Uid'|trans, 'payment.uid') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'active'|trans, 'shipping.enable') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Pos'|trans, 'payment.pos') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Name'|trans, 'payment.title') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'cost'|trans, 'payment.kosten') }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for payment in pagination %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>{{ payment.uid }}</td>
                            <td>{% if payment.enable %}<span class="badge bg-success">{{'yes'|trans}}</span>{% else %}<span
                                        class="badge bg-warning">>{{'no'|trans}}</span>{% endif %}</td>
                            <td>{{ payment.pos }}</td>
                            <td>{{ payment.title }}</td>
                            <td>{{ payment.price|number_format(2, ',', '.') }}€</td>
                            <td class="text-end">
                                <a href="{{ path("psc_shop_payment_backend_edit", {uid: payment.uid}) }}"
                                   class="btn btn-info btn-sm"><span class="fa fa-edit"></span> {{'edit'|trans}}</a>
                                <a href="{{ path("psc_shop_payment_backend_delete", {uid: payment.uid}) }}"
                                   class="btn btn-danger btn-sm"><span class="fa fa-trash"></span> {{'del'|trans}}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}