{% extends 'backend_base.html.twig' %}
{% trans_default_domain 'core_contact_detail_create_and_edit' %}
{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-user"></i>
                    {{ 'customeraddress'|trans }} <span>>
                    {{ 'detail'|trans }} </span> {{ contactAddress.uid }}
                </h3>
            </div>
         <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-end">
            <a href="{{ path("psc_shop_contact_backend_edit", {uuid: contact.uuid}) }}" class="btn btn-default btn-sm"><i class="fa fa-lg fa-fw fa-arrow-left"></i> Zurück</a>
        </div>
        </div>
    </div>

    <div class="body">
        <div class="panel">
            <div class="header">
                <h5>{{ contact.username }}</h5>
            </div>
            <div class="body">

                {{ form_start(form, { 'attr': {'class': 'smart-form'}}) }}
                {{ form_errors(form) }}

                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#all" role="tab">{{ 'general'|trans }}</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="all" role="tabpanel">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label class="col-md-3 form-control-label">
                                        {{ form_label(form.type) }}
                                    </label>
                                    <div class="col-md-9">
                                        {{ form_widget(form.type) }}
                                    </div>
                                    {{ form_errors(form.type) }}
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="row mb-3">
                                    <label class="col-md-3 form-control-label">
                                        {{ form_label(form.pos) }}
                                    </label>
                                    <div class="col-md-9">
                                        {{ form_widget(form.pos) }}
                                    </div>
                                    {{ form_errors(form.pos) }}
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row mb-3">
                                    <label class="col-md-3 form-control-label">
                                        {{ form_label(form.uuid) }}
                                    </label>
                                    <div class="col-md-9">
                                        {{ form_widget(form.uuid, {attr: {'class': 'form-control disabled'}}) }}
                                    </div>
                                    {{ form_errors(form.uuid) }}
                                </div>
                            </div>
                       </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label class="col-md-3 form-control-label">
                                        {{ form_label(form.email) }}
                                    </label>
                                    <div class="col-md-9">
                                        {{ form_widget(form.email) }}
                                    </div>
                                    {{ form_errors(form.email) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label class="col-md-3 form-control-label">
                                        {{ form_label(form.kundenNr) }}
                                    </label>
                                    <div class="col-md-9">
                                        {{ form_widget(form.kundenNr) }}
                                    </div>
                                    {{ form_errors(form.kundenNr) }}
                                </div>
                            </div>
                        </div>
                         <div class="row">
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label class="col-md-3 form-control-label">
                                        {{ form_label(form.company) }}
                                    </label>
                                    <div class="col-md-9">
                                        {{ form_widget(form.company) }}
                                    </div>
                                    {{ form_errors(form.company) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label class="col-md-3 form-control-label">
                                        {{ form_label(form.company2) }}
                                    </label>
                                    <div class="col-md-9">
                                        {{ form_widget(form.company2) }}
                                    </div>
                                    {{ form_errors(form.company2) }}
                                </div>
                            </div>
                        </div>

                       <div class="row">
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label class="col-md-3 form-control-label">
                                        {{ form_label(form.firstname) }}
                                    </label>
                                    <div class="col-md-3">
                                        {{ form_widget(form.salutation) }}
                                    </div>
                                    <div class="col-md-6">
                                        {{ form_widget(form.firstname) }}
                                    </div>
                                    {{ form_errors(form.firstname) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label class="col-md-3 form-control-label">
                                        {{ form_label(form.lastname) }}
                                    </label>
                                    <div class="col-md-9">
                                        {{ form_widget(form.lastname) }}
                                    </div>
                                    {{ form_errors(form.lastname) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label class="col-md-3 form-control-label">
                                        {{ form_label(form.street) }}/{{ form_label(form.houseNumber) }}
                                    </label>
                                    <div class="col-md-6">
                                        {{ form_widget(form.street) }}
                                    </div>

                                    <div class="col-md-3">
                                        {{ form_widget(form.houseNumber) }}
                                    </div>
                                    {{ form_errors(form.street) }}{{ form_errors(form.houseNumber) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label class="col-md-3 form-control-label">
                                        {{ form_label(form.zip) }}/{{ form_label(form.city) }}/{{ form_label(form.country) }}
                                    </label>
                                    <div class="col-md-2">
                                        {{ form_widget(form.zip) }}
                                    </div>
                                    <div class="col-md-5">
                                        {{ form_widget(form.city) }}
                                    </div>
                                    <div class="col-md-2">
                                        {{ form_widget(form.country) }}
                                    </div>
                                    {{ form_errors(form.zip) }}
                                    {{ form_errors(form.city) }}
                                    {{ form_errors(form.country) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label class="col-md-3 form-control-label">
                                        {{ form_label(form.phone) }}
                                    </label>
                                    <div class="col-md-9">
                                        {{ form_widget(form.phone) }}
                                    </div>
                                    {{ form_errors(form.phone) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label class="col-md-3 form-control-label">
                                        {{ form_label(form.fax) }}
                                    </label>
                                    <div class="col-md-9">
                                        {{ form_widget(form.fax) }}
                                    </div>
                                    {{ form_errors(form.fax) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label class="col-md-3 form-control-label">
                                        {{ form_label(form.mobilPhone) }}
                                    </label>
                                    <div class="col-md-9">
                                        {{ form_widget(form.mobilPhone) }}
                                    </div>
                                    {{ form_errors(form.mobilPhone) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label class="col-md-3 form-control-label">
                                        {{ form_label(form.ustid) }}
                                    </label>
                                    <div class="col-md-9">
                                        {{ form_widget(form.ustid) }}
                                    </div>
                                    {{ form_errors(form.ustid) }}
                                </div>
                            </div>

                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label class="col-md-3 form-control-label">
                                        {{ form_label(form.zusatz1) }}
                                    </label>
                                    <div class="col-md-9">
                                        {{ form_widget(form.zusatz1) }}
                                    </div>
                                    {{ form_errors(form.zusatz1) }}
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label class="col-md-3 form-control-label">
                                        {{ form_label(form.zusatz2) }}
                                    </label>
                                    <div class="col-md-9">
                                        {{ form_widget(form.zusatz2) }}
                                    </div>
                                    {{ form_errors(form.zusatz2) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label class="col-md-3 form-control-label">
                                        {{ form_label(form.homepage) }}
                                    </label>
                                    <div class="col-md-9">
                                        {{ form_widget(form.homepage) }}
                                    </div>
                                    {{ form_errors(form.homepage) }}
                                </div>
                            </div>
                        </div> 
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-offset-1 col-md-11">
                        {{ form_widget(form.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
         <div class="panel">
            <div class="header">
                <h4>{{ 'Changes'|trans }}</h4>
            </div>
            <div class="body">
                <table class="table">
                    <thead>
                        <tr><th>{{ 'Date'|trans }}</th><th>{{ 'Username'|trans }}</th><th>{{'Changes'|trans}}</th></tr>
                    </thead>
                    <tbody>
                        {% for change in changes %}
                            <tr><td>{{ change.created|date('H:i:s d.m.Y') }}</td><td>{{ change.username }}</td><td>
                                {% for key,set in change.changeset %}
                                    {% if set|length > 1 and set[1] is not iterable %}
                                        <strong>{{key}}</strong> <span class="badge bg-danger"><del>{{ set[0]}}</del></span><span class="badge bg-success">{% if set[1] is null %}0{% else %}{{ set[1] }}{% endif %}</span></br>
                                    {% endif %}
                                {% endfor %}
                            <td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

{% endblock %}
