{% macro article_group_tree(articlegroups) %}
    {% for articlegroup in articlegroups %}
        {% if articlegroup.children|length > 0 %}
            <li>
            <span>
                    <i class="fa fa-lg fa-plus-circle"></i> {{ articlegroup.title }}</span>
                {% if articlegroup.children %}
                    <ul>
                        {{ _self.article_group_tree(articlegroup.children) }}
                    </ul>
                {% endif %}
            </li>
        {% else %}
            <li>
            <span><label class="checkbox inline-block">
                    <input type="checkbox" name="product[product_groups][]" value="{{ articlegroup.uid }}"/>
                    <i></i>{{ articlegroup.title }}</label> </span>
            </li>
        {% endif %}

    {% endfor %}
{% endmacro %}