{% macro motiv_theme_tree(themes) %}
    {% for theme in themes %}
        {% if theme.children|length > 0 %}
            <li>
            <span>
                    <i class="fa fa-lg fa-plus-circle"></i>{{ theme.title }}</span>
                {% if theme.children %}
                    <ul>
                        {{ _self.motiv_theme_tree(theme.children) }}
                    </ul>
                {% endif %}
            </li>
        {% else %}
            <li>
            <span><label class="checkbox inline-block">
                    <input type="checkbox" name="checkbox-inline">
                    <i></i>{{ theme.title }}</label> </span>
            </li>
        {% endif %}

    {% endfor %}
{% endmacro %}