
    <div class="form-group row">
        <label class="col-md-4 form-control-label">{{ form_label(form.paypal.production) }}</label>
        <div class="col-md-8">
            {{ form_widget(form.paypal.production, {attr: {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-4 form-control-label">{{ form_label(form.paypal.clientId) }}</label>
        <div class="col-md-8">
            {{ form_widget(form.paypal.clientId, {attr: {'class': 'form-control'}}) }}
        </div>
    </div>


    <div class="form-group row">
        <label class="col-md-4 form-control-label">{{ form_label(form.paypal.clientSecret) }}</label>
        <div class="col-md-8">
            {{ form_widget(form.paypal.clientSecret, {attr: {'class': 'form-control'}}) }}
        </div>
    </div>
