

<div class="col-sm-1 col-md-1">
    <a type="button" class="btn page-controls" ng-show="showSiteBrowser" title="Seite zurück"><i class="fa fa-angle-left fa-5x"></i></a>
</div>
<div id="niceart-canvas-body" class="col-sm-10 col-md-10" scrollable>
    <div class="img-responsive" id="c" style="overflow: hidden"></div>
</div>
<div class="col-sm-1 col-md-1">
    <a type="button" class="btn page-controls" ng-show="showSiteBrowser" title="Seite vor"><i class="fa fa-angle-right fa-5x"></i></a>
</div>



