{% extends 'backend_base.html.twig' %}
{% import '@PSCBackendDashboard/tree/motivtheme.html.twig' as macros %}
{% trans_default_domain 'core_product_permission' %}
{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-key"></i>
                    {{ 'Product'|trans }} <span>>
                    {{ 'release'|trans }} </span>
                    <a target="_blank" href="/article/show/uuid/{{ product.uuid }}">{{ 'show'|trans }}</a>
                </h3>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-end">
                <a href="{{ path("backend_production_product_edit", {uuid: product.uuid}) }}" class="btn btn-default btn-sm"><i class="fa fa-lg fa-fw fa-arrow-left"></i> {{ 'back'|trans }}</a>
            </div>
        </div>
    </div>

    <div class="body">
        <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="header">
                        <h5>{{ product.title }} - {{ 'setting'|trans }}</h5>
                    </div>
                    <div class="body">
                        {{ form_start(form, { 'attr': {'class': 'smart-form'}}) }}
                        {{ form_errors(form) }}

                        <div class="row mb-3">
                            <label class="col-md-2 form-control-label">{{ form_label(form.confirm) }}</label>
                            <div class="col-md-10">
                                {{ form_widget(form.confirm) }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-2 form-control-label">{{ form_label(form.confirmOne) }}</label>
                            <div class="col-md-10">
                                {{ form_widget(form.confirmOne) }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-2 form-control-label">{{ form_label(form.confirmAccount) }}</label>
                            <div class="col-md-10">
                                {{ form_widget(form.confirmAccount) }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-2 form-control-label">{{ form_label(form.confirm_contacts) }}</label>
                            <div class="col-md-10">
                                {{ form_widget(form.confirm_contacts) }}
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}




