<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            <label class="col-md-3 form-control-label">{{ form_label(form.hplayouter.hplayouter) }}</label>
            <div class="col-md-9">
                <div class="checkbox">
                    {{ form_widget(form.hplayouter.hplayouter, {attr: {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
    </div>
</div>