{% extends 'backend_base.html.twig' %}

{% block body %}

{% form_theme form with ['@PSCBackendDashboard/form/form_errors.html.twig'] %}

    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-server"></i>
                    Domain <span>>
                    Liste </span>
                </h3>
            </div>
        </div>
    </div>

    <div class="body">
        <div class="panel">
            <div class="header">
                <h4>Neu anlegen</h4>
            </div>
            <div class="body">
                {{ form_start(form, { 'attr': {'class': 'smart-form'}}) }}
                {{ form_errors(form) }}
                <div class="row mb-3">
                    <label class="col-md-1 form-control-label">{{ form_label(form.host) }}</label>
                    <div class="col-md-11">
                        {{ form_widget(form.host) }}
                    </div>
                    {{ form_errors(form.host) }}
                </div>
                <div class="row mb-3">
                    <label class="col-md-1 form-control-label">{{ form_label(form.redirect) }}</label>
                    <div class="col-md-11">
                        {{ form_widget(form.redirect) }}
                    </div>
                    {{ form_errors(form.redirect) }}
                </div>
                <div class="row mb-3">
                    <div class="col-md-offset-1 col-md-11">
                        {{ form_widget(form.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                    </div>
                </div>

                {{ form_end(form) }}
            </div>
        </div>


        <div class="panel">
            <div class="header">
                <button type="button" class="btn btn-sm btn-warning float-right" data-bs-toggle="modal" data-bs-target="#upgradeApp">Jetzt Systemweit alle Domains syncronisieren</button>
                <h4>Liste</h4>
            </div>
            <div class="body">
                <table class="table table-striped table-sm">
                    <thead>
                    <tr>
                        <th>Host</th>
                        <th>Redirect</th>
                        <th>DNS Ok?</th>
                        <th>Syncronisiert</th>
                        <th>Aktionen</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for domain in domains %}
                        <tr><td><a href="http://{{ domain.host }}" target="_blank">{{ domain.host }}</a></td>
                            <td>{{ domain.redirect }}</td>
                            <td>{% if domainSync.isDnsOk(domain.ip) %}<span class="badge bg-success">Ja</span>{% else %}<span class="badge bg-warning">Nein</span>{% endif %}</td>
                            <td>{% if domainSync.isInSync(domain.host) %}<span class="badge bg-success">Ja</span>{% else %}<span class="badge bg-warning">Nein</span>{% endif %}</td>
                            <td><a href="{{ path("psc_backend_domain_list_delete", {uid: domain.uid}) }}" class="btn btn-danger btn-sm"><span class="fa fa-trash"></span></a></td></tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="modal fade" id="upgradeApp" tabindex="-1" role="dialog" aria-labelledby="upgradeApp" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Domain Syncronisation</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p> Wenn Sie diese Funktions ausführen, wird der Server neu gestartet.
                        Das BackOffice sowie alle Shops sind für bis zu 5 Minuten nicht erreichbar.
                        Nach dem Neustart müssen Sie sich neu in das BackOffice einloggen.<br/>
                        In den Systemeinstellungen > Wartungsankündigung können Sie Ihren Kunden optional eine Wartungsankündigung einblenden lassen.</p>
                </div>
                <div class="modal-footer">
                    <h5>Jetzt ausführen?</h5>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nein</button>
                    <button type="button" class="syncDomain btn btn-primary">Ja</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            $('.syncDomain').click(function() {
                $.getJSON('{{ path('psc_backend_domain_list_sync') }}', [], function() {
                    document.location='{{ path('psc_backend_login') }}';
                })
            });
        })
    </script>
{% endblock %}