{% extends 'backend_base.html.twig' %}

{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-envelope"></i>
                    Theme <span>>
                    Einstellungen </span>
                </h3>
            </div>
        </div>
    </div>
    <div class="body">
        {{ form_start(form, { 'attr': {'class': 'smart-form'}}) }}
        {{ form_errors(form) }}
        <div class="panel">
            <div class="body">
                <div class="row mb-3">
                    <label class="col-md-6 form-control-label">
                        {{ form_label(form.theme) }}
                    </label>
                    <div class="col-md-6">
                        {{ form_widget(form.theme) }}
                    </div>
                    {{ form_errors(form.theme) }}
                </div>
                <div class="row mb-3">
                    <label class="col-md-6 form-control-label">
                        {{ form_label(form.layouterTheme) }}
                    </label>
                    <div class="col-md-6">
                        {{ form_widget(form.layouterTheme) }}
                    </div>
                    {{ form_errors(form.layouterTheme) }}
                </div>
                <div class="row mb-3">
                    <div class="col-md-offset-2 col-md-10">
                        {{ form_widget(form.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}

        <div class="panel">
            <div class="header">
                <h4>Einstellungen</h4>
            </div>
            <div class="body">
                {{ form_start(formTheme, { 'attr': {'class': 'smart-form'}}) }}
                {{ form_errors(formTheme) }}

                <div class="row">
                    <div class="col-md-2">
                        <ul class="nav nav-pills flex-column" role="tablist">
                            {% for customThemeGroup in customThemeGroups %}
                                <li class="nav-item">
                                    <a class="nav-link {% if loop.first	%}active{% endif %}" data-bs-toggle="tab" href="#{{ customThemeGroup.id }}" role="tab">{{ customThemeGroup.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-10">
                        <div class="tab-content">
                            {% for customThemeGroup in customThemeGroups %}
                                <div class="tab-pane {% if loop.first	%}active{% endif %}" id="{{ customThemeGroup.id }}" role="tabpanel">
                                    {% for customThemeField in customThemeFields %}
                                        {% if customThemeField.group == customThemeGroup.id  and customThemeField.getTemplate %}
                                            {{ include(customThemeField.getTemplate, { 'form': formTheme }) }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row mb-3">
                    <div class="col-md-offset-2 col-md-10">
                        {{ form_widget(formTheme.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                    </div>
                </div>
                {{ form_end(formTheme) }}
            </div>
        </div>
    </div>
{% endblock %}