{% extends 'backend_base.html.twig' %}
{% trans_default_domain 'core_settings_edit' %}
{% block body %}

    {% form_theme form with ['@PSCBackendDashboard/form/form_errors.html.twig'] %}

    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-list"></i>
                    {{'Shop'|trans}} <span>>
                    {{'Countries'|trans}} </span>
                </h3>
            </div>
        </div>
    </div>

    <div class="body">
        {{ form_start(form, { 'attr': {'class': 'smart-form'}}) }}
        {{ form_errors(form) }}

        <div class="panel">
            <div class="header">
                <h4>{{'Insert'|trans}}</h4>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-3">
                        <div class="row mb-3">
                            <label class="col-md-6 form-control-label">
                                {{ form_label(form.code) }}
                            </label>
                            <div class="col-md-6">
                                {{ form_widget(form.code) }}
                            </div>
                            {{ form_errors(form.code) }}
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row mb-3">
                            <label class="col-md-6 form-control-label">
                                {{ form_label(form.withTaxWithoutUstNr) }}
                            </label>
                            <div class="col-md-6">
                                {{ form_widget(form.withTaxWithoutUstNr) }}
                            </div>
                            {{ form_errors(form.withTaxWithoutUstNr) }}
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row mb-3">
                            <label class="col-md-6 form-control-label">
                                {{ form_label(form.withTaxWithUstNr) }}
                            </label>
                            <div class="col-md-6">
                                {{ form_widget(form.withTaxWithUstNr) }}
                            </div>
                            {{ form_errors(form.withTaxWithUstNr) }}
                        </div>
                    </div>
                </div>
                <div class="row mb-3">

                    <div class="col-md-offset-2 col-md-11">
                        {{ form_widget(form.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                    </div>
                </div>
            </div>
        </div>

        {{ form_end(form) }}
    </div>


    <div class="panel">
        <div class="body">
            <div class="panel">
                <div class="header">
                    <h4>{{'Countries'|trans}}</h4>
                </div>
                <table class="table">
                    <thead><tr><th>{{'Country'|trans}}</th><th>{{'VATwithoutID'|trans}}</th><th>{{'VATwithID'|trans}}</th><th></th></tr></thead>
                    {% for country in countrys %}
                        <tr>
                            <td>
                                {{ country.code }}
                            </td>
                            <td>
                                <input type="checkbox" data-size="small" data-toggle="toggle" {% if country.withTaxWithoutUstNr %}checked{% endif %} data-url="{{ path('psc_backend_shop_settings_country_toogle', {id: country.id, field: 'withTaxWithoutUstNr'}) }}"/>
                            </td>
                            <td>
                                <input type="checkbox" data-size="small" data-toggle="toggle" {% if country.withTaxWithUstNr %}checked{% endif %} data-url="{{ path('psc_backend_shop_settings_country_toogle', {id: country.id, field: 'withTaxWithUstNr'}) }}"/>
                            </td>
                            <td><a href="{{ path("psc_backend_shop_settings_country_delete", {id: country.id}) }}" class="btn btn-danger btn-sm"><span class="fa fa-trash"></span></a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
