{% extends 'backend_base.html.twig' %}

{% block body %}

{% form_theme form with ['@PSCBackendDashboard/form/form_errors.html.twig'] %}

    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                <i class="fa-fw fa fa-copy"></i>
                {{'Shop'|trans}} <span>>
                {{'copy'|trans}} </span></h3>
            </div>
        </div>
    </div>

    <div class="body">
        <div class="panel">
            <div class="header">
                <h4>{{'Form'|trans}}</h4>
            </div>
            <div class="body">
                {{ form_start(form, { 'attr': {'class': ''}}) }}
                {{ form_errors(form) }}
                <div class="row mb-3">
                    <label class="col-md-1 form-control-label">
                        {{ form_label(form.title) }}
                    </label>
                    <div class="col-md-11">
                        {{ form_widget(form.title, {attr: {class:'form-control'}}) }}
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-1 form-control-label">
                        {{ form_label(form.domain) }}
                    </label>
                    <div class="col-md-11">
                        {{ form_widget(form.domain, {attr: {class:'form-control'}}) }}
                    </div>
                    {{ form_errors(form.domain) }}
                </div>
                <div class="row mb-3">
                    {{ form_label(form.articlegroup) }}
                    <div class="col-md-4">
                        {{ form_widget(form.articlegroup, {attr: {class:'form-control'}}) }}
                        <i></i>
                    </div>
                    {{ form_errors(form.articlegroup) }}
                </div>
                <div class="row mb-3">
                    {{ form_label(form.article) }}
                    <div class="col-md-4">
                        {{ form_widget(form.article, {attr: {class:'form-control'}}) }}
                        <i></i>
                    </div>
                    {{ form_errors(form.article) }}
                </div>

                <div class="row mb-3">
                    {{ form_label(form.cms) }}
                    <div class="col-md-4">
                        {{ form_widget(form.cms, {attr: {class:'form-control'}}) }}
                        <i></i>
                    </div>
                    {{ form_errors(form.cms) }}
                </div>
                <div class="row mb-3">
                    {{ form_label(form.payment) }}
                    <div class="col-md-4">
                        {{ form_widget(form.payment, {attr: {class:'form-control'}}) }}
                        <i></i>
                    </div>
                    {{ form_errors(form.payment) }}
                </div>
                <div class="row mb-3">
                        {{ form_label(form.shipping) }}
                    <div class="col-md-4">
                        {{ form_widget(form.shipping, {attr: {class:'form-control'}}) }}
                        <i></i>
                    </div>
                    {{ form_errors(form.shipping) }}
                </div>
                <div class="row mb-3">
                    {{ form_label(form.queues) }}
                    <div class="col-md-4">
                        {{ form_widget(form.queues, {attr: {class:'form-control'}}) }}
                        <i></i>
                    </div>
                    {{ form_errors(form.queues) }}
                </div>

                {% for element in elements %}
                    <div class="row mb-3">
                        {{ form_label(form[element.type]) }}
                        <div class="col-md-4">
                            {{ form_widget(form[element.type], {attr: {class:'form-control'}}) }}
                            <i></i>
                        </div>
                        {{ form_errors(form[element.type]) }}
                    </div>
                {% endfor %}

                <div class="row mb-3">
                    <div class="col-md-offset-1 col-md-11">
                        {{ form_widget(form.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}