<footer id="niceartpagefooter">
    <nav id="navbarniceartpagefooter" class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class="container-fluid">
            <div ng-include="'themes/sweet/app/help/help.tpl.html'" style="float: left;" ng-controller="HelpCtrl" data-ng-show="showHelpButton"></div>
            <button id="btnNextStep" ng-show="settings.show_finish" ng-click="finishProduct()" class="btn btn-success btn-lg navbar-btn navbar-right">Speichern & fertigstellen <i class="fa fa-arrow-right fa-fw"></i></button>
            <div class="navbar-right" style="margin-right: 10px; width: 40%; margin-top: 5px;"><p>Bitte mit dem Vorschau-Button überprüfen, ob Bilder und gewählte Stilelemente die richtige Qualität haben und ob diese richtig Positioniert sind.</p></div>
        </div>
    </nav>
</footer>
<script type="text/ng-template" id="showPreviewLink">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Vorschau Fertig</h4>
        </div>

        <div class="modal-body">
            <p class="text-center">
                <a class="btn btn-success" target="_blank" href="{{link}}">Vorschau Anzeigen</a>
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Schließen</button>
        </div>

    </div>
</script>

<div style="position: absolute;
top: -99999999px;
left: -99999999px;" id="previewrenderer_id"><canvas id="previewrenderer"></canvas></div>
