{% extends 'backend_base.html.twig' %}

{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fab fa-app-store"></i>
                    App <span>>
                    Liste </span>
                </h3>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-end">
                <a href="{{ path('psc_system_plugin_backend_clear_cache') }}" class="btn btn-default btn-sm">Clear Cache</a>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="panel">
            <div class="body">

                <table class="table table-striped table-sm">
                    <thead class="">
                    <tr>
                        <th>Name</th>
                        <th>Version</th>
                        <th>Pfad</th>
                        <th>Aktiviert?</th>
                        <th></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><b>PrintshopCreator App (Core)</b></td>
                            <td>{{ version.datum }} ({{ version.release }})</td>
                            <td></td>
                            <td><span class="badge bg-success">Ja</span></td>
                            <td>
                            </td>
                            <td><button type="button" class="btn btn-success btn-sm" data-bs-toggle="modal" data-bs-target="#upgradeApp">Update installieren</button>
                            </td>
                        </tr>
                        <tr class="divider"><td colspan="6"></td></tr>
                    {% for plugin in plugins %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td><b>{{ plugin.name }}</b></td>
                            <td>{{ plugin.version }}</td>
                            <td>{{ plugin.path }}</td>
                            <td>{% if plugin.installed %}<span class="badge bg-success">Ja</span>{% else %}<span class="badge bg-warning">Nein</span>{% endif %}</td>
                            <td>
                                {% if plugin.installed %}
                                    <a href="{{ path("psc_system_plugin_backend_list_disable", {uuid: plugin.id}) }}" class="btn btn-warning btn-sm"><span class="fa fa-edit"></span> Deaktivieren</a>
                                {% else %}
                                    <a href="{{ path("psc_system_plugin_backend_list_enable", {uuid: plugin.id}) }}" class="btn btn-info btn-sm"><span class="fa fa-edit"></span> Aktivieren</a>
                                {% endif %}
                            </td>
                            <td></td>
                        </tr>
                        <tr><td colspan="6">{{ plugin.description }}</td></tr>
                        <tr class="divider"><td colspan="6"></td></tr>
                    {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
        <div class="modal fade" id="upgradeApp" tabindex="-1" role="dialog" aria-labelledby="upgradeApp" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">PrintshopCreator App (Core) Update</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                       <p> Wenn Sie diese Funktions ausführen, wird der Server neu gestartet.
                        Das BackOffice sowie alle Shops sind für bis zu 5 Minuten nicht erreichbar.
                        Nach dem Neustart müssen Sie sich neu in das BackOffice einloggen.<br/>
                        In den Systemeinstellungen > Wartungsankündigung können Sie Ihren Kunden optional eine Wartungsankündigung einblenden lassen.</p>
                    </div>
                    <div class="modal-footer">
                        <h5>Jetzt ausführen?</h5>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Nein</button>
                        <button type="button" class="upgrade btn btn-primary">Ja</button>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            $('.upgrade').click(function() {
                $.getJSON('{{ path('psc_backend_system_settings_upgrade') }}', [], function() {
                    document.location='{{ path('psc_backend_login') }}';
                })
            });
        })
    </script>
{% endblock %}