{% extends 'form_div_layout.html.twig' %}

{% block media_image_widget %}
    {% apply spaceless %}

        <div class="imageHolder_{{ id }}">


        </div>
        {{ block('hidden_widget') }}
        <button class="btn btn-info btn_{{ id }}">Bild auswählen</button>
        <script>
            $(function() {
               $('.btn_{{ id }}').click(function() {
                   window.open(
                           "{{ path('psc_shop_media_backend_folder_show', {uuid: 0, modal: 1, htmlId: id}) }}",
                           "",
                           "width=1000, height=600, resizable=yes, scrollbars=no, status=no, toolbar=no"
                   );
                   return false;
               });
            });
        </script>
    {% endapply %}
{% endblock %}