{% block media_widget %}
    {% spaceless %}
        <div id="{{ id }}-widget" class="media-chooser {% if(value.ent is defined) %}media-chooser--choosen{% endif %}">
            <!-- Hidden input -->
            <input id="{{ id }}" type="hidden" name="{{ full_name }}" value="{% if(value.id is defined) %}{{ value.id }}{% endif %}">

            <!-- Preview -->
            <div class="media-chooser__preview">
                <figure class="thumbnail">
                    {% if(value.ent is defined) %}
                        {% set media = value.ent %}
                        {% set handler = mediamanager.getHandler(media) %}
                        {% set imageurl =  handler.getImageUrl(media, app.request.basePath) %}
                        {% if imageurl is not empty and media.location == 'local' %}
                            {% if imageurl|lower|split('.')|last == 'svg' or 'image/svg' in media.contentType %}
                                {% set imageurlretina = imageurl %}
                            {% else %}
                                {% set imageurlretina = asset(imageurl | imagine_filter('media_list_thumbnail_retina')) %}
                                {% set imageurl = asset(imageurl | imagine_filter('media_list_thumbnail')) %}
                            {% endif %}
                        {% endif %}
                        {% if imageurl %}
                            <img src="{{ imageurl }}" srcset="{{ imageurl }} 1x, {{ imageurlretina is defined ? ', ' ~ imageurlretina ~ " 2x" }}" alt="{{ media.title }}" id="{{ id }}__preview__img" class="thumbnail-img media-chooser__preview__img">
                            <figcaption id="{{ id }}__preview__title" class="media-chooser__preview__title">
                                {{ media.title }}
                            </figcaption>
                        {% else %}
                            <i class="fas fa-file-o media-thumbnail__icon"></i>
                            <figcaption id="{{ id }}__preview__title" class="media-chooser__preview__title">
                                {{ media.title }}
                            </figcaption>
                        {% endif %}
                    {% else %}
                        <img id="{{ id }}__preview__img" class="thumbnail-img media-chooser__preview__img">
                        <figcaption id="{{ id }}__preview__title" class="media-chooser__preview__title"></figcaption>
                    {% endif %}
                </figure>

            </div>

            <button type="button" id="{{ id }}__preview__del-btn" class="js-media-chooser-del-preview-btn btn btn-danger media-chooser__preview__del-btn" data-linked-id="{{ id }}">
                <i class="fa fa-trash"></i>
            </button>
            <!-- Select Button -->
            <button type="button" class="btn btn-info btn--raise-on-hover media-chooser__choose-btn" data-bs-toggle="modal" data-bs-target="#{{ id }}-mediaChooserModal" data-link="{{ path(chooser, {'type': mediatype}) }}">
                <i class="fas fa-picture-o btn__icon media-chooser__choose-btn__icon"></i>
                {{ 'media.widget.choose' | trans }}
            </button>
        </div>


        <!-- Media Chooser Modal -->
        <div class="js-ajax-modal modal" id="{{ id }}-mediaChooserModal" role="dialog" aria-labelledby="mediaChooserModal" aria-hidden="true" data-loaded="false" data-linked-input-id="{{ id }}" data-media-chooser="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">
                            {{ 'media.widget.media_chooser' | trans }}
                        </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal">
                            <span aria-hidden="true">&times;</span>
                        </button>

                    </div>

                    <!-- Body -->
                    <div class="js-ajax-modal-body modal-body ajax-modal__body"></div>
                </div>
            </div>
        </div>
    {% endspaceless %}
{% endblock %}