{% extends 'backend_base.html.twig' %}
{% trans_default_domain 'core_settings_routing' %}
{% block body %}

    {% form_theme form with ['@PSCBackendDashboard/form/form_errors.html.twig'] %}

    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-list"></i>
                    {{'Shop'|trans}} <span>>
                    {{'Routes'|trans}} </span>
                </h3>
            </div>
        </div>
    </div>

    <div class="body">
        {{ form_start(form, { 'attr': {'class': 'smart-form'}}) }}
        {{ form_errors(form) }}

        <div class="panel">
            <div class="header">
                <h4>{{'Routing Config'|trans}}</h4>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-12">
                        {{ 'As example /{{cms.uid}}.html or /products/{{product.url}}.html or /products/{{productgroup.url}}.html'|trans }}
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <div class="row mb-3">
                            <label class="col-md-6 form-control-label">
                                {{ form_label(form.routingConfigCMS) }}
                            </label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    {{ form_widget(form.routingConfigCMS) }}
                                    <a class="btn btn-outline-secondary" href="{{ path('psc_backend_shop_routing_clear', {type: 2}) }}">Clear</a><a class="btn btn-outline-secondary" href="{{ path('psc_backend_shop_routing_regenerate', {type: 2}) }}">Re generate</a>
                                </div>
                            </div>
                            {{ form_errors(form.routingConfigCMS) }}
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row mb-3">
                            <label class="col-md-6 form-control-label">
                                {{ form_label(form.routingConfigProduct) }}
                            </label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    {{ form_widget(form.routingConfigProduct) }}
                                    <a class="btn btn-outline-secondary" href="{{ path('psc_backend_shop_routing_clear', {type: 1}) }}">Clear</a><a class="btn btn-outline-secondary" href="{{ path('psc_backend_shop_routing_regenerate', {type: 1}) }}">Re generate</a>
                                </div>
                            </div>
                            {{ form_errors(form.routingConfigProduct) }}
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row mb-3">
                            <label class="col-md-6 form-control-label">
                                {{ form_label(form.routingConfigProductGroup) }}
                            </label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    {{ form_widget(form.routingConfigProductGroup) }}
                                    <a class="btn btn-outline-secondary" href="{{ path('psc_backend_shop_routing_clear', {type: 3}) }}">Clear</a><a class="btn btn-outline-secondary" href="{{ path('psc_backend_shop_routing_regenerate', {type: 3}) }}">Re generate</a>
                                </div>
                            </div>
                            {{ form_errors(form.routingConfigProductGroup) }}
                        </div>
                    </div>
                </div>
                <div class="row mb-3">

                    <div class="col-md-offset-2 col-md-11">
                        {{ form_widget(form.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                    </div>
                </div>
            </div>
        </div>

        {{ form_end(form) }}

        {{ form_start(formRedirectRouting, { 'attr': {'class': 'smart-form'}}) }}
        {{ form_errors(formRedirectRouting) }}

        <div class="panel">
            <div class="header">
                <h4>{{'Redirect routing Config'|trans}}</h4>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-3">
                        <div class="row mb-3">
                            <label class="col-md-6 form-control-label">
                                {{ form_label(formRedirectRouting.url) }}
                            </label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    {{ form_widget(formRedirectRouting.url) }}
                                </div>
                            </div>
                            {{ form_errors(formRedirectRouting.url) }}
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row mb-3">
                            <label class="col-md-6 form-control-label">
                                {{ form_label(formRedirectRouting.mode) }}
                            </label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    {{ form_widget(formRedirectRouting.mode) }}
                                </div>
                            </div>
                            {{ form_errors(formRedirectRouting.mode) }}
                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row mb-3">
                            <label class="col-md-6 form-control-label">
                                {{ form_label(formRedirectRouting.target) }}
                            </label>
                            <div class="col-md-6">
                                <div class="input-group">
                                    {{ form_widget(formRedirectRouting.target) }}
                                </div>
                            </div>
                            {{ form_errors(formRedirectRouting.target) }}
                        </div>
                    </div>
                </div>
                <div class="row mb-3">

                    <div class="col-md-offset-2 col-md-11">
                        {{ form_widget(formRedirectRouting.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                    </div>
                </div>
            </div>
        </div>

        {{ form_end(formRedirectRouting) }}
    </div>

    <div class="panel">
        <div class="body">
            <div class="panel">
                <div class="header">
                    <h4>{{'Routes'|trans}}</h4>
                </div>
                <table class="table">
                    <thead><tr><th>{{'Id'|trans}}</th><th>{{'Url'|trans}}</th><th>{{'Module'|trans}}</th><th>{{'Controller'|trans}}</th><th>{{'Action'|trans}}</th><th>{{'Details'|trans}}</th><th>{{'Generated'|trans}}</th><th></th></tr></thead>
                    {% for route in routes %}
                        <tr>
                            <td>
                                {{ route.id }}
                            </td>
                            <td>
                                {{ route.url }}
                            </td>
                            <td>
                                {{ ('module_' ~ route.module)|trans }}
                            </td>
                            <td>
                                {{ ('controller_' ~ route.controller)|trans }}
                            </td>
                            <td>
                                {{ ('action_' ~ route.action)|trans }}
                            </td>
                            <td><ul>
                                {% for key,var in route.parameter %}
                                    <li><strong>{{ key }}:</strong>{{ var }}</li>
                                {% endfor %}
                                </ul>
                            </td>
                            <td>{% if route.crudSave %}<span class="badge bg-success">Yes</span>{% else %}<span class="badge bg-warning">No</span>{% endif %}</td>
                            <td><a href="{{ path("psc_backend_shop_routing_delete", {uuid: route.id}) }}" class="btn btn-danger btn-sm"><span class="fa fa-trash"></span></a></td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}
