
<div class="row">
    <div class="col-md-6">
        <div class="form-group row">
            <label class="col-md-4 form-control-label">{{ form_label(form.telecash.storeName) }}</label>
            <div class="col-md-8">
                {{ form_widget(form.telecash.storeName, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group row">
            <label class="col-md-4 form-control-label">{{ form_label(form.telecash.secret) }}</label>
            <div class="col-md-8">
                {{ form_widget(form.telecash.secret, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group row">
            <label class="col-md-4 form-control-label">{{ form_label(form.telecash.production) }}</label>
            <div class="col-md-8">
                {{ form_widget(form.telecash.production, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
</div>