


<header class="row siteBrowser" ng-controller="SitesCtrl" ng-include="'themes/dp/app/sites/sites.tpl.html'" ></header>

<div id="dp24-canvas-body" class="col-sm-10 col-md-10" scrollable>
    <div class="img-responsive" id="c" style="overflow: hidden"></div>
</div>



