{% extends 'backend_base.html.twig' %}
{% trans_default_domain 'core_contact_anonymisieren' %}
{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-user"></i>
                    {{ 'customers'|trans }} <span>>
		            {{ 'Anonymize'|trans }} </span>
                </h3>
            </div>
        </div>
    </div>


    <div class="body">
        <div class="panel">
            <div class="header">
                <h5>{{ contact.username }}</h5>
            </div>
            <div class="body">
                {{  form_start(form, { 'attr': {'class': ''}}) }}
                {{ form_errors(form) }}
                <div class="row mb-3">
                    <label class="col-md-1 form-control-label">
                        {{ 'Doyoureally'|trans }}
                    </label>
                    <div class="col-md-11">
                        {{ form_widget(form.no, {attr: {class: 'btn btn-primary'}}) }}
                        {{ form_widget(form.yes, {attr: {class: 'btn btn-danger'}}) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}