{% extends 'backend_base.html.twig' %}
{% trans_default_domain 'core_contact_edit' %}
{% block body %}
<style>
i.fa.fa-lg.fa-fw.fa-question-circle {
    color: #007bff;
}
.ms-container {
    background: transparent url(/apps/build/images/switch.e7984fe9.png) no-repeat 50% 50%;
    width: 100%;
}
.col-md-5 {
    flex: 0 0 100%;
    max-width: 100%;
}
</style>
    <div class="header">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-user"></i>
                    Kunde <span>>
                    Detail </span> {{ contact.id }}
                </h3>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-end">
                 <a href="{{ path("psc_shop_contact_backend_list") }}" class="btn btn-default btn-sm"><i class="fa fa-lg fa-fw fa-arrow-left"></i> Zurück</a>
            </div>
        </div>
    </div>

    <div class="body">
        {{ form_start(form) }}
        <div class="panel">
            <div class="header">
                <h5>{{ contact.username }}</h5>
            </div>

            <div class="body">
                <div class="row">
                    <div class="col-md-2">
                        <ul class="nav nav-pills flex-column" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="#all" role="tab">{{ 'General'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#address" role="tab">{{ 'Addressdata'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#info" role="tab">{{ 'branding'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#privat" role="tab">{{ 'privatization'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#konto" role="tab">{{ 'Bankdetails'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#calc" role="tab">{{ 'Calculationvariables'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#price" role="tab">{{ 'price'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#customFields" role="tab">{{ 'Variablefields'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#rights" role="tab">{{ 'Accessrights'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#extended" role="tab">{{ 'Extended'|trans }}</a>
                            </li>
                            {% for customGroup in customGroups %}
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#{{ customGroup.id }}" role="tab">{{ customGroup.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-10">
                        <div class="tab-content">
                            <div class="tab-pane" id="price" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.priceFactor) }}
                                            <div class="col-md-6">
                                                {{ form_widget(form.priceFactor) }}
                                            </div>
                                            {{ form_errors(form.priceFactor) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane active" id="all" role="tabpanel">
<div class="row">
    <div class="col-md-12 text-end">
                                <i class="fa fa-lg fa-fw fa-question-circle"></i>
    </div>
</div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <div class="col-md-3">
                                            {{ form_label(form.account) }}
                                            </div>
                                            <div class="col-md-9">
                                                {{ form_widget(form.account) }}
                                            </div>
                                            {{ form_errors(form.account) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <div class="col-md-3">
                                                {{ form_label(form.language) }}
                                            </div>
                                            <div class="col-md-9">
                                                {{ form_widget(form.language) }}
                                            </div>
                                            {{ form_errors(form.language) }}
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="panel panel-default">
                                        <div class="header"><h5>{{ form_label(form.defaultPayment) }}</h5></div>
                                        <div class="body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                {{ form_widget(form.defaultPayment) }}
                                            </div>
                                            {{ form_errors(form.defaultPayment) }}
                                        </div>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="panel panel-default">
                                        <div class="header"><h5>{{ form_label(form.defaultShipment) }}</h5></div>
                                        <div class="body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                {{ form_widget(form.defaultShipment) }}
                                            </div>
                                            {{ form_errors(form.defaultShipment) }}
                                        </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                           </div>
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <div class="col-md-3">
                                            {{ form_label(form.username) }}
                                            </div>
                                            <div class="col-md-9">
                                                {{ form_widget(form.username) }}
                                            </div>
                                            {{ form_errors(form.username) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <div class="col-md-3">
                                            {{ form_label(form.kundenNr) }}
                                            </div>
                                            <div class="col-md-9">
                                                {{ form_widget(form.kundenNr) }}
                                            </div>
                                            {{ form_errors(form.kundenNr) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <div class="col-md-3">
                                            {{ form_label(form.password) }}
                                            </div>
                                            <div class="col-md-9">
                                                {{ form_widget(form.password) }}
                                            </div>
                                            {{ form_errors(form.password) }}
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="row mb-3">
                                            <div class="col-md-2">
                                            {{ form_label(form.enable) }}
                                            </div>
                                            <div class="col-md-10">
                                                {{ form_widget(form.enable) }}
                                            </div>
                                            {{ form_errors(form.enable) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <div class="col-md-2">
                                            {{ form_label(form.locked) }}
                                            </div>
                                            <div class="col-md-10">
                                                {{ form_widget(form.locked) }}
                                            </div>
                                            {{ form_errors(form.locked) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <div class="col-md-2">
                                            {{ form_label(form.mwert) }}
                                            </div>
                                            <div class="col-md-10">
                                                {{ form_widget(form.mwert) }}
                                            </div>
                                            {{ form_errors(form.mwert) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <div class="col-md-3">
                                            {{ form_label(form.uuid) }}
                                            </div>
                                            <div class="col-md-9">
                                                {{ form_widget(form.uuid) }}
                                            </div>
                                            {{ form_errors(form.uuid) }}
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-2">
                                        <div class="row mb-3">
                                            <div class="col-md-2">
                                            {{ form_label(form.virtual) }}
                                            </div>
                                            <div class="col-md-10">
                                                {{ form_widget(form.virtual) }}
                                            </div>
                                            {{ form_errors(form.virtual) }}
                                        </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="address" role="tabpanel">
<div class="row">
    <div class="col-md-12 text-end">
                                <i class="fa fa-lg fa-fw fa-question-circle"></i>
    </div>
</div>
                                <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="header"><h5>{{ 'Addressdata'|trans }}</h5></div>
                                        <div class="body">
                                <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            <div class="col-md-2">
                                            {{ form_label(form.company) }}
                                            </div>
                                            <div class="col-md-10">
                                                {{ form_widget(form.company) }}
                                            </div>
                                            {{ form_errors(form.company) }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            <div class="col-md-2">
                                            {{ form_label(form.company2) }}
                                            </div>
                                            <div class="col-md-10">
                                                {{ form_widget(form.company2) }}
                                            </div>
                                            {{ form_errors(form.company2) }}
                                        </div>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <div class="col-md-4">
                                            {{ form_label(form.salutation) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.salutation) }}
                                            </div>
                                            {{ form_errors(form.salutation) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <div class="col-md-4">
                                            {{ form_label(form.firstname) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.firstname) }}
                                            </div>
                                            {{ form_errors(form.firstname) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <div class="col-md-4">
                                            {{ form_label(form.lastname) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.lastname) }}
                                            </div>
                                            {{ form_errors(form.lastname) }}
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <div class="col-md-4">
                                            {{ form_label(form.street) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.street) }}
                                            </div>
                                            {{ form_errors(form.street) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <div class="col-md-4">
                                            {{ form_label(form.houseNumber) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.houseNumber) }}
                                            </div>
                                            {{ form_errors(form.houseNumber) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <div class="col-md-4">
                                            {{ form_label(form.zip) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.zip) }}
                                            </div>
                                            {{ form_errors(form.zip) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <div class="col-md-4">
                                            {{ form_label(form.city) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.city) }}
                                            </div>
                                            {{ form_errors(form.city) }}
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <div class="col-md-4">
                                            {{ form_label(form.ustid) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.ustid) }}
                                            </div>
                                            {{ form_errors(form.ustid) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <div class="col-md-4">
                                            {{ form_label(form.destrict) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.destrict) }}
                                            </div>
                                            {{ form_errors(form.destrict) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <div class="col-md-4">
                                            {{ form_label(form.state) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.state) }}
                                            </div>
                                            {{ form_errors(form.state) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <div class="col-md-4">
                                            {{ form_label(form.country) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.country) }}
                                            </div>
                                            {{ form_errors(form.country) }}
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <hr/>
                                <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <div class="col-md-4">
                                            {{ form_label(form.homepage) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.homepage) }}
                                            </div>
                                            {{ form_errors(form.homepage) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <div class="col-md-4">
                                            {{ form_label(form.birthday) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.birthday) }}
                                            </div>
                                            {{ form_errors(form.birthday) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <div class="col-md-4">
                                            {{ form_label(form.kostenstellung) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.kostenstellung) }}
                                            </div>
                                            {{ form_errors(form.kostenstellung) }}
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <hr/>
                                <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <div class="col-md-4">
                                            {{ form_label(form.function) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.function) }}
                                            </div>
                                            {{ form_errors(form.function) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <div class="col-md-4">
                                            {{ form_label(form.abteilung) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.abteilung) }}
                                            </div>
                                            {{ form_errors(form.abteilung) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <div class="col-md-4">
                                            {{ form_label(form.position) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.position) }}
                                            </div>
                                            {{ form_errors(form.position) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <div class="col-md-4">
                                            {{ form_label(form.title) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.title) }}
                                            </div>
                                            {{ form_errors(form.title) }}
                                        </div>
                                    </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                <hr/>

                                <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="header"><h5>{{ 'Contactdata'|trans }}</h5></div>
                                        <div class="body">
                                <div class="col-md-12">

                                <h5>{{ 'Phonenumber'|trans }}</h5>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <div class="col-md-4">
                                            {{ form_label(form.phoneAreaCode) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.phoneAreaCode) }}
                                            </div>
                                            {{ form_errors(form.phoneAreaCode) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <div class="col-md-4">
                                            {{ form_label(form.phonePrefix) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.phonePrefix) }}
                                            </div>
                                            {{ form_errors(form.phonePrefix) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <div class="col-md-4">
                                            {{ form_label(form.phone) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.phone) }}
                                            </div>
                                            {{ form_errors(form.phone) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <div class="col-md-4">
                                            {{ form_label(form.phoneAppendix) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.phoneAppendix) }}
                                            </div>
                                            {{ form_errors(form.phoneAppendix) }}
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="col-md-12">
                                <h5>{{ 'mobilenumber'|trans }}</h5>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <div class="col-md-4">
                                            {{ form_label(form.mobileAreaCode) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.mobileAreaCode) }}
                                            </div>
                                            {{ form_errors(form.mobileAreaCode) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <div class="col-md-4">
                                            {{ form_label(form.mobilePrefix) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.mobilePrefix) }}
                                            </div>
                                            {{ form_errors(form.mobilePrefix) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <div class="col-md-4">
                                            {{ form_label(form.mobile) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.mobile) }}
                                            </div>
                                            {{ form_errors(form.mobile) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <div class="col-md-4">
                                            {{ form_label(form.mobileAppendix) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.mobileAppendix) }}
                                            </div>
                                            {{ form_errors(form.mobileAppendix) }}
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="col-md-12">
                                <h5>{{ 'faxnumber'|trans }}</h5>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <div class="col-md-4">
                                            {{ form_label(form.faxAreaCode) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.faxAreaCode) }}
                                            </div>
                                            {{ form_errors(form.faxAreaCode) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <div class="col-md-4">
                                            {{ form_label(form.faxPrefix) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.faxPrefix) }}
                                            </div>
                                            {{ form_errors(form.faxPrefix) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <div class="col-md-4">
                                            {{ form_label(form.fax) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.fax) }}
                                            </div>
                                            {{ form_errors(form.fax) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <div class="col-md-4">
                                            {{ form_label(form.faxAppendix) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.faxAppendix) }}
                                            </div>
                                            {{ form_errors(form.faxAppendix) }}
                                        </div>
                                    </div>
                                </div>
                                </div>
                                <div class="col-md-12">
                                <h5>{{ 'alternativenumber'|trans }}</h5>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <div class="col-md-4">
                                            {{ form_label(form.alternativAreaCode) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.alternativAreaCode) }}
                                            </div>
                                            {{ form_errors(form.alternativAreaCode) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <div class="col-md-4">
                                            {{ form_label(form.alternativType) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.alternativType) }}
                                            </div>
                                            {{ form_errors(form.alternativType) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <div class="col-md-4">
                                            {{ form_label(form.alternativ) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.alternativ) }}
                                            </div>
                                            {{ form_errors(form.alternativ) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <div class="col-md-4">
                                            {{ form_label(form.alternativAppendix) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.alternativAppendix) }}
                                            </div>
                                            {{ form_errors(form.alternativAppendix) }}
                                        </div>
                                    </div>
                                </div>

                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            <div class="tab-pane" id="rights" role="tabpanel">
<div class="row">
    <div class="col-md-12 text-end">
                                <i class="fa fa-lg fa-fw fa-question-circle"></i>
    </div>
</div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="panel panel-default">
                                        <div class="header"><h5>{{ 'Orderview'|trans }}</h5></div>
                                        <div class="body">
                                        <div class="row mb-3">
                                            {{ form_label(form.showOtherOrders) }}
                                            <div class="col-md-12">
                                                {{ form_widget(form.showOtherOrders) }}
                                            </div>
                                            {{ form_errors(form.showOtherOrders) }}
                                        </div>
                                        <div class="row mb-3 mx-auto">
                                            <div class="col-md-4">
                                            {{ form_label(form.showOtherOrdersAccountFilter) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.showOtherOrdersAccountFilter) }}
                                            </div>
                                            {{ form_errors(form.showOtherOrdersAccountFilter) }}
                                        </div>
                                        <div class="row mb-3 mx-auto">
                                            <div class="col-md-4">
                                            {{ form_label(form.showOtherOrdersAccount) }}
                                            </div>
                                            <div class="col-md-8">
                                                {{ form_widget(form.showOtherOrdersAccount) }}
                                            </div>
                                            {{ form_errors(form.showOtherOrdersAccount) }}
                                        </div>
                                        </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="panel panel-default">
                                        <div class="header"><h5>{{ 'Bulkorders'|trans }}</h5></div>
                                        <div class="body">
                                        <div class="row mb-3">
                                            {{ form_label(form.isSek) }}
                                            <div class="col-md-12">
                                                {{ form_widget(form.isSek) }}
                                            </div>
                                            {{ form_errors(form.isSek) }}
                                        </div>
                                        <div class="row mb-3">
                                            {{ form_label(form.collectingOrders) }}
                                            <div class="col-md-12">
                                                {{ form_widget(form.collectingOrders) }}
                                            </div>
                                            {{ form_errors(form.collectingOrders) }}
                                        </div>
                                        </div>
                                        </div>
                                    </div>
                                    
                                    </div>

                                <hr/>
                                <div class="row">
                                <div class="col-md-4">
                                 <div class="panel panel-default">
                                        <div class="header"><h5{{ 'Caneditcompanies'|trans }}</h5></div>
                                        <div class="body">
                                        <div class="row mb-3">
                                        <div class="col-md-12">
                                {{ form_widget(form.collectingOrdersAccounts) }}
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                </div>

                                <div class="col-md-4">
                                 <div class="panel panel-default">
                                        <div class="header"><h5>{{ 'Usergroups'|trans }}</h5></div>
                                        <div class="body">
                                        <div class="row mb-3">
                                        <div class="col-md-12">
                                {{ form_widget(form.rolesForm) }}
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                </div>

                                <div class="col-md-4">
                                 <div class="panel panel-default">
                                        <div class="header"><h5>{{ 'Canorderintheseshops'|trans }}</h5></div>
                                        <div class="body">
                                        <div class="row mb-3">
                                        <div class="col-md-12">
                                {{ form_widget(form.shops) }}
                                        </div>
                                        </div>
                                        </div>
                                        </div>
                                </div>
                            </div>
                                <hr/>
                            <div class="row">
                                <div class="col-md-4">
                                 <div class="panel panel-default">
                                        <div class="header"><h5>{{ 'Mayadministerintheseshops'|trans }}</h5></div>
                                        <div class="body">
                                        <div class="row mb-3">
                                {% for shop in contact.shopContact %}
                                <div class="col-md-8">
                                    {{ shop.shop.title }}
                                </div>
                                <div class="col-md-4">
                                    <input type="checkbox" {% if shop.admin %}checked="checked"{% endif %} name="admin[]" value="{{ shop.shop.uid }}"/>
                                </div>
                                {% endfor %}
                                        </div>
                                        </div>
                                        </div>
                                </div>
                            </div>

                            </div>
                            <div class="tab-pane" id="privat" role="tabpanel">
<div class="row">
    <div class="col-md-12 text-end">
                                <i class="fa fa-lg fa-fw fa-question-circle"></i>
    </div>
</div>
                            <div class="row">
                                <div class="col-md-12">
                                <div class="row">
                                <div class="col-md-6">
                                    <div class="panel panel-default">
                                        <div class="header"><h5>{{ 'Paymentmethods'|trans }}</h5></div>
                                        <div class="body">
                                        <div class="col-md-12">
                                {{ form_widget(form.payments) }}
                                </div>
                                </div>
                                </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="panel panel-default">
                                        <div class="header"><h5>{{ 'Shippingmethods'|trans }}</h5></div>
                                        <div class="body">
                                        <div class="col-md-12">
                                {{ form_widget(form.shippings) }}
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-6">
                                    <div class="panel panel-default">
                                        <div class="header"><h5>{{ 'Subproducts'|trans }}</h5></div>
                                        <div class="body">
                                        <div class="col-md-12">
                                {{ form_widget(form.productsSub) }}
                                </div>
                                </div>
                                </div>
                                </div>
                                <div class="col-md-6">
                                <div class="panel panel-default">
                                        <div class="header"><h5>{{ 'CMS'|trans }}</h5></div>
                                        <div class="body">
                                        <div class="col-md-12">
                                {{ form_widget(form.cms) }}
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                <hr />
                                <div class="row">
                                <div class="col-md-6">
                                    <div class="panel panel-default">
                                        <div class="header"><h5>{{ 'Products'|trans }}</h5></div>
                                        <div class="body">
                                        <div class="col-md-12">
                                {{ form_widget(form.productsOrg) }}
                                </div>
                                </div>
                                </div>
                                </div>
                                <div class="col-md-6">
                                <div class="panel panel-default">
                                        <div class="header"><h5>{{ 'Productgroups'|trans }}</h5></div>
                                        <div class="body">
                                        <div class="col-md-12">
                                {{ form_widget(form.productGroups) }}
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                            </div>
                            </div>
                            </div>
                            <div class="tab-pane" id="info" role="tabpanel">
<div class="row">
    <div class="col-md-12 text-end">
                                <i class="fa fa-lg fa-fw fa-question-circle"></i>
    </div>
</div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="panel panel-default">
                                        <div class="header"><h5>{{ form_label(form.image) }}</h5></div>
                                        <div class="body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                {{ form_widget(form.image) }}
                                            </div>
                                            {{ form_errors(form.image) }}
                                        </div>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="panel panel-default">
                                        <div class="header"><h5>{{ form_label(form.vonwo) }}</h5></div>
                                        <div class="body">
                                        <div class="row">
                                            <div class="col-md-12">
                                                {{ form_widget(form.vonwo) }}
                                            </div>
                                            {{ form_errors(form.vonwo) }}
                                        </div>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="panel panel-default">
                                        <div class="header"><h5>{{ 'newsletter'|trans }}</h5></div>
                                        <div class="body">
                                        <div class="row mb-3">
                                            {{ form_label(form.newsletter) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.newsletter) }}
                                            </div>
                                            {{ form_errors(form.newsletter) }}
                                        </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="header"><h5>{{ form_label(form.information) }}</h5></div>
                                        <div class="body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            {{ form_widget(form.information) }}
                                        </div>
                                        {{ form_errors(form.information) }}
                                    </div>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <!-- Ende Infotab -->
                            <div class="tab-pane" id="calc" role="tabpanel">
<div class="row">
    <div class="col-md-12 text-end">
                                <i class="fa fa-lg fa-fw fa-question-circle"></i>
    </div>
</div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                        <div class="header"><h5>{{ 'Calculationvariables'|trans }}</h5></div>
                                        <div class="body">
                                <div class="row mb-3">
                                    <label class="col-md-1 form-control-label">
                                        {{ form_label(form.calcValue1) }}
                                    </label>
                                    <div class="col-md-11">
                                        {{ form_widget(form.calcValue1) }}
                                    </div>
                                    {{ form_errors(form.calcValue1) }}
                                </div>
                                <div class="row mb-3">
                                    <label class="col-md-1 form-control-label">
                                        {{ form_label(form.calcValue2) }}
                                    </label>
                                    <div class="col-md-11">
                                        {{ form_widget(form.calcValue2) }}
                                    </div>
                                    {{ form_errors(form.calcValue2) }}
                                </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            </div>
                            <div class="tab-pane" id="customFields" role="tabpanel">
<div class="row">
    <div class="col-md-12 text-end">
                                <i class="fa fa-lg fa-fw fa-question-circle"></i>
    </div>
</div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                        <div class="header"><h5>{{ 'Variablefields'|trans }}</h5></div>
                                        <div class="body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.customerFieldName1 }}
                                            </label>
                                            <div class="col-md-6">
                                                {% if shopDoc.customerFieldName1 %}{{ form_widget(form.custom1) }}{% else %}{{ form_widget(form.custom1, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom1) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.customerFieldName2 }}
                                            </label>
                                            <div class="col-md-6">
                                                {% if shopDoc.customerFieldName2 %}{{ form_widget(form.custom2) }}{% else %}{{ form_widget(form.custom2, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom2) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.customerFieldName3 }}
                                            </label>
                                            <div class="col-md-6">
                                                {% if shopDoc.customerFieldName3 %}{{ form_widget(form.custom3) }}{% else %}{{ form_widget(form.custom3, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom3) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.customerFieldName4 }}
                                            </label>
                                            <div class="col-md-6">
                                                {% if shopDoc.customerFieldName4 %}{{ form_widget(form.custom4) }}{% else %}{{ form_widget(form.custom4, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom4) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.customerFieldName5 }}
                                            </label>
                                            <div class="col-md-6">
                                                {% if shopDoc.customerFieldName5 %}{{ form_widget(form.custom5) }}{% else %}{{ form_widget(form.custom5, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom5) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.customerFieldName6 }}
                                            </label>
                                            <div class="col-md-6">
                                                {% if shopDoc.customerFieldName6 %}{{ form_widget(form.custom6) }}{% else %}{{ form_widget(form.custom6, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom6) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.customerFieldName7 }}
                                            </label>
                                            <div class="col-md-6">
                                                {% if shopDoc.customerFieldName7 %}{{ form_widget(form.custom7) }}{% else %}{{ form_widget(form.custom7, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom7) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.customerFieldName8 }}
                                            </label>
                                            <div class="col-md-6">
                                                {% if shopDoc.customerFieldName8 %}{{ form_widget(form.custom8) }}{% else %}{{ form_widget(form.custom8, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom8) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.customerFieldName9 }}
                                            </label>
                                            <div class="col-md-6">
                                                {% if shopDoc.customerFieldName9 %}{{ form_widget(form.custom9) }}{% else %}{{ form_widget(form.custom9, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom9) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.customerFieldName10 }}
                                            </label>
                                            <div class="col-md-6">
                                                {% if shopDoc.customerFieldName10 %}{{ form_widget(form.custom10) }}{% else %}{{ form_widget(form.custom10, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom10) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.customerFieldName11 }}
                                            </label>
                                            <div class="col-md-6">
                                                {% if shopDoc.customerFieldName11 %}{{ form_widget(form.custom11) }}{% else %}{{ form_widget(form.custom11, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom11) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.customerFieldName12 }}
                                            </label>
                                            <div class="col-md-6">
                                                {% if shopDoc.customerFieldName12 %}{{ form_widget(form.custom12) }}{% else %}{{ form_widget(form.custom12, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom12) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.customerFieldName13 }}
                                            </label>
                                            <div class="col-md-6">
                                                {% if shopDoc.customerFieldName13 %}{{ form_widget(form.custom13) }}{% else %}{{ form_widget(form.custom13, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom13) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.customerFieldName14 }}
                                            </label>
                                            <div class="col-md-6">
                                                {% if shopDoc.customerFieldName14 %}{{ form_widget(form.custom14) }}{% else %}{{ form_widget(form.custom14, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom14) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.customerFieldName15 }}
                                            </label>
                                            <div class="col-md-6">
                                                {% if shopDoc.customerFieldName15 %}{{ form_widget(form.custom15) }}{% else %}{{ form_widget(form.custom15, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom15) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.customerFieldName16 }}
                                            </label>
                                            <div class="col-md-6">
                                                {% if shopDoc.customerFieldName16 %}{{ form_widget(form.custom16) }}{% else %}{{ form_widget(form.custom16, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom16) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.customerFieldName17 }}
                                            </label>
                                            <div class="col-md-6">
                                                {% if shopDoc.customerFieldName17 %}{{ form_widget(form.custom17) }}{% else %}{{ form_widget(form.custom17, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom17) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.customerFieldName18 }}
                                            </label>
                                            <div class="col-md-6">
                                                {% if shopDoc.customerFieldName18 %}{{ form_widget(form.custom18) }}{% else %}{{ form_widget(form.custom18, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom18) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.customerFieldName19 }}
                                            </label>
                                            <div class="col-md-6">
                                                {% if shopDoc.customerFieldName19 %}{{ form_widget(form.custom19) }}{% else %}{{ form_widget(form.custom19, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom19) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.customerFieldName20 }}
                                            </label>
                                            <div class="col-md-6">
                                                {% if shopDoc.customerFieldName20 %}{{ form_widget(form.custom20) }}{% else %}{{ form_widget(form.custom20, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom20) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.customerFieldName21 }}
                                            </label>
                                            <div class="col-md-6">
                                                {% if shopDoc.customerFieldName21 %}{{ form_widget(form.custom21) }}{% else %}{{ form_widget(form.custom21, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom21) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.customerFieldName22 }}
                                            </label>
                                            <div class="col-md-6">
                                                {% if shopDoc.customerFieldName22 %}{{ form_widget(form.custom22) }}{% else %}{{ form_widget(form.custom22, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom22) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.customerFieldName23 }}
                                            </label>
                                            <div class="col-md-6">
                                                {% if shopDoc.customerFieldName23 %}{{ form_widget(form.custom23) }}{% else %}{{ form_widget(form.custom23, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom23) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.customerFieldName24 }}
                                            </label>
                                            <div class="col-md-6">
                                                {% if shopDoc.customerFieldName24 %}{{ form_widget(form.custom24) }}{% else %}{{ form_widget(form.custom24, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom24) }}
                                        </div>
                                    </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="konto" role="tabpanel">
<div class="row">
    <div class="col-md-12 text-end">
                                <i class="fa fa-lg fa-fw fa-question-circle"></i>
    </div>
</div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="panel panel-default">
                                        <div class="header"><h5>{{ 'Bankdetails'|trans }}</h5></div>
                                        <div class="body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <div class="col-md-3">
                                            {{ form_label(form.bankKtoName) }}
                                            </div>
                                            <div class="col-md-9">
                                                {{ form_widget(form.bankKtoName) }}
                                            </div>
                                            {{ form_errors(form.bankKtoName) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <div class="col-md-3">
                                            {{ form_label(form.bankKTO) }}
                                            </div>
                                            <div class="col-md-9">
                                                {{ form_widget(form.bankKTO) }}
                                            </div>
                                            {{ form_errors(form.bankKTO) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <div class="col-md-3">
                                            {{ form_label(form.bankBLZ) }}
                                            </div>
                                            <div class="col-md-9">
                                                {{ form_widget(form.bankBLZ) }}
                                            </div>
                                            {{ form_errors(form.bankBLZ) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <div class="col-md-3">
                                            {{ form_label(form.bankIban) }}
                                            </div>
                                            <div class="col-md-9">
                                                {{ form_widget(form.bankIban) }}
                                            </div>
                                            {{ form_errors(form.bankIban) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <div class="col-md-3">
                                            {{ form_label(form.bankBic) }}
                                            </div>
                                            <div class="col-md-9">
                                                {{ form_widget(form.bankBic) }}
                                            </div>
                                            {{ form_errors(form.bankBic) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <div class="col-md-3">
                                            {{ form_label(form.bankName) }}
                                            </div>
                                            <div class="col-md-9">
                                                {{ form_widget(form.bankName) }}
                                            </div>
                                            {{ form_errors(form.bankName) }}
                                        </div>
                                    </div>
                                </div>
                                </div>
                                </div>
                                </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="extended" role="tabpanel">
<div class="row">
    <div class="col-md-12 text-end">
                                <i class="fa fa-lg fa-fw fa-question-circle"></i>
    </div>
</div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="panel panel-default">
                                        <div class="header"><h5>{{ 'calculationshow'|trans }}<</h5></div>
                                        <div class="body">
                                        <div class="row mb-3">
                                            {{ form_label(form.showCalc) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.showCalc) }}
                                            </div>
                                            {{ form_errors(form.showCalc) }}
                                        </div>
                                        </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="panel panel-default">
                                        <div class="header"><h5>{{ 'calculationtesting'|trans }}</h5></div>
                                        <div class="body">
                                        <div class="row mb-3">
                                            {{ form_label(form.testCalc) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.testCalc) }}
                                            </div>
                                            {{ form_errors(form.testCalc) }}
                                        </div>
                                        </div>
                                        </div>
                                    </div>
                                    <hr />
                                    <div class="col-md-4">
                                        <div class="panel panel-default">
                                        <div class="header"><h5>{{ 'Setabudget'|trans }}</h5></div>
                                        <div class="body">
                                        <div class="row mb-3 mx-auto">
                                            {{ form_label(form.budget) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.budget) }}
                                            </div>
                                            {{ form_errors(form.budget) }}
                                        </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="panel panel-default">
                                        <div class="header"><h5>{{ 'Productionstatus'|trans }}</h5></div>
                                        <div class="body">
                                        <div class="row mb-3 mx-auto">
                                            {{ form_label(form.productionStatus) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.productionStatus) }}
                                            </div>
                                            {{ form_errors(form.productionStatus) }}
                                        </div>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                                <hr />
                                <div class="row">
                                    <div class="col-md-12">
                                    <div class="panel panel-default">
                                        <div class="header"><h5>{{ form_label(form.extraSettings) }}</h5></div>
                                        <div class="body">
                                    <div class="col-md-12">
                                        {{ form_widget(form.extraSettings, {'attr': {'rows' : 15}}) }}
                                    </div>
                                    {{ form_errors(form.extraSettings) }}
                                </div>
                                </div>
                                </div>
                            </div>
                            {% for customGroup in customGroups %}
                                <div class="tab-pane" id="{{ customGroup.id }}" role="tabpanel">
                                    {% for customField in customFields %}
                                        {% if customField.group == customGroup.id  and customField.getTemplate %}
                                            {{ include(customField.getTemplate, { 'form': form }) }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="body">
            <div class="row mb-3">
                <div class="col-md-offset-1 col-md-11">
                    {{ form_widget(form.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

    <div class="panel">
            <div class="header">
                <h5>{{ 'Address'|trans }}</h5>
            </div>
            <div class="body">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>{{ knp_pagination_sortable(pagination, 'Id', 'contactAddress.id') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'firstname'|trans, 'contactAddress.firstname') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'lastname'|trans, 'contactAddress.lastname') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Company'|trans, 'contactAddress.company') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Firma Zusatz', 'contactAddress.company2') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'street'|trans, 'contactAddress.street') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'housenumber'|trans, 'contactAddress.houseNumber') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'zip'|trans, 'contactAddress.zip') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'city'|trans, 'contactAddress.city') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Phonenumber'|trans, 'contactAddress.phone') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Email'|trans, 'contactAddress.email') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Typ'|trans, 'contactAddress.type') }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for address in pagination %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>{{ address.uid }}</td>
                            <td>{{ address.firstname }}</td>
                            <td>{{ address.lastname }}</td>
                            <td>{{ address.company }}</td>
                            <td>{{ address.company2 }}</td>
                            <td>{{ address.street }}</td>
                            <td>{{ address.houseNumber }}</td>
                            <td>{{ address.zip }}</td>
                            <td>{{ address.city }}</td>
                            <td>{{ address.phone }}</td>
                            <td>{{ address.email }}</td>
                            <td>{% if address.type == 2 %}
                                    Lieferadresse
                                {% elseif address.type == 3 %}
                                    Absenderadresse
                                {% else %}
                                    Rechnungsadresse
                                {% endif %}</td>
                            <td>
                                <a href="{{ path("psc_shop_contact_backend_address_detail_show", {uuid: address.uuid}) }}" class="btn btn-info btn-sm"><span class="fa fa-archive"></span> Bearbeiten</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>




{% endblock %}
