{% extends 'backend_base.html.twig' %}

{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-image"></i>
                    Slide <span>>
                    bearbeiten </span>
                </h3>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-end">
                <a href="{{ path("psc_plugin_bootstrap3_backend_slider_index") }}" class="btn btn-default btn-sm"><i class="fa fa-lg fa-fw fa-arrow-left"></i> Zurück</a>
            </div>
        </div>
    </div>

    <div class="body">
        {{ form_start(form, { 'attr': {'class': ''}}) }}
        <div class="panel">
            <div class="header">
                <h4>{{ slide.title }}</h4>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label">{{ form_label(form.title) }}</label>
                            <div class="col-md-9">
                                {{ form_widget(form.title) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label">{{ form_label(form.link) }}</label>
                            <div class="col-md-9">
                                {{ form_widget(form.link) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label">{{ form_label(form.text) }}</label>
                            <div class="col-md-9">
                                {{ form_widget(form.text) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-md-3 form-control-label">{{ form_label(form.image) }}</label>
                            <div class="col-md-9">
                                {{ form_widget(form.image) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel">
            <div class="body">
                <div class="form-group row">
                    <div class="col-md-offset-1 col-md-11">
                        {{ form_widget(form.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}
