{% extends 'backend_base.html.twig' %}

{% block body %}

    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-newspaper"></i>
                    News <span>>
                    erstellen </span>
                </h3>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-end">
                <a href="{{ path("psc_shop_news_backend_list") }}" class="btn btn-default btn-sm"><i class="fa fa-lg fa-fw fa-arrow-left"></i> Zurück</a>
            </div>
        </div>
    </div>

    <div class="body">
        {{ form_start(form, { 'attr': {'class': ''}}) }}
            <div class="panel">
                <div class="header">
                    <h4>{{ news.title }}</h4>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-md-2">
                            <ul class="nav nav-pills flex-column" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-bs-toggle="tab" href="#all" role="tab">Allgemein</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#text" role="tab">Text</a>
                                </li>
                                {% for customGroup in customGroups %}
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" href="#{{ customGroup.id }}" role="tab">{{ customGroup.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-md-10">
                            <div class="tab-content">
                                <div class="tab-pane active" id="all" role="tabpanel">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.title) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.title) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.url) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.url) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-6">{{ form_widget(form.enable) }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.sortDate) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.sortDate) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.language) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.language) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row mb-3">
                                                <label class="col-md-1 form-control-label">{{ form_label(form.introduction) }}</label>
                                                <div class="col-md-11">
                                                    {{ form_widget(form.introduction) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="text" role="tabpanel">
                                    {{ form_widget(form.text, {attr: {'class': 'form-control summernote'}}) }}
                                </div>
                                {% for customGroup in customGroups %}
                                    <div class="tab-pane" id="{{ customGroup.id }}" role="tabpanel">
                                        {% for customField in customFields %}
                                            {% if customField.group == customGroup.id  and customField.getTemplate %}
                                                {{ include(customField.getTemplate, { 'form': form }) }}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel">
                <div class="body">
                    <div class="row mb-3">
                        <div class="col-md-offset-1 col-md-11">
                            {{ form_widget(form.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                        </div>
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </div>

    {{ summernote_mediabundle_init('default') }}

{% endblock %}