{% extends 'backend_base.html.twig' %}
{% trans_default_domain 'core_news_delete' %}
{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-newspaper"></i>
                    {{'News'|trans}} <span>>
                    {{'del'|trans}}</span>
                </h3>
            </div>
        </div>
    </div>

    <div class="body">
        <div class="panel">
            <div class="header">
                <h4>{{'News'|trans}} {{'del'|trans}}?</h4>
            </div>
            <div class="body">

                <h5>{{ news.title }}</h5>
                {{ news.introduction }}

                {{ form_start(form, { 'attr': {'class': ''}}) }}
                <div class="row mb-3">
                    <label class="col-md-1 form-control-label"></label>
                    <div class="col-md-1">
                        {{ form_widget(form.yes, {attr: {class: 'btn btn-lg btn-warning btn-sm'}}) }}
                    </div>
                    <div class="col-md-1">
                        {{ form_widget(form.no, {attr: {class: 'btn btn-lg btn-primary btn-sm'}}) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}