{% extends 'backend_base.html.twig' %}
{% trans_default_domain 'core_productgroup_list' %}
{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-folder"></i>
                    {{ 'Productgroups'|trans }} <span>>
                    {{ 'List'|trans }} </span>
                </h3>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="panel">
            <div class="body">
                <a class="btn btn-info btn-sm" href="{{ path("psc_shop_productgroup_backend_create") }}">{{ 'Productgroup'|trans }}
                    {{ 'add'|trans }}</a>
            </div>
        </div>
        <div class="panel">
            <div class="body">
                {{ form_start(form, { 'attr': {'class': 'searchForm'}}) }}
                    <div class="form-group form-group-sm row">
                        <div class="col-md-2">
                            <div class="input-group input-group-sm">
                                {{ form_widget(form.enable) }}
                            </div>
                        </div>
                        <div class="col-md-1">
                            <div class="input-group input-group-sm">
                                {{ form_label(form.parent) }}
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="input-group input-group-sm">
                                {{ form_widget(form.parent) }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group input-group-sm">
                                {{ form_widget(form.term) }}
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="input-group input-group-sm">
                                {{ form_widget(form.filter) }}
                            </div>
                        </div>
                    </div>

                {{ form_rest(form) }}

                {{ form_end(form) }}

                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th></th>
                        <th>{{ knp_pagination_sortable(pagination, 'Uid', 'productgroup.uid') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Active'|trans, 'productgroup.enable') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Pos'|trans, 'productgroup.pos') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Name'|trans, 'productgroup.title') }}</th>
                        <th>{{ 'predecessor'|trans }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for productgroup in pagination %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>{% thumbnail productgroup.image1, 'psc_shop_productgroup_backend_list_file1' with {'width': 90} %}</td>
                            <td>{{ productgroup.uid }}</td>
                            <td>{% if productgroup.enable %}<span class="badge bg-success">{{ 'Yes'|trans }}</span>{% else %}<span
                                        class="badge bg-warning">{{ 'No'|trans }}</span>{% endif %}</td>
                            <td>{{ productgroup.pos }}</td>
                            <td>{{ productgroup.title }}</td>
                            <td>{% if productgroup.getParentRaw != 0 %}{{ productgroup.parent.title }}{% else %}{{ 'Highestlevel'|trans }}{% endif %}</td>
                            <td class="text-end">
                                <a href="{{ path("psc_shop_productgroup_backend_edit", {uid: productgroup.uid}) }}"
                                   class="btn btn-info btn-sm"><span class="fa fa-edit"></span></a>
                                <a href="{{ path("psc_shop_productgroup_backend_delete", {uid: productgroup.uid}) }}"
                                   class="btn btn-danger btn-sm"><span class="fa fa-trash"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}