{% extends 'backend_simple.html.twig' %}

{% block body %}

	<h5>Reseller</h5>
	<div class="row">
		<div class="col-6">
			{{ form_widget(form.reseller) }}
		</div>
	</div>

	<h5>Produktgruppe und Produkt</h5>
	<div class="row">
		<div class="col-6">
			<select id="productgroup" class="form-control"></select>
		</div>
		<div class="col-6">
			<select id="products" class="form-control"></select>
		</div>
	</div>

	<h5>Produktdetails</h5>
	<div class="row">
		<div class="col-8" id="calc">
			<div class="card mt-1 d-flex">
				<div class="card-header">Kalkulation</div>
				<form id="CALCFORM" class="p-2"></form>
				<button class="btn btn-primary m-2" id="calcButton" type="button" disabled>
					<span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
					Kalkulieren
				</button>
			</div>
		</div>
		<div class="col-4">
			<div class="card mt-1 p-2 d-flex">
				<h6>Netto: <span id="netto"></span></h6>
				<h6>MwSt: <span id="mwert"></span></h6>
				<h6>Brutto: <span id="brutto"></span></h6>
			</div>
			<div class="card mt-1">
				<div class="card-header">
					{{'Kalkuations Status'|trans}}
				</div>
				<div id="calcStatus" class="p-2">
				</div>
			</div>
			<div class="card mt-1">
				<div class="card-header">
					{{'Produkt einfügen'|trans}}
				</div>
				<div class="p-2">
					<button type="button" onClick="choose()" class="btn btn-sm btn-primary">Benutzen</button>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
{{ parent() }}

{% autoescape 'js' %}
<script>

	var url;
	var shopUUID;

	$(function() {
		init();

		$('#reseller_select_reseller').change(function() {
			init();
		});

		$('#productgroup').change(function() {
			loadProducts();
		});

		$('#products').change(function() {
			loadCalc();
		});
	})

	function init() {
		var split = $('#reseller_select_reseller').val().split('#');
		url = split[0];
		shopUUID = split[1];

		loadProductGroups();
	}

	function loadProducts() {
		$('#products').empty();

		$.ajax({
			url: url +  "/apps/api/product/getallbyproductgroup/" + $('#productgroup').val(),
			contentType: "application/json",
			method: 'GET',
			success: function(result) {
				$.each(result.data, function(index, value) {
					appendProduct(value);
				});

				loadCalc();
			}
		})
	}

	function loadProductGroups() {
		$('#productgroup').empty();

		$.ajax({
			url: url +  "/apps/api/productgroup/gettree/" + shopUUID,
			contentType: "application/json",
			method: 'GET',
			success: function(result) {
				$.each(result.data, function(index, value) {
					appendProductGroup(value);
				});
			}
		})
	}

	function appendProductGroup(data, depth = '') {
		$('#productgroup').append('<option value="' + data.uuid + '">' + depth + data.title + '</option>');

		$.each(data.children, function(index, value) {
			appendProductGroup(value, depth + '>');
		})
	}

	function appendProduct(data, depth = '') {
		$('#products').append('<option value="' + data.uuid + '">' + depth + data.title + '</option>');
	}

	function loadCalc() {
		$('#calcButton').attr('disabled', true);
		$('#calcButton > span').removeClass('d-none');

		var formElements = $('#CALCFORM').serializeArray();
		var formArray = {};
		$.each(formElements, function( index, value ) {
			var name = value.name;
			var val = value.value;
			formArray[name] = val;
		});
		$.ajax({
			url: url + "/apps/api/plugin/system/psc/xmlcalc/price",
			contentType: "application/json",
			dataType: 'json',
			method: 'post',
			data: JSON.stringify({product: $('#products').val(), test: false, values : formArray}),
			success: function(result){

				buildForm(result.elements);
				$('#netto').html((result.netto/100) + '€');
				$('#mwert').html((result.steuer/100) + '€');
				$('#brutto').html((result.brutto/100) + '€');

				$('#CALCFORM input, #CALCFORM select').unbind();
				$('#CALCFORM input, #CALCFORM select').change(function() {
					loadCalc();
				});
				$('#calcButton').attr('disabled', false);
				$('#calcStatus').html('<div class="alert alert-success" role="alert">Ok</div>');
				$('#calcButton > span').addClass('d-none');
			},
			error: function(err){
				if(err.status === 500) {
					$('#calcStatus').html('<div class="alert alert-danger" role="alert">Fehler</div>');
				}
			}


		});

	}

	function buildForm(elements) {
		var previousId = null;

		$.each(elements, function(index, element) {
			if(element.valid === false) {
				removeElement(element);
				return;
			}
			var $label = $('<label>').addClass('col-4 col-form-label col-form-label-sm').text(element.name);
			$container = $('<div class="row" id="container_' + element.id + '"></div>');
			if(element.htmlType == "hidden") {
				var $obj = $('<input>', {
					type: 'hidden',
					value: element.rawValue,
					id: element.id,
					name: element.id
				});
				$element = $('<div>').addClass("col-8");
				$obj.appendTo($element);

				addOrReplaceFormElement(previousId, element.id, $container, $element, null, element.valid);
				return;
			}
			if(element.htmlType == "select") {

				var $obj = $('<select>', {
					id: element.id,
					name: element.id
				});
				$.each(element.options, function(ind, opt) {

					if(opt.valid) {
						$obj.append(new Option(opt.name, opt.id, opt.selected, opt.selected));
					}
				});
				$obj.addClass('form-select');
			}
			if(element.htmlType == "text") {
				var $obj = $('<input>', {
					type: 'text',
					value: element.defaultValue,
					id: element.id,
					name: element.id,
					disabled: true
				});
				$obj.addClass("form-control form-control-sm");
			}
			if(element.htmlType == "input") {
				var $obj = $('<input>', {
					type: 'text',
					value: element.rawValue,
					id: element.id,
					name: element.id
				});
				$obj.addClass("form-control form-control-sm");
			}

			if(element.htmlType == "checkbox") {
				var $obj = $('<checkbox>', {
					value: element.rawValue,
					id: element.id,
					name: element.id
				});
			}

			if(element.htmlType == "textarea") {
				var $obj = $('<textarea>', {
					value: element.rawValue,
					id: element.id,
					name: element.id
				});
			}

			$element = $('<div>').addClass("col-8");
			$inputGroup = $('<div class="input-group input-group-sm">');
			$inputGroup.appendTo($element);
			$obj.appendTo($inputGroup);

			addOrReplaceFormElement(previousId, element.id, $container, $element, $label, element.valid);
			if(element.helpLink) {
				$obj.after('<a class="btn btn-outline-primary" target="_blank" href="' + element.helpLink + '">?</a>');
			}
			if(element.validationErrors.length > 0) {
				$obj.addClass("is-invalid");
				$.each(element.validationErrors, function(errorIndex, error) {
					console.log(error);
					if(error.type === 'input::validation::max') {
						$obj.parent().after($('<div class="invalid-feedback d-block">Wert muss kleiner sein als: ' + error.maxValue + '</div>'));
					}
					if(error.type === 'input::validation::min') {
						$obj.parent().after($('<div class="invalid-feedback d-block">Wert muss größer sein als: ' + error.minValue + '</div>'));
					}
				});
			}else{
				$obj.removeClass("is-invalid");
			}
			previousId = element.id;
		})
	}

	function removeElement(element) {
		$('#container_' + element.id).remove();
	}

	function addOrReplaceFormElement(previousId, id, $container, $element, $label, valid) {
		if($('#container_' + id).length > 0) {
			if(!valid) {
				$('#container_' + id).remove();
			}else{
				$('#container_' + id).html('');
				if($label !== null) {
					$label.appendTo($('#container_' + id));
				}
				$element.appendTo($('#container_' + id));
			}
		}else{
			if(previousId !== null && $('#container_' + previousId).length > 0) {
				$container.insertAfter($('#container_' +  previousId));
			}else{
				$('#CALCFORM').append($container);
			}
			if($label !== null) {
				$label.appendTo($container);
			}
			$element.appendTo($container);
		}
	}

	function choose(i)
	{
		parent.document.getElementById('product_reseller_product').value = $('#reseller_select_reseller').val() + '#' + $('#products').val();
		var useProductModal = parent.document.getElementById('useProduct');
		parent.$(useProductModal).modal('hide');
	}
</script>
{% endautoescape %}
{% endblock %}