<nav id="top" class="navbar navbar-default fixed">
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">{{title}}</a>
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
            <div class="navbar-header" ng-show="showSiteCount">
                <a class="navbar-brand" href="#">Seite {{actSite}}/{{sumSite}}</a>
            </div>
            <!--<button type="button" class="btn btn-info navbar-btn" ng-controller="AppCtrl" ng-click="CallMe();"><span class="fa fa-times"></span> Hilfe</button>-->
            <div class="navbar-header" ng-show="showSiteCountError" style="margin-bottom: 0">
                <div class="alert alert-danger" style="margin-bottom: 0">Produkt muß {{minSiteCount}} oder {{maxSiteCount}} Seiten besitzen</div>
            </div>
            <div class="btn-group" ng-show="datatable.length > 0" role="group">
                <div class="btn-group dropdown" dropdown>
                    <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>Datensätze&nbsp;<span class="fa fa-angle-down"></span></button>
                    <ul class="dropdown-menu text-left" role="menu" >
                        <li ng-repeat="row in datatable"><a ng-click="mydatatableSelect(row)">{{row[datatableLabel]}}</a></li>
                    </ul>
                </div>
                <button type="button" class="btn btn-default" ng-click="editDatatable()">Bearbeiten</button>
            </div>
        </div>
        <div class="col-xs-6 col-md-4">
            <div class="btn-group pull-right" >
                <button type="button" id="closeButton" class="btn btn-danger navbar-btn" ng-click="closeApplication()"><span class="fa fa-times"></span> Abbrechen</button>
            </div>
        </div>
    </div>
</nav>


<script type="text/ng-template" id="closeApplication">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Verlassen?</h4>
        </div>

        <div class="modal-body">
            Wollen Sie wirklich den Layouter verlassen?
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="ok()">Ja</button>
            <button class="btn btn-danger" ng-click="cancel()">Nein</button>
        </div>

    </div>
</script>