<footer id="niceartpagefooter">
    <nav id="navbarniceartpagefooter" class="navbar navbar-default navbar-fixed-bottom" role="navigation">
        <div class="container-fluid">
            <a class="btn btn-info btn-lg" style="margin-top:5px;float: left" href="/cms/layouterhilfe" target="_blank"><i class="fa fa-question-circle"></i> Hilfe / FAQ</a>
            <div ng-include="'themes/psc/app/help/help.tpl.html'" style="float: left;" ng-controller="HelpCtrl" data-ng-show="showHelpButton"></div>
            <div style="width: 70%;float: left;padding-left: 10px;padding-top: 8px;">Hinweis: Die Verwendung von Schießscheiben oder Zielen, die Personen oder in ihrer äußeren Form menschliche Silhouetten darstellen, fällt unter das "kampfmäßige Schießen". Dieses ist im Schießsport in Deutschland laut Waffenrecht verboten. Das Angebot solcher Scheiben richtet sich nur an einen Personenkreis, der dieser Einschränkung nicht unterliegt.</div>
            <!-- <button class="btn btn-danger navbar-btn" title="Alle Personalisierungen aufgeben und von vorne beginnen" data-toggle="modal" data-target="#askBeforeKillModal"><i class="fa fa-ban fa-fw"></i> Neustart</button> -->
            <!-- <button class="btn btn-default navbar-btn" title="Speichere jetzt und bearbeite dein Design später weiter"><i class="fa fa-cloud fa-fw"></i> speichern</button> -->
            <!-- <button type="button" class="btn btn-default navbar-btn goInfoTour"><i class="fa fa-info-circle"></i> Tour starten</button> -->
            <button id="btnNextStep" ng-show="settings.show_finish" ng-click="finishProduct()" class="btn btn-success btn-lg navbar-btn navbar-right">Speichern & fertigstellen <i class="fa fa-arrow-right fa-fw"></i></button>
            <!-- <button class="btn btn-default btn-lg navbar-right navbar-btn" title="Eine PDF Vorschau deines Designs">Vorschau <i class="fa fa-file-pdf-o fa-fw"></i></button> -->
        </div>
    </nav>
</footer>
<script type="text/ng-template" id="showPreviewLink">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Vorschau Fertig</h4>
        </div>

        <div class="modal-body">
            <p class="text-center">
                <a class="btn btn-success" target="_blank" href="{{link}}">Vorschau Anzeigen</a>
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Schließen</button>
        </div>

    </div>
</script>

<div style="position: absolute;
top: -99999999px;
left: -99999999px;" id="previewrenderer_id"><canvas id="previewrenderer"></canvas></div>
