<script>
function loadChoosenProduct() {
    //if($("#product_pitchprint_uploadPitchprintDesignPreviews").val() != "") {
//console.log($("#product_pitchprint_uploadPitchprintDesignPreviews").val());
//$(".chooseDesignPreview").html('<img src="' + $("#product_pitchprint_uploadPitchprintDesignPreviews").val().split(';')[0] + '" style="max-height: 200px;" />');
    //}
}
</script>
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#useProduct">
    Produkt wählen
</button>
<div class="row">
    <div class="col-md-12">
        {{ form_widget(form.reseller.usetextandimages) }}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            <div class="col-md-12">
            {{ form_label(form.reseller.auflage) }}
            </div>
            <div class="col-md-12">
                <div class="checkbox">
                    {{ form_widget(form.reseller.auflage, {attr: {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            <div class="col-md-12">
            {{ form_label(form.reseller.product) }}
            </div>
            <div class="col-md-12">
                <div class="checkbox">
                    {{ form_widget(form.reseller.product, {attr: {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            <div class="col-md-12">
            {{ form_label(form.reseller.aufschlag) }}
            </div>
            <div class="col-md-12">
                <div class="checkbox">
                    {{ form_widget(form.reseller.aufschlag, {attr: {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            <div class="col-md-12">
            {{ form_label(form.reseller.mwert) }}
            </div>
            <div class="col-md-12">
                <div class="checkbox">
                    {{ form_widget(form.reseller.mwert, {attr: {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            <div class="col-md-12">
                {{ form_label(form.reseller.uploadXML) }}
            </div>
            <div class="col-md-12">
                <div class="checkbox">
                    {{ form_widget(form.reseller.uploadXML, {attr: {'class': 'form-control'}}) }}
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" data-bs-backdrop="static"  tabindex="-1" id="useProduct">
  <div class="modal-dialog modal-fullscreen">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Produkte</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <iframe style="height: 100%; width: 100%" src="{{ path("psc_plugin_reseller_backend_design_edit") }}"></iframe>
      </div>
    </div>
  </div>
</div>
<script>
window.onload = function() {loadChoosenProduct()};
</script>