<h5>Reseller 1</h5>
<div class="row">
    <div class="col-md-3">
        <div class="form-group row">
            {{ form_label(form.reseller.name1) }}
            <div class="col-md-7">
                    {{ form_widget(form.reseller.name1, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group row">
            {{ form_label(form.reseller.url1) }}
            <div class="col-md-7">
                {{ form_widget(form.reseller.url1, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group row">
            {{ form_label(form.reseller.uuid1) }}
            <div class="col-md-7">
                {{ form_widget(form.reseller.uuid1, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group row">
            {{ form_label(form.reseller.aufschlag1) }}
            <div class="col-md-7">
                {{ form_widget(form.reseller.aufschlag1, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
</div>

<h5>Reseller 2</h5>
<div class="row">
    <div class="col-md-3">
        <div class="form-group row">
            {{ form_label(form.reseller.name2) }}
            <div class="col-md-7">
                {{ form_widget(form.reseller.name2, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group row">
            {{ form_label(form.reseller.url2) }}
            <div class="col-md-7">
                {{ form_widget(form.reseller.url2, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group row">
            {{ form_label(form.reseller.uuid2) }}
            <div class="col-md-7">
                {{ form_widget(form.reseller.uuid2, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group row">
            {{ form_label(form.reseller.aufschlag2) }}
            <div class="col-md-7">
                {{ form_widget(form.reseller.aufschlag2, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
</div>

<h5>Reseller 3</h5>
<div class="row">
    <div class="col-md-3">
        <div class="form-group row">
            {{ form_label(form.reseller.name3) }}
            <div class="col-md-7">
                {{ form_widget(form.reseller.name3, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group row">
            {{ form_label(form.reseller.url3) }}
            <div class="col-md-7">
                {{ form_widget(form.reseller.url3, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group row">
            {{ form_label(form.reseller.uuid3) }}
            <div class="col-md-7">
                {{ form_widget(form.reseller.uuid3, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group row">
            {{ form_label(form.reseller.aufschlag3) }}
            <div class="col-md-7">
                {{ form_widget(form.reseller.aufschlag3, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
</div>

<h5>Reseller 4</h5>
<div class="row">
    <div class="col-md-3">
        <div class="form-group row">
            {{ form_label(form.reseller.name4) }}
            <div class="col-md-7">
                {{ form_widget(form.reseller.name4, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group row">
            {{ form_label(form.reseller.url4) }}
            <div class="col-md-7">
                {{ form_widget(form.reseller.url4, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group row">
            {{ form_label(form.reseller.uuid4) }}
            <div class="col-md-7">
                {{ form_widget(form.reseller.uuid4, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group row">
            {{ form_label(form.reseller.aufschlag4) }}
            <div class="col-md-7">
                {{ form_widget(form.reseller.aufschlag4, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
</div>

<h5>Reseller 5</h5>
<div class="row">
    <div class="col-md-3">
        <div class="form-group row">
            {{ form_label(form.reseller.name5) }}
            <div class="col-md-7">
                {{ form_widget(form.reseller.name5, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group row">
            {{ form_label(form.reseller.url5) }}
            <div class="col-md-7">
                {{ form_widget(form.reseller.url5, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group row">
            {{ form_label(form.reseller.uuid5) }}
            <div class="col-md-7">
                {{ form_widget(form.reseller.uuid5, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group row">
            {{ form_label(form.reseller.aufschlag5) }}
            <div class="col-md-7">
                {{ form_widget(form.reseller.aufschlag5, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
</div>