{% extends 'backend_base.html.twig' %}
{% trans_default_domain 'core_productgroup_create_and_edit' %}
{% block body %}

    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-folder"></i>
                    {{ 'Productgroups'|trans }} <span>>
                    {{ 'create'|trans }} </span>
                </h3>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-end">
                <a href="{{ path("psc_shop_productgroup_backend_list") }}" class="btn btn-default btn-sm"><i class="fa fa-lg fa-fw fa-arrow-left"></i> {{ 'back'|trans }}</a>
            </div>
        </div>
    </div>

    <div class="body">
        {{ form_start(form, { 'attr': {'class': ''}}) }}
        <div class="panel">
            <div class="header">
                <h4>{{ productgroup.title }}</h4>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-md-2">
                        <ul class="nav nav-pills flex-column" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="#all" role="tab">{{ 'General'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#images" role="tab">{{ 'images'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#text" role="tab">{{ 'Texts'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#seo" role="tab">{{ 'Seo'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#extra" role="tab">{{ 'advanced'|trans }}</a>
                            </li>
                            {% for customGroup in customGroups %}
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#{{ customGroup.id }}" role="tab">{{ customGroup.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-10">
                        <div class="tab-content">
                            <div class="tab-pane active" id="all" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-3 form-control-label">{{ form_label(form.title) }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.title) }}
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-3 form-control-label">{{ form_label(form.url) }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.url) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-3 form-control-label">{{ form_label(form.pos) }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.pos) }}
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row">
                                            <div class="col-md-3">{{ form_widget(form.enable) }}</div>
                                            <div class="col-md-3">{{ form_widget(form.notInMenu) }}</div>
                                            <div class="col-md-3">{{ form_widget(form.displayTitle) }}</div>
                                            <div class="col-md-3">{{ form_widget(form.private) }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-3 form-control-label">{{ form_label(form.parent) }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.parent) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-3 form-control-label">{{ form_label(form.language) }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.language) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="images" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-3 form-control-label">{{ form_label(form.image1) }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.image1) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-3 form-control-label">{{ form_label(form.image2) }}</label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.image2) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="text" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-3">
                                            {{ form_label(form.textArt) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.textArt) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-3">
                                            {{ form_label(form.textFormat) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.textFormat) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-3">
                                            {{ form_label(form.einleitung) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.einleitung) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h5>{{ 'Description'|trans }}</h5>

                                {{ form_widget(form.description, {attr: {'class': 'form-control summernote'}}) }}

                                <h5>{{ 'Additionaldescription'|trans }}</h5>

                                {{ form_widget(form.text, {attr: {'class': 'form-control summernote'}}) }}
                            </div>
                            <div class="tab-pane" id="seo" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            <label class="col-md-4 form-control-label">{{ form_label(form.meta_keywords) }}</label>
                                            <div class="col-md-8">
                                                {{ form_widget(form.meta_keywords) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            <label class="col-md-4 form-control-label">{{ form_label(form.meta_description) }}</label>
                                            <div class="col-md-8">
                                                {{ form_widget(form.meta_description) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            <label class="col-md-4 form-control-label">{{ form_label(form.meta_author) }}</label>
                                            <div class="col-md-8">
                                                {{ form_widget(form.meta_author) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            <label class="col-md-4 form-control-label">{{ form_label(form.meta_custom_title) }}</label>
                                            <div class="col-md-8">
                                                {{ form_widget(form.meta_custom_title) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr/>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            <label class="col-md-4 form-control-label">{{ form_label(form.meta_og_title) }}</label>
                                            <div class="col-md-8">
                                                {{ form_widget(form.meta_og_title) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            <label class="col-md-4 form-control-label">{{ form_label(form.meta_og_type) }}</label>
                                            <div class="col-md-8">
                                                {{ form_widget(form.meta_og_type) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            <label class="col-md-4 form-control-label">{{ form_label(form.meta_og_url) }}</label>
                                            <div class="col-md-8">
                                                {{ form_widget(form.meta_og_url) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            <label class="col-md-4 form-control-label">{{ form_label(form.meta_og_description) }}</label>
                                            <div class="col-md-8">
                                                {{ form_widget(form.meta_og_description) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            <label class="col-md-4 form-control-label">{{ form_label(form.meta_og_image) }}</label>
                                            <div class="col-md-8">
                                                {{ form_widget(form.meta_og_image) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="extra" role="tabpanel">
                                <div class="row mb-3">
                                    <label class="col-md-3 form-control-label">
                                        {{ form_label(form.extraSettings) }}
                                    </label>
                                    <div class="col-md-9">
                                        {{ form_widget(form.extraSettings, {'attr': {'rows' : 15}}) }}
                                    </div>
                                    {{ form_errors(form.extraSettings) }}
                                </div>
                            </div>
                            {% for customGroup in customGroups %}
                                <div class="tab-pane" id="{{ customGroup.id }}" role="tabpanel">
                                    {% for customField in customFields %}
                                        {% if customField.group == customGroup.id  and customField.getTemplate %}
                                            {{ include(customField.getTemplate, { 'form': form }) }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

 <div class="panel">
            <div class="body">
                <div class="row mb-3">
                    <div class="col-md-offset-1 col-md-11">

<i class="fas fa-exclamation-circle"></i> <strong>{{ 'Infotxt'|trans|raw }}</strong>
                   </div>
                </div>
            </div>
        </div> 


        <div class="panel">
            <div class="body">
                <div class="row mb-3">
                    <div class="col-md-offset-1 col-md-11">
                        {{ form_widget(form.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    {{ summernote_mediabundle_init() }}

{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script>

        var wto;

        $(function() {
            $('#productgroup_url').on('keyup', (function() {
                clearTimeout(wto);
                wto = setTimeout(function() {
                    if($('#productgroup_url').val() != "") {

                        $.getJSON("/apps/backend/productgroup/edit/check/url/" + $('#productgroup_url').val(),[], function(data) {
                            $('#productgroup_url').removeClass('is-valid');
                            $('#productgroup_url').removeClass('is-invalid');
                            $('#productgroup_url').parent().find('.invalid-feedback').remove();
                            if(data.found) {
                                $('#productgroup_url').addClass('is-invalid');
                                $('#productgroup_url').after('<div class="invalid-feedback">\n' +
                                    'Schon vorhanden: ' + data.error + '\n' +
                                    '</div>');
                            }else{
                                $('#productgroup_url').addClass('is-valid');
                            }
                        });
                    }
                }, 1000);



            }));
        });

    </script>
{% endblock %}