
<div class="panel">
    <div class="header">
        <h4>Event Einstellungen</h4>
    </div>
    <div class="body">
        <div class="row">
            <div class="col-md-12">
                <div class="row mb-3">
                    <label class="col-md-1 form-control-label">{{ form_label(form.status) }}</label>
                    <div class="col-md-11">
                        {{ form_widget(form.status) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>