{% extends 'backend_base.html.twig' %}

{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fas fa-check-double"></i>
                    Preflightcheck Regeln <span>>
                    Liste </span>
                </h3>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="panel">
            <div class="body">
                <a class="btn btn-info btn-sm" href="{{ path("psc_plugin_system_preflightcheck_backend_create") }}">Regel hinzufügen</a>
            </div>
        </div>
        <div class="panel">
            <div class="body">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>{{ knp_pagination_sortable(pagination, 'Uid', 'check.uid') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Erzeugt', 'check.createdAt') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Geändert', 'check.updatedAt') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Nr', 'check.nr') }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for check in pagination %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>{{ check.uid }}</td>
                            <td>{{ check.createdAt|date('H:i d.m.Y') }}</td>
                            <td>{{ check.updatedAt|date('H:i d.m.Y') }}</td>

                            <td>{{ check.nr }}</td>
                            <td class="text-end">
                                <a href="{{ path("psc_plugin_system_preflightcheck_backend_edit", {uid: check.uid}) }}"
                                   class="btn btn-info btn-sm"><span class="fas fa-edit"></span> Bearbeiten</a>
                                <a href="{{ path("psc_plugin_system_preflightcheck_backend_delete", {uid: check.uid}) }}"
                                   class="btn btn-danger btn-sm"><span class="fas fa-trash"></span> Löschen</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}