{% extends 'backend_base.html.twig' %}

{% block body %}

    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-upload"></i>
                    Media <span>>
                    hinzufügen </span>
                </h3>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="panel">
            <div class="body">
                    <div class="row">
                        {% for code, provider in providers %}
                            <div class="col-lg-2 col-md-3 col-sm-4 col-xs-6">
                                <a href="{{ path('psc_shop_media_backend_upload_create', {'provider': provider.name}) }}"
                                   class="btn btn-default btn-block"
                                   title="{{ provider.providerMetadata.description }}"
                                >
                                    {% if provider.providerMetadata.option('class') %}
                                        <i class="{{ provider.providerMetadata.option('class') }}"></i> {{ provider.providerMetadata.title|trans }}
                                    {% else %}
                                        <img src="{{ asset(provider.providerMetadata.image) }}" style="max-height: 20px; max-width: 100px;"/>
                                        <br />
                                        {{ provider.providerMetadata.title|trans }}
                                    {% endif %}
                                </a>
                            </div>
                        {% else %}
                            <span class="alert alert-info">{{ 'no_provider_available' }}</span>
                        {% endfor %}
                    </div>
            </div>
        </div>
    </div>
{% endblock %}