{% extends 'backend_base.html.twig' %}

{% block body %}
<div class="header">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h3>
                <i class="fa-fw fa fa-file-alt"></i>
                {{ 'psc_shop_cms.Site'|trans }} <span>>
                {{ 'psc_shop_cms.Create'|trans }} </span>
            </h3>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-end">
            <a href="{{ path("psc_shop_cms_backend_list") }}" class="btn btn-default btn-sm"><i class="fa fa-lg fa-fw fa-arrow-left"></i> {{ 'psc_shop_cms.Back'|trans }}</a>
        </div>
    </div>
</div>
<div class="body">
    {{ form_start(form, { 'attr': {'class': ''}}) }}
    <div class="panel">
        <div class="header">
            <h4>{{ 'psc_shop_cms.Common'|trans }}</h4>
        </div>
        <div class="body">
            <div class="row">
                <div class="col-md-2">
                    <ul class="nav nav-pills flex-column" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-bs-toggle="tab" href="#all" role="tab">{{ 'psc_shop_cms.Common'|trans }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#text" role="tab">{{ 'psc_shop_cms.Text'|trans }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#seo" role="tab">{{ 'psc_shop_cms.SEO'|trans }}</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#extend" role="tab">{{ 'psc_shop_cms.Extended'|trans }}</a>
                        </li>
                        {% for customGroup in customGroups %}
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#{{ customGroup.id }}" role="tab">{{ customGroup.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-md-10">
                    <div class="tab-content">
                        <div class="tab-pane active" id="all" role="tabpanel">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="row mb-3">
                                        {{ form_label(form.title) }}
                                        <div class="col-md-8">
                                            {{ form_widget(form.title) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row mb-3">
                                        {{ form_label(form.menu) }}
                                        <div class="col-md-8">
                                            {{ form_widget(form.menu) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row mb-3">
                                        {{ form_label(form.url) }}
                                        <div class="col-md-8">
                                            {{ form_widget(form.url) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="row mb-3">
                                        {{ form_label(form.parentRaw) }}
                                        <div class="col-md-8">
                                            {{ form_widget(form.parentRaw) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row mb-3">
                                        {{ form_label(form.pos) }}
                                        <div class="col-md-8">
                                            {{ form_widget(form.pos) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row mb-3">
                                        {{ form_label(form.sort) }}
                                        <div class="col-md-8">
                                            {{ form_widget(form.sort) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="row mb-3">
                                        {{ form_label(form.language) }}
                                        <div class="col-md-8">
                                            {{ form_widget(form.language) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row mb-3">
                                        {{ form_label(form.enable) }}
                                        <div class="col-md-8">
                                            {{ form_widget(form.enable) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row mb-3">
                                        {{ form_label(form.private) }}
                                        <div class="col-md-8">
                                            {{ form_widget(form.private) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="row mb-3">
                                        {{ form_label(form.displayOnlyWhenLoggedIn) }}
                                        <div class="col-md-8">
                                            {{ form_widget(form.displayOnlyWhenLoggedIn) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="text" role="tabpanel">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="row mb-3">
                                        {{ form_label(form.text) }}
                                        <div class="col-md-11">
                                            {{ form_widget(form.text, {attr: {'class': 'form-control summernote'}}) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="seo" role="tabpanel">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row mb-3">
                                        {{ form_label(form.metaAuthor) }}
                                        <div class="col-md-8">
                                            {{ form_widget(form.metaAuthor) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row mb-3">
                                        {{ form_label(form.metaCustomTitle) }}
                                        <div class="col-md-8">
                                            {{ form_widget(form.metaCustomTitle) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row mb-3">
                                        {{ form_label(form.metaDescription) }}
                                        <div class="col-md-8">
                                            {{ form_widget(form.metaDescription) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row mb-3">
                                        {{ form_label(form.metaKeywords) }}
                                        <div class="col-md-8">
                                            {{ form_widget(form.metaKeywords) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h5>Opengraph</h5>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row mb-3">
                                        {{ form_label(form.metaOgTitle) }}
                                        <div class="col-md-8">
                                            {{ form_widget(form.metaOgTitle) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row mb-3">
                                        {{ form_label(form.metaOgType) }}
                                        <div class="col-md-8">
                                            {{ form_widget(form.metaOgType) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row mb-3">
                                        {{ form_label(form.metaOgUrl) }}
                                        <div class="col-md-8">
                                            {{ form_widget(form.metaOgUrl) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row mb-3">
                                        {{ form_label(form.metaOgImage) }}
                                        <div class="col-md-8">
                                            {{ form_widget(form.metaOgImage) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row mb-3">
                                        {{ form_label(form.metaOgDescription) }}
                                        <div class="col-md-8">
                                            {{ form_widget(form.metaOgDescription) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="extend" role="tabpanel">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="row mb-3">
                                        {{ form_label(form.notInMenu) }}
                                        <div class="col-md-11">
                                            {{ form_widget(form.notInMenu) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="row mb-3">
                                        {{ form_label(form.displayTitle) }}
                                        <div class="col-md-11">
                                            {{ form_widget(form.displayTitle) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-md-3 form-control-label">
                                    {{ form_label(form.extraSettings) }}
                                </label>
                                <div class="col-md-9">
                                    {{ form_widget(form.extraSettings, {'attr': {'rows' : 15}}) }}
                                </div>
                                {{ form_errors(form.extraSettings) }}
                            </div>
                        </div>
                        {% for customGroup in customGroups %}
                            <div class="tab-pane" id="{{ customGroup.id }}" role="tabpanel">
                                {% for customField in customFields %}
                                    {% if customField.group == customGroup.id  and customField.getTemplate %}
                                        {{ include(customField.getTemplate, { 'form': form }) }}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for customField in customFields %}
        {% if customField.getTemplate %}
            {{ include(customField.getTemplate, { 'form': form }) }}
        {% endif %}
    {% endfor %}
    <div class="panel">
        <div class="body">
            <div class="row mb-3">
                <div class="col-md-offset-2 col-md-11">
                    {{ form_widget(form.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>
{{ summernote_mediabundle_init('default') }}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(function() {
            $('.note-codable').on('blur', function() {
                var codeviewHtml        = $(this).val();
                var $summernoteTextarea = $(this).closest('.note-editor').siblings('textarea');

                $summernoteTextarea.val(codeviewHtml);
            });
        });
    </script>
{% endblock %}