{% extends 'backend_noauth.html.twig' %}

{% block body %}
    <div class="panel">
        <div class="body">
            {% if error %}
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
            <pre></pre>
            <form method="post">
                <div class="container">
                    <div class="row mb-3">
                        <label class="col-md-1 form-control-label">
                            Username:
                        </label>
                        <div class="col-md-11">
                            <input type="text" class="form-control" id="username" name="username" value="{{ last_username }}" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label class="col-md-1 form-control-label">
                            Password:
                        </label>
                        <div class="col-md-11">
                            <input type="password" class="form-control" id="password" name="password" />
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-offset-1 col-md-11">
                            <button type="submit" class="btn btn-primary btn-sm">login</button>
                        </div>
                    </div>

                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                </div>

            </form>
        </div>
    </div>
{% endblock %}