<nav id="monthNav" uib-dropdown ng-class="{true:'btn-group', false:''}[settings.showSiteBrowser]" data-ng-show="settings.showSiteBrowser">
    <button type="button" class="btn btn-default navbar-btn dropdown-toggle btn-long" uib-dropdown-toggle>{{title()}} &nbsp;
        <span class="fa fa-angle-down"></span></button>
    <ul class="dropdown-menu text-left" role="menu" ng-show="settings.showSiteBrowser">
        <li class="col-lg-1 col-sm-3 col-xs-6 text-center" ng-repeat="site in sites" id="site_li_{{ site.id }}" ng-click="selectSite(site.id)" repeat-done="layoutDone()" ng-cloak>
            <div class="media">
                <div class="canvas-holder"><canvas id="site_{{ site.id }}"></canvas></div>
                <div class="media-body">
                    <p class="media-heading">{{site.title}}</p>
                </div>
            </div>
        </li>

    </ul>
</nav>

<script type="text/ng-template" id="sitesLayoutGallery">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Seitenlayouts</h4>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="col-xs-3" ng-repeat="layout in layouts" ng-click="addLayout(layout.vorlageSite)" id="layout_li_{{ layout.id }}">
                    <a class="thumbnail">
                        <img id="layout_{{ layout.id }}" ng-src="{{ layout.previewImage }}" />
                    </a>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Schließen</button>
        </div>

    </div>
</script>

<script type="text/ng-template" id="deleteSite">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Löschen?</h4>
        </div>

        <div class="modal-body">
            Wollen Sie wirklich die Seite löschen?
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="ok()">Ja</button>
            <button class="btn btn-danger" ng-click="cancel()">Nein</button>
        </div>

    </div>
</script>

<script type="text/ng-template" id="addLayout">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Hinzufügen?</h4>
        </div>

        <div class="modal-body">
            Wollen Sie wirklich die Seite hinzfügen?
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="ok()">Ja</button>
            <button class="btn btn-danger" ng-click="cancel()">Nein</button>
        </div>

    </div>
</script>
