{% extends '::layout.html.twig' %}
{% block title %}Upload{% endblock %}
{% block main_content %}

    {% if send %}
        <h4><br>Vielen Dank. <br>Ihre Datei wurde erfolgreich hochgeladen.</h4>
    {% else %}

        <small>Es sind nur einzelne Dateien möglich.<br>Mehrere Dateien ggf. als Archiv (ZIP, SIT, RAR) zusammenfassen.<br>Max. Dateigröße: 250 MB<br>Nicht zugelassene Dateitypen: .php, .exe, .com, .bat, .ini</small>
<br><br>
        {{ form_start(form) }}
        <div class="form-group row">
            <label for="example-text-input" class="col-xs-4 col-form-label">Ihre Datei:</label>
            <div class="col-xs-8">
                {{ form_widget(form.file, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row">
            <label for="example-text-input" class="col-xs-4 col-form-label">Ihr Name oder Ihre eMail-Adresse: <span style="color:red">*</span></label>
            <div class="col-xs-8">
                {{ form_widget(form.name, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row">
            <label for="example-text-input" class="col-xs-4 col-form-label">wenn vorh.: Bestell-Nr. bzw. Angebots-ID:</label>
            <div class="col-xs-8">
                {{ form_widget(form.orderNumber, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row">
            <label for="example-text-input" class="col-xs-4 col-form-label">Auftrags-Bezeichnung und ggf. Bemerkungen: <span style="color:red">*</span></label>
            <div class="col-xs-8">
                {{ form_widget(form.description, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row">
            <div class="col-xs-2">
                {{ form_widget(form.save, {attr: {'class': 'btn btn-success'}}) }}
            </div>
            <div class="col-xs-8">
                <span style="color:red">*</span> = Pflichtfeld<br><br><span style="color:red">Achtung: Bitte warten Sie bis die Meldung zum erfolgreichen Upload erscheint.<br><u>Dieses Fenster nicht vorher schließen!</u></span>
            </div>
        </div>
    {{ form_end(form) }}
    {% endif %}
    <script>

        $(function() {

            var borderOrg = $('#upload_name').css('border');

            $('form').submit(function() {

                if($('#upload_name').val() == "") {
                    $('#upload_name').css('border', 'solid red 1px');
                    return false;
                }else{
                    $('#upload_name').css('border', borderOrg);
                }

                if($('#upload_description').val() == "") {
                    $('#upload_description').css('border', 'solid red 1px');
                    return false;
                }else{
                    $('#upload_description').css('border', borderOrg);
                }

                return true;

            });

        });
    </script>

{% endblock %}