<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            {{ form_label(form.bootstrap3Product.textPost) }}
            <div class="col-md-8">
                {{ form_widget(form.bootstrap3Product.textPost) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            {{ form_label(form.bootstrap3Product.textMail) }}
            <div class="col-md-8">
                {{ form_widget(form.bootstrap3Product.textMail) }}
            </div>
        </div>
    </div>
</div>