<div class="panel">
    <div class="header">
        <h4>Details</h4>
    </div>
    <div class="body">
        <div class="row">
            <div class="col-md-4">
                <div class="row mb-3">
                    <label class="col-md-3 form-control-label">{{ form_label(form.from) }}</label>
                    <div class="col-md-9">
                        {{ form_widget(form.from) }}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="row mb-3">
                    <label class="col-md-3 form-control-label">{{ form_label(form.to) }}</label>
                    <div class="col-md-9">
                        {{ form_widget(form.to) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="header">
        <h4>Hilfe</h4>
    </div>
    <div class="body">
        <button class="btn btn-info btn-sm" type="button" data-toggle="collapse" data-target="#helpQueue" aria-expanded="false" aria-controls="helpQueue">Aufklappen / Zuklappen</button>
        <div id="helpQueue" class="collapse">
            <table class="table">
            {% for rows in help %}
                <tr>
                    {% for col in rows %}
                        <td>
                            <h5>{{ col.label }}</h5>
                            <table>
                                {% for data in col.data %}
                                    <tr><td><b>{{  data.value }}</b></td><td>{{ data.label }}</td></tr>
                                {% endfor %}
                            </table>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</div>