{% extends 'backend_base.html.twig' %}

{% block body %}
<div class="header">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h3>
                <i class="fa-fw fa fa-images"></i>
                Motiv <span>>
                    Gruppen </span>
            </h3>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-end">
            <a href="{{ path('psc_shop_motive_backend_group_list_index') }}" class="btn btn-default btn-sm">Gruppen
                Liste</a>
        </div>
    </div>
</div>
<div class="body">
    {{ form_start(form, { 'attr': {'class': ''}}) }}
    <div class="panel">
        <div class="header">
            <h4>Allgemeines</h4>
        </div>
        <div class="body">
            <div class="row mb-3">
                <label class="col-md-3 form-control-label">{{ form_label(form.uuid) }}</label>
                <div class="col-md-9">
                    {{ form_widget(form.uuid) }}
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-3 form-control-label">{{ form_label(form.title) }}</label>
                <div class="col-md-9">
                    {{ form_widget(form.title) }}
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-3 form-control-label">{{ form_label(form.url) }}</label>
                <div class="col-md-9">
                    {{ form_widget(form.url) }}
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-md-3 form-control-label">{{ form_label(form.motive) }}</label>
                <div class="col-md-9">
                    {{ form_widget(form.motive) }}
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="body">
                <div class="row mb-3">
                    <div class="col-md-offset-1 col-md-11">
                        {{ form_widget(form.submit, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    {% endblock %}
