{% extends 'backend_base.html.twig' %}

{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-images"></i>
                    Motiv <span>>
                    Gruppen </span>
                </h3>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-end">
                <a href="{{ path('psc_shop_motive_backend_group_create') }}" class="btn btn-sm btn-primary">Gruppe anlegen</a>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="panel">
            <div class="body">

                <table class="table table-striped table-sm">
                    <thead class="">
                    <tr>
                        <th>UUid</th>
                        <th>Titel</th>
                        <th>Url</th>
                        <th>Created</th>
                        <th>Updated</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for group in groups %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>{{ group.uuid }}</td>
                            <td>{{ group.title }}</td>
                            <td>{{ group.url }}</td>
                            <td>{{ group.created|date("d.m.Y") }}</td>
                            <td>{{ group.updated|date("d.m.Y") }}</td>
                            <td class="text-end">
                                <a href="{{ path("psc_shop_motive_backend_group_edit", {uuid: group.uuid}) }}" class="btn btn-info btn-sm"><span class="fa fa-edit"></span> Details</a>
                                <a href="{{ path("psc_shop_motive_backend_group_delete", {uuid: group.uuid}) }}" class="btn btn-danger btn-sm"><span class="fa fa-trash"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
