{% extends 'backend_base.html.twig' %}

{% block body %}
<div class="header">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h3>
                <i class="fas fa-wrench"></i>
                Versandabteilung <span>>
                Detail </span>
            </h3>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-xs-right">
            <a href="{{ path("psc_backend_production_shipping_list_index") }}" class="btn btn-default btn-sm"><i class="fas fa-arrow-left"></i> Zurück</a>
        </div>
    </div>
</div>
<div class="body">
    <div class="row">
        <div class="col-md-3">
            <div class="panel">
                <div class="header">
                    <h4>Auftrag {{ order.alias }}</h4>
                </div>
                <div class="body">
                    <h5>Auftragsdatum: {{ order.created|date('d.m.Y H:i:s') }}</h5>
                    <h5>Zahlart: {{ order.getPaymentType.getTitle() }}</h5>
                    <h5>Versandart: {{ order.getShippingType.getTitle() }}</h5>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel">
                <div class="header">
                    <h4>Bearbeiten</h4>
                </div>
                <div class="body">
                    {{ form_start(formStatus, { 'attr': {'class': ''}}) }}
                    {{ form_errors(formStatus) }}
                    <div class="form-group row">
                        <label class="col-md-3 form-control-label">
                            {{ form_label(formStatus.status) }}
                        </label>
                        <div class="col-md-9">
                            {{ form_widget(formStatus.status, {attr: {class:'form-control'}}) }}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-offset-3 col-md-9">
                            {{ form_widget(formStatus.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                        </div>
                    </div>
                    {{ form_end(formStatus) }}
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel">
                <div class="header">
                    <h4>Warenkorb</h4>
                </div>
                <div class="body">
                    <h5>Netto: {{ order.netto|number_format(2, ',', '.') }}€</h5>
                    <h5>MwSt: {{ order.steuer|number_format(2, ',', '.') }}€</h5>
                    <h5>Brutto: {{ order.brutto|number_format(2, ',', '.') }}€</h5>

                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="header">
            <h4>Adressen</h4>
        </div>
        <div class="body">
            <div class="row">
                <div class="col-md-4">
                    <h5>Rechnungsadresse</h5>

                    {{ form_start(formInvoice, { 'attr': {'class': ''}}) }}
                    {{ form_errors(formInvoice) }}

                    <div class="form-group row">
                        <label class="col-md-2 form-control-label">
                            {{ form_label(formInvoice.company) }}
                        </label>
                        <div class="col-md-10">
                            {{ form_widget(formInvoice.company, {attr: {'class': 'form-control'}}) }}
                        </div>
                        {{ form_errors(formInvoice.company) }}
                    </div>

                    <div class="form-group row">
                        <label class="col-md-2 form-control-label">
                            {{ form_label(formInvoice.firstname) }}
                        </label>
                        <div class="col-md-10">
                            {{ form_widget(formInvoice.firstname, {attr: {'class': 'form-control'}}) }}
                        </div>
                        {{ form_errors(formInvoice.firstname) }}
                    </div>

                    <div class="form-group row">
                        <label class="col-md-2 form-control-label">
                            {{ form_label(formInvoice.lastname) }}
                        </label>
                        <div class="col-md-10">
                            {{ form_widget(formInvoice.lastname, {attr: {'class': 'form-control'}}) }}
                        </div>
                        {{ form_errors(formInvoice.lastname) }}
                    </div>

                    <div class="form-group row">
                        <label class="col-md-2 form-control-label">
                            {{ form_label(formInvoice.email) }}
                        </label>
                        <div class="col-md-10">
                            {{ form_widget(formInvoice.email, {attr: {'class': 'form-control'}}) }}
                        </div>
                        {{ form_errors(formInvoice.email) }}
                    </div>

                    <div class="form-group row">
                        <label class="col-md-2 form-control-label">
                            {{ form_label(formInvoice.phone) }}
                        </label>
                        <div class="col-md-10">
                            {{ form_widget(formInvoice.phone, {attr: {'class': 'form-control'}}) }}
                        </div>
                        {{ form_errors(formInvoice.phone) }}
                    </div>

                    <div class="form-group row">
                        <div class="col-md-2 form-control-label">
                            PLZ/Ort/Land
                        </div>
                        <div class="col-md-3">
                            {{ form_widget(formInvoice.zip, {attr: {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-md-5">
                            {{ form_widget(formInvoice.city, {attr: {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_widget(formInvoice.country, {attr: {'class': 'form-control'}}) }}
                        </div>

                    </div>

                    <div class="form-group row">
                        <div class="col-md-2 form-control-label">
                            Straße/Nr.
                        </div>
                        <div class="col-md-7">
                            {{ form_widget(formInvoice.street, {attr: {'class': 'form-control'}}) }}
                        </div>

                        <div class="col-md-3">
                            {{ form_widget(formInvoice.houseNumber, {attr: {'class': 'form-control'}}) }}
                        </div>

                    </div>

                    <div class="form-group row">
                        <div class="col-md-offset-2 col-md-10">
                            {{ form_widget(formInvoice.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                        </div>
                    </div>
                    {{ form_end(formInvoice) }}
                </div>
                <div class="col-md-4">
                    <h5>Lieferadresse</h5>

                    {{ form_start(formDelivery, { 'attr': {'class': ''}}) }}
                    {{ form_errors(formDelivery) }}

                    <div class="form-group row">
                        <label class="col-md-2 form-control-label">
                            {{ form_label(formDelivery.company) }}
                        </label>
                        <div class="col-md-10">
                            {{ form_widget(formDelivery.company, {attr: {'class': 'form-control'}}) }}
                        </div>
                        {{ form_errors(formDelivery.company) }}
                    </div>
                    <div class="form-group row">
                        <label class="col-md-2 form-control-label">
                            {{ form_label(formDelivery.firstname) }}
                        </label>
                        <div class="col-md-10">
                            {{ form_widget(formDelivery.firstname, {attr: {'class': 'form-control'}}) }}
                        </div>
                        {{ form_errors(formDelivery.firstname) }}
                    </div>

                    <div class="form-group row">
                        <label class="col-md-2 form-control-label">
                            {{ form_label(formDelivery.lastname) }}
                        </label>
                        <div class="col-md-10">
                            {{ form_widget(formDelivery.lastname, {attr: {'class': 'form-control'}}) }}
                        </div>
                        {{ form_errors(formDelivery.lastname) }}
                    </div>

                    <div class="form-group row">
                        <label class="col-md-2 form-control-label">
                            {{ form_label(formDelivery.email) }}
                        </label>
                        <div class="col-md-10">
                            {{ form_widget(formDelivery.email, {attr: {'class': 'form-control'}}) }}
                        </div>
                        {{ form_errors(formDelivery.email) }}
                    </div>

                    <div class="form-group row">
                        <label class="col-md-2 form-control-label">
                            {{ form_label(formDelivery.phone) }}
                        </label>
                        <div class="col-md-10">
                            {{ form_widget(formDelivery.phone, {attr: {'class': 'form-control'}}) }}
                        </div>
                        {{ form_errors(formDelivery.phone) }}
                    </div>

                    <div class="form-group row">
                        <div class="col-md-2 form-control-label">
                            PLZ/Ort/Land
                        </div>
                        <div class="col-md-3">
                            {{ form_widget(formDelivery.zip, {attr: {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-md-5">
                            {{ form_widget(formDelivery.city, {attr: {'class': 'form-control'}}) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_widget(formDelivery.country, {attr: {'class': 'form-control'}}) }}
                        </div>

                    </div>

                    <div class="form-group row">
                        <div class="col-md-2 form-control-label">
                            Straße/Nr.
                        </div>
                        <div class="col-md-7">
                            {{ form_widget(formDelivery.street, {attr: {'class': 'form-control'}}) }}
                        </div>

                        <div class="col-md-3">
                            {{ form_widget(formDelivery.houseNumber, {attr: {'class': 'form-control'}}) }}
                        </div>

                    </div>

                    <div class="form-group row">
                        <div class="col-md-offset-2 col-md-10">
                            {{ form_widget(formDelivery.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                        </div>
                    </div>
                    {{ form_end(formDelivery) }}
                </div>
                <div class="col-md-4">
                    <h5>Absenderadresse</h5>

                        {{ form_start(formSender, { 'attr': {'class': ''}}) }}
                        {{ form_errors(formSender) }}

                        <div class="form-group row">
                            <label class="col-md-2 form-control-label">
                                {{ form_label(formSender.company) }}
                            </label>
                            <div class="col-md-10">
                                {{ form_widget(formSender.company, {attr: {'class': 'form-control'}}) }}
                            </div>
                            {{ form_errors(formSender.company) }}
                        </div>
                        <div class="form-group row">
                            <label class="col-md-2 form-control-label">
                                {{ form_label(formSender.firstname) }}
                            </label>
                            <div class="col-md-10">
                                {{ form_widget(formSender.firstname, {attr: {'class': 'form-control'}}) }}
                            </div>
                            {{ form_errors(formSender.firstname) }}
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 form-control-label">
                                {{ form_label(formSender.lastname) }}
                            </label>
                            <div class="col-md-10">
                                {{ form_widget(formSender.lastname, {attr: {'class': 'form-control'}}) }}
                            </div>
                            {{ form_errors(formSender.lastname) }}
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 form-control-label">
                                {{ form_label(formSender.email) }}
                            </label>
                            <div class="col-md-10">
                                {{ form_widget(formSender.email, {attr: {'class': 'form-control'}}) }}
                            </div>
                            {{ form_errors(formSender.email) }}
                        </div>

                        <div class="form-group row">
                            <label class="col-md-2 form-control-label">
                                {{ form_label(formSender.phone) }}
                            </label>
                            <div class="col-md-10">
                                {{ form_widget(formSender.phone, {attr: {'class': 'form-control'}}) }}
                            </div>
                            {{ form_errors(formSender.phone) }}
                        </div>

                        <div class="form-group row">
                            <div class="col-md-2 form-control-label">
                                PLZ/Ort/Land
                            </div>
                            <div class="col-md-3">
                                {{ form_widget(formSender.zip, {attr: {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-md-5">
                                {{ form_widget(formSender.city, {attr: {'class': 'form-control'}}) }}
                            </div>
                            <div class="col-md-2">
                                {{ form_widget(formSender.country, {attr: {'class': 'form-control'}}) }}
                            </div>

                        </div>

                        <div class="form-group row">
                            <div class="col-md-2 form-control-label">
                                Straße/Nr.
                            </div>
                            <div class="col-md-7">
                                {{ form_widget(formSender.street, {attr: {'class': 'form-control'}}) }}
                            </div>

                            <div class="col-md-3">
                                {{ form_widget(formSender.houseNumber, {attr: {'class': 'form-control'}}) }}
                            </div>

                        </div>

                        <div class="form-group row">
                            <div class="col-md-offset-2 col-md-10">
                                {{ form_widget(formSender.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                            </div>
                        </div>
                        {{ form_end(formSender) }}

                </div>

            </div>
        </div>
    </div>

    <div class="panel">
        <div class="header">
            <h4>Positionen</h4>
        </div>
        <div class="body">
            <table class="table table-striped table-sm">
                <thead class="">
                <tr>
                    <th>Pos</th>
                    <th>Name</th>
                    <th>Position-Status</th>
                    <th>Tracking Codes</th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for pos in positions %}
                    <form method="post">
                    <tr>
                        <td>{{ pos.obj.pos }}</td>
                        <td>{{ pos.obj.product.title }}
                            <ul>
                                {% for opt in pos.calc.getOptions %}
                                    <li>{{ opt.name }}: {{ opt.value }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <div class="btn-group btn-group-sm">
                                <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    {{ pos.obj.status|trans({}, 'posstatus') }}
                                </button>
                                <div class="dropdown-menu">
                                    {% for key,value in posStatus %}
                                        <a class="dropdown-item" href="{{ path("psc_backend_production_shipping_detail_switchpos", {order: order.uuid, pos: pos.obj.uuid, status: key}) }}">{{ value|trans({}, 'posstatus') }}</a>
                                    {% endfor %}
                                </div>
                            </div>

                            <p><br/></p>
                            <a class="btn btn-sm btn-success" href="{{ path("psc_backend_production_shipping_detail_switchpos", {order: order.uuid, pos: pos.obj.uuid, status: '200'}) }}">ist Versendet</a>
                        </td>

                        <td>
                            <ul>
                                {% for tracking in pos.objDoc.trackings %}
                                    <span class="badge">{{ tracking.trackingNumber }}</span> <a class="btn btn-sm btn-danger" href="{{ path("psc_backend_production_shipping_detail_tracking_delete", {uuid: order.uuid, pos: pos.obj.uuid, index: loop.index0}) }}">X</a><br/>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <input type="hidden" name="position" value="{{ pos.obj.uuid }}"/>
                            <select class="form-control form-control-sm" name="shippingProvider">
                                {% for key, val in shippingProvider %}
                                    <option>{{ val  }}</option>
                                {% endfor %}
                            </select>
                        </td>
                        <td>
                            <input type="text" class="form-control form-control-sm" placeholder="Trackingnummer" name="trackingNumber" value=""/>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-success btn-sm">hinzufügen</button>
                        </td>
                    </tr></form>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
