{% extends 'backend_base.html.twig' %}

{% block body %}
<div class="header">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h3>
                <i class="fas fa-wrench"></i>
                Versandabteilung <span>>
			Liste </span></h3>
        </div>

    </div>
</div>
<div class="body">
    <div class="panel">
        <div class="body">
            <table class="table table-striped table-sm">
                <thead class="">
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'Id', 'orders.uid') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Auftragsnummer', 'orders.alias') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Erzeugt', 'orders.created') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Name', 'contact.username') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Vorname', 'contact.selfFirstname') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Nachname', 'contact.selfLastname') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Warenkorbfeld 1', 'positions.basketfield1') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Warenkorbfeld 2', 'positions.basketfield2') }}</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for order in pagination %}
                    <tr {% if loop.index is odd %}class="color"{% endif %}>
                        <td>{{ order.uid }}</td>
                        <td>{{ order.alias }}</td>
                        <td>{{ order.created|date('d.m.Y H:i:s') }}</td>
                        <td>{{ order.contact.username }}</td>
                        <td>{{ order.contact.firstname }}</td>
                        <td>{{ order.contact.lastname }}</td>
                        <td>{{ order.basketfield1 }}</td>
                        <td>{{ order.basketfield2 }}</td>
                        <td>{{ order.status|trans({}, 'status') }}</td>
                        <td>
                            <a href="{{ path("psc_backend_production_shipping_detail_index", {uuid: order.uuid}) }}" class="btn btn-info btn-sm"><span class="fas fa-edit"></span> Details</a>
                    </tr>
                    {% for pos in order.getPositions %}
                        <tr>
                            <td></td>
                            <td>{{ pos.pos }}</td>
                            <td colspan="2">{{ pos.product.title }}</td>
                            <td></td>
                            <td></td>
                            <td>{{ pos.basketField1 }}</td>
                            <td>{{ pos.basketField2 }}</td>
                            <td>{{ pos.status|trans({}, 'posstatus') }}</td>
                            <td></td>
                        </tr>
                    {% endfor %}
                    <tr class="divider"><td colspan="10"></td></tr>
                {% endfor %}
                </tbody>
            </table>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
