<div class="panel">
    <div class="header">
        <h4>Filter</h4>
    </div>
    <div class="body">
        <div class="row">
            <div class="col-md-12">

                {{ form_label(form.product) }}
                <div class="col-md-12">
                    {{ form_widget(form.product) }}
                </div>

            </div>
        </div>
    </div>
</div>
{{ include('@PSCShopQueue/queue/mail.html.twig') }}