{% extends 'backend_base.html.twig' %}

{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-image"></i>
                    Slide <span>>
                    Löschen</span>
                </h3>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-right">
                <a href="{{ path("psc_plugin_bootstrap4_backend_slider_index") }}" class="btn btn-default btn-sm"><i class="fa fa-lg fa-fw fa-arrow-left"></i> Zurück</a>
            </div>
        </div>
    </div>

    <div class="body">
        <div class="panel">
            <div class="header">
                <h4>Slide löschen?</h4>
            </div>
            <div class="body">

                <h5>{{ slide.title }}</h5>

                {{ form_start(form, { 'attr': {'class': ''}}) }}
                <div class="form-group row">
                    <label class="col-md-1 form-control-label"></label>
                    <div class="col-md-1">
                        {{ form_widget(form.yes, {attr: {class: 'btn btn-lg btn-warning btn-sm'}}) }}
                    </div>
                    <div class="col-md-1">
                        {{ form_widget(form.no, {attr: {class: 'btn btn-lg btn-primary btn-sm'}}) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}