{% extends 'backend_base.html.twig' %}

{% block body %}
<div class="header">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h3>
                <i class="fa fa-lg fa-fw fa-image"></i>
                Slider <span>>
			Liste </span></h3>
        </div>
    </div>
</div>
<div class="body">
    <div class="panel">
        <div class="header">
            <a href="{{ path("psc_plugin_bootstrap4_backend_slider_edit") }}" class="btn btn-info btn-sm"><span class="fa fa-edit"></span> neu anlegen</a>
        </div>
        <div class="body">
            <table class="table table-striped table-sm">
                <thead class="">
                <tr>
                    <th>Bild</th>
                    <th>Titel</th>
                    <th>Link</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for slide in slides %}
                    <tr {% if loop.index is odd %}class="color"{% endif %}>
                        <td>{% thumbnail slide.image, 'psc_shop_product_backend_list_file1' with {'width': 90} %}</td>
                        <td>{{ slide.title }}</td>
                        <td>{{ slide.link }}</td>
                        <td>
                            <a href="{{ path("psc_plugin_bootstrap4_backend_slider_edit", {uid: slide.uid}) }}" class="btn btn-info btn-sm"><span class="fa fa-edit"></span> Bearbeiten</a>
                            <a href="{{ path("psc_plugin_bootstrap4_backend_slider_delete", {uid: slide.uid}) }}" class="btn btn-danger btn-sm"><span class="fa fa-edit"></span> Löschen</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
