
<div class="row">
    <div class="col-md-6">
        <div class="form-group row">
            <label class="col-md-4 form-control-label">{{ form_label(form.ups.production) }}</label>
            <div class="col-md-8">
                {{ form_widget(form.ups.production, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group row">

        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group row">
            <label class="col-md-4 form-control-label">{{ form_label(form.ups.kundenNr) }}</label>
            <div class="col-md-8">
                {{ form_widget(form.ups.kundenNr, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group row">
            <label class="col-md-4 form-control-label">{{ form_label(form.ups.username) }}</label>
            <div class="col-md-8">
                {{ form_widget(form.ups.username, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group row">
            <label class="col-md-4 form-control-label">{{ form_label(form.ups.password) }}</label>
            <div class="col-md-8">
                {{ form_widget(form.ups.password, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group row">
            <label class="col-md-4 form-control-label">{{ form_label(form.ups.apiKey) }}</label>
            <div class="col-md-8">
                {{ form_widget(form.ups.apiKey, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group row">
            <label class="col-md-4 form-control-label">{{ form_label(form.ups.shipFromZip) }}</label>
            <div class="col-md-8">
                {{ form_widget(form.ups.shipFromZip, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group row">
            <label class="col-md-4 form-control-label">{{ form_label(form.ups.shipFromCity) }}</label>
            <div class="col-md-8">
                {{ form_widget(form.ups.shipFromCity, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group row">
            <label class="col-md-4 form-control-label">{{ form_label(form.ups.shipFromAddress) }}</label>
            <div class="col-md-8">
                {{ form_widget(form.ups.shipFromAddress, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group row">
            <label class="col-md-4 form-control-label">{{ form_label(form.ups.shipFromCountry) }}</label>
            <div class="col-md-8">
                {{ form_widget(form.ups.shipFromCountry, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group row">
            <label class="col-md-4 form-control-label">{{ form_label(form.ups.shipFromPhone) }}</label>
            <div class="col-md-8">
                {{ form_widget(form.ups.shipFromPhone, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group row">
            <label class="col-md-4 form-control-label">{{ form_label(form.ups.shipFromCompany) }}</label>
            <div class="col-md-8">
                {{ form_widget(form.ups.shipFromCompany, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group row">
            <label class="col-md-4 form-control-label">{{ form_label(form.ups.standardWeight) }}</label>
            <div class="col-md-8">
                {{ form_widget(form.ups.standardWeight, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div class="form-group row">
            <label class="col-md-4 form-control-label">{{ form_label(form.ups.upsStandard) }}</label>
            <div class="col-md-8">
                {{ form_widget(form.ups.upsStandard, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group row">
            <label class="col-md-4 form-control-label">{{ form_label(form.ups.upsExpress) }}</label>
            <div class="col-md-8">
                {{ form_widget(form.ups.upsExpress, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group row">
            <label class="col-md-4 form-control-label">{{ form_label(form.ups.upsExpressPlus) }}</label>
            <div class="col-md-8">
                {{ form_widget(form.ups.upsExpressPlus, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="col-md-3">
        <div class="form-group row">
            <label class="col-md-4 form-control-label">{{ form_label(form.ups.upsExpressSaver) }}</label>
            <div class="col-md-8">
                {{ form_widget(form.ups.upsExpressSaver, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
</div>
