<div class="modal-body">
    <h4>Farben</h4>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Monatsfarbe</label>
                <simplecolorpicker scp-inline="true" style="display: block;" scp-picker="1" index="calendarSetting.monthColor" scp-colors="calendarSetting.data" scp-color="calendarSetting.monthColor"></simplecolorpicker>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Tagfarbe</label>
                <simplecolorpicker scp-inline="true" style="display: block;" scp-picker="1" index="calendarSetting.dayColor" scp-colors="calendarSetting.data" scp-color="calendarSetting.dayColor"></simplecolorpicker>

            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group">
                <label class="control-label">Sonntagsfarbe</label>
                <simplecolorpicker scp-inline="true" style="display: block;" scp-picker="1" index="calendarSetting.sunColor" scp-colors="calendarSetting.data" scp-color="calendarSetting.sunColor"></simplecolorpicker>
            </div>
        </div>
    </div>
    <h4>Einstellungen</h4>
    <div class="row">
        <!--<div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Startmonat</label>
                <select class="form-control" ng-change="changeCalendarSetting()"ng-model="calendarSetting.startMonth">
                    <option value="1">Januar</option>
                    <option value="2">Februar</option>
                    <option value="3">März</option>
                    <option value="4">April</option>
                    <option value="5">Mai</option>
                    <option value="6">Juni</option>
                    <option value="7">Juli</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">Oktober</option>
                    <option value="11">November</option>
                    <option value="12">Dezember</option>
                </select>
            </div>
        </div>-->
        <div class="col-md-6">
            <div class="form-group">
                <label class="control-label">Startjahr</label>
                <select class="form-control" ng-change="changeCalendarSetting()" ng-model="calendarSetting.startYear">
                    <option value="2014">2014</option>
                    <option value="2015">2015</option>
                    <option value="2016">2016</option>
                    <option value="2017">2017</option>
                    <option value="2018">2018</option>
                    <option value="2019">2019</option>
                </select>
            </div>
        </div>
    </div>
</div>