<div class="panel-body">
<div ng-repeat="setting in settings" id="setting_{{ setting.id }}" ng-cloak>
    <h4>{{ setting.label }}</h4>
    <simplecolorpicker scp-inline="false" scp-picker="picker" index="{{setting.id}}" scp-colors="setting.data" scp-color="selectedColor"></simplecolorpicker>
</div>
</div>


<script type="text/ng-template" id="motivSelect">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Motive</h4>
        </div>

        <div class="modal-body">
            <div class="row">
                <div ng-repeat="motiv in motive" class="col-xs-2">
                    <a ng-click="selectMotiv(motiv.uuid, false)" class="thumbnail">

                        <img ng-if="motiv.uuid" ng-src="{{ ds.getImageThumbPath(motiv.uuid) }}"/>
                        <img ng-if="!motiv.uuid" data-src="holder.js/87x87?text=Keins" alt="No" holder-fix/>
                    </a>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Schließen</button>
        </div>

    </div>
</script>

<script type="text/ng-template" id="svgSelect">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Motive</h4>
        </div>

        <div class="modal-body">
            <div class="row">
                <div ng-repeat="motiv in motive" class="col-xs-2">
                    <a ng-click="selectSvg(motiv.uuid)" class="thumbnail">

                        <img ng-if="motiv.uuid" ng-src="{{ ds.getRawPath(motiv.uuid) }}"/>
                        <img ng-if="!motiv.uuid" data-src="holder.js/87x87?text=Keins" alt="No" holder-fix/>
                        <div class="caption">
                            <h6>{{ motiv.label }}</h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Schließen</button>
        </div>

    </div>
</script>