<script type="text/javascript">
    function mediaBundleBrowser(htmlId){
        window.open(
                "{{ path('psc_shop_media_backend_folder_show', {uuid: 0, modal: 1, htmlId: ''}) }}/" + htmlId,
                "",
                "width={{ width }}, height={{ height }}, resizable=yes, scrollbars=no, status=no, toolbar=no"
        );
        return false;
    }
</script>