
<div class="row">
    <div class="col-md-6">
        <div class="form-group row">
            <label class="col-md-4 form-control-label">{{ form_label(form.sofort.customerNr) }}</label>
            <div class="col-md-8">
                {{ form_widget(form.sofort.customerNr, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group row">
            <label class="col-md-4 form-control-label">{{ form_label(form.sofort.projectId) }}</label>
            <div class="col-md-8">
                {{ form_widget(form.sofort.projectId, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group row">
            <label class="col-md-4 form-control-label">{{ form_label(form.sofort.apiKey) }}</label>
            <div class="col-md-8">
                {{ form_widget(form.sofort.apiKey, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group row">
            <label class="col-md-4 form-control-label">{{ form_label(form.sofort.configKey) }}</label>
            <div class="col-md-8">
                {{ form_widget(form.sofort.configKey, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
</div>