{% extends 'backend_base.html.twig' %}

{% block body %}
<div class="header">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h3>
                <i class="fa-fw fa fa-tasks"></i>
                Aktionen <span>>
                kopieren </span>
            </h3>
        </div>
    </div>
</div>
<div class="body">
    {{ form_start(form, { 'attr': {'class': ''}}) }}
    <div class="panel">
        <div class="header">
            <h4>Kopieren {{ queue.name }}</h4>
        </div>
        <div class="body">

            <div class="row">
                <div class="col-md-6">
                    <div class="row mb-3">
                        <label class="col-md-5 form-control-label">{{ form_label(form.which) }}</label>
                        <div class="col-md-7">

                            {{ form_widget(form.which) }}

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">

                <div class="col-md-6">
                    <div class="row mb-3">
                        <label class="col-md-5 form-control-label">{{ form_label(form.shops) }}</label>
                        <div class="col-md-7">
                            {{ form_widget(form.shops) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="body">
            <div class="row mb-3">
                <div class="col-md-offset-1 col-md-11">
                    {{ form_widget(form.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}

</div>
{% endblock %}
