{% extends 'backend_base.html.twig' %}

{% block body %}

<div class="header">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h3>
                <i class="fa-fw fa fa-tasks"></i>
                Aktionen <span>>
                erzeugen </span>
            </h3>
        </div>
    </div>
</div>
<div class="body">
    {{ form_start(form, { 'attr': {'class': ''}}) }}
    <div class="panel">
        <div class="header">
            <h4>Allgemeines</h4>
        </div>
        <div class="body">

            <div class="row">
                <div class="col-md-4">
                    <div class="row mb-3">
                        <label class="col-md-3 form-control-label">{{ form_label(form.name) }}</label>
                        <div class="col-md-9">
                            {{ form_widget(form.name) }}
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row mb-3">
                        <label class="col-md-4 form-control-label">{{ form_label(form.active) }}</label>
                        <div class="col-md-4">
                            <div class="checkbox">
                                {{ form_widget(form.active) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="row mb-3">
                        <label class="col-md-3 form-control-label">{{ form_label(form.pos) }}</label>
                        <div class="col-md-3">
                            {{ form_widget(form.pos) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row mb-3">
                        <label class="col-md-1 form-control-label">{{ form_label(form.eventType) }}</label>
                        <div class="col-md-11">
                            {{ form_widget(form.eventType) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if queue.getTemplate %}
    {{ include(queue.getTemplate, { 'form': form }) }}
    {% endif %}
    <div class="panel">
        <div class="body">
            <div class="row mb-3">
                <div class="col-md-offset-1 col-md-11">
                    {{ form_widget(form.submit, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>
{% endblock %}
