{% extends 'backend_base.html.twig' %}
{% trans_default_domain 'core_order_detail' %}
{% block body %}
<style>
span.row {
    margin-bottom: 5px;
}
</style>
    <div class="header">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-shopping-cart"></i>
                    {{'order'|trans}} <span>>
                    {{'detail'|trans}} </span> {{ order.alias }}
                </h3>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-end">
                <a href="{{ path("psc_shop_order_backend_list_index") }}" class="btn btn-default btn-sm"><i class="fa fa-lg fa-fw fa-arrow-left"></i> {{'back'|trans}}</a>
            </div>
        </div>
    </div>

    <div class="body">
        <div class="panel">
            <div class="body">
                <a target="_blank" href="{{ path("psc_shop_order_backend_detail_package_download", {uuid: order.uuid}) }}" class="btn btn-default btn-sm"><i class="fa fa-save"></i> {{'package'|trans}}</a>
                {% if shop.docOfferJasperXml != "" %}<a target="_blank" href="{{ path('psc_shop_order_backend_detail_print', { uuid: order.uuid, type: 5}) }}" class="btn btn-default btn-sm"><i class="fa fa-cloud-download"></i> {{'offer'|trans}}</a>{% endif %}
                {% if shop.docOrderJasperXml != "" %}<a target="_blank" href="{{ path('psc_shop_order_backend_detail_print', { uuid: order.uuid, type: 4}) }}" class="btn btn-default btn-sm"><i class="fa fa-cloud-download"></i> {{'order'|trans}}</a>{% endif %}
                {% if shop.docInvoiceJasperXml != "" %}<a target="_blank" href="{{ path('psc_shop_order_backend_detail_print', { uuid: order.uuid, type: 1}) }}" class="btn btn-default btn-sm"><i class="fa fa-cloud-download"></i> {{'invoice'|trans}}</a>{% endif %}
                {% if shop.docDeliveryJasperXml != "" %}<a target="_blank" href="{{ path('psc_shop_order_backend_detail_print', { uuid: order.uuid, type: 2}) }}" class="btn btn-default btn-sm"><i class="fa fa-cloud-download"></i> {{'deliverynote'|trans}}</a>{% endif %}
                {% if shop.docLabelJasperXml != "" %}<a target="_blank" href="{{ path('psc_shop_order_backend_detail_print', { uuid: order.uuid, type: 3}) }}" class="btn btn-default btn-sm"><i class="fa fa-cloud-download"></i> {{'labels'|trans}}</a>{% endif %}
                {% if shop.docJobticketJasperXml != "" %}<a target="_blank" href="{{ path('psc_shop_order_backend_detail_print', { uuid: order.uuid, type: 7}) }}" class="btn btn-default btn-sm"><i class="fa fa-cloud-download"></i> {{'jobticket'|trans}}</a>{% endif %}
                {% if shop.docStornoJasperXml != "" %}<a target="_blank" href="{{ path('psc_shop_order_backend_detail_print', { uuid: order.uuid, type: 6}) }}" class="btn btn-default btn-sm"><i class="fa fa-cloud-download"></i> {{'cancel'|trans}}</a>{% endif %}
           </div>
        </div>
        <!--<div class="panel">
            <div class="body">
                <a href="{{ path("psc_shop_communication_backend_order_mail", {uuid: order.uuid}) }}" class="btn btn-default btn-sm"><i class="fa fa-lg fa-fw fa-paper-plane"></i> Kunde kontaktieren</a>
            </div>
        </div>-->
        <div class="row">
            <div class="col-md-4">
                <div class="panel">
                    <div class="header">
                        <h4>{{'order'|trans}} {{ order.alias }}</h4>
                    </div>
                    <div class="body">
                        <span class="row"><span class="col-5">{{'paymentmethod'|trans}}:</span><span class="col-7">{{ order.getPaymentType.getTitle() }}</span></span>
                        <span class="row"><span class="col-5">{{'payment'|trans}}:</span><span class="col-7">{{ orderObj.paymentRef }}</span></span>
                        <span class="row"><span class="col-5">{{'shippingmethod'|trans}}:</span><span class="col-7">{{ order.getShippingType.getTitle() }}</span></span>
                        <span class="row"><span class="col-5">{{'sendDataToShipping'|trans}}:</span><span class="col-7">{% if orderObj.sendDataToShipping %}{{'yes'|trans}}{% else %}{{'no'|trans}}{% endif %}</span></span>
                        <span class="row"><span class="col-5">{{'weight'|trans}}:</span><span class="col-7">{{ order.weight }}</span></span>
                        <span class="row"><span class="col-5">{{'shoppingcartfield1'|trans}}:</span><span class="col-7">{{ order.basketfield1 }}</span></span>
                        <span class="row"><span class="col-5">{{'shoppingcartfield2'|trans}}:</span><span class="col-7">{{ order.basketfield2 }}</span></span>
                        {% if order.gutschein %}<span class="row"><span class="col-5">{{'coupon'|trans}}:</span><span class="col-7">{{ order.gutscheinAbzug }} ({{ order.gutschein}})</span></span>{% endif %}
                        <span class="row"><span class="col-5">{{'shippingCost'|trans}}:</span><span class="col-7">{{ order.versandKosten|number_format(2, ',', '.') }}€</span></span>
                        <span class="row"><span class="col-5">{{'paymentCost'|trans}}:</span><span class="col-7">{{ order.zahlKosten|number_format(2, ',', '.') }}€</span></span>
                        <span class="row"><span class="col-5">{{'netto'|trans}}:</span><span class="col-7">{{ order.netto|number_format(2, ',', '.') }}€</span></span>
                        <span class="row"><span class="col-5">{{'vat'|trans}}:</span><span class="col-7">{{ order.steuer|number_format(2, ',', '.') }}€</span></span>
                        <span class="row"><span class="col-5">{{'brutto'|trans}}:</span><span class="col-7">{{ order.brutto|number_format(2, ',', '.') }}€</span></span>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel">
                    <div class="header">
                        <h4>Status</h4>
                    </div>
                    <div class="body">
<span class="row"><span class="col-3">{{'orderdate'|trans}}:</span><span class="col-9">{{ order.created|date('d.m.Y H:i:s') }}</span></span>
                        {{ form_start(formStatus, { 'attr': {'class': ''}}) }}
                        {{ form_errors(formStatus) }}
                        <div class="row mb-3">
                            <label class="col-md-3 form-control-label">
                                {{'Packageexported'|trans}}?
                            </label>
                            <div class="col-md-9">
                                {% if orderObj.packageExported %}<span class="badge bg-warning">{{'yes'|trans}}</span> <a href="{{ path("psc_shop_order_backend_change_exported", {uuid: order.uuid}) }}" class="btn btn-sm btn-warning">{{'Generateagain'|trans}}</a>{% else %}<span class="badge bg-secondary">{{'no'|trans}}</span> <a href="{{ path("psc_shop_order_backend_change_exported", {uuid: order.uuid}) }}" class="btn btn-sm btn-default">{{'Generateagain'|trans}}</a>{% endif %}

                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-3 form-control-label">
                            {{ form_label(formStatus.package) }}
                            </label>
                            <div class="col-md-9">
                                {{ form_widget(formStatus.package, {attr: {class:'form-control'}}) }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-3 form-control-label">
                            {{ form_label(formStatus.status) }}
                            </label>
                            <div class="col-md-9">
                                {{ form_widget(formStatus.status, {attr: {class:'form-control'}}) }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-offset-3 col-md-9">
                                {{ form_widget(formStatus.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                            </div>
                        </div>
                        {{ form_end(formStatus) }}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel">
                    <div class="header">
                        <h4>Kunde</h4>
                    </div>
                    <div class="body">
                        <span class="row"><span class="col-5">{{'username'|trans}}:</span><span class="col-7"><a href="mailto:{{ order.contact.username }}">{{ order.contact.username }}</a></span></span>
                        <span class="row"><span class="col-5">{{'Name'|trans}}:</span><span class="col-7"><a href="{{ path("psc_shop_contact_backend_edit", {uuid: order.contact.uuid}) }}">{{ order.contact.firstname }} {{ order.contact.lastname }}</a></span></span>
                        <span class="row"><span class="col-5">{{'company'|trans}}:</span><span class="col-7"><a href="{{ path("psc_shop_account_backend_edit", {uuid: order.account.uid}) }}">{{ order.contact.account.title }}</a></span></span>
                        <span class="row"><span class="col-5">{{'guest'|trans}}:</span><span class="col-7">{% if order.contact.virtual == 1 %}<span class="badge bg-warning">{{'yes'|trans}}</span>{% else %}<span class="badge bg-secondary">{{'no'|trans}}</span>{% endif %}</span></span>

                    </div>
                </div>
                <div class="panel">
                    <div class="body">
                        <a href="{{ path("psc_shop_order_backend_create_new_order_status", {uuid: order.uuid}) }}" class="btn btn-sm btn-warning">{{'generateNewAuftragQueue'|trans}}</a>
                        <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteOrderModal">
                            {{ 'deleteOrder'|trans }}
                        </button>


                    </div>
                </div>
            </div>
        </div>

        {% for customSection in customSections %}
            {% if customSection.getController %}
                {{ render(controller(
                    customSection.getController,
                    {'order': order, 'orderDoc': orderObj}
                )) }}
            {% endif %}
        {% endfor %}

        <div class="panel">
            <div class="header">
                <h4>{{'addresses'|trans}}</h4>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-md-4">
                        <h5>{{'billingaddress'|trans}}</h5>

                        {{ form_start(formInvoice, { 'attr': {'class': ''}}) }}
                        {{ form_errors(formInvoice) }}

                        <div class="row mb-3">
                            <label class="col-md-2 form-control-label">
                                {{ form_label(formInvoice.company) }}
                            </label>
                            <div class="col-md-10">
                                {{ form_widget(formInvoice.company) }}
                            </div>
                            {{ form_errors(formInvoice.company) }}
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-2 form-control-label">
                                {{ form_label(formInvoice.company2) }}
                            </label>
                            <div class="col-md-10">
                                {{ form_widget(formInvoice.company2) }}
                            </div>
                            {{ form_errors(formInvoice.company2) }}
                        </div>

                        <div class="row mb-3">
                            <label class="col-md-2 form-control-label">
                                {{ form_label(formInvoice.firstname) }}
                            </label>
                            <div class="col-md-10">
                                {{ form_widget(formInvoice.firstname) }}
                            </div>
                            {{ form_errors(formInvoice.firstname) }}
                        </div>

                        <div class="row mb-3">
                            <label class="col-md-2 form-control-label">
                                {{ form_label(formInvoice.lastname) }}
                            </label>
                            <div class="col-md-10">
                                {{ form_widget(formInvoice.lastname) }}
                            </div>
                            {{ form_errors(formInvoice.lastname) }}
                        </div>

                        <div class="row mb-3">
                            <label class="col-md-2 form-control-label">
                                {{ form_label(formInvoice.email) }}
                            </label>
                            <div class="col-md-10">
                                {{ form_widget(formInvoice.email) }}
                            </div>
                            {{ form_errors(formInvoice.email) }}
                        </div>

                        <div class="row mb-3">
                            <label class="col-md-2 form-control-label">
                                {{ form_label(formInvoice.phone) }}
                            </label>
                            <div class="col-md-10">
                                {{ form_widget(formInvoice.phone) }}
                            </div>
                            {{ form_errors(formInvoice.phone) }}
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-2 form-control-label">
                                {{'zip'|trans}}/{{'city'|trans}}/{{'country'|trans}}
                            </div>
                            <div class="col-md-3">
                                {{ form_widget(formInvoice.zip) }}
                            </div>
                            <div class="col-md-5">
                                {{ form_widget(formInvoice.city) }}
                            </div>
                            <div class="col-md-2">
                                {{ form_widget(formInvoice.country) }}
                            </div>

                        </div>

                        <div class="row mb-3">
                            <div class="col-md-2 form-control-label">
                                {{'street'|trans}}/{{'houseNumber'|trans}}
                            </div>
                            <div class="col-md-8">
                                {{ form_widget(formInvoice.street) }}
                            </div>

                            <div class="col-md-2">
                                {{ form_widget(formInvoice.houseNumber) }}
                            </div>

                        </div>

                        <div class="row mb-3">
                            <div class="col-md-offset-2 col-md-10">
                                {{ form_widget(formInvoice.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                            </div>
                        </div>
                        {{ form_end(formInvoice) }}
                    </div>
                    <div class="col-md-4">
                        <h5>{{'shippingaddress'|trans}}</h5>

                        {{ form_start(formDelivery, { 'attr': {'class': ''}}) }}
                        {{ form_errors(formDelivery) }}

                        <div class="row mb-3">
                            <label class="col-md-2 form-control-label">
                                {{ form_label(formDelivery.company) }}
                            </label>
                            <div class="col-md-10">
                                {{ form_widget(formDelivery.company) }}
                            </div>
                            {{ form_errors(formDelivery.company) }}
                        </div>

                        <div class="row mb-3">
                            <label class="col-md-2 form-control-label">
                                {{ form_label(formDelivery.company2) }}
                            </label>
                            <div class="col-md-10">
                                {{ form_widget(formDelivery.company2) }}
                            </div>
                            {{ form_errors(formDelivery.company2) }}
                        </div>

                        <div class="row mb-3">
                            <label class="col-md-2 form-control-label">
                                {{ form_label(formDelivery.firstname) }}
                            </label>
                            <div class="col-md-10">
                                {{ form_widget(formDelivery.firstname) }}
                            </div>
                            {{ form_errors(formDelivery.firstname) }}
                        </div>

                        <div class="row mb-3">
                            <label class="col-md-2 form-control-label">
                                {{ form_label(formDelivery.lastname) }}
                            </label>
                            <div class="col-md-10">
                                {{ form_widget(formDelivery.lastname) }}
                            </div>
                            {{ form_errors(formDelivery.lastname) }}
                        </div>

                        <div class="row mb-3">
                            <label class="col-md-2 form-control-label">
                                {{ form_label(formDelivery.email) }}
                            </label>
                            <div class="col-md-10">
                                {{ form_widget(formDelivery.email) }}
                            </div>
                            {{ form_errors(formDelivery.email) }}
                        </div>

                        <div class="row mb-3">
                            <label class="col-md-2 form-control-label">
                                {{ form_label(formDelivery.phone) }}
                            </label>
                            <div class="col-md-10">
                                {{ form_widget(formDelivery.phone) }}
                            </div>
                            {{ form_errors(formDelivery.phone) }}
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-2 form-control-label">
                                {{'zip'|trans}}/{{'city'|trans}}/{{'country'|trans}}
                            </div>
                            <div class="col-md-3">
                                {{ form_widget(formDelivery.zip) }}
                            </div>
                            <div class="col-md-5">
                                {{ form_widget(formDelivery.city) }}
                            </div>
                            <div class="col-md-2">
                                {{ form_widget(formDelivery.country) }}
                            </div>

                        </div>

                        <div class="row mb-3">
                            <div class="col-md-2 form-control-label">
                                {{'street'|trans}}/{{'houseNumber'|trans}}
                            </div>
                            <div class="col-md-8">
                                {{ form_widget(formDelivery.street) }}
                            </div>

                            <div class="col-md-2">
                                {{ form_widget(formDelivery.houseNumber) }}
                            </div>

                        </div>

                        <div class="row mb-3">
                            <div class="col-md-offset-2 col-md-10">
                                {{ form_widget(formDelivery.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                            </div>
                        </div>
                        {{ form_end(formDelivery) }}
                    </div>
                    <div class="col-md-4">
                        <h5>{{'senderaddress'|trans}}</h5>

                            {{ form_start(formSender, { 'attr': {'class': ''}}) }}
                            {{ form_errors(formSender) }}

                            <div class="row mb-3">
                                <label class="col-md-2 form-control-label">
                                    {{ form_label(formSender.company) }}
                                </label>
                                <div class="col-md-10">
                                    {{ form_widget(formSender.company) }}
                                </div>
                                {{ form_errors(formSender.company) }}
                            </div>

                            <div class="row mb-3">
                                <label class="col-md-2 form-control-label">
                                    {{ form_label(formSender.company2) }}
                                </label>
                                <div class="col-md-10">
                                    {{ form_widget(formSender.company2) }}
                                </div>
                                {{ form_errors(formSender.company2) }}
                            </div>

                            <div class="row mb-3">
                                <label class="col-md-2 form-control-label">
                                    {{ form_label(formSender.firstname) }}
                                </label>
                                <div class="col-md-10">
                                    {{ form_widget(formSender.firstname) }}
                                </div>
                                {{ form_errors(formSender.firstname) }}
                            </div>

                            <div class="row mb-3">
                                <label class="col-md-2 form-control-label">
                                    {{ form_label(formSender.lastname) }}
                                </label>
                                <div class="col-md-10">
                                    {{ form_widget(formSender.lastname) }}
                                </div>
                                {{ form_errors(formSender.lastname) }}
                            </div>

                            <div class="row mb-3">
                                <label class="col-md-2 form-control-label">
                                    {{ form_label(formSender.email) }}
                                </label>
                                <div class="col-md-10">
                                    {{ form_widget(formSender.email) }}
                                </div>
                                {{ form_errors(formSender.email) }}
                            </div>

                            <div class="row mb-3">
                                <label class="col-md-2 form-control-label">
                                    {{ form_label(formSender.phone) }}
                                </label>
                                <div class="col-md-10">
                                    {{ form_widget(formSender.phone) }}
                                </div>
                                {{ form_errors(formSender.phone) }}
                            </div>

                            <div class="row mb-3">
                                <div class="col-md-2 form-control-label">
                                    {{'zip'|trans}}/{{'city'|trans}}/{{'country'|trans}}
                                </div>
                                <div class="col-md-3">
                                    {{ form_widget(formSender.zip) }}
                                </div>
                                <div class="col-md-5">
                                    {{ form_widget(formSender.city) }}
                                </div>
                                <div class="col-md-2">
                                    {{ form_widget(formSender.country) }}
                                </div>

                            </div>

                            <div class="row mb-3">
                                <div class="col-md-2 form-control-label">
                                    {{'street'|trans}}/{{'houseNumber'|trans}}
                                </div>
                                <div class="col-md-8">
                                    {{ form_widget(formSender.street) }}
                                </div>

                                <div class="col-md-2">
                                    {{ form_widget(formSender.houseNumber) }}
                                </div>

                            </div>

                            <div class="row mb-3">
                                <div class="col-md-offset-2 col-md-10">
                                    {{ form_widget(formSender.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                                </div>
                            </div>
                            {{ form_end(formSender) }}

                    </div>

                </div>
            </div>
        </div>
        <div class="panel">
            <div class="header">
                <h4>{{'positions'|trans}}</h4>
            </div>
            <div class="body">
                <table class="table table-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th>{{'Pos'|trans}}</th>
                        <th>{{'name'|trans}}</th>
                        <th>{{'wkpos1'|trans}}</th>
                        <th>{{'wkpos2'|trans}}</th>
                        <th>{{'properties'|trans}}</th>
                        <th>{{'status'|trans}}</th>
                        <th>{{'netto'|trans}}</th>
                        <th>{{'vat'|trans}}</th>
                        <th>{{'brutto'|trans}}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for pos in positions %}
                        <tr>
                            <td>{{ pos.obj.pos }}</td>

                            <td><a href="{{ path('backend_production_product_edit', {uuid: pos.obj.product.uuid}) }}">{{ pos.obj.product.title }}</a><br/>ArtNr intern: {{ pos.obj.product.nrIntern }}<br/>{{ 'weight'|trans }}: {{pos.obj.weight }}</td>
                            <td>{{ pos.obj.basketfield1 }}</td>
                            <td>{{ pos.obj.basketfield2 }}</td>
                            <td></td>
                            <td><div class="btn-group btn-group-sm">
                                    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ orderStatuse.getPosStatusText(pos.obj.status) }}
                                    </button>
                                    <div class="dropdown-menu">
                                        {% for status in orderStatuse.getOrderPosStatuse %}
                                            <a class="dropdown-item" href="{{ path("psc_shop_order_backend_detail_switchposstatus", {order: order.uuid, pos: pos.obj.uuid, status: status.code}) }}">{{ status.internalName|trans({}, 'status') }}</a>
                                        {% endfor %}
                                    </div>
                                </div></td>
                            <td>{{ pos.obj.priceAllNetto|number_format(2, ',', '.') }}€</td>
                            <td>{{ pos.obj.priceAllSteuer|number_format(2, ',', '.') }}€</td>
                            <td>{{ pos.obj.priceAllBrutto|number_format(2, ',', '.') }}€</td>
                            <td>
                                {% if pos.obj.layouterMode == 4 and pos.objDoc %}<a target="_blank" href="/apps/steplayouter/index.html#/!?theme={{ shop.layouterTheme }}&article_uuid={{ pos.objDoc.layouterId }}&loadProduct=1&backendMode=1&shop_uuid={{ order.shop.uuid }}{% if order.shop.install.uid == 7 %}&theme=dp{% endif %}" class="btn btn-info btn-sm"><span class="fa fa-archive"></span> Layouter öffnen</a>{% endif %}
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td><ul>
                                    {% if pos.objCalc %}
                                        {% for opt in pos.objCalc.getOptions %}
                                            {% if opt is not instanceof('\\PSC\\Library\\Calc\\Option\\Type\\Hidden') and opt.isValid() %}
                                                <li>{{ opt.name }}: {{ opt.value }}</li>
                                            {% endif %}
                                        {% endfor %}
                                    {% endif %}
                                </ul>
                            </td>
                            <td colspan="5"><div class="row"><div class="col-6">{{ form_start(pos.formProd) }}{{ form_widget(pos.formProd.printPartnerEmail) }}{{ form_rest(pos.formProd) }}</div><div class="col-6"><button class="btn btn-info btn-sm" type="submit">Printpartner benachrichtigen</button></div>{{ form_end(pos.formProd) }}<br /><br /><div class="col-6">{{ form_start(pos.formProdinfo) }}{{ form_widget(pos.formProdinfo.customerInfo) }}{{ form_rest(pos.formProdinfo) }}</div><div class="col-6"><button class="btn btn-info btn-sm" type="submit">Dem Kunden zeigen</button></div>{{ form_end(pos.formProdinfo) }}</td>
                        </tr>
                        <tr>
                            <td colspan="10">
                                {% if shop.docOfferPosition != "" %}<a target="_blank" href="{{ path('psc_shop_order_backend_detail_print_pos', { uuid: order.uuid, posuuid: pos.obj.uuid, type: 5}) }}" class="btn btn-default btn-sm"><i class="fa fa-cloud-download"></i> {{'offer'|trans}}</a>{% endif %}
                                {% if shop.docOrderPosition != "" %}<a target="_blank" href="{{ path('psc_shop_order_backend_detail_print_pos', { uuid: order.uuid, posuuid: pos.obj.uuid, type: 4}) }}" class="btn btn-default btn-sm"><i class="fa fa-cloud-download"></i> {{'order'|trans}}</a>{% endif %}
                                {% if shop.docInvoicePosition != "" %}<a target="_blank" href="{{ path('psc_shop_order_backend_detail_print_pos', { uuid: order.uuid, posuuid: pos.obj.uuid, type: 1}) }}" class="btn btn-default btn-sm"><i class="fa fa-cloud-download"></i> {{'invoice'|trans}}</a>{% endif %}
                                {% if shop.docDeliveryPosition != "" %}<a target="_blank" href="{{ path('psc_shop_order_backend_detail_print_pos', { uuid: order.uuid, posuuid: pos.obj.uuid, type: 2}) }}" class="btn btn-default btn-sm"><i class="fa fa-cloud-download"></i> {{'deliverynote'|trans}}</a>{% endif %}
                                {% if shop.docLabelPosition != "" %}<a target="_blank" href="{{ path('psc_shop_order_backend_detail_print_pos', { uuid: order.uuid, posuuid: pos.obj.uuid, type: 3}) }}" class="btn btn-default btn-sm"><i class="fa fa-cloud-download"></i> {{'labels'|trans}}</a>{% endif %}
                                {% if shop.docJobticketPosition != "" %}<a target="_blank" href="{{ path('psc_shop_order_backend_detail_print_pos', { uuid: order.uuid, posuuid: pos.obj.uuid, type: 7}) }}" class="btn btn-default btn-sm"><i class="fa fa-cloud-download"></i> {{'jobticket'|trans}}</a>{% endif %}
                                {% if shop.docStornoPosition != "" %}<a target="_blank" href="{{ path('psc_shop_order_backend_detail_print_pos', { uuid: order.uuid, posuuid: pos.obj.uuid, type: 6}) }}" class="btn btn-default btn-sm"><i class="fa fa-cloud-download"></i> {{'cancel'|trans}}</a>{% endif %}
                            </td>
                        </tr>
                        <tr class="table-warning">
                            <td colspan="10" style="background-color: #EA641b"> </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="deleteOrderModal" tabindex="-1" aria-labelledby="deleteOrderModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteOrderModalLabel">{{ 'deleteOrder'|trans }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>{{ 'deleteOrderRecovery'|trans }}</p>
                    <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteOrderReallyModal">
                        {{ 'deleteOrderReally'|trans }}
                    </button>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">{{ 'close'|trans }}</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteOrderReallyModal" tabindex="-1" aria-labelledby="deleteOrderReallyModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteOrderReallyModalLabel">{{ 'deleteOrderReally'|trans }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>{{ 'deleteOrderRecoveryReally'|trans }}</p>

                    <a href="{{ path('psc_shop_order_backend_detail_delete', {uuid: order.uuid}) }}" class="btn btn-sm btn-danger">{{ 'deleteOrderReallyReally'|trans }}</a>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-sm btn-secondary" data-bs-dismiss="modal">{{ 'close'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
