<div class="tools panel panel-default check-element animate-show" ng-show="show">

    <button type="button" id="addMotiv" style="margin-bottom: 1px" class="btn btn-default btn-sm" ng-controller="MotivCtrl" ng-click="selectMotivMethod()"><span class="fa fa-picture-o"></span> Foto hinzufügen</button>
    <button type="button" id="addText" class="btn btn-default btn-sm" ng-click="addText()"><span class="fa fa-font"></span> Text hinzufügen</button>

    <div class="editTools editTextTools check-element animate-show" ng-show="showTextTools">
        <h6>Text</h6>
        <h6>Bitte in das Textfeld klicken</h6>
        <div class="btn-group">
            <ui-select ng-model="settings.font" on-select="selectFont($item, $model)" theme="bootstrap" style="width: 150px;">
                <ui-select-match style="font-family: {{ settings.font }}">{{settings.font}}</ui-select-match>
                <ui-select-choices repeat="font in fonts">
                    <div style="font-family: {{ font.name }}" >{{ font.name }}</div>
                </ui-select-choices>
            </ui-select>
        </div>
        <div class="btn-group">
            <button colorpicker colorpicker-position="left" class="btn btn-success btn-sm" ng-model="settings.color">Farbe</button>
        </div>

        <input type="text" ng-change="selectSize()" ng-model="settings.size" name="tools_size" value="{{settings.size}}" id="tools_size"/>
        Größe: <input type="text" ng-model="settings.size" value="{{settings.size}}" size="3" name="tool_size_raw" id="tool_size_raw"/>

        <div class="row" style="clear: both;margin-top: 5px">
            <div class="col-xs-6" style="padding-right: 0;">
                <div class="btn-group">
                    <button type="button" ng-click="selectBold()" class="btn btn-default btn-xs" ng-class="settings.bold" ng-disabled="!settings.showBold"><span class="fa fa-bold"></span></button>
                    <button type="button" ng-click="selectItalic()" class="btn btn-default btn-xs" ng-class="settings.italic" ng-disabled="!settings.showItalic"><span class="fa fa-italic"></span></button>
                    <button type="button" ng-click="selectUnderline()" class="btn btn-default btn-xs" ng-class="settings.underline"><span class="fa fa-underline"></span></button>
                </div>
            </div>
            <div class="col-xs-6" style="padding-left: 0;">
                <div class="btn-group">
                    <button type="button" ng-click="selectAlignLeft()" class="btn btn-default btn-xs" ng-class="settings.alignLeft"><span class="fa fa-align-left"></span></button>
                    <button type="button" ng-click="selectAlignCenter()" class="btn btn-default btn-xs" ng-class="settings.alignCenter"><span class="fa fa-align-center"></span></button>
                    <button type="button" ng-click="selectAlignRight()" class="btn btn-default btn-xs" ng-class="settings.alignRight"><span class="fa fa-align-right"></span></button>
                </div>
            </div>
        </div>
    </div>
    <div class="editTools editMotivTools check-element animate-show" ng-show="showMotivTools">
        <h6>Motiv</h6>
        <div class="btn-group">
            <button type="button" class="btn btn-default" ng-controller="MotivCtrl" ng-click="selectMotivEditMethod()"><span class="fa fa-picture-o"></span> Motiv ändern</button>
        </div>

    </div>
    <div class="editTools check-element animate-show" ng-show="showTools">
        <h6>Ebenen verschieben</h6>
        <div class="btn-group">
            <button type="button" ng-click="onTop()" class="btn btn-default btn-sm"><span class="icon-bring-to-front"></span></button>
            <button type="button" ng-click="moveForward()" class="btn btn-default btn-sm"><span class="icon-bring-forward"></span></button>
            <button type="button" ng-click="moveBack()" class="btn btn-default btn-sm"><span class="icon-send-backwards"></span></button>
            <button type="button" ng-click="onBottom()" class="btn btn-default btn-sm"><span class="icon-send-to-back"></span></button>
        </div>
        <div class="btn-group">
            <button type="button" ng-click="deleteElement()" class="btn btn-danger btn-sm"><span class="fa fa-ban"></span> Löschen</button>
        </div>
    </div>
</div>