{% extends 'backend_plugin.html.twig' %}

{% block body %}
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <div class="row header {% if test %}bg-danger{% endif %}">
        <div class="col-md-8">
            <h4>
                 <span id="productTitle"></span> {% if test %}<span class="bg-danger">TESTMODUS</span>{% endif %}
            </h4>
        </div>
        <div class="col-md-4 text-end">

                <a href="{{ path("backend_production_product_edit", {uuid: product}) }}" class="btn btn-default btn-sm"><i class="fas fa-arrow-left"></i> Zurück</a>

        </div>
    </div>
</header>
<div class="row" style="margin-top: 55px">
    <div class="col-6">
        <div class="card d-flex">
            <div class="card-header">
                CalcXml Produkt (Suche mit CRTL + F)
                <div class="btn-group float-end" role="group">
                    <button type="submit" id="saveCalcXml" class="btn btn-success btn-sm">Speichern</button> <button type="button" data-id="calcXmlEditor" class="openFullScreen btn btn-primary btn-sm "><i class="fas fa-arrows-alt"></i></button>
                </div>
            </div>
            <div class="editor" id="calcXmlEditor"></div>
        </div>
        <div class="row">
            <div class="col-8" id="calc">
                <div class="card mt-1 d-flex">
                    <div class="card-header">Kalkulation</div>
                    <form id="CALCFORM" class="p-2"></form>
                    <button class="btn btn-primary m-2" id="calcButton" type="button" disabled>
                        <span class="spinner-border spinner-border-sm d-none" role="status" aria-hidden="true"></span>
                        Kalkulieren
                    </button>
                </div>
            </div>
            <div class="col-4">
                <div class="card mt-1 p-2 d-flex">
                    <h6>Netto: <span id="netto"></span></h6>
                    <h6>MwSt: <span id="mwert"></span></h6>
                    <h6>Brutto: <span id="brutto"></span></h6>
                </div>
                <div class="card mt-1">
                    <div class="card-header">
                        {{'Kalkuations Status'|trans}}
                    </div>
                    <div id="calcStatus" class="p-2">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
           <div class="card mt-1">
                <div class="card-header">{{'Formeln'|trans }}</div>
                <div id="formels" class="p-2"></div>
            </div>
            <div class="card mt-1">
                <div class="card-header">{{'CalcValues'|trans}}</div>
                <div id="calcValues" class="p-2"></div>
            </div>
            <div class="card mt-1">
                <div class="card-header">{{'Pauschale'|trans}}</div>
                <div id="flatPrice" class="p-2"></div>
            </div>
            <div class="card mt-1">
                <div class="card-header">{{'Preis'|trans}}</div>
                <div id="price" class="p-2"></div>
            </div>
            <div class="card mt-1">
                <div class="card-header">{{'Vorkalkulation'|trans}}</div>
                <div id="preCalc" class="p-2 row"></div>
            </div>
       </div>
    </div>
    <div class="col-3">
        <div class="card d-flex">
            <div class="card-header">
                Formel (Shop)
                    <div class="btn-group float-end" role="group">
                        <button type="submit" id="saveFormelXml" class="btn btn-success btn-sm">Speichern</button> <button type="button" data-id="calcFormelEditor" class="openFullScreen btn btn-primary btn-sm "><i class="fas fa-arrows-alt"></i></button>
                    </div>
            </div>
            <div class="editor" id="calcFormelEditor"></div>
        </div>
        <div class="card mt-1 d-flex">
            <div class="card-header">
                Parameter (Shop)
                    <div class="btn-group float-end" role="group">
                        <button type="submit" id="saveParamXml" class="btn btn-success btn-sm">Speichern</button> <button type="button" data-id="calcParameterEditor" class="openFullScreen btn btn-primary btn-sm "><i class="fas fa-arrows-alt"></i></button>
                    </div>
            </div>
            <div class="editor" id="calcParameterEditor"></div>
        </div>
    </div>
    <div class="col-3">
        <div class="card d-flex">
            <div class="card-header">
                PapierDB (System)
                    <div class="btn-group float-end" role="group">
                        <button type="submit" id="savePaperDB" class="btn btn-success btn-sm">Speichern</button> <button type="button" data-id="calcPaperContainerEditor" class="openFullScreen btn btn-primary btn-sm "><i class="fas fa-arrows-alt"></i></button>
                    </div>
            </div>
            <div class="editor" id="calcPaperContainerEditor"></div>
        </div>
        <div class="card mt-1 d-flex">
            <div class="card-header">
                CalcTemplates (Shop)
                    <div class="btn-group float-end" role="group">
                        <button type="submit" id="saveCalcCalcTemplates" class="btn btn-success btn-sm">Speichern</button> <button type="button" data-id="calcTemplatesEditor" class="openFullScreen btn btn-primary btn-sm "><i class="fas fa-arrows-alt"></i></button>
                    </div>
            </div>
            <div class="editor" id="calcTemplatesEditor"></div>
        </div>
    </div>
</div>
<style>
.editor {
        width: 100%;
        height: 400px;
    }

.card-fullscreen {
    display: block;
    z-index: 9999;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow: auto;
}
</style>

{% endblock %}

{% block javascripts %}
{{ parent() }}

{% autoescape 'js' %}
<script>

$(function() {
    var productUUId = "{{product}}";
    var testMode = {% if test %}true{%else%}false{%endif%};

    loadProduct(productUUId, testMode);
 	calc(productUUId, testMode);
    $('#calcButton').click(function() {
        calc(productUUId, testMode);
    });

    $('.openFullScreen').click(function(){
        makeFullScreen($(this).data("id"));
    });
});

function makeFullScreen(id) {
    card = $('#' + id).parent();
    
    editorElm = $('#' + id);
    
    if(card.hasClass("card-fullscreen")) {
        editorElm.height(editorElm.data('height'));
    }else{
        if(typeof card.data('height') === 'undefined') {
            editorElm.data('height', editorElm.height());
        }
        editorElm.height('100%');
   }
    
    card.toggleClass("card-fullscreen");
    card.css('display', 'flex');
    editor = ace.edit(id);
    editor.resize();
    return;
};

function saveCalcXml(productUUId, testMode) {
    editor = ace.edit("calcXmlEditor");
    $.ajax({
        url: "/apps/api/plugin/system/psc/xmlcalc/product/" + productUUId,
        contentType: "application/json",
        headers: {
            "Authorization": "Bearer {{jwt}}"
        },
        method: 'PUT',
        data: JSON.stringify({
            calcXml: editor.getValue()        
        }),
        success: function(result) {
            calc(productUUId, testMode);
        }
    })
}
function saveFormelXml(productUUId, shopUUId, testMode) {
    editorFormel = ace.edit("calcFormelEditor");
    editorParam = ace.edit("calcParameterEditor");

    if(testMode) {
        data = {
            formelTest: editorFormel.getValue(),
            parameterTest: editorParam.getValue()
        }
    }else{
        data = {
            formel: editorFormel.getValue(),
            parameter: editorParam.getValue()
        }
    }

    $.ajax({
        url: "/apps/api/plugin/system/psc/xmlcalc/shop/" + shopUUId,
        contentType: "application/json",
        headers: {
            "Authorization": "Bearer {{jwt}}"
        },
        method: 'PUT',
        data: JSON.stringify(data),
        success: function(result) {
            calc(productUUId, testMode);
        }
    })
}

function loadProduct(productUUId, testMode) {
    $.ajax({
        url: "/apps/api/product/" + productUUId,
        success: function(result) {
            $('#productTitle').html(result.title);

            loadProductCalcXml(productUUId, testMode);
            loadFormelAndParameter(productUUId, result.shopUUId, testMode);
            loadPaperContainer(productUUId, testMode);
            loadCalcTemplates(productUUId, result.shopUUId, testMode);
        }
    });
}
function loadPaperContainer(productUUId, testMode) {
    $.ajax({
        url: "/apps/api/system/papercontainer",
        headers: {
            "Authorization": "Bearer {{jwt}}"
        },
        success: function(result) {
            var editor = ace.edit("calcPaperContainerEditor");
            editor.setTheme("ace/theme/monokai");
            editor.session.setMode("ace/mode/xml");
            editor.setValue(result.content);
            editor.clearSelection();
            $('#savePaperDB').click(function() {
                savePaperDB(productUUId, testMode);
            });
        }
    });
}
function savePaperDB(productUUId, testMode) {
    editor = ace.edit("calcPaperContainerEditor");

    $.ajax({
        url: "/apps/api/system/papercontainer",
        contentType: "application/json",
        headers: {
            "Authorization": "Bearer {{jwt}}"
        },
        method: 'PUT',
        data: JSON.stringify({ content: editor.getValue()}),
        success: function(result) {
            calc(productUUId, testMode);
        }
    })
}
function saveCalcCalcTemplates(productUUId, testMode) {
    editor = ace.edit("calcTemplatesEditor");
   
    if(testMode) {
        data = {
            calcTemplatesTest: editor.getValue()   
        }
    }else{
        data = {
            calcTemplates: editor.getValue()
        }
    }

    $.ajax({
        url: "/apps/api/plugin/system/psc/xmlcalc/system",
        contentType: "application/json",
        headers: {
            "Authorization": "Bearer {{jwt}}"
        },
        method: 'PUT',
        data: JSON.stringify(data),
        success: function(result) {
            calc(productUUId, testMode);
        }
    })

}
function loadCalcTemplates(productUUId, shopUUId, testMode) {
    $.ajax({
        url: "/apps/api/plugin/system/psc/xmlcalc/system",
        headers: {
            "Authorization": "Bearer {{jwt}}"
        },
        success: function(result) {
            var editor = ace.edit("calcTemplatesEditor");
            editor.setTheme("ace/theme/monokai");
            editor.session.setMode("ace/mode/xml");
            if(testMode) {
                editor.setValue(result.calcTemplatesTest);
            }else{
                editor.setValue(result.calcTemplates);
            }
            editor.clearSelection();
            $('#saveCalcCalcTemplates').click(function() {
                saveCalcCalcTemplates(productUUId, testMode);
            });
        }
    });
}
function loadFormelAndParameter(productUUId, shopUUId, testMode) {
    $.ajax({
        url: "/apps/api/plugin/system/psc/xmlcalc/shop/" + shopUUId,
        headers: {
            "Authorization": "Bearer {{jwt}}"
        },
        success: function(result) {
            var editor = ace.edit("calcFormelEditor");
            editor.setTheme("ace/theme/monokai");
            editor.session.setMode("ace/mode/javascript");
            if(testMode) {
                editor.setValue(result.formelTest);
            }else{
                editor.setValue(result.formel);
            }
            editor.clearSelection();
            var editorParam = ace.edit("calcParameterEditor");
            editorParam.setTheme("ace/theme/monokai");
            editorParam.session.setMode("ace/mode/javascript");
            if(testMode) {
                editorParam.setValue(result.parameterTest);
            }else{
                editorParam.setValue(result.parameter);
            }
            editorParam.clearSelection();
            $('#saveFormelXml, #saveParamXml').click(function() {
                saveFormelXml(productUUId, shopUUId, testMode);
            });

       }
    });
}
function loadProductCalcXml(productUUId, testMode) {
    $.ajax({
        url: "/apps/api/plugin/system/psc/xmlcalc/product/" + productUUId,
        headers: {
            "Authorization": "Bearer {{jwt}}"
        },
        success: function(result) {
            var editor = ace.edit("calcXmlEditor");
            editor.setTheme("ace/theme/monokai");
            editor.session.setMode("ace/mode/xml");
            editor.setValue(result.calcXml);
            editor.clearSelection();
            $('#saveCalcXml').click(function() {
                saveCalcXml(productUUId, testMode);
            });
       }
    });
}

function calc(productUUId, testMode) {
    $('#calcButton').attr('disabled', true);
    $('#calcButton > span').removeClass('d-none'); 

    var formElements = $('#CALCFORM').serializeArray();
    var formArray = {};
    $.each(formElements, function( index, value ) {
        var name = value.name;
        var val = value.value;
        formArray[name] = val;
    });
    $.ajax({
          url: "/apps/api/plugin/system/psc/xmlcalc/price",
          contentType: "application/json",
          dataType: 'json',
          headers: {
            "Authorization": "Bearer {{jwt}}"
          },
          method: 'post',
          data: JSON.stringify({product: productUUId, test: testMode, values : formArray}),
          success: function(result){

              buildForm(result.elements);
              buildDebug(result.debug);
              $('#netto').html((result.netto/100) + '€');
              $('#mwert').html((result.steuer/100) + '€');
              $('#brutto').html((result.brutto/100) + '€');
              
              $('#CALCFORM input, #CALCFORM select').unbind();
              $('#CALCFORM input, #CALCFORM select').change(function() {
                    calc(productUUId, testMode);
              });
              $('#calcButton').attr('disabled', false);
              $('#calcStatus').html('<div class="alert alert-success" role="alert">Ok</div>');
              $('#calcButton > span').addClass('d-none');

              loadPreCalc(productUUId, testMode, result.preCalc);
        },
        error: function(err){
           if(err.status === 500) {
                $('#calcStatus').html('<div class="alert alert-danger" role="alert">Fehler</div>');
           } 
        }


  });

}

function loadPreCalc(productUUId, testMode, preCalc) {
    $('#preCalc').html('');
    $.each(preCalc, function(indexGroup, group) {
        var htmlGroup = $('<div class="col-4"><h5>' + group.name + '</h5><div class="row" id="group_' + indexGroup + '"></div></div>');
        $('#preCalc').append(htmlGroup);
        $.each(group.variants, function(indexVariant, variant) {
            var htmlVariant = $('<div class="col-6">' + variant.name + '</div><div class="col-6" id="variant_' + indexGroup + '_' + indexVariant + '"></div>');
            $('#group_' + indexGroup).append(htmlVariant);
            
            var formElements = $('#CALCFORM').serializeArray();
            var formArray = {};
            $.each(formElements, function( index, value ) {
                var name = value.name;
                var val = value.value;
                formArray[name] = val;
            });
            $.each(variant.values, function(indexValue,value) {
                formArray[value.key] = value.value;
            });
            $.ajax({
                url: "/apps/api/plugin/system/psc/xmlcalc/price",
                contentType: "application/json",
                dataType: 'json',
                headers: {
                    "Authorization": "Bearer {{jwt}}"
                },
                method: 'post',
                data: JSON.stringify({product: productUUId, test: testMode, values : formArray}),
                success: function(result){       
                    $('#variant_' + indexGroup + '_' + indexVariant).html((result.netto/100) + '€');
                }
            })
        });
    });
}

function buildDebug(debug) {
    $('#calcValues, #formels, #flatPrice, #price').html('');
    
    $.each(debug.calcValues, function(index, element) {
        $('#calcValues').append('<div class="row"><div class="col-4">' + index + '</div><div class="col-4">' + element[0] + '</div><div class="col-4">' + element[1] + '</div></div>')
    });
    $.each(debug.formels, function(index, element) {
        $('#formels').append('<div class="row"><div class="col-6">' + element[0] + '</div><div class="col-6">' + element[1] + '</div></div>')
    });
    $.each(debug.price, function(index, values) {
         $.each(values, function(i,element) {
             $('#price').append('<div class="row"><div class="col-6">' + index + '</div><div class="col-6">' + element.price + '*' + element.multiplicator + '=' + element.result + '</div></div>')
        });
    });
    $.each(debug.flatPrice, function(index, element) {
        $.each(element, function(i,val) {
            $('#flatPrice').append('<div class="row"><div class="col-6">' + index + '</div><div class="col-6">' + val + '</div></div>');
        });
    });

}

function buildForm(elements) {
    var previousId = null;

	$.each(elements, function(index, element) {
        if(element.valid === false) {
            removeElement(element);
            return;
        }
        var $label = $('<label>').addClass('col-4 col-form-label col-form-label-sm').text(element.name);
        $container = $('<div class="row" id="container_' + element.id + '"></div>');     
        if(element.htmlType == "hidden") {
                var $obj = $('<input>', {
                type: 'hidden',
              value: element.rawValue,
              id: element.id,
              name: element.id
            });
            $element = $('<div>').addClass("col-8");
            $obj.appendTo($element);

            addOrReplaceFormElement(previousId, element.id, $container, $element, null, element.valid);
            return;
        }
        if(element.htmlType == "select") {

            var $obj = $('<select>', {
              id: element.id,
              name: element.id
            });
           $.each(element.options, function(ind, opt) {
          
                if(opt.valid) {
                    $obj.append(new Option(opt.name, opt.id, opt.selected, opt.selected));
              }
           });
           $obj.addClass('form-select');
        }
        if(element.htmlType == "text") {
            var $obj = $('<input>', {
                type: 'text',
              value: element.defaultValue,
              id: element.id,
              name: element.id,
              disabled: true
            });
            $obj.addClass("form-control form-control-sm");
        }
        if(element.htmlType == "input") {
            var $obj = $('<input>', {
                type: 'text',
              value: element.rawValue,
              id: element.id,
              name: element.id
            });
            $obj.addClass("form-control form-control-sm");
        }
        
        if(element.htmlType == "checkbox") {
            var $obj = $('<checkbox>', {
                value: element.rawValue,
              id: element.id,
              name: element.id
            });
        }
        
        if(element.htmlType == "textarea") {
            var $obj = $('<textarea>', {
              value: element.rawValue,
              id: element.id,
              name: element.id
            });
        }
       
        $element = $('<div>').addClass("col-8");
        $inputGroup = $('<div class="input-group input-group-sm">');
        $inputGroup.appendTo($element);
        $obj.appendTo($inputGroup);

        addOrReplaceFormElement(previousId, element.id, $container, $element, $label, element.valid);
        if(element.helpLink) {
            $obj.after('<a class="btn btn-outline-primary" target="_blank" href="' + element.helpLink + '">?</a>');
        }
        if(element.validationErrors.length > 0) {
            $obj.addClass("is-invalid");
            $.each(element.validationErrors, function(errorIndex, error) {
                console.log(error);
                if(error.type === 'input::validation::max') {
                   $obj.parent().after($('<div class="invalid-feedback d-block">Wert muss kleiner sein als: ' + error.maxValue + '</div>')); 
                }
                if(error.type === 'input::validation::min') {
                   $obj.parent().after($('<div class="invalid-feedback d-block">Wert muss größer sein als: ' + error.minValue + '</div>')); 
                }
            });
        }else{
            $obj.removeClass("is-invalid");
        } 
        previousId = element.id;
  })
}

function removeElement(element) {
    $('#container_' + element.id).remove();        
}

function addOrReplaceFormElement(previousId, id, $container, $element, $label, valid) {
    if($('#container_' + id).length > 0) {
        if(!valid) {
            $('#container_' + id).remove();
        }else{
            $('#container_' + id).html('');
            if($label !== null) {
                $label.appendTo($('#container_' + id));
            }
            $element.appendTo($('#container_' + id));
        }
    }else{
        if(previousId !== null && $('#container_' + previousId).length > 0) {
            $container.insertAfter($('#container_' +  previousId));
        }else{
		    $('#CALCFORM').append($container);
        }
        if($label !== null) {
            $label.appendTo($container);
        }
        $element.appendTo($container);
    }
}

</script>
{% endautoescape %}
{% endblock %}
