{% extends 'backend_base.html.twig' %}

{% block body %}

{% form_theme form with ['@PSCBackendDashboard/form/form_errors.html.twig'] %}

    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                <i class="fa-fw fa fa-plus-square"></i>
                Shop <span>>
                Erstellen </span></h3>
            </div>
        </div>
    </div>

    <div class="body">
        <div class="panel">
            <div class="header">
                <h4>Formular</h4>
            </div>
            <div class="body">

                {{ form_start(form, { 'attr': {'class': ''}}) }}
                {{ form_errors(form) }}
                <div class="row mb-3">
                    <label class="col-md-1 form-control-label">
                        {{ form_label(form.title) }}
                    </label>
                    <div class="col-md-11">
                        {{ form_widget(form.title, {attr: {class:'form-control'}}) }}
                    </div>
                </div>
                <div class="row mb-3">
                    <label class="col-md-1 form-control-label">
                        {{ form_label(form.domain) }}
                    </label>
                    <div class="col-md-11">
                        {{ form_widget(form.domain, {attr: {class:'form-control'}}) }}
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-offset-1 col-md-11">
                        {{ form_widget(form.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                    </div>
                </div>
                {{ form_errors(form.domain) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}