<div class="row">
    <div class="col-md-4">
        <div class="form-group row">
            {{ form_label(form.xmlCalc.mwert) }}
            <div class="col-md-8">
                {{ form_widget(form.xmlCalc.mwert) }}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group row">
            {{ form_label(form.xmlCalc.fromPrice) }}
            <div class="col-md-8">
                {{ form_widget(form.xmlCalc.fromPrice) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <a class="btn btn-info btn-sm" href="{{ path('psc_plugin_system_xmlcalc_backend_live_index', {uuid: product.uuid, test: false}) }}">Live Edit</a>
        <a class="btn btn-warning btn-sm" href="{{ path('psc_plugin_system_xmlcalc_backend_live_index', {uuid: product.uuid, test: true}) }}">Live Edit (Test)</a>
    </div>
</div>
{{ form_widget(form.xmlCalc.calcXml) }}