{% extends 'backend_base.html.twig' %}

{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <h3>
                    <i class="fa-fw fa fa-tags"></i>
                    Step Layouter <span>>
			        XML Bearbeiten </span>
                    <a target="_blank" href="/article/show/uuid/{{ product.uuid }}">Anzeigen</a>
                </h3>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-end">
                <a href="{{ path("backend_production_product_edit", {uuid: product.uuid}) }}" class="btn btn-default btn-sm"><i class="fa fa-lg fa-fw fa-arrow-left"></i> Zurück</a>
            </div>
        </div>
    </div>

    <div class="body">
        <div class="panel">
            <div class="header">
                <h5>{{ product.title }}</h5>
            </div>
            <div class="body">

                {{ form_start(form, { 'attr': {'class': 'smart-form'}}) }}
                {{ form_errors(form) }}

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group row">
                            <label class="col-md-2 form-control-label">{{ form_label(form.uuid) }}</label>
                            <div class="col-md-10 state-disabled">
                                {{ form_widget(form.uuid) }}
                                <b class="tooltip tooltip-top-left">
                                    <i class="fa fa-warning txt-color-teal"></i>
                                    UUID des Produktes</b>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form_widget(form.xml) }}
                    </div>
                </div>
                <br/>
                <div class="form-group row">
                    <div class="col-md-offset-1 col-md-11">
                        {{ form_widget(form.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    {{ summernote_mediabundle_init() }}

{% endblock %}