<div class="panel panel-default steplayouter">
    <div class="header"><h5>Step Layouter</h5></div>
    <div class="body">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group row">
                    {{ form_label(form.formlayouter.formlayouter) }}
                    <div class="col-md-8">
                        <div class="checkbox">
                            {{ form_widget(form.formlayouter.formlayouter) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-7">
                <div class="form-group row">
                    {{ form_label(form.formlayouter.formlayouter2InitalStatus) }}
                    <div class="col-md-8">
                        {{ form_widget(form.formlayouter.formlayouter2InitalStatus) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="{{ path("psc_plugin_formlayouter_backend_xml_edit", {uuid: product.uuid}) }}" class="btn btn-primary btn-sm">XML bearbeiten</a>
            </div>
        </div>
    </div>
</div>
