<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            <label class="col-md-3 form-control-label">{{ form_label(form.formlayoutereditor.header) }}</label>
            <div class="col-md-9">
                {{ form_widget(form.formlayoutereditor.header, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 form-control-label">{{ form_label(form.formlayoutereditor.footer) }}</label>
            <div class="col-md-9">
                {{ form_widget(form.formlayoutereditor.footer, {attr: {'class': 'form-control'}}) }}
            </div>
        </div>
    </div>
</div>