{% extends 'backend_base.html.twig' %}
{% trans_default_domain 'core_payment_edit' %}
{% block body %}

    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-credit-card"></i>
                    {{'paymentmethod'|trans}} <span>>
                    {{'settings'|trans}} </span>
                </h3>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-end">
                <a href="{{ path("psc_shop_payment_backend_list") }}" class="btn btn-default btn-sm"><i class="fa fa-lg fa-fw fa-arrow-left"></i> {{'back'|trans}}</a>
            </div>
        </div>
    </div>

    <div class="body">
        {{ form_start(form, { 'attr': {'class': ''}}) }}
            <div class="panel">
                <div class="header">
                    <h4>{{ payment.title }}</h4>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-md-2">
                            <ul class="nav nav-pills flex-column" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-bs-toggle="tab" href="#all" role="tab">{{'General'|trans}}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#filter" role="tab">{{'Filter'|trans}}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#gateway" role="tab">{{'Gateway'|trans}}</a>
                                </li>
                                {% for customGroup in customGroups %}
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" href="#{{ customGroup.id }}" role="tab">{{ customGroup.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-md-10">
                            <div class="tab-content">
                                <div class="tab-pane active" id="all" role="tabpanel">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.title) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.title) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.pos) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.pos) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_widget(form.enable) }}
                                        </div>
                                        <div class="col-md-2">
                                            {{ form_widget(form.private) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.price) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.price) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.taxClass) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.taxClass) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            {{ form_widget(form.percent) }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.trustedShopName) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.trustedShopName) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row mb-3">
                                                <label class="col-md-1 form-control-label">{{ form_label(form.description) }}</label>
                                                <div class="col-md-11">
                                                    {{ form_widget(form.description) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="filter" role="tabpanel">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.shippings) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.shippings) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="gateway" role="tabpanel">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.paymentGateway) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.paymentGateway) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% for customGroup in customGroups %}
                                    <div class="tab-pane" id="{{ customGroup.id }}" role="tabpanel">
                                        {% for customField in customFields %}
                                            {% if customField.group == customGroup.id  and customField.getTemplate %}
                                                {{ include(customField.getTemplate, { 'form': form }) }}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel">
                <div class="body">
                    <div class="row mb-3">
                        <div class="col-md-offset-1 col-md-11">
                            {{ form_widget(form.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                        </div>
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    
        <div class="panel">
            <div class="header">
                <h4>{{ 'Changes'|trans }}</h4>
            </div>
            <div class="body">
                <table class="table">
                    <thead>
                        <tr><th>{{ 'Date'|trans }}</th><th>{{ 'Username'|trans }}</th><th>{{'Changes'|trans}}</th></tr>
                    </thead>
                    <tbody>
                        {% for change in changes %}
                            <tr><td>{{ change.created|date('H:i:s d.m.Y') }}</td><td>{{ change.username }}</td><td>
                                {% for key,set in change.changeset %}
                                    {% if set[1] is not iterable %}
                                        <strong>{{key}}</strong> <span class="badge bg-danger"><del>{{ set[0]}}</del></span><span class="badge bg-success">{% if set[1] is null %}0{% else %}{{ set[1] }}{% endif %}</span></br>
                                    {% endif %}
                                {% endfor %}
                            <td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    {% endblock %}
