{% extends 'backend_base.html.twig' %}

{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-file-alt"></i>
                    CMS <span>>
                    {{ 'psc_shop_cms.List'|trans }}</span>
                </h3>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="panel">
            <div class="body">
                <a href="{{ path("psc_shop_cms_backend_edit_create") }}" class="btn btn-info btn-sm"><span class="fa fa-edit"></span> {{ 'psc_shop_cms.addSite'|trans }}</a>
            </div>
        </div>
        <div class="panel">
            <div class="body">
                {{ form_start(form, { 'attr': {'class': 'searchForm'}}) }}
                <div class="form-group form-group-sm row">
                    <label class="col-md-1 form-control-label">
                        {{ 'psc_shop_cms.Search'|trans }}
                    </label>
                    <div class="col-md-3">
                        <div class="input-group input-group-sm">
                            {{ form_widget(form.term, {attr: {class:'form-control'}}) }}
                            <span class="input-group-append">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </span>
                        </div>
                    </div>
                </div>

                {{ form_rest(form) }}

                {{ form_end(form) }}
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>{{ knp_pagination_sortable(pagination, 'Uid', 'cms.uid') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'psc_shop_cms.Active'|trans, 'cms.enable') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'psc_shop_cms.Title'|trans, 'cms.title') }}</th>
                        <th>{{ 'psc_shop_cms.Region'|trans }}</th>
                        <th>{{ 'psc_shop_cms.Parent'|trans }}</th>
                        <th>Url</th>
                        <th>{{ 'psc_shop_cms.Menu'|trans }}?</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for cms in pagination %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>{{ cms.uid }}</td>
                            <td>{% if cms.enable %}<span class="badge bg-success">Ja</span>{% else %}<span
                                        class="badge bg-warning">Nein</span>{% endif %}</td>
                            <td>{{ cms.title }}</td>
                            <td>{{ theme.config.cms.pos(cms.pos).name }}</td>
                            <td>{%  if cms.parent %}{{ cms.parent.title }}{% else %}{{ 'psc_shop_cms.OnTop'|trans }}{% endif %}</td>
                            <td>{{ cms.url }}</td>
                            <td>{% if not cms.notInMenu %}<span class="badge bg-success">{{ 'psc_shop_cms.Yes'|trans }}</span>{% else %}<span class="badge bg-warning">{{ 'psc_shop_cms.No'|trans }}</span>{% endif %}</td>
                            <td class="text-end">
                                <a href="{{ path("psc_shop_cms_backend_edit_edit", {uid: cms.uid}) }}" class="btn btn-info btn-sm"><span class="fa fa-edit"></span> {{ 'psc_shop_cms.Edit'|trans }}</a>
                                <a href="{{ path("psc_shop_cms_backend_edit_delete", {uid: cms.uid}) }}" class="btn btn-danger btn-sm"><span class="fa fa-trash"></span> {{ 'psc_shop_cms.Delete'|trans }}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}