<div id="footer" class="navbar footer">
    <div class="row">
        <div class="col-xs-6 col-md-4">
            <div class="btn-group">
                <button type="button" ng-show="settings.show_prev" class="btn btn-default">Zurück</button>
                <button type="button" ng-show="settings.show_next" class="btn btn-default">Weiter</button>
            </div>
        </div>
        <div class="col-xs-6 col-md-4" style="text-align: center">
            <button type="button" ng-show="settings.showProductSettings" ng-click="showProductSettings()" class="btn btn-info">Einstellungen</button>
            <div class="btn-group">
                <select class="form-control" ng-change="changeZoom()" ng-model="settings.zoom">
                    <option value="2.0">200%</option>
                    <option value="1.9">190%</option>
                    <option value="1.8">180%</option>
                    <option value="1.7">170%</option>
                    <option value="1.6">160%</option>
                    <option value="1.5">150%</option>
                    <option value="1.4">140%</option>
                    <option value="1.3">130%</option>
                    <option value="1.2">120%</option>
                    <option value="1.1">110%</option>
                    <option value="1.0">100%</option>
                    <option value="0.9" >90%</option>
                    <option value="0.8" >80%</option>
                    <option value="0.7" >70%</option>
                    <option value="0.6" >60%</option>
                    <option value="0.5" >50%</option>
                    <option value="0.4" >40%</option>
                    <option value="0.3" >30%</option>
                    <option value="0.2" >20%</option>
                    <option value="0.1" >10%</option>
                </select>
            </div>
            <button type="button" ng-show="settings.saveProduct" ng-click="saveProduct()" class="btn btn-warning">Produkt speichern</button>
        </div>

        <div class="col-xs-6 col-md-4">
            <div class="btn-group pull-right" id="actionBar">
                <a ng-show="settings.show_print_pdf" ng-click="printPDF()" href="" class="btn btn-default">Print als PDF</a>
                <a ng-show="settings.show_preview_pdf" ng-click="previewPDF()" href="" class="btn btn-default">Vorschau als PDF</a>
                <!--<button type="button" ng-show="settings.show_preview" class="btn btn-default">Vorschau</button>-->
                <button type="button" ng-show="settings.show_finish" ng-click="finishProduct()" class="btn btn-success">Fertigstellen</button>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="showPreviewLink">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Vorschau</h4>
        </div>

        <div class="modal-body">
            <p class="text-center">
                <a class="btn btn-success" ng-click="cancel()" target="_blank" href="{{link}}">Vorschau Anzeigen</a>
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Schließen</button>
        </div>

    </div>
</script>

<script type="text/ng-template" id="showPdfPrint">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Eingabe</h4>
        </div>

        <div class="modal-body">
            <p class="text-center">
            <form>
                <div class="form-group">
                    <label for="orderNr">Auftragsnummer</label>
                    <input type="text" class="form-control" data-ng-model="orderNr" placeholder="Auftragsnummer">
                </div>
                <div class="form-group">
                    <button class="btn btn-success" ng-click="print()" target="_blank" href="{{link}}">Vorschau Anzeigen</button>
                </div>
            </form>
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Schließen</button>
        </div>

    </div>
</script>

<div style="position: absolute;
top: -99999999px;
left: -99999999px;" id="previewrenderer_id"><canvas id="previewrenderer"></canvas></div>