{% extends 'backend_base.html.twig' %}
{% trans_default_domain 'core_voucher_list' %}
{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-id-card"></i>
                    {{'Voucher'|trans}} <span>>
                    {{'List'|trans}} </span>
                </h3>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="panel">
            <div class="body">
                <a class="btn btn-info btn-sm" href="{{ path("psc_shop_voucher_backend_create") }}">{{'Addvoucher'|trans}}</a>
            </div>
        </div>
        <div class="panel">
            <div class="body">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>{{ knp_pagination_sortable(pagination, 'Uid'|trans, 'voucher.uid') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Createdat'|trans, 'product.createdAt') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Updatedat'|trans, 'product.updatedAt') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'active'|trans, 'voucher.enable') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Name'|trans, 'voucher.title') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'from'|trans, 'voucher.fromDate') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'to'|trans, 'voucher.toDate') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Percent'|trans, 'voucher.percent') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Value'|trans, 'voucher.value') }}</th>
                        <th>{{'Numbertogenerate'|trans}}</th>
                        <th>{{'Numbergenerated'|trans}}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for voucher in pagination %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>{{ voucher.uid }}</td>
                            <td>{{ voucher.createdAt|date('H:i d.m.Y') }}</td>
                            <td>{{ voucher.updatedAt|date('H:i d.m.Y') }}</td>
                            <td>{% if voucher.enable %}<span class="badge bg-success">{{'yes'|trans}}</span>{% else %}<span
                                        class="badge bg-warning">{{'no'|trans}}</span>{% endif %}</td>
                            <td>{{ voucher.title }}</td>
                            <td>{{ voucher.fromDate|date('d.m.Y') }}</td>
                            <td>{{ voucher.toDate|date('d.m.Y') }}</td>
                            <td>{% if voucher.percent %}<span class="badge bg-success">{{'yes'|trans}}</span>{% else %}<span
                                        class="badge bg-warning">{{'no'|trans}}</span>{% endif %}</td>
                            <td>{{ voucher.value|number_format(2, ',', '.') }}</td>
                            <td>{% if voucher.more %}Keine Individuellen Codes{% else %}{{ voucher.count }}{% endif %}</td>
                            <td>{% if voucher.more %}Keine Individuellen Codes{% else %}{{ voucher.voucherItems|length }}{% endif %}</td>
                            <td class="text-end">
                                <a href="{{ path('psc_shop_voucher_backend_export', {uid: voucher.uid}) }}" target="_blank" class="btn btn-info btn-sm" style="color: white !important;">{{'Export'|trans}}</a>
                                <a href="{{ path("psc_shop_voucher_backend_generate", {uid: voucher.uid}) }}"
                                   class="btn btn-warning btn-sm"><span class="fa fa-trash"></span> {{'Generate'|trans}}</a>
                                <a href="{{ path("psc_shop_voucher_backend_edit", {uid: voucher.uid}) }}"
                                   class="btn btn-info btn-sm"><span class="fa fa-edit"></span> {{'edit'|trans}}</a>
                                <a href="{{ path("psc_shop_voucher_backend_delete", {uid: voucher.uid}) }}"
                                   class="btn btn-danger btn-sm"><span class="fa fa-trash"></span> {{'del'|trans}}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}