{% extends 'backend_base.html.twig' %}
{% block body %}

    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-chalkboard"></i> Dashboard <span>> My Dashboard</span>
                </h3>
            </div>
        </div>
    </div>

    <div class="body">


    {% if is_granted('ROLE_ADMIN') %}
        <div class="row">
            <div class="col-6">
                <div class="panel">
                    <div class="header">
                        <h4>Infos</h4>
                    </div>
                    <div class="body">
                        <table class="table">
                            <tr><td>{{ 'psc_backend_dashboard.Name'|trans }}:</td><td>{{ shop.title }}</td></tr>
                            <tr><td>{{ 'psc_backend_dashboard.Beschreibung'|trans }}:</td><td>{{ shop.description }}</td></tr>
                            <tr><td>{{ 'psc_backend_dashboard.Layout'|trans }}:</td><td>{{ shop.layout }}</td></tr>
                            <tr><td>{{ 'psc_backend_dashboard.UID'|trans }}:</td><td>{{ shop.uid }}</td></tr>
                            <tr><td>{{ 'psc_backend_dashboard.UUID'|trans }}:</td><td>{{ shop.uuid }}</td></tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="panel">
                    <div class="header">
                        <h4>Warnhinweise</h4>
                    </div>
                    <div class="body">
                        <table class="table">
                            <tr><td>Aktionen:</td><td><p>{% if queueErrorCount > 0 %}<span class="badge rounded-pill bg-danger">{{ queueErrorCount }}</span>{% else %}<span class="badge rounded-pill bg-success">Alles Ok</span>{% endif %}</p></td></tr>
                            <tr><td>Mailserver:</td><td><p>{% if not instance.isSmtpOwn %}<span class="badge rounded-pill bg-danger">Kein eigener definiert</span>{% else %}{% if instance.smtpHost == '' or instance.smtpPort == '' or instance.smtpUsername == '' or instance.smtpPassword  == ''  %}<span class="badge rounded-pill bg-danger">Smtp Einstellungen überprüfen</span>{% else %}<span class="badge rounded-pill bg-success">Alles Ok</span>{% endif %}{% endif %}</p></td></tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>

        <div class="panel">
            <div class="header">
                <h4>Sales Graph</h4>
            </div>
            <div class="body">
                <div id="sales-graph" class="chart no-padding"></div>
            </div>
        </div>


    </div>
        {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            // sales graph
            if ($('#sales-graph').length) {

                Morris.Bar({
                    element : 'sales-graph',
                    data:
                    {{ sales|raw }}
                    ,
                    xkey: 'month',
                    ykeys: ['brutto'],
                    labels: ['Summe']

                });

            }

        })
    </script>
{% endblock %}