{% extends 'backend_base.html.twig' %}

{% block body %}
<div class="header">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h3>
                <i class="fa-fw fa fa-plane"></i>
                Kunde <span>>
                kontaktieren </span>
            </h3>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-end">
            <a href="{{ path("psc_shop_order_backend_detail_show", {uuid: order.uuid}) }}" class="btn btn-default btn-sm"><i class="fa fa-lg fa-fw fa-arrow-left"></i> Zurück</a>
        </div>
    </div>
</div>
<div class="body">
    {{ form_start(form, { 'attr': {'class': ''}}) }}
    <div class="panel">
        <div class="header">
            <h4>Mail</h4>
        </div>
        <div class="body">

            <div class="row">
                <div class="col-md-4">
                    <div class="row mb-3">
                        {{ form_label(form.subject) }}
                        <div class="col-md-9">
                            {{ form_widget(form.subject) }}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row mb-3">
                        {{ form_label(form.text) }}
                        <div class="col-md-11">
                            {{ form_widget(form.text) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="body">
            <div class="row mb-3">
                <div class="col-md-offset-2 col-md-11">
                    <button class="btn btn-success btn-sm">Absenden</button>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>

{% endblock %}
