<li class="list-group-item">
    <a href="{{ path('psc_shop_media_backend_chooser_show_folder', urlParams|merge({ 'folderId': mediaFolder.id })) }}" class="{% if folder is not null and folder.id == mediaFolder.id %}active{% endif %}">
        <span class="badge bg-default label-pill pull-xs-right">{{ mediaFolder.media }}</span>
        <i class="fas {{ mediaFolder.icon }}"></i>  {{ mediaFolder.title }}
    </a>
</li>
