{% extends 'backend_simple.html.twig' %}

{% block content %}
    <div class="row">
        <div class="col-md-3">
            {{ form_start(folderForm, { 'attr': {'class': ''}}) }}
            <div class="form-group form-group-sm row">
                <div class="col-md-6">
                    <select class="form-control form-control-sm" name="icon">
                        <option value="fas fa-file-movie">Video</option>
                        <option value="fas fa-file-image" selected>Bilder</option>
                        <option value="fas fa-file-pdf">PDF</option>
                        <option value="fas fa-file">Sonstige</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <div class="input-group input-group-sm">

                        {{ form_widget(folderForm.title, {attr: {'class': 'form-control'}}) }}
                        <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default btn-sm"><i class="fa fa-save"></i></button>
                            </span>
                    </div>
                </div>
            </div>


            {{ form_end(folderForm) }}
            <hr/>

            <ul class="nav nav-pills flex-column">
                {% for cat in folders %}
                    <li class="nav-item">
                        <a class="nav-link {% if selectedFolder.id == cat.id %}active{% endif %}" href="{{ path('psc_shop_media_backend_chooser_show_folder', {folderId: cat.id}) }}">
                            <span class="badge bg-dark pull-right">({{ cat.media }})</span> <i class="fa {{ cat.icon }}"></i> {{ cat.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    {{ form_start(searchForm, { 'attr': {'class': ''}}) }}
                    <div class="input-group mb-3">
                        {{ form_widget(searchForm.term) }}
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="submit">Suche</button>
                        </div>
                    </div>
                    {{ form_end(searchForm) }}
                </div>
                <div class="col-md-2 text-end">
                    <div class="btn-group">
                        <a href="{{ path('psc_shop_media_backend_chooser_show_folder', {folderId: selectedFolder.id}) }}?viewMode=thumb-view" class="btn btn-light">
                            <i class="fas fa-picture-o btn__icon"></i>
                        </a>
                        <a href="{{ path('psc_shop_media_backend_chooser_show_folder', {folderId: selectedFolder.id}) }}?viewMode=list-view" class="btn btn-light">
                            <i class="fas fa-list btn__icon"></i>
                        </a>
                    </div></div>
            </div>

            {% if app.session.get('media-thumb-view') %}
            {{ knp_pagination_render(adminlist) }}
            <div class="row">
                {% set counter = 1 %}
                {% for media in adminlist %}
                    {% if not handler or handler.canHandle(media) %}
                        {% set usedHandler = mediamanager.getHandler(media) %}
                        {% set imageurl =  usedHandler.getImageUrl(media, app.request.basePath) %}
                        {% if imageurl is not empty and media.location == 'local' %}
                            {% if imageurl|lower|split('.')|last == 'svg' or 'image/svg' in media.contentType %}
                                {% set imageurlretina = imageurl %}
                            {% else %}
                                {% set imageurlretina = asset(imageurl | imagine_filter('media_list_thumbnail_retina')) %}
                                {% set imageurl = asset(imageurl | imagine_filter('media_list_thumbnail')) %}
                            {% endif %}
                        {% endif %}

                        {% set path = "[%s]" | format("M" ~ media.id) %}

                            <a href="javascript:void(0)" alt="{{ media.originalFilename }}" class="js-url-chooser-media-select thumbnail media-thumbnail" data-thumb-path="{{ imageurl }}" data-path="{{ path }}" data-title="{{ media.title|escape('js') }}" data-id="{{ media.id }}" data-cke="{% if cKEditorFuncNum %}true{% else %}false{% endif %}">
                                    {% if imageurl %}
                                        <img src="{{ imageurl }}" srcset="{{ imageurl }} 1x, {{ imageurlretina is defined ? ', ' ~ imageurlretina ~ " 2x" }}" alt="{{ media.title }}" class="rounded img-thumbnail">
                                    {% else %}
                                        <i class="fas fa-file-o media-thumbnail__icon"></i>
                                    {% endif %}
                            </a>

                        {# Clearfixes #}
                        {% if counter is divisible by(2) %}
                            <div class="clearfix visible-sm-block"></div>
                        {% endif %}
                        {% if counter is divisible by(3) %}
                            <div class="clearfix visible-md-block"></div>
                        {% endif %}
                        {% if counter is divisible by(4) %}
                            <div class="clearfix visible-lg-block"></div>
                        {% endif %}

                        {% set counter = counter+1 %}
                    {% endif %}
                {% endfor %}
            </div>
            {{ knp_pagination_render(adminlist) }}
            {% else %}

                <table class="table bg-light">
                    <thead class="thead-dark">
                    <tr>
                        <th></th>
                        <th>Uid</th>
                        <th>Titel</th>
                        <th>Dateiname</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for media in adminlist %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            {% set handler = mediamanager.getHandler(media) %}
                            {% set imageurlorg =  handler.getImageUrl(media, app.request.basePath) %}
                            {% if imageurlorg is not empty and media.location == 'local' %}
                                {% if imageurlorg|lower|split('.')|last == 'svg' or 'image/svg' in media.contentType %}
                                    {% set imageurlretina = imageurlorg %}
                                    {% set imageurlinsert = imageurlorg %}
                                    {% set isImage = false %}
                                {% else %}
                                    {% set imageurlretina = asset(imageurlorg | imagine_filter('psc_backend_media_image')) %}
                                    {% set imageurl = asset(imageurlorg | imagine_filter('psc_backend_media_image')) %}
                                    {% set imageurlinsert = asset(imageurlorg | imagine_filter('psc_backend_media_summernote_image')) %}
                                    {% set isImage = true %}
                                {% endif %}
                            {% else %}
                                {% set imageurlinsert =  handler.getImageUrl(media, app.request.basePath) %}
                                {% set isImage = false %}
                            {% endif %}

                            {% set path = "[%s]" | format("M" ~ media.id) %}
                            <td>
                                {% if imageurlorg %}
                                    <img src="{{ imageurl }}" srcset="{{ imageurl }} 1x {{ imageurlretina is defined ? ', ' ~ imageurlretina ~ " 2x" }}" alt="{{ media.title }}" class="media-thumbnail__img">
                                {% else %}
                                    <i class="fas fa-file-o media-thumbnail__icon"></i>
                                {% endif %}
                            </td>
                            <td>{{ media.id }}</td>
                            <td>{{ media.title }}</td>
                            <td>{{ media.originalFilename }}</td>
                            <td class="text-end">
                                {% if isImage %}
                                    <a href="javascript:void(0)" alt="{{ media.originalFilename }}" class="js-url-chooser-media-select btn btn-primary btn-sm" data-thumb-path="{{ imageurl }}" data-path="{{ path }}" data-title="{{ media.title|escape('js') }}" data-id="{{ media.id }}" data-cke="{% if cKEditorFuncNum %}true{% else %}false{% endif %}">Einfügen</a>
                                {% else %}
                                    <a href="javascript:void(0)" alt="{{ media.originalFilename }}" class="js-url-chooser-media-select btn btn-primary btn-sm" data-path="{{ path }}" data-title="{{ media.title|escape('js') }}" data-id="{{ media.id }}" data-cke="{% if cKEditorFuncNum %}true{% else %}false{% endif %}">Einfügen</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(adminlist) }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}