<div class="panel panel-default">
    <div class="row">
        <div class="col-md-6">
            <div class="header"><h5>Templateprint Layouter</h5></div>
            <div class="body">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group row">
                            {{ form_label(form.templateprintlayouter.uploadTemplateprint) }}
                            <div class="col-md-8">
                                <div class="checkbox">
                                    {{ form_widget(form.templateprintlayouter.uploadTemplateprint) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group row">
                            {{ form_label(form.templateprintlayouter.uploadTemplateprintInitalStatus) }}
                            <div class="col-md-8">
                                {{ form_widget(form.templateprintlayouter.uploadTemplateprintInitalStatus) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <a href="{{ path("backend_production_product_templateprint_delete", {uuid: product.uuid}) }}" class="btn btn-danger btn-sm">Template Löschen</a>
                    </div>
                    <div class="col-md-4">
                        <a href="{{ path("backend_production_product_templateprint_upload", {uuid: product.uuid}) }}" class="btn btn-primary btn-sm">Template upload</a>
                    </div>
                    <div class="col-md-4">
                        <a target="_blank" href="{{ path("backend_production_product_templateprint_download", {uuid: product.uuid}) }}" class="btn btn-primary btn-sm">Template download</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="header"><h5>Templateprint Layouter (Sammelbestellung)</h5></div>
            <div class="body">
                <div class="row">
                    <div class="col-md-5">
                        <div class="form-group row">
                            {{ form_label(form.templateprintlayouter.uploadCollectingOrders) }}
                            <div class="col-md-8">
                                <div class="checkbox">
                                    {{ form_widget(form.templateprintlayouter.uploadCollectingOrders) }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group row">
                            {{ form_label(form.templateprintlayouter.uploadCollectingOrdersInitalStatus) }}
                            <div class="col-md-8">
                                {{ form_widget(form.templateprintlayouter.uploadCollectingOrdersInitalStatus) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            {{ form_label(form.templateprintlayouter.collectingOrdersIntegrated) }}
                            <div class="col-md-8">
                                {{ form_widget(form.templateprintlayouter.collectingOrdersIntegrated) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form_label(form.templateprintlayouter.collectingOrdersAccountFilter) }}
                        <div class="form-group row">

                            <div class="col-md-8">
                                {{ form_widget(form.templateprintlayouter.collectingOrdersAccountFilter) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        {{ form_label(form.templateprintlayouter.collectingOrdersAccount) }}
                        <div class="form-group row">

                            <div class="col-md-8">
                                {{ form_widget(form.templateprintlayouter.collectingOrdersAccount) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            {{ form_label(form.templateprintlayouter.collectingOrdersCopy) }}
                            <div class="col-md-8">
                                {{ form_widget(form.templateprintlayouter.collectingOrdersCopy) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            {{ form_label(form.templateprintlayouter.collectingOrdersNewContact) }}
                            <div class="col-md-8">
                                {{ form_widget(form.templateprintlayouter.collectingOrdersNewContact) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            {{ form_label(form.templateprintlayouter.collectingOrdersInviteContact) }}
                            <div class="col-md-8">
                                {{ form_widget(form.templateprintlayouter.collectingOrdersInviteContact) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            {{ form_label(form.templateprintlayouter.collectingOrdersChangePicture) }}
                            <div class="col-md-8">
                                {{ form_widget(form.templateprintlayouter.collectingOrdersChangePicture) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
