{% extends 'backend_base.html.twig' %}

{% block body %}
    <div class="row hidden-mobile">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-picture-o"></i>
                Motive <span>>
		Löschen </span></h1>
        </div>

    </div>


{% endblock %}