{% extends 'backend_base.html.twig' %}
{% import '@PSCBackendDashboard/tree/motivtheme.html.twig' as macros %}
{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-picture-o"></i>
                    Motive <span>>
                    Bearbeiten </span>
                </h3>
            </div>
        </div>
    </div>


    <div class="body">
        <div class="panel">
            <div class="header">
                <h5>{{ motiv.title }}</h5>
            </div>

            <div class="body">
                {{ form_start(form, { 'attr': {'class': 'smart-form'}}) }}
                {{ form_errors(form) }}

                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#all" role="tab">Allgemein</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#themen" role="tab">Themen</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#speziell" role="tab">Speziell</a>
                    </li>
                    {% if motiv.svg != "" %}
                        <li class="nav-item">
                            <a class="nav-link" data-bs-toggle="tab" href="#svg" role="tab">Svg</a>
                        </li>
                    {% endif %}
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="all" role="tabpanel">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-2 form-control-label">{{ form_label(form.uuid) }}</label>
                                            <div class="col-md-10">
                                                {{ form_widget(form.uuid) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-2 form-control-label">{{ form_label(form.created) }}</label>
                                            <div class="col-md-10">
                                                {{ form_widget(form.created) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-md-2 form-control-label">{{ form_label(form.title) }}</label>
                                    <div class="col-md-10">
                                        {{ form_widget(form.title) }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-md-2 form-control-label">{{ form_label(form.copyright) }}</label>
                                    <div class="col-md-10">
                                        {{ form_widget(form.copyright) }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-md-2 form-control-label">{{ form_label(form.resale_shop) }}</label>
                                    <div class="col-md-10">
                                        {{ form_widget(form.resale_shop) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <img src="{{ asset("market/motive/" ~ motiv.fileThumb) }}"/>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="themen" role="tabpanel">
                        <ul>
                            {{ macros.motiv_theme_tree(themes) }}
                        </ul>
                    </div>
                    <div class="tab-pane" id="speziell" role="tabpanel">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label class="col-md-2 form-control-label">{{ form_label(form.width) }}</label>
                                    <div class="col-md-10">
                                        {{ form_widget(form.width) }}
                                        <b class="tooltip tooltip-top-left">
                                            <i class="fa fa-warning txt-color-teal"></i>
                                            Breite des Motives</b>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label class="col-md-2 form-control-label">{{ form_label(form.height) }}</label>
                                    <div class="col-md-10">
                                        {{ form_widget(form.height) }}
                                        <b class="tooltip tooltip-top-left">
                                            <i class="fa fa-warning txt-color-teal"></i>
                                            Höhe des Motives</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label class="col-md-2 form-control-label">{{ form_label(form.file_orginal) }}</label>
                                    <div class="col-md-10">
                                        {{ form_widget(form.file_orginal) }}
                                        <b class="tooltip tooltip-top-left">
                                            <i class="fa fa-warning txt-color-teal"></i>
                                            Orginaldatei des Motives</b>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label class="col-md-2 form-control-label">{{ form_label(form.file_work) }}</label>
                                    <div class="col-md-10">
                                        {{ form_widget(form.file_work) }}
                                        <b class="tooltip tooltip-top-left">
                                            <i class="fa fa-warning txt-color-teal"></i>
                                            Arbeitsdatei des Motives</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label class="col-md-2 form-control-label">{{ form_label(form.file_thumb) }}</label>
                                    <div class="col-md-10">
                                    {{ form_widget(form.file_thumb) }}
                                        <b class="tooltip tooltip-top-left">
                                        <i class="fa fa-warning txt-color-teal"></i>
                                        Thumb des Motives</b>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row mb-3">
                                    <label class="col-md-2 form-control-label">{{ form_label(form.file_mid) }}</label>
                                    <div class="col-md-10">
                                        {{ form_widget(form.file_mid) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="svg" role="tabpanel">
                        <div class="row mb-3">
                            <label class="col-md-1 form-control-label">
                                {{ form_label(form.svg) }}
                            </label>
                            <div class="col-md-11">
                                {{ form_widget(form.svg) }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-offset-1 col-md-11">
                        {{ form_widget(form.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}