{% extends 'backend_base.html.twig' %}

{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-picture-o"></i>
                    Motive <span>>
                    Liste </span>
                </h3>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-end">
                    <a href="{{ path('psc_shop_motive_backend_list_upload') }}" class="btn btn-default btn-sm">Upload</a>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="panel">
            <div class="body">
                {{ form_start(form, { 'attr': {'class': 'searchForm'}}) }}
                <div class="form-group form-group-sm row">
                    <label class="col-md-2 form-control-label">
                        Nur aktuellen Shop?
                    </label>
                    <div class="col-md-10">
                        {{ form_widget(form.allShops, {attr: {class:'form-control'}}) }}
                    </div>
                </div>
                <div class="form-group form-group-sm row">
                    <label class="col-md-2 form-control-label">
                        Suche
                    </label>
                    <div class="col-md-10">
                        <div class="input-group input-group-sm">
                            {{ form_widget(form.search, {attr: {class:'form-control'}}) }}
                            <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </span>
                        </div>
                    </div>
                </div>


                {{ form_rest(form) }}

                <table class="table table-striped table-sm">
                    <thead class="">
                    <tr>
                        <th></th>
                        <th>{{ knp_pagination_sortable(pagination, 'Uid', 'motiv.uid') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'UUID', 'motiv.uuid') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Titel', 'motiv.title') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Erzeugt', 'motiv.created') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Breite', 'motiv.width') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Höhe', 'motiv.height') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Copyright', 'motiv.copyright') }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for motiv in pagination %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td><img style="max-width: 100px; max-height: 100px" src="{{ asset('/apps/market/motive/' ~ motiv.fileThumb) }}"/></td>
                            <td>{{ motiv.uid }}</td>
                            <td>{{ motiv.uuid }}</td>
                            <td>{{ motiv.title }}</td>
                            <td>{{ motiv.created|date("d.m.Y") }}</td>
                            <td>{{ motiv.width }}</td>
                            <td>{{ motiv.height }}</td>
                            <td>{{ motiv.copyright }}</td>
                            <td>
                                <a href="{{ path("backend_production_motive_list_edit", {uuid: motiv.uuid}) }}" class="btn btn-info btn-sm"><span class="fa fa-edit"></span> Details</a>
                                <a href="{{ path("psc_shop_motive_backend_list_swap", {uuid: motiv.uuid}) }}" class="btn btn-warning btn-sm"><span class="fa fa-spinner"></span> Tauschen</a>
                                <a href="{{ path("backend_production_motive_list_delete", {uuid: motiv.uuid}) }}" class="btn btn-danger btn-sm"><span class="fa fa-trash"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
