{% extends 'backend_base.html.twig' %}

{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-picture-o"></i>
                    Motive <span>>
                    Bearbeiten </span>
                </h3>
            </div>
        </div>
    </div>


    <div class="body">
        <div class="panel">
            <div class="header">
                <h5>{{ motiv.title }}</h5>
            </div>

            <div class="body">
            {{ form_start(form, { 'attr': {'class': 'smart-form'}}) }}
            {{ form_errors(form) }}
                <div class="col-md-6">
                    <div class="row mb-3">
                        <label class="col-md-2 form-control-label">{{ form_label(form.file) }}</label>
                        <div class="col-md-10">
                            {{ form_widget(form.file) }}
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-offset-1 col-md-11">
                        {{ form_widget(form.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                    </div>
                </div>
            {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}