<button class="btn btn-info btn-lg" style="margin-top:5px; width: 100%" ng-click="openHelpModal()"><i class="fa fa-question-circle"></i> Hilfe</button>
<script type="text/ng-template" id="helpModal">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Hilfe</h4>
        </div>

        <div class="modal-body">
            <img data-ng-src="{{url}}"/>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Schließen</button>
        </div>

    </div>
</script>