<script type="text/ng-template" id="stepSet">
    <div class="modal-content">
        <div class="modal-header">
            <h4><span ng-repeat="step in steps"> <i class="fa fa-circle-o fa-lg" ng-class="{'text-danger': step.isDisplayed, 'text-muted': !step.isDisplayed, 'text-success': step.isFinished }"></i> {{step.label}}</span></h4>
        </div>

        <div class="modal-body">
            <div id="{{ step.id }}" ng-repeat="step in steps" ng-show="step.isDisplayed">
                <span ng-repeat="element in step.elements">
                    <div class="form-group" ng-if="element.type=='formrte'">
                        <label>{{ element.label }}</label>
                        <input type="text" class="form-control" name="email" ng-change="changeText(element)" ng-model="element.value"/>
                    </div>
                    <div class="form-group" ng-if="element.type=='formtextarea'">
                        <label>{{ element.label }}</label>
                        <textarea class="form-control" name="email" ng-change="changeText(element)" ng-model="element.value"></textarea>
                    </div>
                    <div class="form-group" ng-if="element.type=='formuploadmotiv'">
                        <label>{{ element.label }}</label>
                        <input type="file" name="file" ngf-select ngf-change="changeMotiv($files, element)"/>
                        <div ng-show="selectedFiles != null">
                            <div class="sel-file" ng-repeat="f in selectedFiles">
                                <img ng-show="dataUrls[$index]" ng-src="{{dataUrls[$index]}}">
                                <span class="progress" ng-show="progress[$index] >= 0">
                                    <div style="width:{{progress[$index]}}%">{{progress[$index]}}%</div>
                                </span>
                                {{f.name}} - size: {{f.size}}B - type: {{f.type}}
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="element.type=='formmultiuploadmotiv'">
                        <label>{{ element.label }} ({{ selectableMotive.length }} Stück)</label>
                        <input type="file" name="file" ngf-select ngf-change="changeMotive($files, element)" ngf-multiple="true"/>
                        <div class="row" ng-show="multiUploadFiles != null">
                            <div ng-repeat="f in multiUploadFiles" class="col-xs-4 col-md-2">
                                <a href="#" class="thumbnail">
                                    <img ng-show="f.url" ng-src="{{f.url}}" class="img-rounded"/>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="element.type=='h1'">
                        <h1>{{ element.value }}</h1>
                    </div>
                    <div class="form-group" ng-if="element.type=='datatable'">
                        <h1>{{ element.value }}</h1>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th ng-repeat="col in element.columns">{{ col.label }}</th><th><button ng-click="addRowFromDatatable(element)" class="btn btn-sm btn-success"><i class="fa fa-plus-square"></i></button></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="row in element.rows"><td ng-repeat="col in element.columns"><input type="text" ng-model="row[col.id]"/></td><td><button ng-click="removeRowFromDatatable(row, element)" class="btn btn-sm btn-danger"><i class="fa fa-minus-square"></i></button></td></tr>
                            </tbody>

                        </table>
                    </div>
                    <div class="form-group" ng-if="element.type=='h2'">
                        <h2>{{ element.value }}</h2>
                    </div>
                    <div class="form-group" ng-if="element.type=='h3'">
                        <h3>{{ element.value }}</h3>
                    </div>
                    <div class="form-group" ng-if="element.type=='h4'">
                        <h4>{{ element.value }}</h4>
                    </div>
                    <div class="form-group" ng-if="element.type=='h5'">
                        <h5>{{ element.value }}</h5>
                    </div>
                    <div class="form-group" ng-if="element.type=='p'">
                        <p>{{ element.value }}</p>
                    </div>
                </span>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default pull-left" data-original-title="" title="" ng-click="cancel()"><i class="fa fa-times"></i> abbrechen</button>
            <button type="button" ng-disabled="!previousEnabled" class="btn btn-default pull-left" data-original-title="" title="" ng-click="previous()"><i class="fa fa-chevron-left"></i> zurück</button>
            <button type="button" ng-disabled="!nextEnabled" class="btn btn-success assi-weiter-2" data-original-title="" title="" ng-click="next()">weiter <i class="fa fa-chevron-right"></i></button>
            <button type="button" ng-disabled="!submitEnabled" class="btn btn-success" data-original-title="" title="" ng-click="finish()">Fertigstellen <i class="fa fa-check"></i></button>
        </div>

    </div>
</script>


<script type="text/ng-template" id="stepsetOld">
    <div>
        <form name="stepForm">
            <div id="steps" ng-transclude>
            </div>

            <div id="navBar">
      <span>
        <button class="btn" ng-click="previous()" ng-disabled="!previousEnabled">{{previousText}}</button>
        <button class="btn" ng-click="next()" ng-disabled="!nextEnabled">{{nextText}}</button>
        <button class="btn btn-success" ng-click="submit()" ng-disabled="stepForm.$invalid || !submitEnabled">{{submitText}}</button>
      </span>
            </div>
        </form>
    </div>
</script>
<script type="text/ng-template" id="stepOld">
    <div ng-show="isDisplayed">
        <h1>{{title}}</h1>
        <p>{{description}}</p>
        <div ng-transclude></div>
    </div>
</script>