<div class="row">
    <div class="col-md-10 offset-md-1">
        <input type="checkbox" onchange="window.location='{{ path('psc_backend_dashboard_toogle_deleted_shop') }}'" {% if displayDeletedShop %}checked="checked"{% endif %}/> Deaktivierte Shops auch anzeigen
        <select class="form-control form-control-sm bg-info text-white" style="background: #EA641b !important" onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
            {% for shop in shops %}
                {% if displayDeletedShop == true or shop.deleted == false %}
                <option {% if selectedShop.uid == shop.uid %}selected{% endif %} value="{{ path('psc_backend_dashboard_shop_change', {'shop_uuid': shop.uid}) }}">{{ shop.title }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
</div>
<hr/>
<script>
    var jwt_token = '{{jwt}}';
</script>