
    <div class="form-group row">
        <label class="col-md-4 form-control-label">{{ form_label(form.klarna.production) }}</label>
        <div class="col-md-8">
            {{ form_widget(form.klarna.production, {attr: {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-4 form-control-label">{{ form_label(form.klarna.username) }}</label>
        <div class="col-md-8">
            {{ form_widget(form.klarna.username, {attr: {'class': 'form-control'}}) }}
        </div>
    </div>


    <div class="form-group row">
        <label class="col-md-4 form-control-label">{{ form_label(form.klarna.password) }}</label>
        <div class="col-md-8">
            {{ form_widget(form.klarna.password, {attr: {'class': 'form-control'}}) }}
        </div>
    </div>
