<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Online Designer</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="//stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="//use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous"/>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/cropperjs/2.0.0-alpha/cropper.min.css" integrity="sha256-P3GPrL4qSoDfvjwrQee9CApBwzlUXpOE4MNyFTrQiKU=" crossorigin="anonymous" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cropperjs/2.0.0-alpha/cropper.min.js" integrity="sha256-3u0hqeyvmSo3mQEnK2ESrO8ULud8RguKtlZGf2nNoyw=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ asset('bundles/pluginsystempscformlayouter/css/image-picker.css') }}"/>
    <script src="{{ asset('bundles/pluginsystempscformlayouter/js/image-picker.min.js') }}"></script>

    <style type="text/css">
        .bd-example-modal-lg .modal-dialog{
            display: table;
            position: relative;
            margin: 0 auto;
            top: calc(50% - 24px);
        }

        .bd-example-modal-lg .modal-dialog .modal-content{
            background-color: transparent;
            border: none;
        }

    </style>
</head>
<body style="padding-top: 5px">
{{ header|raw }}
{#% include '/data/www/old/application/design/vorlagen/' ~ layout ~ '/step_layouter/header.html.twig' %#}
<script>
    var previews = [];
    var options = [];
    var images = [];
    var crop = [];
    var mediaSelect = [];
</script>
{{ form_start(form) }}
<input type="hidden" value="{{ step.id }}" name="actStep"/>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">{% if not step.first %}<button type="submit" name="prev" class="btn btn-sm btn-info">Zurück</button>{% endif %}</div>
        <div class="col-md-6 text-center"><h2>{{ step.headline }}</h2></div>
        <div class="col-md-3 text-end">
            {% if config.pdfPreviewButton %}<a href="{{ path("psc_plugin_formlayouter_pdf_preview", {productId: product.uuid}) }}" target="_blank" class="btn btn-sm btn-info">PDF Vorschau</a>{% endif %}
            {% if config.pdfPrintButton %}<a href="{{ path("psc_plugin_formlayouter_pdf_print", {productId: product.uuid}) }}" class="btn btn-sm btn-info">PDF Print</a>{% endif %}
            {% if not step.last %}<button type="submit" name="next" class="btn btn-sm btn-success">Weiter</button>{% endif %}
            {% if step.last %}<button type="button" id="finish" name="finish" class="btn btn-sm btn-success">Speichern und weiter</button>{% endif %}
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        {% for col in step.columns %}
            <div class="col-md-{{ step.columnWidth }}">
                {% for option in col.options %}
                    {% if option.inForm %}
                    {% if option is instanceof("\\Plugin\\System\\PSC\\FormLayouter\\Model\\Steps\\Options\\Image") %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    {{ form_label(attribute(form, option.id)) }}
                                    <div class="col-md-8">
                                        {{ form_widget(attribute(form, option.id)) }}
                                    </div>
                                    {{ form_errors(attribute(form, option.id)) }}
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 offset-4">
                                <div class="progress progress_{{ option.id }}" style="display:none">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row cropper_tools_{{ option.id }}" style="display:none; margin-bottom: 5px">
                            <div class="col-8 offset-4">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary" data-method="setDragMode" data-option="move" title="Move" onclick="moveMode('{{ option.id }}')">
                                        <span class="fa fa-arrows-alt"></span>
                                    </button>
                                    <button type="button" class="btn btn-primary" data-method="setDragMode" data-option="crop" title="Crop" onclick="cropMode('{{ option.id }}')">
                                        <span class="fa fa-crop-alt"></span>
                                    </button>
                                </div>

                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary" data-method="rotate" data-option="-45" title="Rotate Left" onclick="rotate('{{ option.id }}', -90)">
                                        <span class="fa fa-undo-alt"></span>
                                    </button>
                                    <button type="button" class="btn btn-primary" data-method="rotate" data-option="45" title="Rotate Right" onclick="rotate('{{ option.id }}', 90)">
                                        <span class="fa fa-redo-alt"></span>
                                    </button>
                                </div>

                                <div class="btn-group">
                                    <button type="button" class="btn btn-primary" data-method="rotate" data-option="45" title="Remove" onclick="remove('{{ option.id }}', 90)">
                                        <span class="fa fa-trash"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-8 offset-4">
                                <div id="image_holder_{{ option.id }}"></div>
                            </div>
                        </div>
                    {% else %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    {{ form_label(attribute(form, option.id)) }}
                                    <div class="col-md-8">
                                        {{ form_widget(attribute(form, option.id)) }}
                                    </div>
                                    {{ form_errors(attribute(form, option.id)) }}
                                </div>
                            </div>
                        </div>
                    {% endif %}
                        <script>
                            {% if option is instanceof("\\Plugin\\System\\PSC\\FormLayouter\\Model\\Steps\\Options\\Image") %}
                            options.push("{{ option.id }}_original");
                            images.push("{{ option.id }}");
                            {% if option.cropBox %}
                            options.push("{{ option.id }}_crop");
                            crop.push({ id: '{{ option.id }}', aspectRatio: {{ step.getOption(option.id).cropBoxAspectRatio }} });

                            {% endif %}
                            {% else %}
                            {% if option is instanceof("\\Plugin\\System\\PSC\\FormLayouter\\Model\\Steps\\Options\\Select\\Media") %}
                            mediaSelect.push("{{ option.id }}");
                            {% endif %}

                            options.push("{{ option.id }}");
                            {% endif %}
                        </script>
                    {% else %}
                    {% if option is instanceof("\\Plugin\\System\\PSC\\FormLayouter\\Model\\Steps\\Options\\Preview") %}
                        <div class="preview" id="{{ option.id }}" data-site="{{ option.site }}"><img/></div>
                        <script>
                            previews.push("{{ option.id }}");
                        </script>
                    {% endif %}
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
{{ form_end(form) }}
<script>
    var croppers = [];

    function delay(fn, ms) {
        let timer = 0
        return function(...args) {
            clearTimeout(timer)
            timer = setTimeout(fn.bind(this, ...args), ms || 0)
        }
    }


    function loadOnlyPdfPreviews() {
        $('.loadingWindow').modal('show');
        var o = new Object();
        $(options).each(function(index, item) {
            var element = $('#form_designer_' + item);
            o[item] = element.val();
        });


        $.ajax({
            url: '/apps/api/formlayouter/designer/update/{{ product.uuid }}',
            type: 'POST',
            data: JSON.stringify(o),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: false,
            success: function(msg) {

                $(previews).each(function(index, item) {
                    var element = $('#' + item);
                    var img = $('#' + item + " img");
                    img.unbind();
                    img.on("load", function() {
                        $('.loadingWindow').modal('hide');
                    }).attr("src", '/apps/api/formlayouter/preview/image/{{ product.uuid }}/' + element.data("site") + '/' + element.width() +'?ts=' + Math.random());
                });

            }
        });
    }

    function loadPreviews(cropper = false) {
        $('.loadingWindow').modal('show');
        var o = new Object();
        $(options).each(function(index, item) {
            var element = $('#form_designer_' + item);
            o[item] = element.val();
        });


        $.ajax({
            url: '/apps/api/formlayouter/designer/update/{{ product.uuid }}',
            type: 'POST',
            data: JSON.stringify(o),
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            async: false,
            success: function(msg) {

                $(previews).each(function(index, item) {
                    var element = $('#' + item);
                    var img = $('#' + item + " img");

                    img.unbind();
                    img.on("load", function() {
                        $('.loadingWindow').modal('hide');
                    }).attr("src", '/apps/api/formlayouter/preview/image/{{ product.uuid }}/' + element.data("site") + '/' + element.width() +'?ts=' + Math.random());
                });

                $(images).each(function(index, item) {
                    var element = $('#image_holder_' + item);
                    if($('#form_designer_' + item + '_original').val() != "") {
                        $(element).html('<img id="image_' + item + '" src="/apps/api/formlayouter/image/original/' + $('#form_designer_' + item + '_original').val() + '/' + element.width() + '?ts=' + Math.random() + '" />');
                        if(cropper) {
                            loadCropper();
                        }
                    }
                });

            }
        });

    }

    function loadCropper() {
        $(crop).each(function(index, item) {
            if($('#form_designer_' + item.id + '_original').val() != "") {
                $.getJSON('/apps/api/formlayouter/image/info/' + $('#form_designer_' + item.id + '_original').val(), {}, function(result) {
                    $('#form_designer_' + item.id + '_original').val();

                    var image = document.querySelector('#image_' + item.id);
                    image.addEventListener('ready', function () {
                        imageData = cropper.getImageData();
                        cropper.setData({
                            x: imageData.width/100*result.cropBox.x,
                            y: imageData.height/100*result.cropBox.y,
                            width: imageData.width/100*result.cropBox.width,
                            height: imageData.height/100*result.cropBox.height
                        });
                        croppers[item.id] = cropper;
                    });

                    var cropper = new Cropper(image, {
                        movable: true,
                        zoomable: true,
                        rotatable: true,
                        scalable: false,
                        aspectRatio: item.aspectRatio
                    });

                    $('.cropper_tools_' + item.id).show();

                    image.addEventListener('cropend', (event) => {

                        cropData = cropper.getData();
                        imageData = cropper.getImageData();
                        canvasData = cropper.getImageData();

                        ratio = canvasData.width / canvasData.naturalWidth;

                        x = Math.round(100 / ((imageData.width / cropData.x))*ratio);

                        y = Math.round(100 / (imageData.height / cropData.y)*ratio);
                        width = Math.round(100 / (imageData.width / cropData.width)*ratio);
                        height = Math.round(100 / (imageData.height / cropData.height)*ratio);

                        var data = new FormData();

                        data.append('x', x);
                        data.append('y', y);
                        data.append('width', width);
                        data.append('height', height);

                        option = $(this).attr("id");

                        $.ajax({
                            url: "/apps/api/formlayouter/upload/cropbox/" + $('#form_designer_' + item.id + '_original').val(),
                            type: "POST",
                            data: data,
                            processData: false,
                            contentType: false,
                            dataType: "json",
                            success: function (response) {
                                loadOnlyPdfPreviews();
                            }
                        });
                    });

                });
            }
        });
    }

    function moveMode(id) {
        croppers[id].setDragMode("move");
    }

    function cropMode(id) {
        croppers[id].setDragMode("crop");
    }

    function remove(id) {
        $('#form_designer_' + id + '_original').val("");
        $('.cropper_tools_' + id).hide();
        $('#image_holder_' + id).html("");
        loadOnlyPdfPreviews();
    }

    function rotate(id, value) {
        croppers[id].rotate(value);
        cropData = croppers[id].getData();

        var data = new FormData();
        data.append('rotate', value);

        $.ajax({
            url: "/apps/api/formlayouter/upload/rotate/" + $('#form_designer_' + id + '_original').val(),
            type: "POST",
            data: data,
            processData: false,
            contentType: false,
            dataType: "json",
            success: function (response) {
                loadOnlyPdfPreviews();
            }
        });
    }

    $(function() {
        loadPreviews();

        var firstStart = {{ firstStart }};

        $(options).each(function(index, item) {
            $("#form_designer_" + item).change(delay(function() {
                loadOnlyPdfPreviews();
            }, 2000));
        });

        $(mediaSelect).each(function(index, item) {
            $("#form_designer_" + item).imagepicker();
        });

        $(window).resize(delay(function() {
            loadOnlyPdfPreviews();
        }, 2000));

        $('#finish').click(function() {

            if(firstStart == 1) {
                $.ajax({
                    method: 'POST',
                    url: '/apps/api/formlayouter/store/update',
                    data: {
                        layouter: '{{ layouterId }}',
                        article: '{{ product.uuid }}'
                    },
                    dataType: "json",
                    success: function (result_save) {
                        window.parent.document.location.href = "/article/show/uuid/{{ product.uuid }}/{{ layouterId }}";
                    }
                });
            }else {
                var data = $.param({uuid: '{{ product.uuid }}', modus: 10});
                return $.ajax({
                    method: 'POST',
                    url: '/service/steplayouter/savenewlayouter/format/json',
                    data: data,
                    dataType: "json",
                    success: function (result) {
                        $.ajax({
                            method: 'POST',
                            url: '/apps/api/formlayouter/store/save',
                            data: {
                                layouter: result.layouter,
                                article: result.article
                            },
                            dataType: "json",
                            success: function (result_save) {
                                window.parent.document.location.href = "/article/show/uuid/{{ product.uuid }}/" + result.layouter;
                            }
                        });
                    }
                });
            }
        });

        $('input[type="file"]').change(function() {
            var data = new FormData();

            data.append('parameter', 'wert');
            data.append('file', this.files[0]);

            option = $(this).attr("id");

            $('.progress_' + option).show();

            $.ajax({
                url: "/apps/api/formlayouter/upload/single",
                type: "POST",
                data: data,
                processData: false,
                contentType: false,
                dataType: "json",
                xhr: function(){
                    var xhr = $.ajaxSettings.xhr() ;
                    xhr.upload.onprogress = function(evt){ prozent = (evt.loaded/evt.total*100); $('.progress_' + option + ' > div').width = prozent; } ;
                    xhr.upload.onload = function(){ } ;
                    return xhr ;
                },
                success: function(response) {
                    $('#' + option).val("");

                    $('#' + option + '_original').val(response.id);

                    loadPreviews(true);
                    $('.progress_' + option).hide();
                },
                error: function() { console.log("General error occured", "e"); },
                complete: function() {

                }
            });
        });

        loadCropper();
    })
</script>
<div class="loadingWindow modal bd-example-modal-lg" data-backdrop="static" data-keyboard="false" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content" style="width: 48px">
            <span class="fa fa-spinner fa-spin fa-3x"></span>
        </div>
    </div>
</div>
{{ footer|raw }}
</body>
</html>