{% extends 'backend_base.html.twig' %}

{% block body %}

    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-object-group"></i>
                    Steplayouter <span>>
                    Check XML </span>
                </h3>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="panel">
            <div class="body">
                <form method="post">
                    <table class="table table-striped table-sm">
                        <thead class="">
                            <tr>
                                <th></th>
                                <th>Uid</th>
                                <th>Name</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for product in products %}
                                <tr>
                                    <td><input type="checkbox" name="uids[]" value="{{ product.uid }}"/></td>
                                    <td>{{ product.uid }}</td>
                                    <td>{{ product.title }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <button type="submit" class="btn btn-danger">Fehler beheben</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}