<div class="siteBrowser panel panel-default" ng-show="settings.showSiteBrowser">
<div class="btn-group"><button  ng-show="settings.showAddSite" class="btn btn-success" ng-click="createSite()"><span class="fa fa-plus-square"></span></button> <button  ng-show="settings.showRemoveSite" class="btn btn-danger" ng-click="deleteSite()"><span class="fa fa-minus-square"></span></button></div>
<div class="scroller">
    <style>
        .sites canvas {
            position: relative;
        }
    </style>
    <ul class="sites">
        <li ng-repeat="site in sites"id="site_li_{{ site.id }}" ng-click="selectSite(site.id)" repeat-done="layoutDone()" ng-cloak>
            <div class="canvas-holder"><canvas id="site_{{ site.id }}"></canvas></div>
        </li>
    </ul>
</div>
</div>


<script type="text/ng-template" id="sitesLayoutGallery">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Seitenlayouts</h4>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="col-xs-3" ng-repeat="layout in layouts" ng-click="addLayout(layout.vorlageSite)" id="layout_li_{{ layout.id }}">
                    <a class="thumbnail">
                        <img id="layout_{{ layout.id }}" ng-src="{{ layout.previewImage }}" />
                    </a>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Schließen</button>
        </div>

    </div>
</script>

<script type="text/ng-template" id="deleteSite">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Löschen?</h4>
        </div>

        <div class="modal-body">
            Wollen Sie wirklich die Seite löschen?
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="ok()">Ja</button>
            <button class="btn btn-danger" ng-click="cancel()">Nein</button>
        </div>

    </div>
</script>

<script type="text/ng-template" id="addLayout">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Hinzufügen?</h4>
        </div>

        <div class="modal-body">
            Wollen Sie wirklich die Seite hinzfügen?
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="ok()">Ja</button>
            <button class="btn btn-danger" ng-click="cancel()">Nein</button>
        </div>

    </div>
</script>