.siteBrowser {
  padding: 10px;
  margin: 10px;
  height: 400px;
  width: 170px;
  z-index: 1;
  position: absolute;
  .scroller {
    overflow-y: scroll;
    height: 340px;
    margin-top: 5px;
  }
}

.siteBrowser
  .sites {
    padding: 0;
    margin: 0;
    li {
      text-align: center;
      margin-top: 5px;
      list-style: none;
    }
}