.modal {
  display: block;
}

.modalGallery {
  .modal-dialog {
    width: 80%
  }
}

.sel-file {
  padding: 1px 5px;
  font-size: smaller;
  color: grey;
  margin-top: 10px;
}

.sel-file .progress {
  display: inline-block;
  width: 100px;
  border: 3px groove #CCC;
}

.sel-file .progress div {
  font-size: smaller;
  background: orange;
  width: 0;
}

.sel-file img {
  float: left;
  width: 18px;
  height: 18px;
  padding-right: 10px;
}