<script type="text/ng-template" id="motivMethod">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Wie möchten Sie ein Motiv einfügen?</h4>
        </div>
        <form ng-submit="submit()">
            <div class="modal-body">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    Vom eigenen Rechner hochladen
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <input type="file" name="file" ngf-accept="'.jpg,.jpeg,.png,.gif'" ng-model-rejected="rejFiles" ngf-select ngf-change="onFileSelect($files, false)"/>
                                <div ng-show="selectedFiles != null">
                                    <div class="sel-file" ng-repeat="f in selectedFiles">
                                        <img ng-show="dataUrls[$index]" ng-src="{{dataUrls[$index]}}">
                                        <span class="progress" ng-show="progress[$index] >= 0">
                                            <div style="width:{{progress[$index]}}%">{{progress[$index]}}%</div>
                                        </span><span style="float: right"{{f.name}} - size: {{f.size}}B - type: {{f.type}}</div>
                                    </div>
                                </div>
                                <div class="row" ng-show="rejFiles.length > 0">
                                    <div class="col-lg-12 text-center"><div class="alert alert-danger">
                                        Dateiformat wird nicht unterstützt. Lade dein Bild bitte als JPEG, PNG oder Gif hoch.
                                    </div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    Aus der Motiv Gallerie
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <button class="btn btn-default" ng-click="openMotivGallery(false)">Motivliste aufrufen</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" ng-click="cancel()">Schließen</button>
            </div>
        </form>
    </div>
</script>


<script type="text/ng-template" id="motivEditMethod">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Wie möchten Sie das Motiv ändern?</h4>
        </div>
        <form ng-submit="submit()">
            <div class="modal-body">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    Vom eigenen Rechner hochladen
                                </a>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <input type="file" ngf-select  ngf-accept="'.jpg,.jpeg,.png,.gif'" ng-model-rejected="rejFiles" ngf-change="onFileSelect($files, false)">
                                <div ng-show="selectedFiles != null">
                                    <div class="sel-file" ng-repeat="f in selectedFiles">
                                        <img ng-show="dataUrls[$index]" ng-src="{{dataUrls[$index]}}">
                                        <span class="progress" ng-show="progress[$index] >= 0">
                                            <div style="width:{{progress[$index]}}%">{{progress[$index]}}%</div>
                                        </span>
                                        {{f.name}} - size: {{f.size}}B - type: {{f.type}}
                                    </div>
                                </div>
                                <div class="row" ng-show="rejFiles.length > 0">
                                    <div class="col-lg-12 text-center"><div class="alert alert-danger">
                                        Dateiformat wird nicht unterstützt. Lade dein Bild bitte als JPEG, PNG oder Gif hoch.
                                    </div></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    Aus der Motiv Gallerie
                                </a>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <button class="btn btn-default" ng-click="openMotivGallery(true)">Motivliste aufrufen</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-warning" ng-click="cancel()">Schließen</button>
            </div>
        </form>
    </div>
</script>

<script type="text/ng-template" id="motivGallery">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Motive</h4>
        </div>
        <div class="modal-body">
            <h5>Stilelemente können in der Größe verändert, gedreht und positioniert werden.</h5>

            <uib-tabset>
                <uib-tab heading="Gallery">
                    <div class="row">
                        <div ng-repeat="motiv in motive" class="col-xs-2">
                            <a ng-click="selectMotiv(motiv.uuid, false)" class="thumbnail">
                                <img ng-src="{{ ds.getImageThumbPath(motiv.uuid) }}"/>
                            </a>
                        </div>
                    </div>
                    <pagination total-items="count" ng-model="page" ng-change="pageChanged()" class="pagination-small" boundary-links="true" rotate="false" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                </uib-tab>
                <uib-tab heading="Meine Motive">
                    <div class="row">
                        <div ng-repeat="motiv in myMotive" class="col-xs-2">
                            <a ng-click="selectMotiv(motiv.uuid, false)" class="thumbnail">
                                <img ng-src="{{ ds.getImageThumbPath(motiv.uuid) }}"/>
                            </a>
                        </div>
                    </div>
                    <pagination total-items="myCount" ng-model="myPage" ng-change="myPageChanged()" class="pagination-small" boundary-links="true" rotate="false" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></pagination>
                </uib-tab>

            </uib-tabset>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Schließen</button>
        </div>

    </div>
</script>