{% extends 'backend_base.html.twig' %}
{% trans_default_domain 'core_contact_list' %}
{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-user"></i>
                    {{ 'customers'|trans }} <span>>
                    {{ 'list'|trans }} </span>
                </h3>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="panel">
            <div class="body">
                <a class="btn btn-info btn-sm" href="{{ path("psc_shop_contact_backend_create") }}"><span class="fa fa-plus"></span> {{ 'addcustomers'|trans }}</a>
            </div>
        </div>
        <div class="panel">
            <div class="body">
                {{ form_start(form, { 'attr': {'class': 'searchForm'}}) }}
                <div class="form-group form-group-sm row">
                    <label class="col-md-1 form-control-label">
                        {{ 'search'|trans }}
                    </label>
                    <div class="col-md-3">
                        <div class="input-group input-group-sm">
                            {{ form_widget(form.term, {attr: {class:'form-control'}}) }}
                            <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </span>
                        </div>
                    </div>
                </div>

                {{ form_rest(form) }}

                {{ form_end(form) }}

                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>{{ knp_pagination_sortable(pagination, 'Id', 'contact.uid') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Loginname'|trans, 'contact.username') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'generated'|trans, 'contact.createdAt') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'changed'|trans, 'contact.updatedAt') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'firstname'|trans, 'contact.selffirstname') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'lastname'|trans, 'contact.lastname') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'street'|trans, 'contact.street') }}/{{ knp_pagination_sortable(pagination, 'housenumber'|trans, 'contact.houseNumber') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'zip'|trans, 'contact.zip') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'city'|trans, 'contact.city') }}</th>
                        <th>{{ 'virtual'|trans }}</th>
                        <th>{{ 'shops'|trans }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for contact in pagination %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>{{ contact.id }}</td>
                            <td><a href="mailto:{{ contact.username }}">{{ contact.username }}</a></td>
                            <td>{{ contact.createdAt|date('d.m.Y') }}</td>
                            <td>{{ contact.updatedAt|date('d.m.Y') }}</td>
                            <td>{{ contact.firstname }}</td>
                            <td>{{ contact.lastname }}</td>
                            <td>{{ contact.street }} {{ contact.houseNumber }}</td>
                            <td>{{ contact.zip }}</td>
                            <td>{{ contact.city }}</td>
                            <td>{% if contact.virtual == 1 %}<span class="badge bg-danger">{{ 'yes'|trans }}</span>{% else %}<span class="badge bg-secondary">{{ 'no'|trans }}</span>{% endif %}</td>
                            <td>{% if contact.shops|length > 1 %}
                                <span class="badge bg-warning" data-bs-toggle="tooltip" data-bs-placement="bottom" title="{% for shop in contact.shops %}{% if selectedShop.id != shop.id %}{{ shop.title }}{% if loop.last == false %},{% endif %}{% endif %}{% endfor %}">
                                    {{ 'yes'|trans }}
                                </span>
                            {% else %}
                                <span class="badge bg-secondary">{{ 'no'|trans }}</span>
                            {% endif %}</td>
                            <td class="text-end">
                                <a href="{{ path("psc_shop_contact_backend_edit", {uuid: contact.uuid}) }}" class="btn btn-info btn-sm"><span class="fa fa-edit"></span> {{ 'edit'|trans }}</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}