<div class="col-lg-12 text-center">
    <div id="pageNav" role="toolbar">
            <button type="button" class="btn btn-link" ng-click="selectSite(settings.showSiteBrowserPrevButton.id)" data-ng-show="settings.showSiteBrowserPrevButton.show"><i class="fa fa-angle-left fa-3x"></i></button>
            <button type="button" class="btn btn-link" ng-click="selectSite(settings.showSiteBrowserPrevItem2.id)" data-ng-show="settings.showSiteBrowserPrevItem2.show">{{settings.showSiteBrowserPrevItem2.text}}</button>
            <button type="button" class="btn btn-link" ng-click="selectSite(settings.showSiteBrowserPrevItem1.id)" data-ng-show="settings.showSiteBrowserPrevItem1.show">{{settings.showSiteBrowserPrevItem1.text}}</button>
            <nav id="monthNav" dropdown class="btn-group" data-ng-show="settings.showSiteBrowser">
                <button type="button" class="btn btn-default navbar-btn dropdown-toggle btn-long" dropdown-toggle>{{title()}} &nbsp;
                    <span class="caret"></span></button>
                <ul class="dropdown-menu text-left" role="menu" ng-show="settings.showSiteBrowser">
                    <li class="col-lg-1 col-sm-3 col-xs-6 text-center" ng-repeat="site in sites" id="site_li_{{ site.id }}" ng-click="selectSite(site.id)" repeat-done="layoutDone()" ng-cloak>
                        <div class="media">
                            <div class="canvas-holder"><canvas id="site_{{ site.id }}"></canvas></div>
                            <div class="media-body">
                                <p class="media-heading">{{site.title}}</p>
                            </div>
                        </div>
                    </li>

                </ul>
            </nav>
            <button type="button" class="btn btn-link" ng-click="selectSite(settings.showSiteBrowserNextItem1.id)" data-ng-show="settings.showSiteBrowserNextItem1.show">{{settings.showSiteBrowserNextItem1.text}}</button>
            <button type="button" class="btn btn-link" ng-click="selectSite(settings.showSiteBrowserNextItem2.id)" data-ng-show="settings.showSiteBrowserNextItem2.show">{{settings.showSiteBrowserNextItem2.text}}</button>
            <button type="button" class="btn btn-link" ng-click="selectSite(settings.showSiteBrowserNextButton.id)" data-ng-show="settings.showSiteBrowserNextButton.show"><i class="fa fa-angle-right fa-3x"></i></button>
    </div>
</div>




<script type="text/ng-template" id="sitesLayoutGallery">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Seitenlayouts</h4>
        </div>

        <div class="modal-body">
            <div class="row">
                <div class="col-xs-3" ng-repeat="layout in layouts" ng-click="addLayout(layout.vorlageSite)" id="layout_li_{{ layout.id }}">
                    <a class="thumbnail">
                        <img id="layout_{{ layout.id }}" ng-src="{{ layout.previewImage }}" />
                    </a>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Schließen</button>
        </div>

    </div>
</script>

<script type="text/ng-template" id="deleteSite">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Löschen?</h4>
        </div>

        <div class="modal-body">
            Wollen Sie wirklich die Seite löschen?
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="ok()">Ja</button>
            <button class="btn btn-danger" ng-click="cancel()">Nein</button>
        </div>

    </div>
</script>

<script type="text/ng-template" id="addLayout">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Hinzufügen?</h4>
        </div>

        <div class="modal-body">
            Wollen Sie wirklich die Seite hinzfügen?
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="ok()">Ja</button>
            <button class="btn btn-danger" ng-click="cancel()">Nein</button>
        </div>

    </div>
</script>
