{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            {% for error in errors %}
                <em for="fname" class="state-error">{{ error.message }}</em>
            {% endfor %}
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}