<header id="niceartpageheader">
    <nav id="top-nav" class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="navbar-header">
                        <span class="logo"></span>
                        <a class="navbar-brand " href="#" title="HTML-Layouter">{{title}}</a>
                    </div>
                    <div class="btn-group dropdown" uib-dropdown is-open="settings.showZoomSelector" ng-controller="FooterCtrl">
                        <button type="button" class="btn btn-default navbar-btn dropdown-toggle" uib-dropdown-toggle>{{settings.zoomPercent}}%&nbsp;<span class="fa fa-angle-down"></span></button>
                        <ul class="dropdown-menu text-left" role="menu" >
                            <li><a ng-click="changeZoom(0.1)">10%</a></li>
                            <li><a ng-click="changeZoom(0.2)">20%</a></li>
                            <li><a ng-click="changeZoom(0.3)">30%</a></li>
                            <li><a ng-click="changeZoom(0.4)">40%</a></li>
                            <li><a ng-click="changeZoom(0.5)">50%</a></li>
                            <li><a ng-click="changeZoom(0.6)">60%</a></li>
                            <li><a ng-click="changeZoom(0.7)">70%</a></li>
                            <li><a ng-click="changeZoom(0.8)">80%</a></li>
                            <li><a ng-click="changeZoom(0.9)">90%</a></li>
                            <li><a ng-click="changeZoom(1.0)">100%</a></li>
                            <li><a ng-click="changeZoom(1.1)">110%</a></li>
                            <li><a ng-click="changeZoom(1.2)">120%</a></li>
                            <li><a ng-click="changeZoom(1.3)">130%</a></li>
                            <li><a ng-click="changeZoom(1.4)">140%</a></li>
                            <li><a ng-click="changeZoom(1.5)">150%</a></li>
                            <li><a ng-click="changeZoom(1.6)">160%</a></li>
                            <li><a ng-click="changeZoom(1.7)">170%</a></li>
                            <li><a ng-click="changeZoom(1.8)">180%</a></li>
                            <li><a ng-click="changeZoom(1.9)">190%</a></li>
                            <li><a ng-click="changeZoom(2.0)">200%</a></li>
                            <li><a ng-click="changeZoom(2.2)">220%</a></li>
                            <li><a ng-click="changeZoom(2.5)">250%</a></li>
                            <li><a ng-click="changeZoom(2.7)">270%</a></li>
                            <li><a ng-click="changeZoom(3)">300%</a></li>
                            <li><a ng-click="changeZoom(3.2)">320%</a></li>
                            <li><a ng-click="changeZoom(3.5)">350%</a></li>
                            <li><a ng-click="changeZoom(3.7)">370%</a></li>
                            <li><a ng-click="changeZoom(4)">400%</a></li>
                        </ul>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-default" ng-controller="FooterCtrl" ng-show="settings.show_preview_pdf" ng-click="previewPDF()" title="Eine PDF Vorschau deines Designs">Vorschau <i class="fa fa-file-pdf-o fa-fw"></i></button>
                        <button class="btn btn-default" ng-controller="FooterCtrl" ng-show="settings.show_print_pdf" ng-click="printPDF()" href="" class="btn btn-default">Print als PDF</button>
                    </div>

                    <div class="btn-group" ng-show="datatable.length > 0" role="group">
                        <div class="btn-group dropdown" dropdown>
                            <button type="button" class="btn btn-default dropdown-toggle" dropdown-toggle>Datensätze&nbsp;<span class="fa fa-angle-down"></span></button>
                            <ul class="dropdown-menu text-left" role="menu" >
                                <li ng-repeat="row in datatable"><a ng-click="mydatatableSelect(row)">{{row[datatableLabel]}}</a></li>
                            </ul>
                        </div>
                        <button type="button" class="btn btn-default" ng-click="editDatatable()">Bearbeiten</button>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="siteBrowser" style="display: inline; float:left" ng-controller="SitesCtrl" ng-include="'themes/psc/app/sites/sites.tpl.html'" ></div>
                    <h4 class="nagger__title">Der Shop des Medienzentrum Günzburg</h4>
                </div>
                <div class="col-md-4">
                    <ul class="nav navbar-nav navbar-right btn-navbar-icon">
                        <!--<li><a class="niceart-btn-save" ng-controller="FooterCtrl" ng-show="settings.saveProduct" ng-click="saveProduct()" title="Speichere jetzt und bearbeite dein Design später weiter"><i class="fa fa-cloud fa-fw"></i> speichern</a></li>-->
                        <li><a class="niceart-btn-kill" ng-click="closeApplication()"><i class="fa fa-times fa-lg"></i></a></li>
                    </ul>
                </div>
            </div>

        </div>
    </nav>
</header>

<script type="text/ng-template" id="closeApplication">
    <div class="modal-content modal-danger">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()" aria-hidden="true"><i class="fa fa-times"></i></button>
            <h4 class="modal-title" id="meinModalLabel3">NEUSTART</h4>
        </div>
        <div class="modal-body text-center">
            <p><i class="fa fa-exclamation fa-5x"></i>
            </p>
            <p class="lead">Möchtest du wirklich alle Personalisierungen (Anpassungen) aufgeben und von vorne beginnen?</p>
            <p class="text-muted">Beachte bitte das der Stand nicht wieder herstellbar ist - auch nicht von uns.</p>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" ng-click="cancel()"><i class="fa fa-times fa-fw"></i> abbrechen</button>
            <button type="button" class="btn btn-success" ng-click="ok()"><i class="fa fa-check fa-fw"></i> Ok möchte ich</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="showPdfPrint">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Eingabe</h4>
        </div>

        <div class="modal-body">
            <p class="text-center">
            <form>
                <div class="form-group">
                    <label for="orderNr">Auftragsnummer</label>
                    <input type="text" class="form-control" name="orderNr" id="orderNr" data-ng-model="orderNr" placeholder="Auftragsnummer">
                </div>
                <div class="form-group">
                    <button class="btn btn-success" ng-click="print()" target="_blank" href="{{link}}">Vorschau Anzeigen</button>
                </div>
            </form>
            </p>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Schließen</button>
        </div>

    </div>
</script>
