<div class="row">
    <div class="col-md-4">
        <div class="form-group row">
            {{ form_label(form.warehouse.mwert) }}
            <div class="col-md-8">
                {{ form_widget(form.warehouse.mwert) }}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group row">
            {{ form_label(form.warehouse.fromPrice) }}
            <div class="col-md-8">
                {{ form_widget(form.warehouse.fromPrice) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group row">
            {{ form_label(form.warehouse.price) }}
            <div class="col-md-8">
                {{ form_widget(form.warehouse.price) }}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group row">
            {{ form_label(form.warehouse.weight) }}
            <div class="col-md-8">
                {{ form_widget(form.warehouse.weight) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            {{ form_label(form.warehouse.scaledPrice) }}
            <div class="col-md-8">
                {{ form_widget(form.warehouse.scaledPrice) }}
            </div>
        </div>
    </div>
</div>
