{% extends 'backend_base.html.twig' %}

{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-tags"></i>
                    Product <span>>
			        anlegen </span>
                </h3>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-end">
                <a href="{{ path("psc_shop_product_backend_list") }}" class="btn btn-default btn-sm"><i class="fa fa-lg fa-fw fa-arrow-left"></i> Zurück</a>
            </div>
        </div>
    </div>

    <div class="body">
        <div class="panel">
            <div class="header">
                <h5>Neues Produkt anlegen</h5>
            </div>
            <div class="body">

                {{ form_start(form, { 'attr': {'class': 'smart-form'}}) }}
                {{ form_errors(form) }}

                <div class="row">
                    <div class="col-md-2">
                        <ul class="nav nav-pills flex-column" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="#all" role="tab">Allgemein</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#images" role="tab">Bilder</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#text" role="tab">Texte</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#groups" role="tab">Gruppen</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#customTab" role="tab">Custom Tab</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#seo" role="tab">Seo & Social Media</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#packaging" role="tab">Maße & Verpackung</a>
                            </li>
                            {% for customProductGroup in customProductGroups %}
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#{{ customProductGroup.id }}" role="tab">{{ customProductGroup.title }}</a>
                                </li>
                            {% endfor %}
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#uploads" role="tab">Hochladen</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#var" role="tab">Verschiedenes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#customFields" role="tab">Variable Felder</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#hint" role="tab">Datenhinweise</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#extra" role="tab">Erweitert</a>
                            </li>
                            {% for customGroup in customGroups %}
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#{{ customGroup.id }}" role="tab">{{ customGroup.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-10">
                        <div class="tab-content">
                            <div class="tab-pane active" id="all" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.uuid) }}
                                            <div class="col-md-8 state-disabled">
                                                {{ form_widget(form.uuid) }}
                                                <b class="tooltip tooltip-top-left">
                                                    <i class="fa fa-warning txt-color-teal"></i>
                                                    UUID des Produktes</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.createdAt) }}
                                            <div class="col-md-8 state-disabled">
                                                {{ form_widget(form.createdAt) }}
                                                <b class="tooltip tooltip-top-left">
                                                    <i class="fa fa-warning txt-color-teal"></i>
                                                    Angelegt am</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.updatedAt) }}
                                            <div class="col-md-8 state-disabled">
                                                {{ form_widget(form.updatedAt) }}
                                                <b class="tooltip tooltip-top-left">
                                                    <i class="fa fa-warning txt-color-teal"></i>
                                                    Geändert am</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.title) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.title) }}
                                                <b class="tooltip tooltip-top-left">
                                                    <i class="fa fa-warning txt-color-teal"></i>
                                                    Titel des Produktes</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.url) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.url) }}
                                                <b class="tooltip tooltip-top-left">
                                                    <i class="fa fa-warning txt-color-teal"></i>
                                                    Url des Produktes</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.buyed) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.buyed) }}
                                                <b class="tooltip tooltip-top-left">
                                                    <i class="fa fa-warning txt-color-teal"></i>
                                                    Abverkäufe</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        {{ form_widget(form.enable) }}
                                    </div>
                                    <div class="col-3">
                                        {{ form_widget(form.private) }}
                                    </div>
                                    <div class="col-3">
                                        {{ form_widget(form.displayNotInOverview) }}
                                    </div>
                                    <div class="col-3">
                                        {{ form_widget(form.notBuy) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        {{ form_widget(form.asOffer) }}
                                    </div>
                                    <div class="col-3">
                                        {{ form_widget(form.notEdit) }}
                                    </div>
                                    <div class="col-3">
                                        {{ form_widget(form.displayNoPrice) }}
                                    </div>
                                    <div class="col-3">
                                        {{ form_widget(form.canBuyWithNoPrice) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        {{ form_widget(form.asRequest) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.kostenstelle) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.kostenstelle) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.nrIntern) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.nrIntern) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.nrExtern) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.nrExtern) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.language) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.language) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.availability) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.availability) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="groups" role="tabpanel">
                                <div class="row mb-3">
                                    {{ form_label(form.pos) }}
                                    <div class="col-md-8">
                                        {{ form_widget(form.pos) }}
                                    </div>
                                </div>
                                <h6>Produktgruppen</h6>
                                {{ form_widget(form.product_groups) }}
                                <hr/>
                                <h6>Kreuzverkauf</h6>
                                {{ form_widget(form.releatedProducts) }}
                            </div>
                            <div class="tab-pane" id="images" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-3">
                                        {{ form_widget(form.image1) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_widget(form.image2) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_widget(form.image3) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_widget(form.image4) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        {{ form_widget(form.image5) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_widget(form.image6) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_widget(form.image7) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_widget(form.image8) }}
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="customTab" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-3">
                                            {{ form_label(form.customTabEnable) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.customTabEnable) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-3">
                                            {{ form_label(form.customTabTitle) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.customTabTitle) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ form_widget(form.customTabText, {attr: {'class': 'form-control summernote'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="hint" role="tabpanel">
                                 <div class="row">
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.hintEnable) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.hintEnable) }}
                                            </div>
                                        </div>
                                    </div>
                                 </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.hintFile1) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.hintFile1) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.hintFile2) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.hintFile2) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.hintFile3) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.hintFile3) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.hintFile4) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.hintFile4) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ form_widget(form.hintText, {attr: {'class': 'form-control summernote'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="packaging" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.salesUnit) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.salesUnit) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.packagingUnit) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.packagingUnit) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.baseUnit) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.baseUnit) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="text" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-3">
                                            {{ form_label(form.textArt) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.textArt) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-3">
                                            {{ form_label(form.textFormat) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.textFormat) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-3">
                                            {{ form_label(form.einleitung) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.einleitung) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h5>Beschreibung</h5>

                                {{ form_widget(form.description, {attr: {'class': 'form-control summernote'}}) }}

                                <h5>Zusätzliche Beschreibung</h5>

                                {{ form_widget(form.text, {attr: {'class': 'form-control summernote'}}) }}
                            </div>

                            <div class="tab-pane" id="seo" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            {{ form_label(form.videoId) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.videoId) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            {{ form_label(form.metaKeywords) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.metaKeywords) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            {{ form_label(form.metaAuthor) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.metaAuthor) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            {{ form_label(form.metaCustomTitle) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.metaCustomTitle) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            {{ form_label(form.metaDescription) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.metaDescription) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            {{ form_label(form.metaOgTitle) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.metaOgTitle) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            {{ form_label(form.metaOgType) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.metaOgType) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            {{ form_label(form.metaOgImage) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.metaOgImage) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            {{ form_label(form.metaOgUrl) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.metaOgUrl) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            {{ form_label(form.metaOgDescription) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.metaOgDescription) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane" id="uploads" role="tabpanel">

                                <div class="panel panel-default">
                                    <div class="header"><h5>Master Initialstatus</h5></div>
                                    <div class="body">
                                        <div class="row">

                                            <div class="col-md-7 offset-1">
                                                <div class="row mb-3">
                                                    {{ form_label(form.initialStatus) }}
                                                    <div class="col-md-8">
                                                        {{ form_widget(form.initialStatus) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="header"><h5>Upload in der Auftragsverwaltung</h5></div>
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="row mb-3">
                                                    {{ form_label(form.uploadCenter) }}
                                                    <div class="col-md-8">
                                                        <div class="checkbox">
                                                            {{ form_widget(form.uploadCenter) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="row mb-3">
                                                    {{ form_label(form.uploadCenterInitalStatus) }}
                                                    <div class="col-md-8">
                                                        {{ form_widget(form.uploadCenterInitalStatus) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="header"><h5>Upload während der Bestellung</h5></div>
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="row mb-3">
                                                    {{ form_label(form.uploadProduct) }}
                                                    <div class="col-md-8">
                                                        <div class="checkbox">
                                                            {{ form_widget(form.uploadProduct) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="row mb-3">
                                                    {{ form_label(form.uploadProductInitalStatus) }}
                                                    <div class="col-md-8">
                                                        {{ form_widget(form.uploadProductInitalStatus) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="header"><h5>Druckdaten der letzten Bestellung verwenden</h5></div>
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="row mb-3">
                                                    {{ form_label(form.uploadFromLatestOrder) }}
                                                    <div class="col-md-8">
                                                        <div class="checkbox">
                                                            {{ form_widget(form.uploadFromLatestOrder) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="row mb-3">
                                                    {{ form_label(form.uploadFromLatestOrderInitalStatus) }}
                                                    <div class="col-md-8">
                                                        {{ form_widget(form.uploadFromLatestOrderInitalStatus) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="header"><h5>Datenübergabe per Post</h5></div>
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="row mb-3">
                                                    {{ form_label(form.uploadPost) }}
                                                    <div class="col-md-8">
                                                        <div class="checkbox">
                                                            {{ form_widget(form.uploadPost) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="row mb-3">
                                                    {{ form_label(form.uploadPostInitalStatus) }}
                                                    <div class="col-md-8">
                                                        {{ form_widget(form.uploadPostInitalStatus) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="header"><h5>Datenübergabe per Email</h5></div>
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="row mb-3">
                                                    {{ form_label(form.uploadEmail) }}
                                                    <div class="col-md-8">
                                                        <div class="checkbox">
                                                            {{ form_widget(form.uploadEmail) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="row mb-3">
                                                    {{ form_label(form.uploadEmailInitalStatus) }}
                                                    <div class="col-md-8">
                                                        {{ form_widget(form.uploadEmailInitalStatus) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <div class="header"><h5>Produkt Datei</h5></div>
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="row mb-3">
                                                    {{ form_label(form.uploadProvided) }}
                                                    <div class="col-md-8">
                                                        <div class="checkbox">
                                                            {{ form_widget(form.uploadProvided) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="row mb-3">
                                                    {{ form_label(form.uploadProvidedFile) }}
                                                    <div class="col-md-8">
                                                        <div class="checkbox">
                                                            {{ form_widget(form.uploadProvidedFile) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="row mb-3">
                                                    {{ form_label(form.uploadProvidedInitalStatus) }}
                                                    <div class="col-md-8">
                                                        {{ form_widget(form.uploadProvidedInitalStatus) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {% for customField in customFields %}
                                    {% if customField.tab == "uploads"  and customField.getTemplate %}
                                        {{ include(customField.getTemplate, { 'form': form, 'selectedShop': selectedShop }) }}
                                    {% endif %}
                                {% endfor %}



                            </div>
                            <div class="tab-pane" id="var" role="tabpanel">
                                <div class="row mb-3">
                                    <label class="col-md-2 form-control-label">{{ form_label(form.ablaufDatum) }}</label>
                                    <div class="col-md-10">
                                        {{ form_widget(form.ablaufDatum) }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-md-2 form-control-label">{{ form_label(form.ansprechPartner) }}</label>
                                    <div class="col-md-10">
                                        {{ form_widget(form.ansprechPartner) }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-md-2 form-control-label">{{ form_label(form.printPartnerEmail) }}</label>
                                    <div class="col-md-10">
                                        {{ form_widget(form.printPartnerEmail) }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-md-2 form-control-label">{{ form_label(form.zusatzDesigner) }}</label>
                                    <div class="col-md-10">
                                        {{ form_widget(form.zusatzDesigner) }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-md-2 form-control-label">{{ form_label(form.zusatzAbmessung) }}</label>
                                    <div class="col-md-10">
                                        {{ form_widget(form.zusatzAbmessung) }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-md-2 form-control-label">{{ form_label(form.zusatzShipping) }}</label>
                                    <div class="col-md-10">
                                        {{ form_widget(form.zusatzShipping) }}
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="customFields" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.productFieldName1 }}
                                            </label>
                                            <div class="col-md-6">
                {% if shopDoc.productFieldName1 %}{{ form_widget(form.custom1) }}{% else %}{{ form_widget(form.custom1, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom1) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.productFieldName2 }}
                                            </label>
                                            <div class="col-md-6">
                {% if shopDoc.productFieldName2 %}{{ form_widget(form.custom2) }}{% else %}{{ form_widget(form.custom2, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom2) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.productFieldName3 }}
                                            </label>
                                            <div class="col-md-6">
                {% if shopDoc.productFieldName3 %}{{ form_widget(form.custom3) }}{% else %}{{ form_widget(form.custom3, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom3) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.productFieldName4 }}
                                            </label>
                                            <div class="col-md-6">
                {% if shopDoc.productFieldName4 %}{{ form_widget(form.custom4) }}{% else %}{{ form_widget(form.custom4, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom4) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.productFieldName5 }}
                                            </label>
                                            <div class="col-md-6">
                {% if shopDoc.productFieldName5 %}{{ form_widget(form.custom5) }}{% else %}{{ form_widget(form.custom5, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom5) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.productFieldName6 }}
                                            </label>
                                            <div class="col-md-6">
                {% if shopDoc.productFieldName6 %}{{ form_widget(form.custom6) }}{% else %}{{ form_widget(form.custom6, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom6) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.productFieldName7 }}
                                            </label>
                                            <div class="col-md-6">
                {% if shopDoc.productFieldName7 %}{{ form_widget(form.custom7) }}{% else %}{{ form_widget(form.custom7, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom7) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.productFieldName8 }}
                                            </label>
                                            <div class="col-md-6">
                {% if shopDoc.productFieldName8 %}{{ form_widget(form.custom8) }}{% else %}{{ form_widget(form.custom8, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom8) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.productFieldName9 }}
                                            </label>
                                            <div class="col-md-6">
                {% if shopDoc.productFieldName9 %}{{ form_widget(form.custom9) }}{% else %}{{ form_widget(form.custom9, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom9) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.productFieldName10 }}
                                            </label>
                                            <div class="col-md-6">
                {% if shopDoc.productFieldName10 %}{{ form_widget(form.custom10) }}{% else %}{{ form_widget(form.custom10, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom10) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.productFieldName11 }}
                                            </label>
                                            <div class="col-md-6">
                {% if shopDoc.productFieldName11 %}{{ form_widget(form.custom11) }}{% else %}{{ form_widget(form.custom11, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom11) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.productFieldName12 }}
                                            </label>
                                            <div class="col-md-6">
                {% if shopDoc.productFieldName12 %}{{ form_widget(form.custom12) }}{% else %}{{ form_widget(form.custom12, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom12) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="extra" role="tabpanel">
                                <div class="row mb-3">
                                    <label class="col-md-3 form-control-label">
                                        {{ form_label(form.extraSettings) }}
                                    </label>
                                    <div class="col-md-9">
                                        {{ form_widget(form.extraSettings, {'attr': {'rows' : 15}}) }}
                                    </div>
                                    {{ form_errors(form.extraSettings) }}
                                </div>
                            </div>
                            {% for customGroup in customGroups %}
                                <div class="tab-pane" id="{{ customGroup.id }}" role="tabpanel">
                                    {% for customField in customFields %}
                                        {% if customField.group == customGroup.id and (customField.tab is not defined or customField.tab == null) and customField.getTemplate %}
                                            {{ include(customField.getTemplate, { 'form': form, 'selectedShop': selectedShop }) }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                            {% for customProductGroup in customProductGroups %}
                                <div class="tab-pane" id="{{ customProductGroup.id }}" role="tabpanel">
                                    {% for customProductField in customProductFields %}
                                        {% if customProductField.group == customProductGroup.id and (customProductField.tab	is not defined or customProductField.tab == null) and customProductField.getTemplate %}
                                            {{ include(customProductField.getTemplate, { 'form': form, 'selectedShop': selectedShop }) }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row mb-3">
                    <div class="col-md-offset-2 col-md-10">
                        {{ form_widget(form.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    {{ summernote_mediabundle_init() }}

{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script>

        var wto;

        $(function() {
            $('#product_url').on('keyup', (function() {
                clearTimeout(wto);
                wto = setTimeout(function() {
                    if($('#product_url').val() != "") {

                        $.getJSON("/apps/backend/product/edit/check/url/" + $('#product_url').val(),[], function(data) {
                            $('#product_url').removeClass('is-valid');
                            $('#product_url').removeClass('is-invalid');
                            $('#product_url').parent().find('.invalid-feedback').remove();
                            if(data.found) {
                                $('#product_url').addClass('is-invalid');
                                $('#product_url').after('<div class="invalid-feedback">\n' +
                                    'Schon vorhanden: ' + data.error + '\n' +
                                    '</div>');
                            }else{
                                $('#product_url').addClass('is-valid');
                            }
                        });
                    }
                }, 1000);



            }));
        });

    </script>
{% endblock %}