{% extends 'backend_base.html.twig' %}

{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-tags"></i>
                    Produkt <span>>
                    Löschen</span>
                </h3>
            </div>
        </div>
    </div>

    <div class="body">
        <div class="panel">
            <div class="header">
                <h4>Produkt löschen?</h4>
            </div>
            <div class="body">

                <h5>{{ product.title }}</h5>

                {% if count > 0 %}
                    <p>Bestellungen mit diesem Produkt sind vorhanden.</p>
                    <a class="btn btn-primary" href="{{ path('psc_shop_product_backend_list') }}"> Zurück</a>
                {% else %}
                {{ form_start(form, { 'attr': {'class': ''}}) }}
                <div class="row mb-3">
                    <label class="col-md-1 form-control-label"></label>
                    <div class="col-md-1">
                        {{ form_widget(form.yes, {attr: {class: 'btn btn-lg btn-warning btn-sm'}}) }}
                    </div>
                    <div class="col-md-1">
                        {{ form_widget(form.no, {attr: {class: 'btn btn-lg btn-primary btn-sm'}}) }}
                    </div>
                </div>
                {{ form_end(form) }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}