{% extends 'backend_base.html.twig' %}
{% trans_default_domain 'core_product_edit' %}
{% block body %}
<style>
a[href^="#formlayouter"] {display:none;}
</style>
    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-tags"></i>
                    {{ 'Product'|trans }} <span>>
			        {{ 'edit'|trans }} </span>
                    <a target="_blank" href="//{{ domain }}/article/show/uuid/{{ product.uuid }}">{{ 'show'|trans }}</a>
                </h3>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-end">
                <a href="{{ path("psc_shop_product_backend_list") }}" class="btn btn-default btn-sm"><i class="fa fa-lg fa-fw fa-arrow-left"></i> {{ 'back'|trans }}</a>
            </div>
        </div>
    </div>
<div class="body">
    <div class="panel">
        <div class="body">
                <a href="{{ path("backend_production_product_permission_index", {product: product.uuid}) }}" class="btn btn-default btn-sm"><i class="fa fa-lg fa-fw fa-key"></i> {{ 'opening'|trans }}</a>
                <a href="{{ path("backend_production_product_stock_index", {product: product.uuid}) }}" class="btn btn-default btn-sm"><i class="fa fa-lg fa-fw fa-building"></i> {{ 'Warehousemanagement'|trans }}</a>
        </div>
    </div>
</div>
    <div class="body">
        <div class="panel">
            <div class="header">
                <h5>{{ product.title }}</h5>
            </div>
            <div class="body">

                {{ form_start(form, { 'attr': {'class': 'smart-form'}}) }}
                {{ form_errors(form) }}

                <div class="row">
                    <div class="col-md-2">
                        <ul class="nav nav-pills flex-column" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="#all" role="tab">{{ 'General'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#images" role="tab">{{ 'images'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#text" role="tab">{{ 'Texts'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#groups" role="tab">{{ 'groups'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#customTab" role="tab">{{ 'CustomTab'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#seo" role="tab">{{ 'Seo'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#packaging" role="tab">{{ 'packaging'|trans }}</a>
                            </li>
                            {% for customProductGroup in customProductGroups %}
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#{{ customProductGroup.id }}" role="tab">{{ customProductGroup.title|trans }}</a>
                                </li>
                            {% endfor %}
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#uploads" role="tab">{{ 'Upload'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#var" role="tab">{{ 'various'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#customFields" role="tab">{{ 'Variablefields'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#hint" role="tab">{{ 'DataNotes'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#lang" role="tab">{{ 'language'|trans }}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#extra" role="tab">{{ 'Extended'|trans }}</a>
                            </li>
                            {% for customGroup in customGroups %}
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#{{ customGroup.id }}" role="tab">{{ customGroup.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-10">
                        <div class="tab-content">
                            <div class="tab-pane active" id="all" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.uuid) }}
                                            <div class="col-md-8 state-disabled">
                                                {{ form_widget(form.uuid) }}
                                                <b class="tooltip tooltip-top-left">
                                                    <i class="fa fa-warning txt-color-teal"></i>
                                                    {{ 'UUIDoftheproduct'|trans }}</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.createdAt) }}
                                            <div class="col-md-8 state-disabled">
                                                {{ form_widget(form.createdAt) }}
                                                <b class="tooltip tooltip-top-left">
                                                    <i class="fa fa-warning txt-color-teal"></i>
                                                    Angelegt am</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.updatedAt) }}
                                            <div class="col-md-8 state-disabled">
                                                {{ form_widget(form.updatedAt) }}
                                                <b class="tooltip tooltip-top-left">
                                                    <i class="fa fa-warning txt-color-teal"></i>
                                                    Geändert am</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.title) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.title) }}
                                                <b class="tooltip tooltip-top-left">
                                                    <i class="fa fa-warning txt-color-teal"></i>
                                                    Titel des Produktes</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.url) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.url) }}
                                                <b class="tooltip tooltip-top-left">
                                                    <i class="fa fa-warning txt-color-teal"></i>
                                                    Url des Produktes</b>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.buyed) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.buyed) }}
                                                <b class="tooltip tooltip-top-left">
                                                    <i class="fa fa-warning txt-color-teal"></i>
                                                    Abverkäufe</b>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        {{ form_widget(form.enable) }}
                                    </div>
                                    <div class="col-3">
                                        {{ form_widget(form.private) }}
                                    </div>
                                    <div class="col-3">
                                        {{ form_widget(form.displayNotInOverview) }}
                                    </div>
                                    <div class="col-3">
                                        {{ form_widget(form.notBuy) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        {{ form_widget(form.asOffer) }}
                                    </div>
                                    <div class="col-3">
                                        {{ form_widget(form.notEdit) }}
                                    </div>
                                    <div class="col-3">
                                        {{ form_widget(form.displayNoPrice) }}
                                    </div>
                                    <div class="col-3">
                                        {{ form_widget(form.canBuyWithNoPrice) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-3">
                                        {{ form_widget(form.asRequest) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.kostenstelle) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.kostenstelle) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.nrIntern) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.nrIntern) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.nrExtern) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.nrExtern) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.language) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.language) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.availability) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.availability) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="groups" role="tabpanel">
                                <div class="row mb-3">
                                    {{ form_label(form.pos) }}
                                    <div class="col-md-8">
                                        {{ form_widget(form.pos) }}
                                    </div>
                                </div>
                                <h6>{{ 'Productgroups'|trans }}</h6>
                                {{ form_widget(form.product_groups) }}
                                <hr/>
                                <h6>{{ 'Crosssale'|trans }}</h6>
                                {{ form_widget(form.releatedProducts) }}
                            </div>
                            <div class="tab-pane" id="images" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-3">
                                        {{ form_widget(form.image1) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_widget(form.image2) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_widget(form.image3) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_widget(form.image4) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        {{ form_widget(form.image5) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_widget(form.image6) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_widget(form.image7) }}
                                    </div>
                                    <div class="col-md-3">
                                        {{ form_widget(form.image8) }}
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="customTab" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-3">
                                            {{ form_label(form.customTabEnable) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.customTabEnable) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-3">
                                            {{ form_label(form.customTabTitle) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.customTabTitle) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ form_widget(form.customTabText, {attr: {'class': 'form-control summernote'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="hint" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.hintEnable) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.hintEnable) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.hintFile1) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.hintFile1) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.hintFile2) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.hintFile2) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.hintFile3) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.hintFile3) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.hintFile4) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.hintFile4) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        {{ form_widget(form.hintText, {attr: {'class': 'form-control summernote'}}) }}
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="packaging" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.salesUnit) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.salesUnit) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.packagingUnit) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.packagingUnit) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.baseUnit) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.baseUnit) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="text" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-3">
                                            {{ form_label(form.textArt) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.textArt) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-3">
                                            {{ form_label(form.textFormat) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.textFormat) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="row mb-3">
                                            {{ form_label(form.einleitung) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.einleitung) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <h5>{{ 'description'|trans }}</h5>

                                {{ form_widget(form.description, {attr: {'class': 'form-control summernote'}}) }}

                                <h5>{{ 'Additionaldescription'|trans }}</h5>

                                {{ form_widget(form.text, {attr: {'class': 'form-control summernote'}}) }}
                            </div>

                            <div class="tab-pane" id="seo" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            {{ form_label(form.videoId) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.videoId) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            {{ form_label(form.metaKeywords) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.metaKeywords) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            {{ form_label(form.metaAuthor) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.metaAuthor) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            {{ form_label(form.metaCustomTitle) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.metaCustomTitle) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            {{ form_label(form.metaDescription) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.metaDescription) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            {{ form_label(form.metaOgTitle) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.metaOgTitle) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            {{ form_label(form.metaOgType) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.metaOgType) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            {{ form_label(form.metaOgImage) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.metaOgImage) }}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            {{ form_label(form.metaOgUrl) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.metaOgUrl) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="row mb-3">
                                            {{ form_label(form.metaOgDescription) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.metaOgDescription) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="tab-pane" id="uploads" role="tabpanel">

                                <div class="panel panel-default">
                                    <div class="header"><h5>{{ 'Masterinitialstatus'|trans }}</h5></div>
                                    <div class="body">
                                        <div class="row">

                                            <div class="col-md-7 offset-1">
                                                <div class="row mb-3">
                                                    {{ form_label(form.initialStatus) }}
                                                    <div class="col-md-8">
                                                        {{ form_widget(form.initialStatus) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="header"><h5>{{ 'Uploadinordermanagement'|trans }}</h5></div>
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="row mb-3">
                                                    {{ form_label(form.uploadCenter) }}
                                                    <div class="col-md-8">
                                                        <div class="checkbox">
                                                            {{ form_widget(form.uploadCenter) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="row mb-3">
                                                    {{ form_label(form.uploadCenterInitalStatus) }}
                                                    <div class="col-md-8">
                                                        {{ form_widget(form.uploadCenterInitalStatus) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="header"><h5>{{ 'Uploadwhileordering'|trans }}</h5></div>
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="row mb-3">
                                                    {{ form_label(form.uploadProduct) }}
                                                    <div class="col-md-8">
                                                        <div class="checkbox">
                                                            {{ form_widget(form.uploadProduct) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="row mb-3">
                                                    {{ form_label(form.uploadProductInitalStatus) }}
                                                    <div class="col-md-8">
                                                        {{ form_widget(form.uploadProductInitalStatus) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="header"><h5>{{ 'Usethelastprintdata'|trans }}</h5></div>
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="row mb-3">
                                                    {{ form_label(form.uploadFromLatestOrder) }}
                                                    <div class="col-md-8">
                                                        <div class="checkbox">
                                                            {{ form_widget(form.uploadFromLatestOrder) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="row mb-3">
                                                    {{ form_label(form.uploadFromLatestOrderInitalStatus) }}
                                                    <div class="col-md-8">
                                                        {{ form_widget(form.uploadFromLatestOrderInitalStatus) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="header"><h5>{{ 'postdatatransfer'|trans }}</h5></div>
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="row mb-3">
                                                    {{ form_label(form.uploadPost) }}
                                                    <div class="col-md-8">
                                                        <div class="checkbox">
                                                            {{ form_widget(form.uploadPost) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="row mb-3">
                                                    {{ form_label(form.uploadPostInitalStatus) }}
                                                    <div class="col-md-8">
                                                        {{ form_widget(form.uploadPostInitalStatus) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="header"><h5>{{ 'emailtransfer'|trans }}</h5></div>
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-md-5">
                                                <div class="row mb-3">
                                                    {{ form_label(form.uploadEmail) }}
                                                    <div class="col-md-8">
                                                        <div class="checkbox">
                                                            {{ form_widget(form.uploadEmail) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="row mb-3">
                                                    {{ form_label(form.uploadEmailInitalStatus) }}
                                                    <div class="col-md-8">
                                                        {{ form_widget(form.uploadEmailInitalStatus) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="header"><h5>Produkt Datei</h5></div>
                                    <div class="body">
                                        <div class="row">
                                            <div class="col-md-2">
                                                <div class="row mb-3">
                                                    {{ form_label(form.uploadProvided) }}
                                                    <div class="col-md-8">
                                                        <div class="checkbox">
                                                            {{ form_widget(form.uploadProvided) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="row mb-3">
                                                    {{ form_label(form.uploadProvidedFile) }}
                                                    <div class="col-md-8">
                                                        <div class="checkbox">
                                                            {{ form_widget(form.uploadProvidedFile) }}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-7">
                                                <div class="row mb-3">
                                                    {{ form_label(form.uploadProvidedInitalStatus) }}
                                                    <div class="col-md-8">
                                                        {{ form_widget(form.uploadProvidedInitalStatus) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                {% for customField in customFields %}
                                    {% if customField.tab == "uploads"  and customField.getTemplate %}
                                        {{ include(customField.getTemplate, { 'form': form, 'selectedShop': selectedShop }) }}
                                    {% endif %}
                                {% endfor %}



                            </div>
                            <div class="tab-pane" id="var" role="tabpanel">
                                <div class="row mb-3">
                                    <label class="col-md-2 form-control-label">{{ form_label(form.ablaufDatum) }}</label>
                                    <div class="col-md-10">
                                        {{ form_widget(form.ablaufDatum) }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-md-2 form-control-label">{{ form_label(form.ansprechPartner) }}</label>
                                    <div class="col-md-10">
                                        {{ form_widget(form.ansprechPartner) }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-md-2 form-control-label">{{ form_label(form.printPartnerEmail) }}</label>
                                    <div class="col-md-10">
                                        {{ form_widget(form.printPartnerEmail) }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-md-2 form-control-label">{{ form_label(form.zusatzDesigner) }}</label>
                                    <div class="col-md-10">
                                        {{ form_widget(form.zusatzDesigner) }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-md-2 form-control-label">{{ form_label(form.zusatzAbmessung) }}</label>
                                    <div class="col-md-10">
                                        {{ form_widget(form.zusatzAbmessung) }}
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-md-2 form-control-label">{{ form_label(form.zusatzShipping) }}</label>
                                    <div class="col-md-10">
                                        {{ form_widget(form.zusatzShipping) }}
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="customFields" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.productFieldName1 }}
                                            </label>
                                            <div class="col-md-6">
                {% if shopDoc.productFieldName1 %}{{ form_widget(form.custom1) }}{% else %}{{ form_widget(form.custom1, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom1) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.productFieldName2 }}
                                            </label>
                                            <div class="col-md-6">
                {% if shopDoc.productFieldName2 %}{{ form_widget(form.custom2) }}{% else %}{{ form_widget(form.custom2, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom2) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.productFieldName3 }}
                                            </label>
                                            <div class="col-md-6">
                {% if shopDoc.productFieldName3 %}{{ form_widget(form.custom3) }}{% else %}{{ form_widget(form.custom3, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom3) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.productFieldName4 }}
                                            </label>
                                            <div class="col-md-6">
                {% if shopDoc.productFieldName4 %}{{ form_widget(form.custom4) }}{% else %}{{ form_widget(form.custom4, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom4) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.productFieldName5 }}
                                            </label>
                                            <div class="col-md-6">
                {% if shopDoc.productFieldName5 %}{{ form_widget(form.custom5) }}{% else %}{{ form_widget(form.custom5, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom5) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.productFieldName6 }}
                                            </label>
                                            <div class="col-md-6">
                {% if shopDoc.productFieldName6 %}{{ form_widget(form.custom6) }}{% else %}{{ form_widget(form.custom6, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom6) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.productFieldName7 }}
                                            </label>
                                            <div class="col-md-6">
                {% if shopDoc.productFieldName7 %}{{ form_widget(form.custom7) }}{% else %}{{ form_widget(form.custom7, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom7) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.productFieldName8 }}
                                            </label>
                                            <div class="col-md-6">
                {% if shopDoc.productFieldName8 %}{{ form_widget(form.custom8) }}{% else %}{{ form_widget(form.custom8, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom8) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.productFieldName9 }}
                                            </label>
                                            <div class="col-md-6">
                {% if shopDoc.productFieldName9 %}{{ form_widget(form.custom9) }}{% else %}{{ form_widget(form.custom9, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom9) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.productFieldName10 }}
                                            </label>
                                            <div class="col-md-6">
                {% if shopDoc.productFieldName10 %}{{ form_widget(form.custom10) }}{% else %}{{ form_widget(form.custom10, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom10) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.productFieldName11 }}
                                            </label>
                                            <div class="col-md-6">
                {% if shopDoc.productFieldName11 %}{{ form_widget(form.custom11) }}{% else %}{{ form_widget(form.custom11, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom11) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            <label class="col-md-6 form-control-label">
                                                {{ shopDoc.productFieldName12 }}
                                            </label>
                                            <div class="col-md-6">
                {% if shopDoc.productFieldName12 %}{{ form_widget(form.custom12) }}{% else %}{{ form_widget(form.custom12, {attr: {'class': 'hidden-xl-down'}}) }}{% endif %}
                                            </div>
                                            {{ form_errors(form.custom12) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="lang" role="tabpanel">
                                <div class="row">
                                    <div class="col-2">
                                        <select id="addLang" class="form-control form-control-sm">
                                            <option id="en">en_EN</option>
                                            <option id="fr">fr_FR</option>
                                            <option id="pl">pl_PL</option>
                                            <option id="il">il_IL</option>
                                        </select>
                                    </div>
                                </div>
                                <table class="table">
                                    <thead class="thead-dark">
                                    <tr><th>{{ 'Code'|trans }}</th><th>{{ 'Title'|trans }}</th><th>{{ 'initiation'|trans }}</th><th>{{ 'Texttype'|trans }}</th><th>{{ 'Info'|trans }}</th><th></th></tr>
                                    </thead>
                                    <tbody>

                                    </tbody>
                                </table>
                            </div>
                            <div class="tab-pane" id="extra" role="tabpanel">
                                <div class="row mb-3">
                                    <label class="col-md-3 form-control-label">
                                        {{ form_label(form.extraSettings) }}
                                    </label>
                                    <div class="col-md-9">
                                        {{ form_widget(form.extraSettings, {'attr': {'rows' : 15}}) }}
                                    </div>
                                    {{ form_errors(form.extraSettings) }}
                                </div>
                            </div>
                            {% for customGroup in customGroups %}
                                <div class="tab-pane" id="{{ customGroup.id }}" role="tabpanel">
                                    {% for customField in customFields %}
                                        {% if customField.group == customGroup.id and (customField.tab is not defined or customField.tab == null) and customField.getTemplate %}
                                            {{ include(customField.getTemplate, { 'form': form, 'selectedShop': selectedShop }) }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                            {% for customProductGroup in customProductGroups %}
                                <div class="tab-pane" id="{{ customProductGroup.id }}" role="tabpanel">
                                    {% for customProductField in customProductFields %}
                                        {% if customProductField.group == customProductGroup.id and (customProductField.tab	is not defined or customProductField.tab == null) and customProductField.getTemplate %}
                                            {{ include(customProductField.getTemplate, { 'form': form, 'selectedShop': selectedShop }) }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <br/>
                <div class="row mb-3">
                    <div class="col-md-offset-2 col-md-10">
                        {{ form_widget(form.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
        <div class="panel">
            <div class="header">
                <h4>{{ 'Changes'|trans }}</h4>
            </div>
            <div class="body">
                <table class="table">
                    <thead>
                        <tr><th><i class="fa fa-plus" data-bs-toggle="collapse" data-bs-target="#group-of-rows-change" aria-hidden="true"></i></th><th>{{ 'Date'|trans }}</th><th>{{ 'Username'|trans }}</th><th>{{'Changes'|trans}}</th></tr>
                    </thead>
                    <tbody id="group-of-rows-change" class="collapse">
                        {% for change in changes %}
                            <tr><td>{{ change.created|date('H:i:s d.m.Y') }}</td><td>{{ change.username }}</td><td>
                                {% for key,set in change.changeset %}
                                    {% if set|length > 1 and set[1] is not iterable %}
                                        <strong>{{key}}</strong> <span class="badge bg-danger"><del>{{ set[0]}}</del></span><span class="badge bg-success">{% if set[1] is null %}0{% else %}{{ set[1] }}{% endif %}</span></br>
                                    {% endif %}
                                {% endfor %}
                            <td></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>


    </div>






<div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-shopping-cart"></i>
                    {{'order'|trans}} <span>>
                    {{'list'|trans}} </span>
                </h3>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="panel">
            <div class="body">

                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th>{{ knp_pagination_sortable(pagination2, 'Id'|trans, 'orders.uid') }}</th>
                            <th>{{ knp_pagination_sortable(pagination2, 'Typ'|trans, 'orders.type') }}</th>
                            <th>{{ knp_pagination_sortable(pagination2, 'ordernumber'|trans, 'orders.alias') }}</th>
                            <th>{{ knp_pagination_sortable(pagination2, 'createdat'|trans, 'orders.created') }}</th>
                            <th>{{ knp_pagination_sortable(pagination2, 'Name'|trans, 'contact.username') }}</th>
                            <th>{{ knp_pagination_sortable(pagination2, 'firstname'|trans, 'contact.firstname') }}</th>
                            <th>{{ knp_pagination_sortable(pagination2, 'lastname'|trans, 'contact.lastname') }}</th>
                            <th>{{'virtual'|trans}}</th>
                            <th>{{ knp_pagination_sortable(pagination2, 'wkpos1'|trans, 'orders.basketfield1') }}</th>
                            <th>{{ knp_pagination_sortable(pagination2, 'wkpos2'|trans, 'orders.basketfield2') }}</th>
                            <th>RE</th>
                            <th class="text-end">{{'grossprice'|trans}}</th>
                            <th>{{'status'|trans}}</th>
                            <th></th>
                        </tr>
                    </thead>

                    {% for order in pagination2 %}
                        {% set orderObj = orderService.getOrderByUuid(order.uuid, true) %}
                    <tbody>
                        <tr aria-expanded="false" aria-controls="group-of-rows-{{ order.uid }}" style="{% if orderStatuse.getStatusColor(order.status) != '' %}background-color: {{ orderStatuse.getStatusColor(order.status) }}{% endif %}" class="clickable {% if order.status == 170 %}bg-lightdark{% elseif order.status == 200 or order.status == 210 %}bg-lightsuccess{% else %}bg-lightdanger{% endif %} {% if loop.index is odd %}color{% endif %}">
                            <td><i class="fa fa-plus toogle_list_simple_detail_view" data-uuid="{{ order.uuid }}" style="cursor: pointer;" data-target="rows-{{ order.uid }}" aria-hidden="true"></i></td>
                            <td>{{ order.uid }}</td>
                            <td>{{ orderObj.getTypeAsString() }}</td>
                            <td>{{ order.alias }}</td>
                            <td>{{ order.created|date('d.m.Y H:i:s') }}</td>
                            <td>{{ order.contact.username }}</td>
                            <td>{{ order.contact.firstname }}</td>
                            <td>{{ order.contact.lastname }}</td>
                            <td>{% if order.contact.virtual %}<span class="badge bg-warning" data-bs-toggle="tooltip" data-bs-placement="bottom">{{'jes'|trans}}</span>{% else %}<span class="badge bg-secondary">{{'no'|trans}}</span>{% endif %}</td>
                            <td>{{ order.basketfield1 }}</td>
                            <td>{{ order.basketfield2 }}</td>
                            <td><small>{{ orderObj.getInvoiceAddress().company }}<br/>{{ orderObj.getInvoiceAddress().firstname }} {{ orderObj.getInvoiceAddress().lastname }}<br/>
                                {{ orderObj.getInvoiceAddress().street }} {{ orderObj.getInvoiceAddress().houseNumber }}<br/>
                                {{ orderObj.getInvoiceAddress().zip }} {{ orderObj.getInvoiceAddress().city }}</small>
                            </td>
                            <td class="text-end">{{ order.brutto|number_format(2, ',', '.') }}€</td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                        {{ orderStatuse.getStatusText(order.status) }}
                                    <div class="dropdown-menu">
                                        {% for status in orderStatuse.getOrderStatuse %}
                                            <a class="dropdown-item" href="{{ path("psc_shop_order_backend_list_switchstatus", {order: order.uuid, status: status.code}) }}">{{ status.internalName|trans({}, 'status') }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                                </td>
                            <td class="text-end">
                                <a href="{{ path("psc_shop_order_backend_detail_show", {uuid: order.uuid}) }}" class="btn btn-info btn-sm"><span class="fa fa-edit"></span> {{'details'|trans}}</a>
                                {% if order.status == 210 %}
                                    <a href="{{ path("psc_shop_order_backend_upload_deleteAll", {uuid: order.uuid}) }}" class="btn btn-danger btn-sm"><span class="fa fa-trash"></span> Uploads löschen</a>
                                {% endif %}
                            </td>
                        </tr>

                    </tbody>
                    <tbody id="rows-{{ order.uuid }}">
                       
                    </tbody>
                    <tbody>
                    <tr class="divider"><td colspan="14"></td></tr>
                    </tbody>
                    {% endfor %}

                </table>
                {{ knp_pagination_render(pagination2) }}
            </div>
        </div>
    </div>



    {{ summernote_mediabundle_init() }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
    <script>

        var wto;

        function loadLangData() {
            $('#lang table tbody').empty();

            $.getJSON("/apps/backend/product/edit/fetch/lang/data/" + {{ product.uid }},[], function(data) {
                $(data.langData).each(function(index, row) {

                    $('#lang table tbody').append('<tr><td>' + row.code + '</td><td><input type="text" data-id="' + row.uuid + '" class="title form-control form-control-sm" value="' + row.title + '"/></td><td><input type="text" data-id="' + row.uuid + '" class="einleitung form-control form-control-sm" value="' + row.einleitung + '"/></td><td><input type="text" data-id="' + row.uuid + '" class="text_art form-control form-control-sm" value="' + row.text_art + '"/></td><td><input type="text" data-id="' + row.uuid + '" class="info form-control form-control-sm" value="' + row.info + '"/></td><td><button data-langcode="' + row.code + '" type="button" class="btn btn-success btn-sm saveLang">Speichern</button></td></tr>');


                });

                $('.saveLang').click(function() {
                    var elm = $(this);
                    elm.parent().parent().find('input.title').removeClass('is-valid');
                    elm.parent().parent().find('input.text_art').removeClass('is-valid');
                    elm.parent().parent().find('input.einleitung').removeClass('is-valid');
                    elm.parent().parent().find('input.info').removeClass('is-valid');
                    $.getJSON("/apps/backend/product/edit/save/lang/data/" + {{ product.uid }},{
                        langcode : elm.data('langcode'),
                        title: elm.parent().parent().find('input.title').val(),
                        text_art: elm.parent().parent().find('input.text_art').val(),
                        einleitung: elm.parent().parent().find('input.einleitung').val(),
                        info: elm.parent().parent().find('input.info').val()

                    }, function(data) {

                        elm.parent().parent().find('input.title').addClass('is-valid');
                        elm.parent().parent().find('input.text_art').addClass('is-valid');
                        elm.parent().parent().find('input.einleitung').addClass('is-valid');
                        elm.parent().parent().find('input.info').addClass('is-valid');
                    });

                });
            });


        };

        $(function() {

            loadLangData();

            $('#addLang').change(function() {

                $.getJSON("/apps/backend/product/edit/add/lang/data/" + {{ product.uid }},{ langcode : $(this).find('option:selected').attr('id') }, function(data) {
                    loadLangData();

                });

            });

            $('#product_url').on('keyup', (function() {
                clearTimeout(wto);
                wto = setTimeout(function() {
                    if($('#product_url').val() != "") {

                        $.getJSON("/apps/backend/product/edit/check/url/" + $('#product_url').val(),[], function(data) {
                            $('#product_url').removeClass('is-valid');
                            $('#product_url').removeClass('is-invalid');
                            $('#product_url').parent().find('.invalid-feedback').remove();
                            if(data.found) {
                                $('#product_url').addClass('is-invalid');
                                $('#product_url').after('<div class="invalid-feedback">\n' +
                                    'Schon vorhanden: ' + data.error + '\n' +
                                    '</div>');
                            }else{
                                $('#product_url').addClass('is-valid');
                            }
                        });
                    }
                }, 1000);



            }));
        });

    </script>

{% endblock %}
