<div class="panel">
    <div class="header">
        <h4>Details</h4>
    </div>
    <div class="body">
        <div class="row">
            <div class="col-2">
                <ul class="nav nav-pills flex-column" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#all" role="tab">Allgemein</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#doc" role="tab">Dokumente Auftrag</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#docPos" role="tab">Dokumente Position</a>
                    </li>
                </ul>
            </div>
            <div class="col-10">
                <div class="tab-content">
                    <div class="tab-pane active" id="all" role="tabpanel">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row mb-3">
                                    {{ form_label(form.from) }}
                                    <div class="col-md-8">
                                        {{ form_widget(form.from) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row mb-3">
                                    {{ form_label(form.fromName) }}
                                    <div class="col-md-8">
                                        {{ form_widget(form.fromName) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row mb-3">
                                    {{ form_label(form.to) }}
                                    <div class="col-md-8">
                                        {{ form_widget(form.to) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row mb-3">
                                    {{ form_label(form.toName) }}
                                    <div class="col-md-8">
                                        {{ form_widget(form.toName) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="row mb-3">
                                    {{ form_label(form.subject) }}
                                    <div class="col-md-8">
                                        {{ form_widget(form.subject) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="row mb-3">
                                    {{ form_label(form.bcc) }}
                                    <div class="col-md-8">
                                        {{ form_widget(form.bcc) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            {{ form_label(form.text) }}
                            {{ form_widget(form.text) }}
                        </div>
                        <div class="">
                            {{ form_label(form.textHtml) }}
                            {{ form_widget(form.textHtml) }}
                        </div>
                    </div>
                    <div class="tab-pane" id="doc" role="tabpanel">
                        <div class="row">
                            <div class="col-md-1">
                                <div class="row mb-3">
                                    {{ form_label(form.sendInvoice) }}
                                    <div class="col-md-12">
                                        {{ form_widget(form.sendInvoice) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="row mb-3">
                                    {{ form_label(form.sendDelivery) }}
                                    <div class="col-md-12">
                                        {{ form_widget(form.sendDelivery) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="row mb-3">
                                    {{ form_label(form.sendJobticket) }}
                                    <div class="col-md-12">
                                        {{ form_widget(form.sendJobticket) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="row mb-3">
                                    {{ form_label(form.sendOrder) }}
                                    <div class="col-md-12">
                                        {{ form_widget(form.sendOrder) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="row mb-3">
                                    {{ form_label(form.sendOffer) }}
                                    <div class="col-md-12">
                                        {{ form_widget(form.sendOffer) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="row mb-3">
                                    {{ form_label(form.sendLabel) }}
                                    <div class="col-md-12">
                                        {{ form_widget(form.sendLabel) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="row mb-3">
                                    {{ form_label(form.sendStorno) }}
                                    <div class="col-md-12">
                                        {{ form_widget(form.sendStorno) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Zusätzliche Dateien</h4>
                                <span class="files">
                                    {# iterate over each existing tag and render its only field: name #}
                                    {% for file in form.files %}
                                        <div class="item">
                                            <div class="row">
                                                <div class="col-2">
                                                    <label class="col-form-label form-control-label required">Name (z.b. xyz.xml)</label>
                                                </div>
                                                <div class="col-10">
                                                    {{ form_widget(file.name) }}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-2">
                                                    <label class="col-form-label form-control-label required">Template</label>
                                                </div>
                                                <div class="col-10">
                                                    {{ form_widget(file.content) }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="docPos" role="tabpanel">
                        <div class="row">
                            <div class="col-md-1">
                                <div class="row mb-3">
                                    {{ form_label(form.sendPosInvoice) }}
                                    <div class="col-md-12">
                                        {{ form_widget(form.sendPosInvoice) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="row mb-3">
                                    {{ form_label(form.sendPosDelivery) }}
                                    <div class="col-md-12">
                                        {{ form_widget(form.sendPosDelivery) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="row mb-3">
                                    {{ form_label(form.sendPosJobticket) }}
                                    <div class="col-md-12">
                                        {{ form_widget(form.sendPosJobticket) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="row mb-3">
                                    {{ form_label(form.sendPosOrder) }}
                                    <div class="col-md-12">
                                        {{ form_widget(form.sendPosOrder) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="row mb-3">
                                    {{ form_label(form.sendPosOffer) }}
                                    <div class="col-md-12">
                                        {{ form_widget(form.sendPosOffer) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="row mb-3">
                                    {{ form_label(form.sendPosLabel) }}
                                    <div class="col-md-12">
                                        {{ form_widget(form.sendPosLabel) }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="row mb-3">
                                    {{ form_label(form.sendPosStorno) }}
                                    <div class="col-md-12">
                                        {{ form_widget(form.sendPosStorno) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="header">
        <h4>Hilfe</h4>
    </div>
    <div class="body">
        <button class="btn btn-info btn-sm" type="button" data-toggle="collapse" data-target="#helpQueue" aria-expanded="false" aria-controls="helpQueue">Aufklappen / Zuklappen</button>
        <div id="helpQueue" class="collapse">
            <table class="table">
            {% for rows in help %}
                <tr>
                    {% for col in rows %}
                        <td>
                            <h5>{{ col.label }}</h5>
                            <p>{{ col.helpText }}</p>
                            <table>
                                {% for data in col.data %}
                                    <tr><td><b>{{  data.value }}</b></td><td>{{ data.label }}</td></tr>
                                {% endfor %}
                            </table>
                        </td>
                    {% endfor %}
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</div>
{% verbatim %}
<script type="text/javascript">
    var $collectionFilesHolder;
    var $addFileLink;
    var $newLinkLi;

    window.onload = function() {
        $collectionFilesHolder = $('span.files');

        $addFileLink = $('<a href="#" class="add_file_link">Datei hinzufügen</a>');

        $newLinkLi = $('<div></div>').append($addFileLink);

        $collectionFilesHolder.find('div.item').each(function() {
            addFilesFormDeleteLink($(this));
        });

        $collectionFilesHolder.append($newLinkLi);
        $collectionFilesHolder.data('index', $collectionFilesHolder.find(':input').length);

        $addFileLink.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addFilesForm($collectionFilesHolder, $newLinkLi);
        });

    };

    function addFilesFormDeleteLink($tagFormLi) {
        var $removeFormA = $('<a href="#">Löschen</a>');
        $tagFormLi.append($removeFormA);

        $removeFormA.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // remove the li for the tag form
            $tagFormLi.remove();
        });
    }

    function addFilesForm($collectionHolder, $newLinkLi) {
        // Get the data-prototype explained earlier
        var prototype = '<div class="row">' +
            '<div class="col-2">' +
            '   <label class="col-form-label form-control-label required" for="form_files___name___name">Name (z.b. xyz.xml)</label>' +
            '</div>' +
            '<div class="col-10">' +
            '   <input type="text" id="form_files___name___name" name="form[files][__name__][name]" required="required" class="form-control form-control-sm" />' +
            '</div>' +
            '</div>' +
            '<div class="row">' +
            '<div class="col-2">' +
            '   <label class="col-form-label form-control-label required" for="form_fFiles___name___content">Content</label> ' +
            '</div>' +
            '<div class="col-10">' +
            '   <textarea id="form_files___name___content" name="form[files][__name__][content]" required="required" rows="6" class="form-control"></textarea>' +
            '</div>' +
            '</div>';

        var index = $collectionHolder.data('index');

        var newForm = prototype;

        newForm = newForm.replace(/__name__/g, index);

        $collectionHolder.data('index', index + 1);

        var $newFormLi = $('<div class="item"></div>').append(newForm);
        $newLinkLi.before($newFormLi);
    }
</script>
{% endverbatim %}