
<div class="panel">
    <div class="header">
        <h4>Details</h4>
    </div>
    <div class="body">
        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-pills flex-column" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#all" role="tab">Allgemein</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#order" role="tab">Auftrag</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#orderpos" role="tab">Position</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#extra" role="tab">Erweitert</a>
                    </li>
                </ul>
            </div>
            <div class="col-md-10">
                <div class="tab-content">
                    <div class="tab-pane active" id="all" role="tabpanel">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row mb-3">
                                    <label class="col-md-1 form-control-label">{{ form_label(form.mode) }}</label>
                                    <div class="col-md-11">
                                        {{ form_widget(form.mode) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="order" role="tabpanel">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row mb-3">
                                    <label class="col-md-1 form-control-label">{{ form_label(form.orderPath) }}</label>
                                    <div class="col-md-11">
                                        {{ form_widget(form.orderPath) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">{{ form_widget(form.orderJobticket) }}</div>
                            <div class="col-2">{{ form_widget(form.orderInvoice) }}</div>
                            <div class="col-2">{{ form_widget(form.orderDelivery) }}</div>
                            <div class="col-2">{{ form_widget(form.orderOrder) }}</div>
                            <div class="col-2">{{ form_widget(form.orderStorno) }}</div>
                            <div class="col-2">{{ form_widget(form.orderLabel) }}</div>
                            <div class="col-2">{{ form_widget(form.orderOffer) }}</div>
                            <div class="col-2">{{ form_widget(form.orderJobticketPP) }}</div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Zusätzliche Dateien</h4>
                                <span class="orderFiles">
                                    {# iterate over each existing tag and render its only field: name #}
                                    {% for file in form.orderFiles %}
                                        <div class="item">
                                            <div class="row">
                                                <div class="col-2">
                                                    <label class="col-form-label form-control-label required">Name (z.b. xyz.xml)</label>
                                                </div>
                                                <div class="col-10">
                                                    {{ form_widget(file.name) }}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-2">
                                                    <label class="col-form-label form-control-label required">Template</label>
                                                    <br/><br/>
                                                    <button class="btn btn-primary btn-sm exampleAddOrderXml" type="button">Beispiel einfügen</button>
                                                </div>
                                                <div class="col-10">
                                                    {{ form_widget(file.content) }}
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="orderpos" role="tabpanel">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row mb-3">
                                    <label class="col-md-1 form-control-label">{{ form_label(form.posPath) }}</label>
                                    <div class="col-md-11">
                                        {{ form_widget(form.posPath) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-2">{{ form_widget(form.posJobticket) }}</div>
                            <div class="col-2">{{ form_widget(form.posInvoice) }}</div>
                            <div class="col-2">{{ form_widget(form.posDelivery) }}</div>
                            <div class="col-2">{{ form_widget(form.posOrder) }}</div>
                            <div class="col-2">{{ form_widget(form.posStorno) }}</div>
                            <div class="col-2">{{ form_widget(form.posLabel) }}</div>
                            <div class="col-2">{{ form_widget(form.posOffer) }}</div>
                            <div class="col-2">{{ form_widget(form.posJobticketPP) }}</div>
                        </div>
                        <hr/>
                        <div class="row">
                            <div class="col-md-12">
                                <h4>Zusätzliche Dateien</h4>
                                <span class="posFiles" data-prototype="{{ form_widget(form.posFiles.vars.prototype)|e('html_attr') }}">
                                        {# iterate over each existing tag and render its only field: name #}
                                    {% for file in form.posFiles %}
                                        <div class="item">
                                                <div class="row">
                                                    <div class="col-2">
                                                        <label class="col-form-label form-control-label required">Name (z.b. xyz.xml)</label>
                                                    </div>
                                                    <div class="col-10">
                                                        {{ form_widget(file.name) }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-2">
                                                        <label class="col-form-label form-control-label required">Template</label>
                                                    </div>
                                                    <div class="col-10">
                                                        {{ form_widget(file.content) }}
                                                    </div>
                                                </div>
                                            </div>
                                    {% endfor %}
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="extra" role="tabpanel">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row mb-3">
                                    <label class="col-md-1 form-control-label">{{ form_label(form.designerPath) }}</label>
                                    <div class="col-md-11">
                                        {{ form_widget(form.designerPath) }}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel">
    <div class="header">
        <h4>Hilfe</h4>
    </div>
    <div class="body">
        <button class="btn btn-info btn-sm" type="button" data-toggle="collapse" data-target="#helpQueue" aria-expanded="false" aria-controls="helpQueue">Aufklappen / Zuklappen</button>
        <div id="helpQueue" class="collapse">
            <table class="table">
                {% for rows in queue.help %}
                    <tr>
                        {% for col in rows %}
                            <td>
                                <h5>{{ col.label }}</h5>
                                <p>{{ col.helpText }}</p>
                                <table>
                                    {% for data in col.data %}
                                        <tr><td><b>{{  data.value }}</b></td><td>{{ data.label }}</td></tr>
                                    {% endfor %}
                                </table>
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% verbatim %}
<script type="text/javascript">
    var $collectionOrderFilesHolder;
    var $collectionPosFilesHolder;
    var $addOrderFileLink;
    var $addPosFileLink;
    var $newOrderLinkLi;
    var $newPosLinkLi;


    bootstrapApp = function() {
        // setup an "add a tag" link
        $addOrderFileLink = $('<a href="#" class="add_order_file_link">Datei hinzufügen</a>');
        $addPosFileLink = $('<a href="#" class="add_pos_file_link">Datei hinzufügen</a>');
        $newOrderLinkLi = $('<div></div>').append($addOrderFileLink);
        $newPosLinkLi = $('<div></div>').append($addPosFileLink);


        $collectionOrderFilesHolder = $('span.orderFiles');
        $collectionPosFilesHolder = $('span.posFiles');

        // add a delete link to all of the existing tag form li elements
        $collectionOrderFilesHolder.find('div.item').each(function() {
            addFilesFormDeleteLink($(this));
        });
        $collectionPosFilesHolder.find('div.item').each(function() {
            addFilesFormDeleteLink($(this));
        });

        // add the "add a tag" anchor and li to the tags ul
        $collectionOrderFilesHolder.append($newOrderLinkLi);
        $collectionPosFilesHolder.append($newPosLinkLi);

        // count the current form inputs we have (e.g. 2), use that as the new
        // index when inserting a new item (e.g. 2)
        $collectionOrderFilesHolder.data('index', $collectionOrderFilesHolder.find(':input').length);
        $collectionPosFilesHolder.data('index', $collectionPosFilesHolder.find(':input').length);

        $addOrderFileLink.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addOrderFilesForm($collectionOrderFilesHolder, $newOrderLinkLi);
        });
        $addPosFileLink.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // add a new tag form (see next code block)
            addPosFilesForm($collectionPosFilesHolder, $newPosLinkLi);
        });

        bindAddExampleButton();
    };

    function bindAddExampleButton() {
        $('.exampleAddOrderXml').unbind();
        $('.exampleAddOrderXml').click(function() {

           $(this).parent().parent().find('textarea').val(`<import version="1.0"></import>
<overview>
	<alias>{{ order.alias }}</alias>
	<shop>{{ shop.title }}</shop>
	<shop_id>{{ shop.uid }}</shop_id>
	<created>{{ order.created|date('d.m.Y') }}</created>
	<contact_id>{{ contact.uid }}</contact_id>
	<brutto>{{ order.brutto }}</brutto>
	<steuer>{{ order.steuer }}</steuer>
	<netto>{{ order.netto }}</netto>
	<basketfield1>{{ order.basketfield1 }}</basketfield1>
	<basketfield2>{{ order.basketfield2 }}</basketfield2>
</overview>
<account>
	<title>{{ account.title }}</title>
</account>
<invoice>
	<company>{{ invoiceAddress.company }}</company>
	<company2>{{ invoiceAddress.company2 }}</company2>
	<firstname>{{ invoiceAddress.firstname }}</firstname>
	<lastname>{{ invoiceAddress.lastname }}</lastname>
	<street>{{ invoiceAddress.street }}</street>
	<housenumber>{{ invoiceAddress.houseNumber }}</housenumber>
	<zip>{{ invoiceAddress.zip }}</zip>
	<city>{{ invoiceAddress.city }}</city>
	<anrede>{{ invoiceAddress.anrede }}</anrede>
	<zusatz1>{{ invoiceAddress.zusatz1 }}</zusatz1>
	<zusatz2>{{ invoiceAddress.zusatz2 }}</zusatz2>
	<pos>{{ invoiceAddress.pos }}</pos>
</invoice>
{%if deliveryAddress %}
<delivery>
	<company>{{ deliveryAddress.company }}</company>
	<company2>{{ deliveryAddress.company2 }}</company2>
	<firstname>{{ deliveryAddress.firstname }}</firstname>
	<lastname>{{ deliveryAddress.lastname }}</lastname>
	<street>{{ deliveryAddress.street }}</street>
	<housenumber>{{ deliveryAddress.houseNumber }}</housenumber>
	<zip>{{ deliveryAddress.zip }}</zip>
	<city>{{ deliveryAddress.city }}</city>
	<anrede>{{ deliveryAddress.anrede }}</anrede>
	<zusatz1>{{ deliveryAddress.zusatz1 }}</zusatz1>
	<zusatz2>{{ deliveryAddress.zusatz2 }}</zusatz2>
	<pos>{{ deliveryAddress.pos }}</pos>
</delivery>
{% endif %}
{%if senderAddress %}
<sender>
	<company>{{ senderAddress.company }}</company>
	<company2>{{ senderAddress.company2 }}</company2>
	<firstname>{{ senderAddress.firstname }}</firstname>
	<lastname>{{ senderAddress.lastname }}</lastname>
	<street>{{ senderAddress.street }}</street>
	<housenumber>{{ senderAddress.houseNumber }}</housenumber>
	<zip>{{ senderAddress.zip }}</zip>
	<city>{{ senderAddress.city }}</city>
	<anrede>{{ senderAddress.anrede }}</anrede>
	<zusatz1>{{ senderAddress.zusatz1 }}</zusatz1>
	<zusatz2>{{ senderAddress.zusatz2 }}</zusatz2>
	<pos>{{ senderAddress.pos }}</pos>
</sender>
{% endif %}
<payment>
	<title>{{ payment.title }}</title>
	<id>{{ payment.uid }}</id>
	<price>{{ order.zahlKosten }}</price>
</payment>
<shipping>
	<title>{{ shipping.title }}</title>
	<id>{{ shipping.uid }}</id>
	<price>{{ order.versandKosten }}</price>
</shipping>`);

        });

    }

    function addFilesFormDeleteLink($tagFormLi) {
        var $removeFormA = $('<a href="#">Löschen</a>');
        $tagFormLi.append($removeFormA);

        $removeFormA.on('click', function(e) {
            // prevent the link from creating a "#" on the URL
            e.preventDefault();

            // remove the li for the tag form
            $tagFormLi.remove();
        });
    }

    function addOrderFilesForm($collectionHolder, $newLinkLi) {
        // Get the data-prototype explained earlier
        var prototype = '<div class="row">' +
            '<div class="col-2">' +
            '   <label class="col-form-label form-control-label required" for="form_orderFiles___name___name">Name (z.b. xyz.xml)</label>' +
            '</div>' +
            '<div class="col-10">' +
            '   <input type="text" id="form_orderFiles___name___name" name="form[orderFiles][__name__][name]" required="required" class="form-control form-control-sm" />' +
            '</div>' +
            '</div>' +
            '<div class="row">' +
            '<div class="col-2">' +
            '   <label class="col-form-label form-control-label required" for="form_orderFiles___name___content">Content</label> ' +
            '<br/><br/>\n' +
            '<button class="btn btn-primary btn-sm exampleAddOrderXml" type="button">Beispiel einfügen</button>' +
            '</div>' +
            '<div class="col-10">' +
            '   <textarea id="form_orderFiles___name___content" name="form[orderFiles][__name__][content]" required="required" rows="6" class="form-control"></textarea>' +
            '</div>' +
            '</div>';

        // get the new index
        var index = $collectionHolder.data('index');

        var newForm = prototype;
        // You need this only if you didn't set 'label' => false in your tags field in TaskType
        // Replace '__name__label__' in the prototype's HTML to
        // instead be a number based on how many items we have
        // newForm = newForm.replace(/__name__label__/g, index);

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        newForm = newForm.replace(/__name__/g, index);

        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a tag" link li
        var $newFormLi = $('<div class="item"></div>').append(newForm);
        $newLinkLi.before($newFormLi);

        bindAddExampleButton();
    }

    function addPosFilesForm($collectionHolder, $newLinkLi) {
        // Get the data-prototype explained earlier
        var prototype = '<div class="row">' +
            '<div class="col-2">' +
            '   <label class="col-form-label form-control-label required" for="form_posFiles___name___name">Name (z.b. xyz.xml)</label>' +
            '</div>' +
            '<div class="col-10">' +
            '   <input type="text" id="form_posFiles___name___name" name="form[posFiles][__name__][name]" required="required" class="form-control form-control-sm" />' +
            '</div>' +
            '</div>' +
            '<div class="row">' +
            '<div class="col-2">' +
            '   <label class="col-form-label form-control-label required" for="form_posFiles___name___content">Content</label>' +
            '</div>' +
            '<div class="col-10">' +
            '   <textarea id="form_posFiles___name___content" name="form[posFiles][__name__][content]" required="required" rows="6" class="form-control"></textarea>' +
            '</div>' +
            '</div>';

        // get the new index
        var index = $collectionHolder.data('index');

        var newForm = prototype;
        // You need this only if you didn't set 'label' => false in your tags field in TaskType
        // Replace '__name__label__' in the prototype's HTML to
        // instead be a number based on how many items we have
        // newForm = newForm.replace(/__name__label__/g, index);

        // Replace '__name__' in the prototype's HTML to
        // instead be a number based on how many items we have
        newForm = newForm.replace(/__name__/g, index);

        // increase the index with one for the next item
        $collectionHolder.data('index', index + 1);

        // Display the form in the page in an li, before the "Add a tag" link li
        var $newFormLi = $('<div class="item"></div>').append(newForm);
        $newLinkLi.before($newFormLi);

        bindAddExampleButton();
    }
</script>
{% endverbatim %}