<script>
function onchangeformulare(name) {
    var id = "settings_bootstrap3Formulare_" + name + "edit";
    document.getElementById(id).value = "1";
}
</script> 
                            <div class="tab-pane" id="rights" role="tabpanel">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-bs-toggle="tab" href="#login" role="tab">Login</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" href="#register" role="tab">Registrieren</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" href="#pass" role="tab">Passwort Anfordern</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" href="#address" role="tab">Adresse bearbeiten</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" href="#addaddress" role="tab">Adresse hinzufügen</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="login" role="tabpanel">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="col-md-1 form-control-label">{{ form_label(form.bootstrap3Formulare.formularelogin) }}</label>
                                                    <div class="col-md-11">
                                                        {{ form_widget(form.bootstrap3Formulare.formularelogin) }}
                                                        {{ form_widget(form.bootstrap3Formulare.formulareloginedit) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="register" role="tabpanel">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="col-md-1 form-control-label">{{ form_label(form.bootstrap3Formulare.formulareregister) }}</label>
                                                    <div class="col-md-11">
                                                        {{ form_widget(form.bootstrap3Formulare.formulareregister) }}
                                                        {{ form_widget(form.bootstrap3Formulare.formulareregisteredit) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="pass" role="tabpanel">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="col-md-1 form-control-label">{{ form_label(form.bootstrap3Formulare.formularepass) }}</label>
                                                    <div class="col-md-11">
                                                        {{ form_widget(form.bootstrap3Formulare.formularepass) }}
                                                        {{ form_widget(form.bootstrap3Formulare.formularepassedit) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="address" role="tabpanel">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="col-md-1 form-control-label">{{ form_label(form.bootstrap3Formulare.formulareaddress) }}</label>
                                                    <div class="col-md-11">
                                                        {{ form_widget(form.bootstrap3Formulare.formulareaddress) }}
                                                        {{ form_widget(form.bootstrap3Formulare.formulareaddressedit) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="addaddress" role="tabpanel">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="col-md-1 form-control-label">{{ form_label(form.bootstrap3Formulare.formulareaddaddress) }}</label>
                                                    <div class="col-md-11">
                                                        {{ form_widget(form.bootstrap3Formulare.formulareaddaddress) }}
                                                        {{ form_widget(form.bootstrap3Formulare.formulareaddaddressedit) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>