<script>
function savestyle() {
document.getElementById("settings_bootstrap3Style_write").value = "0";
document.getElementById("settings_save").click();
}
</script>
<div class="row">
    <div class="col-md-4">
        <div class="form-group row">
            {{ form_label(form.bootstrap3General.customTemplates) }}
            <div class="col-md-8">
                {{ form_widget(form.bootstrap3General.customTemplates) }}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group row">
            {{ form_label(form.bootstrap3General.layout) }}
            <div class="col-md-8">
                {{ form_widget(form.bootstrap3General.layout) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group row">
            {{ form_label(form.bootstrap3General.displayArticleCount) }}
            <div class="col-md-8">
                {{ form_widget(form.bootstrap3General.displayArticleCount) }}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group row">
            {{ form_label(form.bootstrap3General.displayMyOrderCount) }}
            <div class="col-md-8">
                {{ form_widget(form.bootstrap3General.displayMyOrderCount) }}
            </div>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group row">
            {{ form_label(form.bootstrap3General.displaySender) }}
            <div class="col-md-8">
                {{ form_widget(form.bootstrap3General.displaySender) }}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group row">
            {{ form_label(form.bootstrap3General.displayDelivery) }}
            <div class="col-md-8">
                {{ form_widget(form.bootstrap3General.displayDelivery) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group row">
            {{ form_label(form.bootstrap3General.templateDisplayProductsCrossselling) }}
            <div class="col-md-8">
                {{ form_widget(form.bootstrap3General.templateDisplayProductsCrossselling) }}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group row">
            {{ form_label(form.bootstrap3General.templateDisplayUserApproval) }}
            <div class="col-md-8">
                {{ form_widget(form.bootstrap3General.templateDisplayUserApproval) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group row">
            {{ form_label(form.bootstrap3General.basketField1) }}
            <div class="col-md-6">
                {{ form_widget(form.bootstrap3General.basketField1) }}
            </div>
            {{ form_errors(form.bootstrap3General.basketField1) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group row">
            {{ form_label(form.bootstrap3General.basketField2) }}
            <div class="col-md-6">
                {{ form_widget(form.bootstrap3General.basketField2) }}
            </div>
            {{ form_errors(form.bootstrap3General.basketField2) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group row">
            {{ form_label(form.bootstrap3General.basketPosField1) }}
            <div class="col-md-6">
                {{ form_widget(form.bootstrap3General.basketPosField1) }}
            </div>
            {{ form_errors(form.bootstrap3General.basketPosField1) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group row">
            {{ form_label(form.bootstrap3General.basketPosField2) }}
            <div class="col-md-6">
                {{ form_widget(form.bootstrap3General.basketPosField2) }}
            </div>
            {{ form_errors(form.bootstrap3General.basketPosField2) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group row">
            {{ form_label(form.bootstrap3General.defaultFunc) }}
            <div class="col-md-6">
                {{ form_widget(form.bootstrap3General.defaultFunc) }}
            </div>
            {{ form_errors(form.bootstrap3General.defaultFunc) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group row">
            {{ form_label(form.bootstrap3General.defaultParam) }}
            <div class="col-md-6">
                {{ form_widget(form.bootstrap3General.defaultParam) }}
            </div>
            {{ form_errors(form.bootstrap3General.defaultParam) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group row">
            {{ form_label(form.bootstrap3General.googleanalyticscode) }}
            <div class="col-md-8">
                {{ form_widget(form.bootstrap3General.googleanalyticscode) }}
            </div>
        </div>
    </div>
</div>
