{% trans_default_domain 'core_settings_edit' %}
<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            {{ form_label(form.bootstrap3Startseite.mode) }}
            <div class="col-md-8">
                {{ form_widget(form.bootstrap3Startseite.mode) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            {{ form_label(form.bootstrap3Startseite.index_slogan) }}
            <div class="col-md-8">
                {{ form_widget(form.bootstrap3Startseite.index_slogan) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            {{ form_label(form.bootstrap3Startseite.mc_start_products) }}
            <div class="col-md-8">
                {{ form_widget(form.bootstrap3Startseite.mc_start_products) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            {{ form_label(form.bootstrap3Startseite.mc_start_productgroups) }}
            <div class="col-md-8">
                {{ form_widget(form.bootstrap3Startseite.mc_start_productgroups) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            {{ form_label(form.bootstrap3Startseite.slider_interval) }}
            <div class="col-md-8">
                {{ form_widget(form.bootstrap3Startseite.slider_interval) }}
            </div>
        </div>
    </div>
</div>
<a href="{{ path("psc_plugin_bootstrap3_backend_slider_index") }}" target="_blank" class="btn btn-primary">{{'Slidermanagement'|trans}}</a>