<script>
function onchangestyles(name) {
    //console.log(name);
    var id = "settings_bootstrap3Style_" + name + "edit";
    document.getElementById(id).value = "1";
}
</script>
<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            {{ form_label(form.bootstrap3Style.stylecss) }}
            <div class="col-md-12">
                {{ form_widget(form.bootstrap3Style.stylecss) }}
            </div>
        </div>
        <div class="form-group row">
                {{ form_widget(form.bootstrap3Style.stylecssedit) }}
                {{ form_widget(form.bootstrap3Style.write) }}
        </div>
    </div>
</div>