<script>
function onchangetranslator(name) {
    var id = "settings_bootstrap3Translator_" + name + "edit";
    //alert(id);
    document.getElementById(id).value = "1";
}
</script>
{#{ dump(form.bootstrap3Translator.children) }#}
<div class="row">
    <div class="col-md-12">
    {#% for key in form.bootstrap3Translator.children|keys %}
{{key}}
    {% endfor %#}
    
        <div class="form-group row">
        <div class="col-md-12">
        {{ form_widget(form.bootstrap3Translator) }}
        </div>
            {#{ form_label(form.bootstrap3Translator.translatorde) }}
            <div class="col-md-12">
                {{ form_widget(form.bootstrap3Translator.translatorde) }}
            </div>
        </div>
        <div class="form-group row">
            {{ form_label(form.bootstrap3Translator.translatoren) }}
            <div class="col-md-12">
                {{ form_widget(form.bootstrap3Translator.translatoren) }}
            </div>
        </div>
        <div class="form-group row">
                {{ form_widget(form.bootstrap3Translator.translatoredit) }}
                {{ form_widget(form.bootstrap3Translator.write) }#}
        </div>
    </div>
</div>