{% extends 'backend_base.html.twig' %}

{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-shopping-cart"></i>
                    Auftrag <span>>
                    Detail</span>
                </h3>
            </div>
        </div>
    </div>

    <div class="body">
        <div class="panel">
            <div class="header">
                <h4>Daten löschen?</h4>
            </div>
            <div class="body">

                <table class="table table-striped table-sm">
                    <thead>
                        <tr>
                            <th>File</th>
                            <th>Pfad</th>
                            <th>Vorhanden</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for orderpos in order.getPositions() %}
                            {% for upload in orderpos.getUploads() %}
                               <tr><td>{{ upload.name }}</td><td>{{ upload.path }}</td><td>{% if file_exists(upload.path) %}<span class="badge bg-success">JA</span>{% else %}<span class="badge bg-danger">NEIN</span>{% endif %}</td></tr>
                            {% endfor %}
                        {% endfor %}
                    </tbody>
                </table>


                {{ form_start(form, { 'attr': {'class': ''}}) }}
                <div class="row mb-3">
                    <label class="col-md-1 form-control-label"></label>
                    <div class="col-md-1">
                        {{ form_widget(form.yes, {attr: {class: 'btn btn-lg btn-warning btn-sm'}}) }}
                    </div>
                    <div class="col-md-1">
                        {{ form_widget(form.no, {attr: {class: 'btn btn-lg btn-primary btn-sm'}}) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}