
<div class="panel">
    <div class="header">
        <h4>Details FTP</h4>
    </div>
    <div class="body">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    {{ form_label(form.host) }}
                    <div class="col-md-8">
                        {{ form_widget(form.host) }}
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group row">
                    {{ form_label(form.ssl) }}
                    <div class="col-md-8">
                        {{ form_widget(form.ssl) }}
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group row">
                    {{ form_label(form.passiv) }}
                    <div class="col-md-8">
                        {{ form_widget(form.passiv) }}
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group row">
                    {{ form_label(form.port) }}
                    <div class="col-md-8">
                        {{ form_widget(form.port) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                    {{ form_label(form.username) }}
                    <div class="col-md-8">
                        {{ form_widget(form.username) }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group row">
                    {{ form_label(form.password) }}
                    <div class="col-md-8">
                        {{ form_widget(form.password) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="form-group row">
                    {{ form_label(form.path) }}
                    <div class="col-md-8">
                        {{ form_widget(form.path) }}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-2">
                <p><button class="btn btn-sm btn-success testFtp" type="button">Test</button></p>
            </div>
            <div class="col-8">
                <div class="resultFtp"></div>
                <hr/>
                <table class="table resultFtpDir"></table>
            </div>
        </div>
    </div>
</div>
<script>

    $(function() {
        $('.testFtp').click(function() {

            $.getJSON('{{ path('psc_plugin_ftp_check') }}', {
                ftpHost: $('#form_host').val(),
                ftpSsl: $('#form_ssl').is( ":checked" ),
                ftpPassiv: $('#form_passiv').is( ":checked" ),
                ftpPort: $('#form_port').val(),
                ftpUsername: $('#form_username').val(),
                ftpPassword: $('#form_password').val(),
                ftpPath: $('#form_path').val()

            }, function(d) {
                if(d.success) {
                    $('.resultFtp').html('<span class="alert alert-success">Verbindung erfolgreich (' + d.count + ' Elemente)</span>');

                    $('.resultFtpDir').empty();

                    $( d.data ).each(function( index, element ) {
                        $('.resultFtpDir').append('<tr><td>' + element.type + '</td><td>' + element.name + '</td></tr>');
                    });

                }else{
                    $('.resultFtp').html('<span class="alert alert-danger">Verbindung konnte nicht hergestellt werden</span>');
                }

            })
            .fail(function() {
                $('.resultFtp').html('<span class="alert alert-danger">Verbindung konnte nicht hergestellt werden</span>');
            });

        })
    })

</script>