{% extends 'backend_base.html.twig' %}
{% trans_default_domain 'core_account_create_and_edit' %}
{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa fa-user-friends"></i>
                    {{'company'|trans}} <span>>
                    {{'apply'|trans}} </span>
                </h3>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-end">
                <a href="{{ path("psc_shop_account_backend_list") }}" class="btn btn-default btn-sm"><i class="fa fa-lg fa-fw fa-arrow-left"></i> {{'back'|trans}}</a>
            </div>
        </div>
    </div>

    <div class="body">
        {{ form_start(form, { 'attr': {'class': ''}}) }}
        <div class="panel">
            <div class="header">
                <h4>{{ account.title }}</h4>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-md-2">
                        <ul class="nav nav-pills flex-column" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="#all" role="tab">{{'general'|trans}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#address" role="tab">{{'PhoneAddress'|trans}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#privat" role="tab">{{'privatization'|trans}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#calc" role="tab">{{'CalculationVariables'|trans}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#price" role="tab">{{'price'|trans}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#info" role="tab">{{'Branding'|trans}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#konto" role="tab">{{'bankdetails'|trans}}</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#custom" role="tab">{{'advanced'|trans}}</a>
                            </li>
                            {% for customGroup in customGroups %}
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#{{ customGroup.id }}" role="tab">{{ customGroup.title }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-10">
                        <div class="tab-content">
                            <div class="tab-pane" id="price" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.priceFactor) }}
                                            <div class="col-md-6">
                                                {{ form_widget(form.priceFactor) }}
                                            </div>
                                            {{ form_errors(form.priceFactor) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane active" id="all" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.title) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.title) }}
                                            </div>
                                            {{ form_errors(form.title) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.appendix) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.appendix) }}
                                            </div>
                                            {{ form_errors(form.appendix) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.email) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.email) }}
                                            </div>
                                            {{ form_errors(form.email) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.homepage) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.homepage) }}
                                            </div>
                                            {{ form_errors(form.homepage) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.locked) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.locked) }}
                                            </div>
                                            {{ form_errors(form.locked) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.parent) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.parent) }}
                                            </div>
                                            {{ form_errors(form.parent) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="address" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.ustid) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.ustid) }}
                                            </div>
                                            {{ form_errors(form.ustid) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.destrict) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.destrict) }}
                                            </div>
                                            {{ form_errors(form.destrict) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.state) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.state) }}
                                            </div>
                                            {{ form_errors(form.state) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.country) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.country) }}
                                            </div>
                                            {{ form_errors(form.country) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.street) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.street) }}
                                            </div>
                                            {{ form_errors(form.street) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.houseNumber) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.houseNumber) }}
                                            </div>
                                            {{ form_errors(form.houseNumber) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.zip) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.zip) }}
                                            </div>
                                            {{ form_errors(form.zip) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.city) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.city) }}
                                            </div>
                                            {{ form_errors(form.city) }}
                                        </div>
                                    </div>
                                </div>
                                <h5>{{'Phonenumber'|trans}}</h5>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.phoneAreaCode) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.phoneAreaCode) }}
                                            </div>
                                            {{ form_errors(form.phoneAreaCode) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.phonePrefix) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.phonePrefix) }}
                                            </div>
                                            {{ form_errors(form.phonePrefix) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.phone) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.phone) }}
                                            </div>
                                            {{ form_errors(form.phone) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.phoneAppendix) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.phoneAppendix) }}
                                            </div>
                                            {{ form_errors(form.phoneAppendix) }}
                                        </div>
                                    </div>
                                </div>
                                <h5>{{'mobilenumber'|trans}}</h5>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.mobileAreaCode) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.mobileAreaCode) }}
                                            </div>
                                            {{ form_errors(form.mobileAreaCode) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.mobilePrefix) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.mobilePrefix) }}
                                            </div>
                                            {{ form_errors(form.mobilePrefix) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.mobile) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.mobile) }}
                                            </div>
                                            {{ form_errors(form.mobile) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.mobileAppendix) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.mobileAppendix) }}
                                            </div>
                                            {{ form_errors(form.mobileAppendix) }}
                                        </div>
                                    </div>
                                </div>
                                <h5>{{'faxnumber'|trans}}</h5>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.faxAreaCode) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.faxAreaCode) }}
                                            </div>
                                            {{ form_errors(form.faxAreaCode) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.faxPrefix) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.faxPrefix) }}
                                            </div>
                                            {{ form_errors(form.faxPrefix) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.fax) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.fax) }}
                                            </div>
                                            {{ form_errors(form.fax) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.faxAppendix) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.faxAppendix) }}
                                            </div>
                                            {{ form_errors(form.faxAppendix) }}
                                        </div>
                                    </div>
                                </div>
                                <h5>{{'alternativenumber'|trans}}</h5>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.alternativAreaCode) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.alternativAreaCode) }}
                                            </div>
                                            {{ form_errors(form.alternativAreaCode) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.alternativType) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.alternativType) }}
                                            </div>
                                            {{ form_errors(form.alternativType) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.alternativ) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.alternativ) }}
                                            </div>
                                            {{ form_errors(form.alternativ) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            {{ form_label(form.alternativAppendix) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.alternativAppendix) }}
                                            </div>
                                            {{ form_errors(form.alternativAppendix) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="privat" role="tabpanel">
                                <h5>{{'paymentmethods'|trans}}</h5>
                                {{ form_widget(form.payments) }}
                                <hr/>
                                <h5>{{'shippingmethods'|trans}}</h5>
                                {{ form_widget(form.shippings) }}
                                <hr/>
                                <h5>{{'Products'|trans}}</h5>
                                {{ form_widget(form.productsOrg) }}
                                <h5>{{'subproducts'|trans}}</h5>
                                {{ form_widget(form.productsSub) }}
                                <hr/>
                                <h5>{{'productgroups'|trans}}</h5>
                                {{ form_widget(form.productGroups) }}
                            </div>
                            <div class="tab-pane" id="calc" role="tabpanel">
                                <div class="row mb-3">
                                    {{ form_label(form.calcValue1) }}
                                    <div class="col-md-8">
                                        {{ form_widget(form.calcValue1) }}
                                    </div>
                                    {{ form_errors(form.calcValue1) }}
                                </div>
                                <div class="row mb-3">
                                    {{ form_label(form.calcValue2) }}
                                    <div class="col-md-8">
                                        {{ form_widget(form.calcValue2) }}
                                    </div>
                                    {{ form_errors(form.calcValue2) }}
                                </div>
                            </div>
                            <div class="tab-pane" id="info" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.image) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.image) }}
                                            </div>
                                            {{ form_errors(form.image) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.typ) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.typ) }}
                                            </div>
                                            {{ form_errors(form.typ) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.templateSwitch) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.templateSwitch) }}
                                            </div>
                                            {{ form_errors(form.templateSwitch) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row mb-3">
                                        {{ form_label(form.information) }}
                                        <div class="col-md-8">
                                            {{ form_widget(form.information) }}
                                        </div>
                                        {{ form_errors(form.information) }}
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="konto" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.bankKtoName) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.bankKtoName) }}
                                            </div>
                                            {{ form_errors(form.bankKtoName) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.bankKTO) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.bankKTO) }}
                                            </div>
                                            {{ form_errors(form.bankKTO) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.bankBLZ) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.bankBLZ) }}
                                            </div>
                                            {{ form_errors(form.bankBLZ) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.bankIban) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.bankIban) }}
                                            </div>
                                            {{ form_errors(form.bankIban) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.bankBic) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.bankBic) }}
                                            </div>
                                            {{ form_errors(form.bankBic) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.bankName) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.bankName) }}
                                            </div>
                                            {{ form_errors(form.bankName) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="custom" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.megaCode) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.megaCode) }}
                                            </div>
                                            {{ form_errors(form.megaCode) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.hotelName) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.hotelName) }}
                                            </div>
                                            {{ form_errors(form.hotelName) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.subHotelName) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.subHotelName) }}
                                            </div>
                                            {{ form_errors(form.subHotelName) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.emailGm) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.emailGm) }}
                                            </div>
                                            {{ form_errors(form.emailGm) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.room) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.room) }}
                                            </div>
                                            {{ form_errors(form.room) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.gSitz) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.gSitz) }}
                                            </div>
                                            {{ form_errors(form.gSitz) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.gz) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.gz) }}
                                            </div>
                                            {{ form_errors(form.gz) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.gf) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.gf) }}
                                            </div>
                                            {{ form_errors(form.gf) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.handelsRegister) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.handelsRegister) }}
                                            </div>
                                            {{ form_errors(form.handelsRegister) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.hrb) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.hrb) }}
                                            </div>
                                            {{ form_errors(form.hrb) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.vorsitz) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.vorsitz) }}
                                            </div>
                                            {{ form_errors(form.vorsitz) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.salutation1) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.salutation1) }}
                                            </div>
                                            {{ form_errors(form.salutation1) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.firstname1) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.firstname1) }}
                                            </div>
                                            {{ form_errors(form.firstname1) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.lastname1) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.lastname1) }}
                                            </div>
                                            {{ form_errors(form.lastname1) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.salutation2) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.salutation2) }}
                                            </div>
                                            {{ form_errors(form.salutation2) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.firstname2) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.firstname2) }}
                                            </div>
                                            {{ form_errors(form.firstname2) }}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="row mb-3">
                                            {{ form_label(form.lastname2) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.lastname2) }}
                                            </div>
                                            {{ form_errors(form.lastname2) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mb-3">
                                    <label class="col-md-3 form-control-label">
                                        {{ form_label(form.extraSettings) }}
                                    </label>
                                    <div class="col-md-9">
                                        {{ form_widget(form.extraSettings, {'attr': {'rows' : 15}}) }}
                                    </div>
                                    {{ form_errors(form.extraSettings) }}
                                </div>
                            </div>
                            {% for customGroup in customGroups %}
                                <div class="tab-pane" id="{{ customGroup.id }}" role="tabpanel">
                                    {% for customField in customFields %}
                                        {% if customField.group == customGroup.id  and customField.getTemplate %}
                                            {{ include(customField.getTemplate, { 'form': form }) }}
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel">
            <div class="body">
                <div class="row mb-3">
                    <div class="col-md-offset-1 col-md-11">
                        {{ form_widget(form.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>


{% endblock %}