{% extends 'backend_base.html.twig' %}

{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-paper-plane"></i>
                    Logs <span>>
                    Liste </span>
                </h3>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-end">

            </div>
        </div>
    </div>
    <div class="body">
        <div class="panel">
            <div class="body">
                <h2>Einträge</h2>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>Id</th>
                        <th>Created</th>
                        <th>Shop</th>
                        <th>User</th>
                        <th>Module</th>
                        <th>Reference</th>
                        <th>Message</th>
                        <th>Data</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for log in pagination %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>{{ log.id }}</td>
                            <td>{{ log.created|date('d.m.Y H:i:s') }}</td>
                            <td>{{ log.shopName }}</td>
                            <td>{{ log.contactEmail }}</td>
                            <td>{{ log.module }}</td>
                            <td>{{ log.referenceUuid }}</td>
                            <td>{{ log.message }}</td>
                            <td>{% for a, b in log.data %}
                                {{ a }}:
                                    {% if b is iterable %}
                                        {% for i in b %}
                                            {% if i is iterable %}
                                                {{ i|join(',') }}
                                            {% else %}
                                                {{ i }}
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        {{ b }}
                                    {% endif %}<br/>
                                {% endfor %}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}