{% extends 'backend_base.html.twig' %}

{% block body %}
<div class="header">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h3>
                <i class="fa-fw fa fa-download"></i>
                Exporter <span>>
                erzeugen </span>
            </h3>
        </div>
    </div>
</div>
<div class="body">
    <div class="panel">
        <div class="header">
            <h4>Erzeugen</h4>
        </div>
        <div class="body">
            {{ form_start(form, { 'attr': {'class': ''}}) }}
            {% for item in form %}
                {% if item.vars.name != '_token' %}
                    {% if item.vars.widget is defined %}
                        {% if  item.vars.widget == 'choise' %}
                            <div class="row mb-3">
                                {{ form_label(item) }}
                                <div class="col-md-8">
                                    {{ form_widget(item) }}
                                </div>
                            </div>
                        {% else %}
                            <div class="row mb-3">
                                {{ form_label(item) }}
                                <div class="col-md-8">
                                    {{ form_widget(item) }}
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                        <div class="row mb-3">
                            {{ form_label(item) }}
                            <div class="col-md-8">
                                {{ form_widget(item) }}
                            </div>
                        </div>
                    {% endif %}
                {% endif %}
            {% endfor %}
            <div class="row mb-3">
                <div class="col-md-offset-1 col-md-11">
                    <button type="submit" class="btn btn-primary btn-sm">Export!!!</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>
{% endblock %}
