{% extends 'backend_base.html.twig' %}

{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-download"></i>
                    Exporter <span>>
                    Liste </span>
                </h3>
            </div>
        </div>
    </div>

    <div class="body">
        {% for key,exportg in exporters %}
            <div class="panel">
                <div class="header">
                    <h4>
                        {% if key == 1 %}Artikel{% endif %}
                        {% if key == 2 %}Aufträge{% endif %}
                        {% if key == 3 %}Kunden{% endif %}
                        {% if key == 4 %}Firmen{% endif %}
                        {% if key == 5 %}Papier{% endif %}
                    </h4>
                </div>
                <div class="body">
                    <table class="table table-striped table-sm">
                        <tbody>
                        {% for export in exportg %}
                            <tr><td>{{ export.description }}</td>
                                <td><a href="{{ path("psc_backend_tools_exporter_form", {type: export.type}) }}" class="btn btn-danger btn-sm"><span class="fa fa-sign"></span></a></td></tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}