{% extends 'backend_base.html.twig' %}
{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-paper-plane"></i>
                    Papier <span>>
                    Detail </span> {{ paper.id }}
                </h3>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-end">
                <a href="{{ path("psc_system_paper_list") }}" class="btn btn-default btn-sm"><i class="fa fa-lg fa-fw fa-arrow-left"></i> Zurück</a>
            </div>
        </div>
    </div>

    <div class="body">

        {{ form_start(form, { 'attr': {'class': 'smart-form'}}) }}
        {{ form_errors(form) }}

        <div class="panel">
            <div class="header">
                <h5>{{ paper.description1 }}</h5>
            </div>

            <div class="body">
                <div class="row">
                    <div class="col-md-2">
                        <ul class="nav nav-pills flex-column" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="#all" role="tab">Allgemein</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#papertyp" role="tab">Papiertyp</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-10">

                        <div class="tab-content">
                            <div class="tab-pane active" id="all" role="tabpanel">
                                <div class="row mb-3">
                                    <label class="col-md-3 form-control-label">
                                        {{ form_label(form.artNr) }}
                                    </label>
                                    <div class="col-md-9">
                                        {{ form_widget(form.artNr) }}
                                    </div>
                                    {{ form_errors(form.artNr) }}
                                </div>
                                <div class="row mb-3">
                                    <label class="col-md-3 form-control-label">
                                        {{ form_label(form.description1) }}
                                    </label>
                                    <div class="col-md-9">
                                        {{ form_widget(form.description1) }}
                                    </div>
                                    {{ form_errors(form.description1) }}
                                </div>
                                <div class="row mb-3">
                                    <label class="col-md-3 form-control-label">
                                        {{ form_label(form.description2) }}
                                    </label>
                                    <div class="col-md-9">
                                        {{ form_widget(form.description2) }}
                                    </div>
                                    {{ form_errors(form.description2) }}
                                </div>
                                <div class="row mb-3">
                                    <label class="col-md-3 form-control-label">
                                        {{ form_label(form.grammatur) }}
                                    </label>
                                    <div class="col-md-9">
                                        {{ form_widget(form.grammatur) }}
                                    </div>
                                    {{ form_errors(form.grammatur) }}
                                </div>
                                <div class="row mb-3">
                                    <label class="col-md-3 form-control-label">
                                        {{ form_label(form.preis) }}
                                    </label>
                                    <div class="col-md-9">
                                        {{ form_widget(form.preis) }}
                                    </div>
                                    {{ form_errors(form.preis) }}
                                </div>
                                <div class="row mb-3">
                                    <label class="col-md-3 form-control-label">
                                        {{ form_label(form.volume) }}
                                    </label>
                                    <div class="col-md-9">
                                        {{ form_widget(form.volume) }}
                                    </div>
                                    {{ form_errors(form.volume) }}
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <label class="col-md-3 form-control-label">
                                                {{ form_label(form.offsetFix) }}
                                            </label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.offsetFix) }}
                                            </div>
                                            {{ form_errors(form.offsetFix) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <label class="col-md-3 form-control-label">
                                                {{ form_label(form.offsetVar) }}
                                            </label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.offsetVar) }}
                                            </div>
                                            {{ form_errors(form.offsetVar) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <label class="col-md-3 form-control-label">
                                                {{ form_label(form.digitalFix) }}
                                            </label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.digitalFix) }}
                                            </div>
                                            {{ form_errors(form.digitalFix) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <label class="col-md-3 form-control-label">
                                                {{ form_label(form.digitalVar) }}
                                            </label>
                                            <div class="col-md-9">
                                                {{ form_widget(form.digitalVar) }}
                                            </div>
                                            {{ form_errors(form.digitalVar) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="papertyp" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <label class="col-md-7 form-control-label">
                                                {{ form_label(form.papierTyp1) }}
                                            </label>
                                            <div class="col-md-5">
                                                {{ form_widget(form.papierTyp1) }}
                                            </div>
                                            {{ form_errors(form.papierTyp1) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <label class="col-md-7 form-control-label">
                                                {{ form_label(form.papierTyp2) }}
                                            </label>
                                            <div class="col-md-5">
                                                {{ form_widget(form.papierTyp2) }}
                                            </div>
                                            {{ form_errors(form.papierTyp2) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <label class="col-md-7 form-control-label">
                                                {{ form_label(form.papierTyp3) }}
                                            </label>
                                            <div class="col-md-5">
                                                {{ form_widget(form.papierTyp3) }}
                                            </div>
                                            {{ form_errors(form.papierTyp3) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <label class="col-md-7 form-control-label">
                                                {{ form_label(form.papierTyp4) }}
                                            </label>
                                            <div class="col-md-5">
                                                {{ form_widget(form.papierTyp4) }}
                                            </div>
                                            {{ form_errors(form.papierTyp4) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <label class="col-md-7 form-control-label">
                                                {{ form_label(form.papierTyp5) }}
                                            </label>
                                            <div class="col-md-5">
                                                {{ form_widget(form.papierTyp5) }}
                                            </div>
                                            {{ form_errors(form.papierTyp5) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <label class="col-md-7 form-control-label">
                                                {{ form_label(form.papierTyp6) }}
                                            </label>
                                            <div class="col-md-5">
                                                {{ form_widget(form.papierTyp6) }}
                                            </div>
                                            {{ form_errors(form.papierTyp6) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <label class="col-md-7 form-control-label">
                                                {{ form_label(form.papierTyp7) }}
                                            </label>
                                            <div class="col-md-5">
                                                {{ form_widget(form.papierTyp7) }}
                                            </div>
                                            {{ form_errors(form.papierTyp7) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <label class="col-md-7 form-control-label">
                                                {{ form_label(form.papierTyp8) }}
                                            </label>
                                            <div class="col-md-5">
                                                {{ form_widget(form.papierTyp8) }}
                                            </div>
                                            {{ form_errors(form.papierTyp8) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <label class="col-md-7 form-control-label">
                                                {{ form_label(form.papierTyp9) }}
                                            </label>
                                            <div class="col-md-5">
                                                {{ form_widget(form.papierTyp9) }}
                                            </div>
                                            {{ form_errors(form.papierTyp9) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <label class="col-md-7 form-control-label">
                                                {{ form_label(form.papierTyp10) }}
                                            </label>
                                            <div class="col-md-5">
                                                {{ form_widget(form.papierTyp10) }}
                                            </div>
                                            {{ form_errors(form.papierTyp10) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <label class="col-md-7 form-control-label">
                                                {{ form_label(form.papierTyp11) }}
                                            </label>
                                            <div class="col-md-5">
                                                {{ form_widget(form.papierTyp11) }}
                                            </div>
                                            {{ form_errors(form.papierTyp11) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <label class="col-md-7 form-control-label">
                                                {{ form_label(form.papierTyp12) }}
                                            </label>
                                            <div class="col-md-5">
                                                {{ form_widget(form.papierTyp12) }}
                                            </div>
                                            {{ form_errors(form.papierTyp12) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <label class="col-md-7 form-control-label">
                                                {{ form_label(form.papierTyp13) }}
                                            </label>
                                            <div class="col-md-5">
                                                {{ form_widget(form.papierTyp13) }}
                                            </div>
                                            {{ form_errors(form.papierTyp13) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <label class="col-md-7 form-control-label">
                                                {{ form_label(form.papierTyp14) }}
                                            </label>
                                            <div class="col-md-5">
                                                {{ form_widget(form.papierTyp14) }}
                                            </div>
                                            {{ form_errors(form.papierTyp14) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <label class="col-md-7 form-control-label">
                                                {{ form_label(form.umschlagen) }}
                                            </label>
                                            <div class="col-md-5">
                                                {{ form_widget(form.umschlagen) }}
                                            </div>
                                            {{ form_errors(form.umschlagen) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">

                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <label class="col-md-7 form-control-label">
                                                {{ form_label(form.happy) }}
                                            </label>
                                            <div class="col-md-5">
                                                {{ form_widget(form.happy) }}
                                            </div>
                                            {{ form_errors(form.happy) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <label class="col-md-7 form-control-label">
                                                {{ form_label(form.eq) }}
                                            </label>
                                            <div class="col-md-5">
                                                {{ form_widget(form.eq) }}
                                            </div>
                                            {{ form_errors(form.eq) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <label class="col-md-7 form-control-label">
                                                {{ form_label(form.sense) }}
                                            </label>
                                            <div class="col-md-5">
                                                {{ form_widget(form.sense) }}
                                            </div>
                                            {{ form_errors(form.sense) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <label class="col-md-7 form-control-label">
                                                {{ form_label(form.sky) }}
                                            </label>
                                            <div class="col-md-5">
                                                {{ form_widget(form.sky) }}
                                            </div>
                                            {{ form_errors(form.sky) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <label class="col-md-7 form-control-label">
                                                {{ form_label(form.glam) }}
                                            </label>
                                            <div class="col-md-5">
                                                {{ form_widget(form.glam) }}
                                            </div>
                                            {{ form_errors(form.glam) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="row mb-3">
                                            <label class="col-md-7 form-control-label">
                                                {{ form_label(form.post) }}
                                            </label>
                                            <div class="col-md-5">
                                                {{ form_widget(form.post) }}
                                            </div>
                                            {{ form_errors(form.post) }}
                                        </div>
                                    </div>
                                    <div class="col-md-3">

                                    </div>
                                    <div class="col-md-3">

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="body">
                <div class="row mb-3">
                    <div class="col-md-offset-2 col-md-11">
                        {{ form_widget(form.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>


{% endblock %}