{% extends 'backend_base.html.twig' %}

{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-paper-plane"></i>
                    Papier <span>>
                    Liste </span>
                </h3>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-end">
                <a class="btn btn-info btn-sm" href="{{ path('psc_system_paper_container_settings') }}">Papiercontainer</a>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="panel">
            <div class="body">
                <a class="btn btn-info btn-sm" href="{{ path('psc_system_paper_create') }}">Neues Papier anlegen</a>
            </div>
        </div>

        <div class="panel">
            <div class="body">
                {{ form_start(form, { 'attr': {'class': 'searchForm'}}) }}
                <div class="form-group form-group-sm row">
                    <label class="col-md-1 form-control-label">
                        Suche
                    </label>
                    <div class="col-md-3">
                        <div class="input-group input-group-sm">
                            {{ form_widget(form.term, {attr: {class:'form-control'}}) }}
                            <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                                </span>
                        </div>
                    </div>
                </div>

                {{ form_rest(form) }}

                {{ form_end(form) }}

                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>{{ knp_pagination_sortable(pagination, 'Uid', 'paper.id') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'ArtNr', 'paper.artNr') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Grammatur', 'paper.grammatur') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Name 1', 'paper.description1') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Name 2', 'paper.description2') }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for papier in pagination %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>{{ papier.id }}</td>
                            <td>{{ papier.artNr }}</td>
                            <td>{{ papier.grammatur }}</td>
                            <td>{{ papier.description1 }}</td>
                            <td>{{ papier.description2 }}</td>
                            <td class="text-end">
                                <a href="{{ path("psc_system_paper_edit", {uuid: papier.id}) }}" class="btn btn-info btn-sm"><span class="fa fa-edit"></span> Bearbeiten</a>
                                <a href="{{ path("psc_system_paper_delete", {uuid: papier.id}) }}" class="btn btn-danger btn-sm"><span class="fa fa-trash"></span> Löschen</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}