<script type="text/ng-template" id="motivMethod">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()">&times;</button>
            <h4 class="modal-title" id="meinModalLabel2"><i class="fa fa-cloud-upload fa-lg"></i> Bild Upload</h4>
        </div>
        <div class="modal-body">

            <uib-tabset>

                <uib-tab heading="Upload">
                    <div class="row">
                        <div class="col-lg-12 text-center">
                            <div id="dragdroparea" class="well well-dragdrop" ngf-drop ngf-select ng-model-rejected="rejFiles" ngf-accept="'.jpg,.jpeg,.png,.gif'" ngf-change="onFileSelect($files, true);" ng-file-drop-available="dropSupported=true">
                                <p class="lead">Einfach Fotos per Drag & Drop hereinziehen</p>
                                <p>oder</p>
                                <p><button type="button" class="btn btn-inverse"><i class="fa fa-plus"></i> Datei auswählen ...</button></p>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="selectedFiles != null">
                        <div ng-repeat="f in selectedFiles" class="col-xs-12">
                            <div class="progress progress-striped active">
                                <div class="progress-bar"  role="progressbar" aria-valuenow="{{progress[$index]}}" aria-valuemin="0" aria-valuemax="100" style="width:{{progress[$index]}}%">
                                    <span class="sr-only">{{progress[$index]}}% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" ng-show="rejFiles.length > 0">
                        <div class="col-lg-12 text-center"><div class="alert alert-danger">
                            Dateiformat wird nicht unterstützt. Lade dein Bild bitte als JPEG, PNG oder Gif hoch.
                        </div></div>
                    </div>
                </uib-tab>

                <uib-tab heading="Meine Motive">
                    <div class="row">
                        <div ng-repeat="motiv in myMotive" class="col-xs-2">
                            <a ng-click="selectMotiv(motiv.uuid, true)" class="thumbnail">
                                <img ng-src="{{ ds.getImageThumbPath(motiv.uuid) }}"/>
                            </a>
                        </div>
                    </div>
                    <ul uib-pagination total-items="bigTotalItems" page="bigCurrentPage" max-size="maxSize" class="pagination-small" boundary-links="true" rotate="false" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                </uib-tab>

                <uib-tab heading="Gallery">
                    <div class="row">
                        <div ng-repeat="motiv in motive" class="col-xs-2">
                            <a ng-click="selectMotiv(motiv.uuid, true)" class="thumbnail">
                                <img ng-src="{{ ds.getImageThumbPath(motiv.uuid) }}"/>
                            </a>
                        </div>
                    </div>
                    <ul uib-pagination total-items="bigTotalItems" page="bigCurrentPage" max-size="maxSize" class="pagination-small" boundary-links="true" rotate="false" num-pages="numPages" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul>
                </uib-tab>


            </uib-tabset>




        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger pull-left" ng-click="cancel()"><i class="fa fa-times"></i> abbrechen</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="motivEditMethod">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title" id="meinModalLabel2"><i class="fa fa-cloud-upload fa-lg"></i> Bild Upload</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div id="dragdroparea" class="well well-dragdrop" ngf-accept="'.jpg,.jpeg,.png,.gif'" ng-model-rejected="rejFiles" ngf-drop ngf-change="onFileSelect($files, true);" ng-file-drop-available="dropSupported=true">
                        <p class="lead">Einfach Fotos per Drag & Drop hereinziehen</p>
                        <p>oder</p>
                        <p><button type="button" class="btn btn-inverse"><i class="fa fa-plus"></i> Datei auswählen ...</button></p>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="selectedFiles != null">
                <div ng-repeat="f in selectedFiles" class="col-xs-12">
                    <div class="progress progress-striped active">
                        <div class="progress-bar"  role="progressbar" aria-valuenow="{{progress[$index]}}" aria-valuemin="0" aria-valuemax="100" style="width:{{progress[$index]}}%">
                            <span class="sr-only">{{progress[$index]}}% Complete</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-show="rejFiles.length > 0">
                <div class="col-lg-12 text-center"><div class="alert alert-danger">
                    Dateiformat wird nicht unterstützt. Lade dein Bild bitte als JPEG, PNG oder Gif hoch.
                </div></div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger pull-left" ng-click="cancel()"><i class="fa fa-times"></i> abbrechen</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="motivGallery">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" ng-click="cancel()">&times;</button>
            <h4>Das Erste mal Laden der Motive kann einen Moment dauern. Wir bitten um etwas Geduld.</h4>
        </div>

        <div class="modal-body">
            <uib-tabset>

                <uib-tab heading="Gallery">
                    <div class="row">
                        <div ng-repeat="motiv in motive" class="col-xs-2">
                            <a ng-click="selectMotiv(motiv.uuid, true)" class="thumbnail">
                                <img ng-src="{{ ds.getImageThumbPath(motiv.uuid) }}"/>
                            </a>
                        </div>
                    </div>
                    <ul uib-pagination total-items="count" ng-model="page" items-per-page="12" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="pageChanged()"></ul>
                </uib-tab>

                <uib-tab heading="Meine Motive">
                    <div class="row">
                        <div ng-repeat="motiv in myMotive" class="col-xs-2">
                            <a ng-click="selectMotiv(motiv.uuid, true)" class="thumbnail">
                                <img ng-src="{{ ds.getImageThumbPath(motiv.uuid) }}"/>
                            </a>
                        </div>
                    </div>
                    <ul uib-pagination total-items="myCount" ng-model="myPage" items-per-page="12" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;" ng-change="myPageChanged()"></ul>
                </uib-tab>


            </uib-tabset>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger pull-left" ng-click="cancel()"><i class="fa fa-times"></i> abbrechen</button>
        </div>

    </div>
</script>