{% extends 'backend_base.html.twig' %}
{% trans_default_domain 'core_news_list' %}
{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-newspaper"></i>
                    {{'News'|trans}} <span>>
                    {{'List'|trans}} </span>
                </h3>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="panel">
            <div class="body">
                <a class="btn btn-info btn-sm" href="{{ path("psc_shop_news_backend_create") }}">{{'Addnews'|trans}}</a>
            </div>
        </div>
        <div class="panel">
            <div class="body">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>{{ knp_pagination_sortable(pagination, 'Uid'|trans, 'news.uid') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'active'|trans, 'news.enable') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Name'|trans, 'news.title') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Introduction'|trans, 'news.introduction') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Sortdate'|trans, 'news.sortDate') }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for news in pagination %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>{{ news.uid }}</td>
                            <td>{% if news.enable %}<span class="badge bg-success">{{'yes'|trans}}</span>{% else %}<span
                                        class="badge bg-warning">{{'no'|trans}}</span>{% endif %}</td>
                            <td>{{ news.title }}</td>
                            <td>{{ news.introduction }}</td>
                            <td>{{ news.sortDate|date('d.m.Y') }}</td>
                            <td class="text-end">
                                <a href="{{ path("psc_shop_news_backend_edit", {uid: news.uid}) }}"
                                   class="btn btn-info btn-sm"><span class="fa fa-edit"></span> {{'edit'|trans}}</a>
                                <a href="{{ path("psc_shop_news_backend_delete", {uid: news.uid}) }}"
                                   class="btn btn-danger btn-sm"><span class="fa fa-trash"></span> {{'del'|trans}}</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}