@font-face {
	font-family: 'layouts';
	src:url('fonts/layouts.eot?vht2nt');
	src:url('fonts/layouts.eot?#iefixvht2nt') format('embedded-opentype'),
		url('fonts/layouts.woff?vht2nt') format('woff'),
		url('fonts/layouts.ttf?vht2nt') format('truetype'),
		url('fonts/layouts.svg?vht2nt#layouts') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'layouts';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-bring-to-front:before {
	content: "\e600";
}
.icon-bring-forward:before {
	content: "\e601";
}
.icon-send-to-back:before {
	content: "\e602";
}
.icon-send-backwards:before {
	content: "\e603";
}
.icon-text-background:before {
	content: "\e604";
}
.icon-text-colour:before {
	content: "\e605";
}
.icon-transparency:before {
	content: "\e606";
}
.icon-flip-vertical:before {
	content: "\e607";
}
.icon-line-thickness:before {
	content: "\e608";
}
.icon-flip-horizontal:before {
	content: "\e609";
}
