{% extends 'backend_base.html.twig' %}
{% block body %}
<div class="header">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h3>
                <i class="fa-fw fa fa-user"></i>
                Address Import <span>>
                    Schritt 1 </span>
            </h3>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-end">
            <a href="{{ path("psc_shop_contact_backend_list") }}" class="btn btn-default btn-sm"><i class="fa fa-lg fa-fw fa-arrow-left"></i> Zurück</a>
        </div>
    </div>
</div>

<div class="body">
    {{  form_start(form) }}
    <div class="panel">
        <div class="header">
            <h5>{{ contact.username }}</h5>
        </div>
        <div class="body">
            <div class="row">
                <div class="col-md-4">
                    <div class="row mb-3">
                        {{ form_label(form.ignoreFirstLine) }}
                        <div class="col-md-8">
                            {{ form_widget(form.ignoreFirstLine) }}
                        </div>
                        {{ form_errors(form.ignoreFirstLine) }}
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="row mb-3">
                        {{ form_label(form.overwrite) }}
                        <div class="col-md-8">
                            {{ form_widget(form.overwrite) }}
                        </div>
                        {{ form_errors(form.overwrite) }}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h4>Mapping</h4>
                    <span class="posFiles">
                                        {# iterate over each existing tag and render its only field: name #}
                        {% for map in form.mapping %}
                            <div class="item">
                                <div class="row">
                                    <div class="col-2">
                                        <label class="col-form-label form-control-label required">Key</label>
                                    </div>
                                    <div class="col-10">
                                        {{ form_widget(map.key) }}
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-2">
                                        <label class="col-form-label form-control-label required">Value</label>
                                    </div>
                                    <div class="col-10">
                                        {{ form_widget(map.value) }}
                                    </div>
                                </div>
                            </div>
                            <hr/>
                        {% endfor %}
                        </span>
                </div>
            </div>


            <div class="row mb-3">
                <div class="col-md-1">
                    <button type="submit">Weiter</button>
                </div>
            </div>
        </div>
    </div>
    {{ form_end(form) }}
</div>

{% endblock %}