{% extends 'backend_base.html.twig' %}
{% block body %}
<div class="header">
    <div class="row">
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h3>
                <i class="fa-fw fa fa-user"></i>
                Address Import <span>>
                    Schritt 3 </span>
            </h3>
        </div>
        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 text-end">
            <a href="{{ path("psc_shop_contact_backend_list") }}" class="btn btn-default btn-sm"><i class="fa fa-lg fa-fw fa-arrow-left"></i> Zurück</a>
        </div>
    </div>
</div>

<div class="body">

    <div class="panel">
        <div class="header">
            <h5>Wollen Sie wirklich in diesen Kunden importieren? {{ contact.username }}</h5>
        </div>
        <div class="body">
            {{ form_start(form, { 'attr': {'class': ''}}) }}
            <div class="row mb-3">
                <label class="col-md-1 form-control-label"></label>
                <div class="col-md-1">
                    {{ form_widget(form.yes, {attr: {class: 'btn btn-lg btn-warning btn-sm'}}) }}
                </div>
                <div class="col-md-1">
                    {{ form_widget(form.no, {attr: {class: 'btn btn-lg btn-primary btn-sm'}}) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

</div>

{% endblock %}