@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-1bb40s');
	src:url('fonts/icomoon.eot?#iefix-1bb40s') format('embedded-opentype'),
		url('fonts/icomoon.woff?-1bb40s') format('woff'),
		url('fonts/icomoon.ttf?-1bb40s') format('truetype'),
		url('fonts/icomoon.svg?-1bb40s#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-transparency:before {
	content: "\e600";
}
.icon-text-colour:before {
	content: "\e601";
}
.icon-text-background:before {
	content: "\e602";
}
.icon-send-to-back:before {
	content: "\e603";
}
.icon-send-backwards:before {
	content: "\e604";
}
.icon-line-thickness:before {
	content: "\e605";
}
.icon-flip-vertical:before {
	content: "\e606";
}
.icon-flip-horizontal:before {
	content: "\e607";
}
.icon-cursor:before {
	content: "\e608";
}
.icon-bring-to-front:before {
	content: "\e609";
}
.icon-bring-forward:before {
	content: "\e60a";
}
