<!DOCTYPE html>
<html lang="de-DE">
<head>
    <meta charset="utf-8">

    <title>PSC Admin</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="{{ app.request.getBaseURL() }}/"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {% block stylesheets %}
        {{ encore_entry_link_tags('backend/dashboard') }}
    {% endblock %}

    <!-- GOOGLE FONT -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
</head>
<body>
<header>
    <div class="row header">
        <div class="col-md-2">
            <h4>PSC Admin</h4>
        </div>
    </div>
</header>
<div class="container content">
    {% block body %}
    {% endblock %}
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('backend/dashboard') }}
{% endblock %}
</body>

</html>