<!DOCTYPE html>
<html lang="de-DE">
<head>
    <meta charset="utf-8">

    <title>PSC Admin</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="{{ app.request.getBaseURL() }}/"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {% block stylesheets %}
        {{ encore_entry_link_tags('backend/dashboard') }}
    {% endblock %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- GOOGLE FONT -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
</head>
<body>
{% block body %}

<!-- Header -->
{% block appHeader %}
{% endblock %}
    <div class="container-fluid">
        <main role="main" class="col-sm-12 ml-sm-auto col-md-12 content">
        {% block breadcrumb %}
        {% endblock %}
        {% for flash_message in app.session.flashbag.get('success') %}
            <div class="alert alert-success" role="alert">
                {{ flash_message }}
            </div>
        {% endfor %}
        {% for flash_message in app.session.flashbag.get('danger') %}
            <div class="alert alert-danger">
                {{ flash_message }}
            </div>
        {% endfor %}
        {% for flash_message in app.session.flashbag.get('info') %}
            <div class="alert alert-info">
                {{ flash_message }}
            </div>
        {% endfor %}
        {% block header %}
        {% endblock %}
            <div class="body">
                {% block content %}
                {% endblock %}
            </div>
        </main>
    </div>
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('backend/dashboard') }}
{% endblock %}
</body>

</html>