<!DOCTYPE html>
<html lang="de-DE">
<head>
    <meta charset="utf-8">

    <title>PSC Admin</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="{{ app.request.getBaseURL() }}/"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {% block stylesheets %}
        {{ encore_entry_link_tags('backend/dashboard') }}
    {% endblock %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- GOOGLE FONT -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
</head>
<body>
{% if not modal %}
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
        <div class="row header">
            <div class="col-md-2">
                <h4>PSC Admin</h4>
            </div>
            <div class="col-md-2">
                <div class="swarm">

                </div>
            </div>
            <div class="col-md-8" style="text-align:right">
                <div class="btn-group pull-right" role="group" aria-label="Basic example">

                    <div class="input-group webmeeting" style="width: auto">

                    </div>
                    <a href="{{ app.request.uri }}?_locale=en" class="btn btn-secondary btnLogout">EN</a><a href="{{ app.request.uri }}?_locale=de" class="btn btn-secondary btnLogout" style="margin-right: 5px;">DE</a>
                    <a href="{{ path('psc_backend_logout') }}" class="btn btn-secondary btnLogout" title="Logout"><i class="fa fa-sign-out-alt"></i> Logout ({{ app.user.email }})</a>
                </div>
            </div>

        </div>
    </header>
{% endif %}
<div class="container-fluid">
    <div class="row">
        {% if not modal %}
            <nav class="col-md-3 col-lg-2 px-2 d-md-block bg-dark sidebar collapse sideMenu">
            {{ render(controller('PSC\\Backend\\DashboardBundle\\Controller\\ShopController::myEditableShopsAction')) }}

            {{ knp_menu_render('backend.menu.main', {'template': '@PSCBackendDashboard/menu/knp_menu.html.twig', 'ancestorClass': 'open', 'currentClass': 'active'}) }}
            {% if is_granted('ROLE_ADMIN') %}
                {{ render(controller('PSC\\System\\SettingsBundle\\Controller\\FtpController::myDataAction')) }}
                <hr/>
            {% endif %}
                {{ date("now")|date('d.m.Y H:i:s') }}
            </nav>
        {% endif %}
        <main role="main" class="{% if not modal %}col-sm-9 col-md-10{% else %}col-sm-12 col-md-12{% endif %} ms-sm-auto content {% if modal %}no-margin-top{% endif %}">
            {% block breadcrumb %}
            {% endblock %}
            {% for flash_message in app.session.flashbag.get('success') %}
                <div class="alert alert-success" role="alert">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('danger') %}
                <div class="alert alert-danger">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% for flash_message in app.session.flashbag.get('info') %}
                <div class="alert alert-info">
                    {{ flash_message }}
                </div>
            {% endfor %}
            {% if not modal %}
            {% block header %}
            {% endblock %}
            {% endif %}
            {% block content %}
                <div class="body">
                {% block appButtons %}{% endblock %}
                {% block appContent %}{% endblock %}
                </div>
            {% endblock %}
        </main>
    </div>
</div>
{% block javascripts %}
    {{ encore_entry_script_tags('backend/dashboard') }}
{% endblock %}
{% block scripts %}
{% endblock %}
</body>

</html>