<!DOCTYPE html>
<html lang="de-DE">
<head>
    <meta charset="utf-8">

    <title>PSC Admin</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="{{ app.request.getBaseURL() }}/"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    {% block stylesheets %}
        {{ encore_entry_link_tags('backend/dashboard') }}
    {% endblock %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <!-- GOOGLE FONT -->
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">
</head>
<body>
{% block body %}
{% endblock %}
{% block javascripts %}
    {{ encore_entry_script_tags('backend/dashboard') }}
{% endblock %}
</body>

</html>