<div class="row">
    <div class="col-md-4">
        <div class="form-group row">
            {{ form_label(form.bootstrap4Design.b2bshop) }}
            <div class="col-md-8">
                {{ form_widget(form.bootstrap4Design.b2bshop) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group row">
            {{ form_label(form.bootstrap4Design.einbetten) }}
            <div class="col-md-8">
                {{ form_widget(form.bootstrap4Design.einbetten) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group row">
            {{ form_label(form.bootstrap4Design.display_no_language) }}
            <div class="col-md-8">
                {{ form_widget(form.bootstrap4Design.display_no_language) }}
            </div>
        </div>
    </div>
</div>