<script>
function savestyle() {
document.getElementById("settings_bootstrap4Style_write").value = "0";
document.getElementById("settings_save").click();
}
</script>
<div class="row">
    <div class="col-md-4">
        <div class="form-group row">
            {{ form_label(form.bootstrap4General.customTemplates) }}
            <div class="col-md-8">
                {{ form_widget(form.bootstrap4General.customTemplates) }}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group row">
            {{ form_label(form.bootstrap4General.layout) }}
            <div class="col-md-8">
                {{ form_widget(form.bootstrap4General.layout) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group row">
            {{ form_label(form.bootstrap4General.displayArticleCount) }}
            <div class="col-md-8">
                {{ form_widget(form.bootstrap4General.displayArticleCount) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group row">
            {{ form_label(form.bootstrap4General.displaySender) }}
            <div class="col-md-8">
                {{ form_widget(form.bootstrap4General.displaySender) }}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group row">
            {{ form_label(form.bootstrap4General.displayDelivery) }}
            <div class="col-md-8">
                {{ form_widget(form.bootstrap4General.displayDelivery) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group row">
            {{ form_label(form.bootstrap4General.templateDisplayProductsCrossselling) }}
            <div class="col-md-8">
                {{ form_widget(form.bootstrap4General.templateDisplayProductsCrossselling) }}
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="form-group row">
            {{ form_label(form.bootstrap4General.templateDisplayUserApproval) }}
            <div class="col-md-8">
                {{ form_widget(form.bootstrap4General.templateDisplayUserApproval) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group row">
            {{ form_label(form.bootstrap4General.basketField1) }}
            <div class="col-md-6">
                {{ form_widget(form.bootstrap4General.basketField1) }}
            </div>
            {{ form_errors(form.bootstrap4General.basketField1) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group row">
            {{ form_label(form.bootstrap4General.basketField2) }}
            <div class="col-md-6">
                {{ form_widget(form.bootstrap4General.basketField2) }}
            </div>
            {{ form_errors(form.bootstrap4General.basketField2) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group row">
            {{ form_label(form.bootstrap4General.basketPosField1) }}
            <div class="col-md-6">
                {{ form_widget(form.bootstrap4General.basketPosField1) }}
            </div>
            {{ form_errors(form.bootstrap4General.basketPosField1) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group row">
            {{ form_label(form.bootstrap4General.basketPosField2) }}
            <div class="col-md-6">
                {{ form_widget(form.bootstrap4General.basketPosField2) }}
            </div>
            {{ form_errors(form.bootstrap4General.basketPosField2) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="form-group row">
            {{ form_label(form.bootstrap4General.defaultFunc) }}
            <div class="col-md-6">
                {{ form_widget(form.bootstrap4General.defaultFunc) }}
            </div>
            {{ form_errors(form.bootstrap4General.defaultFunc) }}
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group row">
            {{ form_label(form.bootstrap4General.defaultParam) }}
            <div class="col-md-6">
                {{ form_widget(form.bootstrap4General.defaultParam) }}
            </div>
            {{ form_errors(form.bootstrap4General.defaultParam) }}
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="form-group row">
            {{ form_label(form.bootstrap4General.googleanalyticscode) }}
            <div class="col-md-8">
                {{ form_widget(form.bootstrap4General.googleanalyticscode) }}
            </div>
        </div>
    </div>
</div>