<script>
function onchangeimages(name) {
    var id = "settings_bootstrap4Images_" + name + "edit";
    document.getElementById(id).value = "1";
}
</script>
<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            {{ form_label(form.bootstrap4Images.imagesini) }}
            <div class="col-md-12">
                {{ form_widget(form.bootstrap4Images.imagesini) }}
                {{ form_widget(form.bootstrap4Images.imagesiniedit) }}
            </div>
        </div>
    </div>
</div>