<script>
function onchangesites(name) {
    var id = "settings_bootstrap4Sites_" + name + "edit";
    document.getElementById(id).value = "1";
}
</script>
                            <div class="tab-pane" id="rights" role="tabpanel">
                            
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#default" role="tab">Default</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#hauptmenu" role="tab">Hauptmenü</a>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Basket</a>
                                        <div class="dropdown-menu">
                                        <a class="dropdown-item" data-toggle="tab" href="#basketindex" role="tab">Index</a>
                                        <a class="dropdown-item" data-toggle="tab" href="#basketreview" role="tab">Review</a>
                                        <a class="dropdown-item" data-toggle="tab" href="#basketfinish" role="tab">Finish</a>
                                        <a class="dropdown-item" data-toggle="tab" href="#basketdone" role="tab">Done</a>
                                        <a class="dropdown-item" data-toggle="tab" href="#warehouse" role="tab">Warenhausprodukte</a>
                                        <a class="dropdown-item" data-toggle="tab" href="#kalkproducts" role="tab">Kalkulationsprodukte</a>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">User</a>
                                        <div class="dropdown-menu">
                                        <a class="dropdown-item" data-toggle="tab" href="#userlogin" role="tab">Login</a>
                                        <a class="dropdown-item" data-toggle="tab" href="#userregister" role="tab">Register</a>
                                        <a class="dropdown-item" data-toggle="tab" href="#usermyoverview" role="tab">Account</a>
                                        </div>
                                    </li>
                                    <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Produkte</a>
                                        <div class="dropdown-menu">
                                        <a class="dropdown-item" data-toggle="tab" href="#warehousedetails" role="tab">Warenhausprodukte</a>
                                        <a class="dropdown-item" data-toggle="tab" href="#kalkproductsdetails" role="tab">Kalkulationsprodukte</a>
                                        {% if form.bootstrap4Sites.saxoprintdetails is defined %}
                                        <a class="dropdown-item" data-toggle="tab" href="#saxoprintdetails" role="tab">Saxoprint</a>
                                        {% endif %}
                                        </div>
                                    </li>
                                     <li class="nav-item dropdown">
                                        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">CMS</a>
                                        <div class="dropdown-menu">
                                        <a class="dropdown-item" data-toggle="tab" href="#cmsindex" role="tab">index.phtml</a>
                                        </div>
                                    </li>
                                    <!--<li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#pass" role="tab">Passwort Anfordern</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#address" role="tab">Adresse bearbeiten</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#addaddress" role="tab">Adresse hinzufügen</a>
                                    </li>-->
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="default" role="tabpanel">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="col-md-1 form-control-label">{{ form_label(form.bootstrap4Sites.default) }}</label>
                                                    <div class="col-md-11">
                                                        {{ form_widget(form.bootstrap4Sites.default) }}
                                                        {{ form_widget(form.bootstrap4Sites.defaultedit) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="hauptmenu" role="tabpanel">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="col-md-1 form-control-label">{{ form_label(form.bootstrap4Sites.hauptmenu) }}</label>
                                                    <div class="col-md-11">
                                                        {{ form_widget(form.bootstrap4Sites.hauptmenu) }}
                                                        {{ form_widget(form.bootstrap4Sites.hauptmenuedit) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="basketindex" role="tabpanel">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="col-md-1 form-control-label">{{ form_label(form.bootstrap4Sites.basketindex) }}</label>
                                                    <div class="col-md-11">
                                                        {{ form_widget(form.bootstrap4Sites.basketindex) }}
                                                        {{ form_widget(form.bootstrap4Sites.basketindexedit) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="basketreview" role="tabpanel">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="col-md-1 form-control-label">{{ form_label(form.bootstrap4Sites.basketreview) }}</label>
                                                    <div class="col-md-11">
                                                        {{ form_widget(form.bootstrap4Sites.basketreview) }}
                                                        {{ form_widget(form.bootstrap4Sites.basketreviewedit) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="basketfinish" role="tabpanel">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="col-md-1 form-control-label">{{ form_label(form.bootstrap4Sites.basketfinish) }}</label>
                                                    <div class="col-md-11">
                                                        {{ form_widget(form.bootstrap4Sites.basketfinish) }}
                                                        {{ form_widget(form.bootstrap4Sites.basketfinishedit) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="basketdone" role="tabpanel">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="col-md-1 form-control-label">{{ form_label(form.bootstrap4Sites.basketdone) }}</label>
                                                    <div class="col-md-11">
                                                        {{ form_widget(form.bootstrap4Sites.basketdone) }}
                                                        {{ form_widget(form.bootstrap4Sites.basketdoneedit) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="warehouse" role="tabpanel">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="col-md-1 form-control-label">{{ form_label(form.bootstrap4Sites.warehouse) }}</label>
                                                    <div class="col-md-11">
                                                        {{ form_widget(form.bootstrap4Sites.warehouse) }}
                                                        {{ form_widget(form.bootstrap4Sites.warehouseedit) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="kalkproducts" role="tabpanel">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="col-md-1 form-control-label">{{ form_label(form.bootstrap4Sites.kalkproducts) }}</label>
                                                    <div class="col-md-11">
                                                        {{ form_widget(form.bootstrap4Sites.kalkproducts) }}
                                                        {{ form_widget(form.bootstrap4Sites.kalkproductsedit) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="userlogin" role="tabpanel">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="col-md-1 form-control-label">{{ form_label(form.bootstrap4Sites.userlogin) }}</label>
                                                    <div class="col-md-11">
                                                        {{ form_widget(form.bootstrap4Sites.userlogin) }}
                                                        {{ form_widget(form.bootstrap4Sites.userloginedit) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="userregister" role="tabpanel">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="col-md-1 form-control-label">{{ form_label(form.bootstrap4Sites.userregister) }}</label>
                                                    <div class="col-md-11">
                                                        {{ form_widget(form.bootstrap4Sites.userregister) }}
                                                        {{ form_widget(form.bootstrap4Sites.userregisteredit) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="usermyoverview" role="tabpanel">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="col-md-1 form-control-label">{{ form_label(form.bootstrap4Sites.usermyoverview) }}</label>
                                                    <div class="col-md-11">
                                                        {{ form_widget(form.bootstrap4Sites.usermyoverview) }}
                                                        {{ form_widget(form.bootstrap4Sites.usermyoverviewedit) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="warehousedetails" role="tabpanel">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="col-md-1 form-control-label">{{ form_label(form.bootstrap4Sites.warehousedetails) }}</label>
                                                    <div class="col-md-11">
                                                        {{ form_widget(form.bootstrap4Sites.warehousedetails) }}
                                                        {{ form_widget(form.bootstrap4Sites.warehousedetailsedit) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="tab-pane" id="kalkproductsdetails" role="tabpanel">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="col-md-1 form-control-label">{{ form_label(form.bootstrap4Sites.kalkproductsdetails) }}</label>
                                                    <div class="col-md-11">
                                                        {{ form_widget(form.bootstrap4Sites.kalkproductsdetails) }}
                                                        {{ form_widget(form.bootstrap4Sites.kalkproductsdetailsedit) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% if form.bootstrap4Sites.saxoprintdetails is defined %}
                                    <div class="tab-pane" id="saxoprintdetails" role="tabpanel">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="col-md-1 form-control-label">{{ form_label(form.bootstrap4Sites.saxoprintdetails) }}</label>
                                                    <div class="col-md-11">
                                                        {{ form_widget(form.bootstrap4Sites.saxoprintdetails) }}
                                                        {{ form_widget(form.bootstrap4Sites.saxoprintdetailsedit) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endif %}
                                    <div class="tab-pane" id="cmsindex" role="tabpanel">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group row">
                                                    <label class="col-md-1 form-control-label">{{ form_label(form.bootstrap4Sites.cmsindex) }}</label>
                                                    <div class="col-md-11">
                                                        {{ form_widget(form.bootstrap4Sites.cmsindex) }}
                                                        {{ form_widget(form.bootstrap4Sites.cmsindexedit) }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>