<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            {{ form_label(form.bootstrap4Startseite.mode) }}
            <div class="col-md-8">
                {{ form_widget(form.bootstrap4Startseite.mode) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            {{ form_label(form.bootstrap4Startseite.index_slogan) }}
            <div class="col-md-8">
                {{ form_widget(form.bootstrap4Startseite.index_slogan) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            {{ form_label(form.bootstrap4Startseite.mc_start_products) }}
            <div class="col-md-8">
                {{ form_widget(form.bootstrap4Startseite.mc_start_products) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            {{ form_label(form.bootstrap4Startseite.mc_start_productgroups) }}
            <div class="col-md-8">
                {{ form_widget(form.bootstrap4Startseite.mc_start_productgroups) }}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            {{ form_label(form.bootstrap4Startseite.slider_interval) }}
            <div class="col-md-8">
                {{ form_widget(form.bootstrap4Startseite.slider_interval) }}
            </div>
        </div>
    </div>
</div>
<a href="{{ path("psc_plugin_bootstrap4_backend_slider_index") }}" target="_blank" class="btn btn-primary">Slider Verwaltung</a>