.settings.panel {
  position: absolute;
  z-index: 1;
  width: 200px;
  height: 400px;
  padding: 5px;
  margin: 10px;
}

.settings.panel h3 {
  margin-top: 0;
}

.settings.panel h6 {
  margin-top: 2px;
  margin-bottom: 2px;
}