<div class="settings panel panel-default check-element animate-show" ng-show="show">

    <div ng-repeat="setting in settings" id="setting_{{ setting.id }}" ng-cloak>
        <h6>{{ setting.altLabel || setting.label }}</h6>
        <simplecolorpicker scp-inline="true" scp-picker="picker" index="{{setting.id}}" scp-colors="setting.data" scp-color="selectedColor"></simplecolorpicker>
    </div>
    <br/>
    <div>
        <h6>Stilelemente</h6>
        <button class="btn btn-primary btn-xs" data-ng-controller="MotivCtrl" ng-click="openClipartGallery(false)">Auswählen</button>
    </div>
    <div style="float: left; margin-right: 10px;" ng-repeat="motivSelect in motivSelects" id="motivSelect_{{ motivSelect.id }}" ng-cloak>
        <h6>{{ motivSelect.label }}</h6>
        <button class="btn btn-primary btn-xs" ng-click="openMotivSelect(motivSelect.id)">Auswählen</button>
    </div>

    <div style="float: left; margin-right: 10px;" ng-repeat="svgSelect in svgSelects" id="svgSelect_{{ svgSelect.id }}" ng-cloak>
        <h6>{{ svgSelect.label }}</h6>
        <button class="btn btn-primary btn-xs" ng-click="openSvgSelect(svgSelect.id)">Auswählen</button>
    </div>
    <div style="clear: both"></div>
    <div data-ng-show="showCalendarSettings" ng-cloak>
        <h6>Kalender</h6>
        <button class="btn btn-primary btn-xs" ng-click="openCalSettings(svgSelect.id)">Einstellungen</button>
    </div>
    <div ng-include="'help/help.tpl.html'" ng-controller="HelpCtrl" data-ng-show="showHelpButton"></div>
</div>


<script type="text/ng-template" id="motivSelect">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Motive</h4>
        </div>

        <div class="modal-body">
            <div class="row">
                <div ng-repeat="motiv in motive" class="col-xs-2">
                    <a ng-click="selectMotiv(motiv.uuid, true)" class="thumbnail">

                        <img ng-if="motiv.uuid" ng-src="{{ ds.getImageThumbPath(motiv.uuid) }}"/>
                        <img ng-if="!motiv.uuid" data-src="holder.js/87x87?text=Keins" alt="No" holder-fix/>
                    </a>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Schließen</button>
        </div>

    </div>
</script>

<script type="text/ng-template" id="svgSelect">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Motive</h4>
        </div>

        <div class="modal-body">
            <div class="row">
                <div ng-repeat="motiv in motive" class="col-xs-2">
                    <a ng-click="selectSvg(motiv.uuid)" class="thumbnail">

                        <img ng-if="motiv.uuid" ng-src="{{ ds.getRawPath(motiv.uuid) }}"/>
                        <img ng-if="!motiv.uuid" data-src="holder.js/87x87?text=Keins" alt="No" holder-fix/>
                        <div class="caption">
                            <h6>{{ motiv.label }}</h6>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Schließen</button>
        </div>

    </div>
</script>

<script type="text/ng-template" id="calSettings">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Kalender Einstellungen</h4>
        </div>

        <div class="modal-body">
            <h4>Farben</h4>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Monatsfarbe</label>
                        <simplecolorpicker scp-inline="true" style="display: block;" scp-picker="1" index="calendarSetting.monthColor" scp-colors="calendarSetting.data" scp-color="calendarSetting.monthColor"></simplecolorpicker>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Tagfarbe</label>
                        <simplecolorpicker scp-inline="true" style="display: block;" scp-picker="1" index="calendarSetting.dayColor" scp-colors="calendarSetting.data" scp-color="calendarSetting.dayColor"></simplecolorpicker>

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Sonntagsfarbe</label>
                        <simplecolorpicker scp-inline="true" style="display: block;" scp-picker="1" index="calendarSetting.sunColor" scp-colors="calendarSetting.data" scp-color="calendarSetting.sunColor"></simplecolorpicker>
                    </div>
                </div>
            </div>
            <h4>Einstellungen</h4>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Startmonat</label>
                        <select class="form-control" ng-change="changeCalendarSetting()" ng-model="calendarSetting.startMonth">
                            <option value="1" label="Januar"></option>
                            <option value="2" label="Februar"></option>
                            <option value="3" label="März"></option>
                            <option value="4" label="April"></option>
                            <option value="5" label="Mai"></option>
                            <option value="6" label="Juni"></option>
                            <option value="7" label="Juli"></option>
                            <option value="8" label="August"></option>
                            <option value="9" label="September"></option>
                            <option value="10" label="Oktober"></option>
                            <option value="11" label="November"></option>
                            <option value="12" label="Dezember"></option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="control-label">Startjahr</label>
                        <select class="form-control" ng-change="changeCalendarSetting()" ng-model="calendarSetting.startYear">
                            <option value="2014" label="2014"></option>
                            <option value="2015" label="2015"></option>
                            <option value="2016" label="2016"></option>
                            <option value="2017" label="2017"></option>
                            <option value="2018" label="2018"></option>
                            <option value="2019" label="2019"></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-warning" ng-click="cancel()">Schließen</button>
        </div>

    </div>
</script>