{% extends 'backend_base.html.twig' %}

{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fas fa-fw fa fa-image"></i>
                    Upload <span>>
                    Liste </span>
                </h3>
            </div>

        </div>
    </div>
    <div class="body">
        <div class="panel">
            <div class="body">

                <table class="table table-striped table-sm">
                    <thead class="">
                    <tr>
                        <th>Id</th>
                        <th>Angelegt</th>
                        <th>Name</th>
                        <th>Auftrag</th>
                        <th>Beschreibung</th>
                        <th>Größe</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for upload in uploads %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>{{ upload.id }}</td>
                            <td>{{ upload.uploadDate|date("d.m.Y") }}</td>
                            <td>{{ upload.name }}</td>
                            <td>{{ upload.orderNumber }}</td>
                            <td>{{ upload.description }}</td>
                            <td>{{ upload.fileSize|readable_filesize }}</td>
                            <td><a class="btn btn-info btn-sm" href="{{ path("psc_shop_upload_backend_list_export", { uid: upload.id }) }}">Nochmal exportieren</a></td>
                            <td><a target="_blank" class="btn btn-success btn-sm" href="{{ path("psc_shop_upload_backend_list_download", { uid: upload.id }) }}">Download</a></td>
                            <td><a class="btn btn-danger btn-sm" href="{{ path("psc_shop_upload_backend_list_delete", { uid: upload.id }) }}">Löschen</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}