{% extends 'backend_base.html.twig' %}

{% block body %}

    {% form_theme form with ['@PSCBackendDashboard/form/form_errors.html.twig'] %}
    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-memory"></i>
                    System <span>>
                Einstellungen </span></h3>
            </div>

        </div>
    </div>
    <div class="body">

        <a href="{{ path("psc_system_tax_list") }}" class="btn btn-primary btn-sm"><i class="fa fa-lg fa-fw fa-building"></i> Mehrwertsteuer</a>

        {{ form_start(form, { 'attr': {'class': 'smart-form'}}) }}
        {{ form_errors(form) }}
        <div class="panel">
            <div class="header">
                <h4>System Einstellungen</h4>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-md-2">
                        <ul class="nav flex-column" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="#number" role="tab">Nummernkreise</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#smtp" role="tab">Smtp</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#extra" role="tab">Erweitert</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#support" role="tab">PSC Support</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#ftpdata" role="tab">sFTP Daten</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-bs-toggle="tab" href="#wartung" role="tab">Wartungsankündigung</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-10">
                        <div class="tab-content">
                            <div class="tab-pane active" id="number" role="tabpanel">
                                <fieldset>
                                    <h4>Angebot</h4>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">
                                                    {{ form_label(form.offerNumberStart) }}
                                                </label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.offerNumberStart) }}
                                                </div>
                                                {{ form_errors(form.offerNumberStart) }}
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="row mb-3">
                                                <label class="col-md-6 form-control-label">
                                                    {{ form_label(form.offerNumberPattern) }}
                                                </label>
                                                <div class="col-md-6">
                                                    {{ form_widget(form.offerNumberPattern) }}
                                                </div>
                                                {{ form_errors(form.offerNumberPattern) }}
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <fieldset>
                                    <h4>Rechnung</h4>
                                    <div class="row">
                                        <div class="col-md-3">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">
                                                    {{ form_label(form.numberStart) }}
                                                </label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.numberStart) }}
                                                </div>
                                                {{ form_errors(form.numberStart) }}
                                            </div>
                                        </div>
                                        <div class="col-md-7">
                                            <div class="row mb-3">
                                                <label class="col-md-6 form-control-label">
                                                    {{ form_label(form.numberPattern) }}
                                                </label>
                                                <div class="col-md-6">
                                                    {{ form_widget(form.numberPattern) }}
                                                </div>
                                                {{ form_errors(form.numberPattern) }}
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="tab-pane" id="smtp" role="tabpanel">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-md-3">{{ form_widget(form.smtpOwn) }}</div>
                                        <div class="col-md-3">{{ form_widget(form.smtpTls) }}</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.smtpHost) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.smtpHost) }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.smtpPort) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.smtpPort) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.smtpUsername) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.smtpUsername) }}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-md-4">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.smtpPassword) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.smtpPassword) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <a href="{{ path('psc_backend_system_settings_smtptest') }}" target="_blank" class="btn btn-sm btn-info">Einstellungen testen</a>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="tab-pane" id="support" role="tabpanel">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.supporturl) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.supporturl) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.supporttoken) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.supporttoken) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.supportprotokoll) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.supportprotokoll) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.supportlogin) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.supportlogin) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.monitoringkey) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.monitoringkey) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    </fieldset>
                                    </div>
                                    <div class="tab-pane" id="ftpdata" role="tabpanel">
                                        <div class="row">
                                            <div class="col-md-12">
                                    {% if display %}<hr/><h5>sFTP Daten</h5>
                                        <b>Server:</b> {{ host }}<br/>
                                        <b>Ip:</b> {{ ip }}<br/>
                                        <b>Username:</b> {{ instance.ftpUsername }}<br/>
                                        <b>Password:</b> {{ instance.ftpPassword }}<br/>
                                        <b>sFTP Link:</b> <a target="_blank" href="sftp://{{ instance.ftpUsername }}:{{ instance.ftpPassword }}@{{ host }}/">sftp://{{ instance.ftpUsername }}:{{ instance.ftpPassword }}@{{ host }}/</a><br/>
                                    {% endif %}
                                            </div>
                                        </div>
                                    </div>
                            <div class="tab-pane" id="extra" role="tabpanel">
                                <div class="row mb-3">
                                    <label class="col-md-3 form-control-label">
                                        {{ form_label(form.extraSettings) }}
                                    </label>
                                    <div class="col-md-9">
                                        {{ form_widget(form.extraSettings, {'attr': {'rows' : 15}}) }}
                                    </div>
                                    {{ form_errors(form.extraSettings) }}
                                </div>
                            </div>
                            <div class="tab-pane" id="wartung" role="tabpanel">
                                <div class="row mb-3">
                                    <label class="col-md-3 form-control-label">
                                        {{ form_label(form.maintenanceMode) }}
                                    </label>
                                    <div class="col-md-9">
                                        {{ form_widget(form.maintenanceMode) }}
                                    </div>
                                    {{ form_errors(form.maintenanceMode) }}
                                </div>
                                <div class="row mb-3">
                                    <label class="col-md-3 form-control-label">
                                        {{ form_label(form.maintenanceTitle) }}
                                    </label>
                                    <div class="col-md-9">
                                        {{ form_widget(form.maintenanceTitle) }}
                                    </div>
                                    {{ form_errors(form.maintenanceTitle) }}
                                </div>
                                <div class="row mb-3">
                                    <label class="col-md-3 form-control-label">
                                        {{ form_label(form.maintenanceText) }}
                                    </label>
                                    <div class="col-md-9">
                                        {{ form_widget(form.maintenanceText, {'attr': {'rows' : 15}}) }}
                                    </div>
                                    {{ form_errors(form.maintenanceText) }}
                                </div>
                                <h5>Die Ausgabe erfolgt über folgende Parameter im jeweiligen HTML Template.</h5>
<textarea class="form-control" rows="5">
<?php if($this->shop->Install->isMaintenanceMode()): ?>
<h4><?php echo $this->shop->Install->getMaintenanceTitle() ?></h4>
<p><?php echo $this->shop->Install->getMaintenanceText() ?></p>
<?php endif; ?>
</textarea>
                                <h5>Beispiel im PSC Bootstrap3 Standard Template (default.phtml):</h5>
                                <textarea class="form-control" rows="10">
<body>
<div class="container">
<div style="background-color:#f18e39; color:#ffffff;padding: 10px;">
<?php if($this->shop->Install->isMaintenanceMode()): ?>
<h4><?php echo $this->shop->Install->getMaintenanceTitle() ?></h4>
<p><?php echo $this->shop->Install->getMaintenanceText() ?></p>
<?php endif; ?>
</div>

<!-- Topbar:: Navigation  -->
<section id="topbar">
</textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="body">
                <div class="row mb-3">
                    <div class="col-md-offset-2 col-md-11">
                        {{ form_widget(form.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        $(function() {
            $('.upgrade').click(function() {
                $.getJSON('{{ path('psc_backend_system_settings_upgrade') }}', [], function() {
                    document.location='{{ path('psc_backend_login') }}';
                })
            });
        })
    </script>
{% endblock %}