{% extends 'backend_base.html.twig' %}

{% block body %}

    {% form_theme form with ['@PSCBackendDashboard/form/form_errors.html.twig'] %}
    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-memory"></i>
                    System <span>>
                Smtp Einstellungen testen </span></h3>
            </div>

        </div>
    </div>
    <div class="body">
        {% if true == success and true == send %}
            <div class="alert alert-success" role="alert">Erfolgreich versendet</div>
        {% endif %}
        {% if false == success and true == send %}
            <div class="alert alert-danger" role="alert">Fehler: {{ error }}</div>
        {% endif %}
        {{ form_start(form, { 'attr': {'class': 'smart-form'}}) }}
        {{ form_errors(form) }}
        <div class="panel">
            <div class="header">
                <h4>Smtp Einstellungen testen</h4>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row mb-3">
                            <label class="col-md-3 form-control-label">{{ form_label(form.from) }}</label>
                            <div class="col-md-9">
                                {{ form_widget(form.from) }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row mb-3">
                            <label class="col-md-3 form-control-label">{{ form_label(form.to) }}</label>
                            <div class="col-md-9">
                                {{ form_widget(form.to) }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row mb-3">
                            <label class="col-md-3 form-control-label">{{ form_label(form.subject) }}</label>
                            <div class="col-md-9">
                                {{ form_widget(form.subject) }}
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="row mb-3">
                            <label class="col-md-3 form-control-label">{{ form_label(form.text) }}</label>
                            <div class="col-md-9">
                                {{ form_widget(form.text) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="body">
                <div class="row mb-3">
                    <div class="col-md-offset-2 col-md-11">
                        {{ form_widget(form.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}

    </div>
{% endblock %}