{% extends 'backend_base.html.twig' %}
{% import '@PSCBackendDashboard/tree/motivtheme.html.twig' as macros %}
{% block body %}
    <div class="row hidden-mobile">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h1 class="page-title txt-color-blueDark">
                <i class="fa-fw fa fa-tags"></i>
                Product <span>>
			Bearbeiten </span></h1>
            <a target="_blank" href="/article/show/uuid/{{ product.uuid }}">Anzeigen</a>
        </div>

    </div>

    <div class="jarviswidget" id="wid-id-5" data-widget-colorbutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-custombutton="false" data-widget-sortable="false">
        <header>
            <h2>{{ product.title }}</h2>
        </header>

        <div>

            {{ form_start(form, { 'attr': {'class': 'smart-form'}}) }}
            {{ form_errors(form) }}


            <!-- widget content -->
            <div class="widget-body">



            </div>


            <footer>
                {{ form_widget(form.save, {attr: {class: 'btn btn-primary'}}) }}
                <button type="button" class="btn btn-default" onclick="window.history.back();">
                    Zurück
                </button>
            </footer>

            {{ form_end(form) }}
            <!-- end widget content -->

        </div>


        <!-- end widget div -->

    </div>
{% endblock %}