{% extends 'backend_base.html.twig' %}
{% import '@PSCBackendDashboard/tree/motivtheme.html.twig' as macros %}
{% trans_default_domain 'core_product_stock' %}
{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-tags"></i>
                    {{ 'Product'|trans }} <span>>
                    {{ 'Warehousemanagement'|trans }} </span>
                    <a target="_blank" href="/article/show/uuid/{{ product.uuid }}">{{ 'show'|trans }}</a>
                </h3>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-end">
                <a href="{{ path("backend_production_product_edit", {uuid: product.uuid}) }}" class="btn btn-default btn-sm"><i class="fa fa-lg fa-fw fa-arrow-left"></i> {{ 'back'|trans }}</a>
            </div>
        </div>
    </div>

    <div class="body">
        <div class="row">
            <div class="col-md-6">
                <div class="panel">
                    <div class="header">
                        <h5>{{ product.title }} - {{ 'setting'|trans }}</h5>
                    </div>
                    <div class="body">
                        {{ form_start(form, { 'attr': {'class': 'smart-form'}}) }}
                        {{ form_errors(form) }}

                        <div class="row mb-3">
                            <label class="col-md-2 form-control-label">{{ form_label(form.isStock) }}</label>
                            <div class="col-md-10">
                                {{ form_widget(form.isStock) }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-2 form-control-label">{{ form_label(form.stockCount) }}</label>
                            <div class="col-md-10">
                                {{ form_widget(form.stockCount) }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-2 form-control-label">{{ form_label(form.stockMinCount) }}</label>
                            <div class="col-md-10">
                                {{ form_widget(form.stockMinCount) }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-2 form-control-label">{{ form_label(form.stockMaxBuy) }}</label>
                            <div class="col-md-10">
                                {{ form_widget(form.stockMaxBuy) }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-2 form-control-label">{{ form_label(form.stockPlace) }}</label>
                            <div class="col-md-10">
                                {{ form_widget(form.stockPlace) }}
                            </div>
                        </div>

                        <div class="row mb-3">
                            <div class="col-md-offset-1 col-md-11">
                                {{ form_widget(form.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                            </div>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel">
                    <div class="header">
                        <h5>{{ product.title }} - {{ 'Addbooking'|trans }}</h5>
                    </div>
                    <div class="body">
                        {{ form_start(formAdd, { 'action': path('backend_production_product_stock_add', {product: product.uuid}), 'attr': {'class': 'smart-form'}}) }}
                        {{ form_errors(formAdd) }}


                        <div class="row mb-3">
                            <label class="col-md-3 form-control-label">{{ form_label(formAdd.amount) }}</label>
                            <div class="col-md-9">
                                {{ form_widget(formAdd.amount) }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-3 form-control-label">{{ form_label(formAdd.delivery) }}</label>
                            <div class="col-md-9">
                                {{ form_widget(formAdd.delivery) }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <label class="col-md-3 form-control-label">{{ form_label(formAdd.description) }}</label>
                            <div class="col-md-9">
                                {{ form_widget(formAdd.description) }}
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-offset-1 col-md-11">
                                {{ form_widget(formAdd.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                            </div>
                        </div>
                        {{ form_end(formAdd) }}
                    </div>
                </div>
            </div>
        </div>

        <div class="panel">
            <div class="header">
                <h5>Buchungen</h5>
            </div>
            <div class="body">
                <table class="table table-striped table-sm">
                    <thead class="">
                    <tr>
                        <th>{{ knp_pagination_sortable(pagination, 'Created'|trans, 'stock.created') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'user'|trans , 'stock.contact') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'description'|trans, 'stock.description') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'number'|trans, 'stock.amount') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Deliverynote'|trans, 'stock.delivery') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for stock in pagination %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>{{ stock.created|date('d.m.Y H:i:s') }}</td>
                            <td>{{ stock.contact.email }}</td>
                            <td>{{ stock.description }}</td>
                            <td>{{ stock.amount }}</td>
                            <td>{{ stock.delivery }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>

{% endblock %}




