@import "../css/bootstrap.less";
@import "../../../../vendor/font-awesome/less/font-awesome.less";
@fa-font-path:        "../../..";

.loading_mask {
	position: absolute;
	top: 5px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: grey;
	z-index: 9999999;
	opacity: 0.1;
}

#loading-bar-spinner .spinner-icon {
  width: 30px !important;
  height: 30px !important;
  border-radius: 15px !important;
}

.irs-line-mid,
.irs-line-left,
.irs-line-right,
.irs-diapason,
.irs-slider {
  background: url(../../../sprite-skin-flat.png) repeat-x;
}

.irs {
  height: 40px;
}
.irs-with-grid {
  height: 60px;
}
.irs-line {
  height: 12px; top: 25px;
}
.irs-line-left {
  height: 12px;
  background-position: 0 -30px;
}
.irs-line-mid {
  height: 12px;
  background-position: 0 0;
}
.irs-line-right {
  height: 12px;
  background-position: 100% -30px;
}

.irs-diapason {
  height: 12px; top: 25px;
  background-position: 0 -60px;
}

.irs-slider {
  width: 16px; height: 18px;
  top: 22px;
  background-position: 0 -90px;
}
#irs-active-slider, .irs-slider:hover {
  background-position: 0 -120px;
}

.irs-min, .irs-max {
  color: #999;
  font-size: 10px; line-height: 1.333;
  text-shadow: none;
  top: 0; padding: 1px 3px;
  background: #e1e4e9;
  border-radius: 4px;
}

.irs-from, .irs-to, .irs-single {
  color: #fff;
  font-size: 10px; line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
  background: #ed5565;
  border-radius: 4px;
}
.irs-from:after, .irs-to:after, .irs-single:after {
  position: absolute; display: block; content: "";
  bottom: -6px; left: 50%;
  width: 0; height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #ed5565;
}


.irs-grid-pol {
  background: #e1e4e9;
}
.irs-grid-text {
  color: #999;
}

.irs-disabled {
}

@import "canvas.less";


@import '../../../app/simplecolorpicker/simplecolorpicker.less';

a:hover {color: #19ACF0;}

.irs {
  width: 200px;
}

/* Additional helper classes */
.indent-small {padding: 20px 20px;}
.inverse { background: #222222; color: #F9F9F9;}
.inverse .modal-header {border-bottom: 0px none;}
.inverse .close {color: #F9F9F9; opacity: 0.75;}

.fa-o {
	color: #f9f9f9!important;
	text-shadow:  1px  1px 0px #999999,
                  1px -1px 0px #999999,
                 -1px  1px 0px #999999,
                 -1px -1px 0px #999999;
}
/* Additional helper classes END*/

.navbar-default {
    background-color: #d8d8d8;
    border-color: #dedede;
}

.navbar-default .navbar-nav > li > a {
}

.btn-navbar-icon a, .btn-navbar-icon button {
	border-left: 1px solid #dedede;
}
.btn-navbar-icon a.niceart-btn-save:hover, .btn-navbar-icon button.niceart-btn-save:hover {
	background-color: #F0AD4E !important;
    color: #FFFFFF !important;
}
.btn-navbar-icon a.niceart-btn-kill:hover, .btn-navbar-icon button.niceart-btn-kill:hover {
	background-color: #D9534F !important;
    color: #FFFFFF !important;
}
.btn-navbar-icon li:last-of-type a {
	border-right: 1px solid #dedede;
	padding-left: 20px;
	padding-right: 20px;
}

#top-nav nav#niceartstepNav.btn-group button,
#top-nav nav#niceartstepNav.btn-group a {
		box-shadow: none;
		-webkit-box-shadow: none;
		color: #555555;
		font-style: italic;
		padding: 13px 15px;
}
#top-nav nav#niceartstepNav.btn-group button.active,
#top-nav nav#niceartstepNav.btn-group a.active {
	color: #19ACF0;
	border-bottom: 3px solid #19ACF0;
	font-style: normal;
}
#top-nav nav#niceartstepNav.btn-group button.past,
#top-nav nav#niceartstepNav.btn-group a.past {
	color: #cccccc;
	font-style: normal;
}

/* Close Button in #top-nav */
.navbar-default .navbar-nav > li > a.btn {
	border-radius: 0;
	-webkit-border-radius: 0;
	border: 1px solid #D9534F;
}
.navbar-default .navbar-nav > li > a.btn-danger {
	color: #ffffff;
}
.navbar-default .navbar-nav > li > a.btn-danger:hover, .navbar-default .navbar-nav > li > a.btn-danger:focus {
    background-color: #d2322d;
    /* color: #333333; */
}

.btn-info {
	background: #9e6f82;
	border: none;
}

.btn-success {
	background: #755361;
	border: none;
}

.btn-success:hover {
	background: #9e6f82;
	border: none;
}

.btn-inverse {
  color: #f2f2f2;
  background-color: #555555;
  border-color: #222222;
}
.btn-inverse:hover,
.btn-inverse:focus,
.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
  color: #fff;
  background-color: #222222;
  border-color: #111111;
}
.btn-inverse:active,
.btn-inverse.active,
.open .dropdown-toggle.btn-inverse {
  background-image: none;
}
.btn-inverse.disabled,
.btn-inverse[disabled],
fieldset[disabled] .btn-inverse,
.btn-inverse.disabled:hover,
.btn-inverse[disabled]:hover,
fieldset[disabled] .btn-inverse:hover,
.btn-inverse.disabled:focus,
.btn-inverse[disabled]:focus,
fieldset[disabled] .btn-inverse:focus,
.btn-inverse.disabled:active,
.btn-inverse[disabled]:active,
fieldset[disabled] .btn-inverse:active,
.btn-inverse.disabled.active,
.btn-inverse[disabled].active,
fieldset[disabled] .btn-inverse.active {
  background-color: #555555;
  border-color: #777777;
}
.btn-inverse .badge {
  color: #555555;
  background-color: #fff;
}

#niceartdeskwrapper {
	padding-top: 50px;
}
	@media (min-width: 768px) and (max-width: 991px) {
		#niceartdeskwrapper {
			padding-top: 50px;
		}
	}
/* #niceartdeskwrapper .control-bar {
	background: red;
} */


.niceart-sidebar {
	background: #ffffff;
	border-right: 1px solid #dedede;
	padding: 0;
}

/* .niceart-sidebar > .row {margin-bottom: 25px;}
	@media (min-width: 992px) {
	.niceart-sidebar > .row {margin-bottom: 5px;}
}
 */

/* ======= 100% height leftbar test #1 =======  */

/* Medium devices (desktops, 992px and up) */
@media (min-width: 962px) {
	html, body {height: 100%;}

	#niceartdeskwrapper, #niceartdeskwrapper > .row {
		height:100%;
	}

	.niceart-sidebar, .desk {
		height:100%;
		min-height:100%;
	}
}
/* =========================================== */




/* Panel Menu */
.niceart-sidebar .panel-heading {
	border-radius: 0!important;
	-webkit-border-radius: 0!important;
  	cursor: pointer;
}
.niceart-sidebar .panel-heading h4 > a {
	display: block;
	padding: 12px 26px;
}
.niceart-sidebar > .panel-default > .panel-heading:hover  {
	border-left: 3px solid rgba(27,172,240, 0.65) ;
}
.niceart-sidebar .panel-default.active > .panel-heading  {
	background: #ededed /*rgba(27,172,240, 0.65)*/;
	color: #333333;
	border-left: 3px solid #19ACF0  ;
}
.niceart-sidebar > .panel-default > .panel-heading i {
	font-size: 125%;
}
	@media (min-width: 992px) {
		.panel-group#accordionmenu > .panel-default > .panel-heading i {
			margin-right: 10px;
		}
	}

.niceart-sidebar .panel {
    border-radius: 0;
	border-right: 0 none;
  	margin-bottom: 0;
	border-bottom: 0;
}

.niceart-sidebar .panel-footer {
	border-top: 1px solid #dedede;
}
.panel-footer {
    background-color: #ffffff;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
	height: 50px;
    padding: 0;
}
.niceart-panel-toolbar {
	background-color: #f2f2f2;
}
.niceart-panel-toolbar .btn-group {
    border-left: 1px solid #DFDFDF;
}
.niceart-panel-toolbar .btn-group:first-child {
    border-left: 0 none;
}
.niceart-panel-toolbar button .fa, .niceart-panel-toolbar a .fa, .niceart-panel-toolbar .btn-link  {
	font-size: 24px;
	color: #999999;
}
.niceart-panel-toolbar button.btn-link .fa.fa-times  {
	font-size: 28px;
	color: #D9534F;
}

.panel-group .panel + .panel {
    margin-top: -1px;
}
.btn-group-label {

}

.panel-collapse > .panel-body {
  margin:0;
  padding:0;
}

/* Handels the step number */
.niceartsteptxt h2 {font-size: 21px;}
span.niceartstepno {
	font-size: 100%;
	color: #cccccc;
}
	@media (min-width: 992px) {
		span.niceartstepno {
			font-size: 133%;
		}
	}

.desk {
    background-color: #ffffff;
}

.desk > header {
    margin: 40px 0;
}
.desk > header.displayNot {
  margin: 10px 0;
}

.desk > footer {
	text-align: center;
    margin: 20px 0 0 0;
}

canvas#niceartcanvas {
	background-color:#269;
	background-image: linear-gradient(white 2px, transparent 2px),
	linear-gradient(90deg, white 2px, transparent 2px),
	linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
	linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
	background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px
}
#niceart-canvas-body {
	border: 0 none;
}
#niceart-canvas-body img {
	-webkit-box-shadow: 1px 1px 15px -5px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 15px -5px rgba(0,0,0,0.75);
}

/* === Modal Core (rewrite the bootstrap default) === */
	@media (min-width: 992px) {
		.modal-lg {
			width: 900px;
		}
		.modal-sm {
			width: 550px;
		}
	}
.modal-content {
    border-radius: 3px;
	-webkit-border-radius: 3px;
}

.modal-title h4, .modal-title h3, .modal-title h2, .modal-title p {
	font-size: 21px;
}

.modal-niceartimage-wrapper {
	border: 1px dashed #a7a7a7;
    background-repeat: repeat;
    background-size: auto auto;
}
.modal-niceartimage-wrapper img {max-height: 300px;}


.modal-body-no-padding {
	padding: 0;
}

.modal-body-bar {
	background-color: #f2f2f2;
    background-repeat: repeat;
    background-size: auto auto;
	padding: 15px 25px;
}
.modal-footer {
	border-top: 0px none;
    margin-top: 0;
    padding: 19px 20px 20px;
    text-align: right;
}

	/* Thumbnail Button */
	a.thumbnail:hover, a.thumbnail:focus, a.thumbnail.active {
		border-color: #cccccc;
	}
	a.thumbnail.niceart-active {
		border-color: #a68290;
	}

	.modal-body-bar a.thumbnail, .modal-body a.thumbnail, .panel a.thumbnail {
		position:relative;
	}

	.thumbnail .niceart-thmb-overlay {
		opacity: 0;
		text-align: center;
		position: absolute;
		height: 100%;
		width: 100%;
		font-size: 28px;
		color: #555555;
		background-color: rgba(237,237,237, 0.75);
		top: 0;
		left: 0;
		-webkit-transition: all 200ms ease-in-out 50ms;
		-moz-transition: all 200ms ease-in-out 50ms;
		-ms-transition: all 200ms ease-in-out 50ms;
		-o-transition: all 200ms ease-in-out 50ms;
		transition: all 200ms ease-in-out 50ms;
	}
		@media (min-width: 768px) {
			.thumbnail .niceart-thmb-overlay {
				font-size: 42px;
				padding-top: 20px;
			}
		}

	a.thumbnail:hover .niceart-thmb-overlay {
		opacity: 1;
	}

	a.thumbnail.niceart-active  > .niceart-thmb-overlay, a.thumbnail.niceart-active  > .niceart-thmb-overlay .fa {
		opacity: 1;
		color: #a68290;
	}
	/* Thumbnail Button Ende */

/* bis hier alles Modal */

/* Image-Upload */
.thumbnail .progress-overlay {
		text-align: center;
		position: absolute;
		height: 100%;
		width: 100%;
		font-size: 28px;
		color: #555555;
		background-color: rgba(237,237,237, 0.75);
		top: 0;
		left: 0;
		-webkit-transition: all 200ms ease-in-out 50ms;
		-moz-transition: all 200ms ease-in-out 50ms;
		-ms-transition: all 200ms ease-in-out 50ms;
		-o-transition: all 200ms ease-in-out 50ms;
		transition: all 200ms ease-in-out 50ms;
		padding: 30px 6px;
}

.modal-danger .modal-header {
	background: #D9534F;
	color: rgba(255,255,255, 0.5);

}

/*Dropdown Button*/
.dropdown-menu .active {
	background: rgba(27,172,240, 0.65);
	color: #ffffff;
}


footer#niceartpagefooter nav#navbarniceartpagefooter {
    background-repeat: repeat;
    background-size: auto auto;
}

/* IntroJS */
.introjs-helperNumberLayer {
    -moz-box-sizing: content-box;
    background: #f2f2f2!important;
    border: 1px solid #ffffff;
	color: #777777;
	text-shadow: none;
}

/* Alerts */
.alert {
	border-radius: 1px;
	-webkit-border-radius: 1px;
	margin: 25px 0;
}
.alert-info {
    background-color: #f9f9f9;
    border: 0 none;
	border-left: 12px solid;
	border-left-color: #19ACF0;
    color: #999999;
}
.alert-warning {
    background-color: #f9f9f9;
    border: 0 none;
	border-left: 12px solid;
	border-left-color: #FFBD00;
    color: #999999;
}
.alert-danger {
    background-color: #f9f9f9;
    border: 0 none;
	border-left: 12px solid;
	border-left-color: #E62534;
    color: #999999;
}

/* Progress Bar */
.progress {
	margin: 20px 0;
}

/* wells, boxen */
.well-dragdrop {
	border: 1px dashed #cccccc;
	background: #ffffff;
	border-radius: 0;
	-webkit-border-radius: 0;
}
.well-dragdrop:hover {
	background: #DFF0D8;
}


.btn.page-controls .fa {
	line-height: 0.33;
}
a.btn.page-controls {
	color: #DEDEDE;
	margin-top: 73px;
}
a.btn.page-controls:hover {
	color: #666666;
}

label, h4.label {
    border-radius: 0;
    display: inline;
    font-size: 13px;
    font-weight: 200;
    line-height: 1;
    padding: 0.2em 0 0.3em;
    vertical-align: baseline;
    white-space: nowrap;
	color: #999999;
}

.navbar-brand {
    font-size: 14px;
}

		@media (min-width: 768px) {
			.navbar-brand {
				font-size: 18px;
			}
		}

.label {
	font-weight: 200;
}

#monthNav > .dropdown-menu {
  text-align: left;
  width: 100%;
  padding: 10px;
}

#monthNav {
  position: static;
}

.btn-long {
  padding-right: 33px;
  padding-left: 33px;
}
