{% extends 'backend_base.html.twig' %}
{% trans_default_domain 'core_shipping_edit' %}
{% block body %}

    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-envelope"></i>
                    {{'shippingmethods'|trans}} <span>>
                    {{'create'|trans}} </span>
                </h3>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-end">
                <a href="{{ path("psc_shop_shipping_backend_list") }}" class="btn btn-default btn-sm"><i class="fa fa-lg fa-fw fa-arrow-left"></i> {{'back'|trans}}</a>
            </div>
        </div>
    </div>

    <div class="body">
        {{ form_start(form, { 'attr': {'class': ''}}) }}
            <div class="panel">
                <div class="header">
                    <h4>{{ shipping.title }}</h4>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-md-2">
                            <ul class="nav nav-pills flex-column" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" data-bs-toggle="tab" href="#all" role="tab">{{'General'|trans}}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#params" role="tab">{{'parameter'|trans}}</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" data-bs-toggle="tab" href="#matrix" role="tab">{{'Matrix'|trans}}</a>
                                </li>
                                {% for customGroup in customGroups %}
                                    <li class="nav-item">
                                        <a class="nav-link" data-bs-toggle="tab" href="#{{ customGroup.id }}" role="tab">{{ customGroup.title }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="col-md-10">
                            <div class="tab-content">
                                <div class="tab-pane active" id="all" role="tabpanel">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.title) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.title) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.pos) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.pos) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row">
                                                <div class="col-md-3">{{ form_widget(form.enable) }}</div>
                                                <div class="col-md-3">{{ form_widget(form.private) }}</div>
                                                <div class="col-md-6">{{ form_widget(form.noPayment) }}</div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.taxClass) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.taxClass) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.price) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.price) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.pricePercent) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.pricePercent) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.weightFrom) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.weightFrom) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.weightTo) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.weightTo) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.priceFrom) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.priceFrom) }}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.priceTo) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.priceTo) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row mb-3">
                                                <label class="col-md-1 form-control-label">{{ form_label(form.description) }}</label>
                                                <div class="col-md-11">
                                                    {{ form_widget(form.description) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="params" role="tabpanel">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="row mb-3">
                                                <label class="col-md-3 form-control-label">{{ form_label(form.parameter1) }}</label>
                                                <div class="col-md-9">
                                                    {{ form_widget(form.parameter1) }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="matrix" role="tabpanel">
                                    {{ form_widget(form.matrix) }}
                                </div>
                                {% for customGroup in customGroups %}
                                    <div class="tab-pane" id="{{ customGroup.id }}" role="tabpanel">
                                        {% for customField in customFields %}
                                            {% if customField.group == customGroup.id  and customField.getTemplate %}
                                                {{ include(customField.getTemplate, { 'form': form }) }}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel">
                <div class="body">
                    <div class="row mb-3">
                        <div class="col-md-offset-1 col-md-11">
                            {{ form_widget(form.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                        </div>
                    </div>
                </div>
            </div>
        {{ form_end(form) }}
    </div>
{% endblock %}