{% extends 'backend_base.html.twig' %}
{% trans_default_domain 'core_order_list' %}
{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-shopping-cart"></i>
                    {{'order'|trans}} <span>>
                    {{'list'|trans}} </span>
                </h3>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="panel">
            <div class="body">
                {{ form_start(form, { 'attr': {'class': 'searchForm'}}) }}
                <div class="form-group form-group-sm row">
                    <div class="col-md-5">
                    Filtern nach Auftragsstatus (Positionsstatus wird nicht berücksichtigt):<br />
                        {{ form_widget(form.status) }}
                        <div style="clear: both;"></div>
                    </div>
                    <div class="col-md-3">
                    Suchen nach (Auftragsstatus-Filter wird berücksichtigt):<br />
                        <div class="input-group input-group-sm">
                            {{ form_widget(form.term) }}
                            
                        </div><br /><br />
                        <span class="input-group-btn">
                                    <button type="submit" class="btn btn-sm btn-success btn">Filter anwenden</button>
                                </span>
                    </div>
                </div>

                {{ form_rest(form) }}

                {{ form_end(form) }}

                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th>{{ knp_pagination_sortable(pagination, 'Id'|trans, 'orders.uid') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Typ'|trans, 'orders.type') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'ordernumber'|trans, 'orders.alias') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'createdat'|trans, 'orders.created') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'Name'|trans, 'contact.username') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'firstname'|trans, 'contact.firstname') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'lastname'|trans, 'contact.lastname') }}</th>
                            <th>{{'virtual'|trans}}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'wkpos1'|trans, 'orders.basketfield1') }}</th>
                            <th>{{ knp_pagination_sortable(pagination, 'wkpos2'|trans, 'orders.basketfield2') }}</th>
                            <th>{{'re'|trans}}</th>
                            <th class="text-end">{{'grossprice'|trans}}</th>
                            <th>{{'status'|trans}}</th>
                            <th></th>
                        </tr>
                    </thead>

                    {% for order in pagination %}
                        {% set orderObj = orderService.getOrderByUuid(order.uuid, true) %}
                    <tbody>
                        <tr aria-expanded="false" aria-controls="group-of-rows-{{ order.uid }}" style="{% if orderStatuse.getStatusColor(order.status) != '' %}background-color: {{ orderStatuse.getStatusColor(order.status) }}{% endif %}" class="clickable {% if order.status == 170 %}bg-lightdark{% elseif order.status == 200 or order.status == 210 %}bg-lightsuccess{% else %}bg-lightdanger{% endif %} {% if loop.index is odd %}color{% endif %}">
                            <td><i class="fa fa-plus toogle_list_detail_view" data-uuid="{{ order.uuid }}" style="cursor: pointer;" data-target="rows-{{ order.uid }}" aria-hidden="true"></i></td>
                            <td>{{ order.uid }}</td>
                            <td>{{ orderObj.getTypeAsString() }}</td>
                            <td>{{ order.alias }}</td>
                            <td>{{ order.created|date('d.m.Y H:i:s') }}</td>
                            <td><a href="mailto:{{ order.contact.username }}">{{ order.contact.username }}</a></td>
                            <td><a href="/apps/backend/contact/edit/edit/{{ order.contact.uuid }}">{{ order.contact.firstname }}</a></td>
                            <td><a href="/apps/backend/contact/edit/edit/{{ order.contact.uuid }}">{{ order.contact.lastname }}</a></td>
                            <td>{% if order.contact.virtual %}<span class="badge bg-warning" data-bs-toggle="tooltip" data-bs-placement="bottom">{{'yes'|trans}}</span>{% else %}<span class="badge bg-secondary">{{'no'|trans}}</span>{% endif %}</td>
                            <td>{{ order.basketfield1 }}</td>
                            <td>{{ order.basketfield2 }}</td>
                            <td><small>{{ orderObj.getInvoiceAddress().company }}<br/>{{ orderObj.getInvoiceAddress().firstname }} {{ orderObj.getInvoiceAddress().lastname }}<br/>
                                {{ orderObj.getInvoiceAddress().street }} {{ orderObj.getInvoiceAddress().houseNumber }}<br/>
                                {{ orderObj.getInvoiceAddress().zip }} {{ orderObj.getInvoiceAddress().city }}</small>
                            </td>
                            <td class="text-end">{{ order.netto|number_format(2, ',', '.') }}€ <strong>({{ order.brutto|number_format(2, ',', '.') }}€)</strong></td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{ orderStatuse.getStatusText(order.status) }}
                                    </button>
                                    <div class="dropdown-menu">
                                        {% for status in orderStatuse.getOrderStatuse %}
                                            <a class="dropdown-item" href="{{ path("psc_shop_order_backend_list_switchstatus", {order: order.uuid, status: status.code}) }}">{{ status.internalName|trans({}, 'status') }}</a>
                                        {% endfor %}
                                    </div>
                                </div>
                                </td>
                            <td class="text-end">
                                <a href="{{ path("psc_shop_order_backend_detail_show", {uuid: order.uuid}) }}" class="btn btn-info btn-sm"><span class="fa fa-edit"></span> {{'details'|trans}}</a>
                                <a href="{{ path("psc_shop_order_backend_detail_package_download", {uuid: order.uuid}) }}" target="_blank" class="btn btn-success btn-sm"><span class="fa fa-edit"></span> Package Download</a>
                                {% if order.status == 210 %}
                                    <a href="{{ path("psc_shop_order_backend_upload_deleteAll", {uuid: order.uuid}) }}" class="btn btn-danger btn-sm"><span class="fa fa-trash"></span> Uploads löschen</a>
                                {% endif %}
                            </td>
                        </tr>

                    </tbody>
                    <tbody id="rows-{{ order.uuid }}">
                        
                    </tbody>
                    <tbody>
                    <tr class="divider"><td colspan="14"></td></tr>
                    </tbody>
                    {% endfor %}

                </table>

                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}