{% extends 'backend_base.html.twig' %}
{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-paper-plane"></i>
                    Papier <span>>
                    Container </span>
                </h3>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-end">
                <a href="{{ path("psc_system_paper_list") }}" class="btn btn-default btn-sm"><i class="fa fa-lg fa-fw fa-arrow-left"></i> Zurück</a>
            </div>
        </div>
    </div>

    <div class="body">
        {{ form_start(form, { 'attr': {'class': 'smart-form'}}) }}
        {{ form_errors(form) }}

        <div class="panel">
            <div class="body">

                <div class="row mb-3">
                    <label class="col-md-3 form-control-label">
                        {{ form_label(form.paperContainer) }}
                    </label>
                    <div class="col-md-9">
                        {{ form_widget(form.paperContainer) }}
                    </div>
                    {{ form_errors(form.paperContainer) }}
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="body">
                <div class="row mb-3">
                    <div class="col-md-offset-2 col-md-11">
                        {{ form_widget(form.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>


{% endblock %}