{% extends 'backend_base.html.twig' %}

{% block body %}

<div class="header">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h3>
                <i class="fa-fw fa fa-picture-o"></i>
                Media <span>>
                    Detail </span>
            </h3>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-end">
            <a href="{{ path("psc_shop_media_backend_folder_show") }}" class="btn btn-default btn-sm"><i class="fa fa-lg fa-fw fa-arrow-left"></i> Zurück</a>
        </div>
    </div>
</div>

<div class="body">
    <div class="panel">
        <div class="body">
            <div class="row">
                <div class="col-4">
                    {% set handler = mediamanager.getHandler(media) %}
                    {% set imageurlorg =  handler.getImageUrl(media, app.request.basePath) %}
                    {% if imageurlorg is not empty and media.location == 'local' %}
                        {% if imageurlorg|lower|split('.')|last == 'svg' or 'image/svg' in media.contentType %}
                            {% set imageurlretina = imageurlorg %}
                            {% set imageurlinsert = imageurlorg %}
                            {% set isImage = false %}
                        {% else %}
                            {% set imageurlretina = asset(imageurlorg | imagine_filter('psc_backend_media_image_detail')) %}
                            {% set imageurl = asset(imageurlorg | imagine_filter('psc_backend_media_image_detail')) %}
                            {% set imageurlinsert = asset(imageurlorg | imagine_filter('psc_backend_media_summernote_image')) %}
                            {% set isImage = true %}
                        {% endif %}
                    {% else %}
                        {% set imageurlinsert =  handler.getImageUrl(media, app.request.basePath) %}
                        {% set isImage = false %}
                    {% endif %}
                    {% if imageurlorg %}
                        <img src="{{ imageurl }}" srcset="{{ imageurl }} 1x {{ imageurlretina is defined ? ', ' ~ imageurlretina ~ " 2x" }}" alt="{{ media.title }}" class="media-thumbnail__img">
                    {% else %}
                        <i class="fas fa-file-o media-thumbnail__icon"></i>
                    {% endif %}

                </div>
                <div class="col-8">
                    <h4>Name: {{ media.title }}</h4>
                    <p>Größe: {{ media.filesize }}</p>
                    <p>Link: {{ app.request.getSchemeAndHttpHost() }}{{ app.request.getBaseURL() }}{{ media.url }}</p>
                    <p>Disk: /data/www/new/web{{ media.url }}</p>
                    <hr/>
                    <a class="btn btn-danger btn-sm" href="{{ path('psc_shop_media_backend_media_delete', {uuid: media.id}) }}"> Media löschen</a>
                </div>
            </div>
        </div>
    </div>
    <div class="panel">
        <div class="header">
            <h5>Referenzen</h5>
        </div>
        <div class="body">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th>Typ</th>
                    <th>Title</th>
                    <th></th>
                </tr>
                </thead>
                 <tbody>
                    {% for row in refs.products %}
                        <tr>
                            <td>Produkt</td>
                            <td>{{ row.title }}</td>
                            <td class="text-end"><a href="{{ path('backend_production_product_edit', {uuid: row.uuid}) }}" class="btn btn-info btn-sm" target="_blank">Details</a></td>
                        </tr>
                    {% endfor %}
                    {% for row in refs.productGroups %}
                        <tr>
                            <td>Produktgruppe</td>
                            <td>{{ row.title }}</td>
                            <td class="text-end"><a href="{{ path('psc_shop_productgroup_backend_edit', {uid: row.uid}) }}" class="btn btn-info btn-sm" target="_blank">Details</a></td>
                        </tr>
                    {% endfor %}
                    {% for row in refs.cms %}
                        <tr>
                            <td>Cms</td>
                            <td>{{ row.title }}</td>
                            <td class="text-end"><a href="{{ path('psc_shop_cms_backend_edit_edit', {uid: row.uid}) }}" class="btn btn-info btn-sm" target="_blank">Details</a></td>
                        </tr>
                    {% endfor %}
                    {% for row in refs.contacts %}
                        <tr>
                            <td>Kunde</td>
                            <td>{{ row.email }}</td>
                            <td class="text-end"><a href="{{ path('psc_shop_contact_backend_edit', {uuid: row.uuid}) }}" class="btn btn-info btn-sm" target="_blank">Details</a></td>
                        </tr>
                    {% endfor %}
                    {% for row in refs.accounts %}
                        <tr>
                            <td>Firma</td>
                            <td>{{ row.title }}</td>
                            <td class="text-end"><a href="{{ path('psc_shop_account_backend_edit', {uuid: row.uid}) }}" class="btn btn-info btn-sm" target="_blank">Details</a></td>
                        </tr>
                    {% endfor %}
                    {% for row in refs.news %}
                        <tr>
                            <td>News</td>
                            <td>{{ row.title }}</td>
                            <td class="text-end"><a href="{{ path('psc_shop_news_backend_edit', {uid: row.uid}) }}" class="btn btn-info btn-sm" target="_blank">Details</a></td>
                        </tr>
                    {% endfor %}
                 </tbody>
            </table>
        </div>
    </div>

</div>

{% endblock %}