<html>
<head>
    <script src="https://www.paypalobjects.com/webstatic/ppplus/ppplus.min.js" type="text/javascript">
    </script>
</head>
<body>
<div id="ppplus">
</div>
<script type="application/javascript">
    var ppp = PAYPAL.apps.PPP({
        "approvalUrl": "{{ approvalUrl|raw }}",
        "placeholder": "ppplus",
        "mode": "{% if production %}live{% else %}sandbox{% endif %}",
        "country": "DE"
    });
</script>
</body>
</html>