{% extends 'backend_base.html.twig' %}

{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                <h3>
                    <i class="fa-fw fa fa-tags"></i>
                    Templateprint <span>>
			        Upload </span>
                    <a target="_blank" href="/article/show/uuid/{{ product.uuid }}">Anzeigen</a>
                </h3>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-end">
                <a href="{{ path("backend_production_product_edit", {uuid: product.uuid}) }}" class="btn btn-default btn-sm"><i class="fa fa-lg fa-fw fa-arrow-left"></i> Zurück</a>
            </div>
        </div>
    </div>

    <div class="body">
        <div class="panel">
            <div class="header">
                <h5>{{ product.title }}</h5>
            </div>
            <div class="body">
                {{ form_start(form, { 'attr': {'class': ''}}) }}
                <div class="row mb-3">
                    <label class="col-md-6 form-control-label">
                        {{ form_label(form.file) }}
                    </label>
                    <div class="col-md-6">
                        {{ form_widget(form.file) }}
                    </div>
                    {{ form_errors(form.file) }}
                </div>
                <br/>
                <div class="row mb-3">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary btn-sm">Speichern</button>
                    </div>
                </div>
                {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>



{% endblock %}