
<div class="row indent-small">
    <div class="col-lg-6 col-md-12 col-xs-6">
        <button class="btn btn-info btn-block" title="Motiv hinzufügen" ng-controller="MotivCtrl" ng-click="selectMotivMethod(0)">
            <i class="fa fa-plus fa-fw"></i><i class="fa fa-picture-o fa-fw fa-lg"></i>
            <span class="hidden-sm">Bild einfügen</span>
        </button>
    </div>
    <span class="visible-md"><br class="clearfix"></span>
    <div class="col-lg-6 col-md-12 col-xs-6">
        <button class="btn btn-info btn-block" ng-click="addText()">
            <i class="fa fa-plus fa-fw"></i><i class="fa fa-font fa-fw fa-lg"></i>
            Text einfügen</button>
    </div>
    <span class="visible-md"><br class="clearfix"></span>
    <div class="col-md-12" style="margin-top: 5px">
        <button class="btn btn-info btn-block" data-ng-controller="MotivCtrl" ng-click="openClipartGallery(false)">Stilelemente</button>
    </div>
    <span ng-controller="SettingsCtrl">
        <div ng-repeat="motivSelect in motivSelects" id="motivSelect_{{ motivSelect.id }}" ng-cloak>
            <div class="col-lg-6 col-md-12 col-xs-6" style="margin-top: 5px">
                <button class="btn btn-info btn-block" ng-click="openMotivSelect(motivSelect.id)">{{ motivSelect.label }}</button>
            </div>
            <span class="visible-md"><br class="clearfix"></span>
        </div>

        <div ng-repeat="svgSelect in svgSelects" id="svgSelect_{{ svgSelect.id }}" ng-cloak>
            <div class="col-lg-6 col-md-12 col-xs-6" style="margin-top: 5px">
                <button class="btn btn-info btn-block" ng-click="openSvgSelect(svgSelect.id)">{{ svgSelect.label }}</button>
            </div>
            <span class="visible-md"><br class="clearfix"></span>
        </div>

    </span>

</div>

<div class="panel panel-default" data-ng-class="{true:'active', false:''}[isShowSettingsToolsDetails]"  data-ng-show="showSettingsTools">
    <div class="panel-heading" data-ng-click="isShowSettingsToolsDetails=!isShowSettingsToolsDetails">
        <i class="pull-right fa ng-scope fa-chevron-left" ng-class="{true:'fa-chevron-down', false:'fa-chevron-left'}[isShowSettingsToolsDetails]"></i>
        <h4 class="panel-title">
            <i class="fa fa-tint fa-lg"></i> Farben

        </h4>
    </div>

    <div ng-include="'themes/mypetbooks/app/settings/settings.tpl.html'" ng-controller="SettingsCtrl" data-ng-show="isShowSettingsToolsDetails"></div>

</div>

<div class="panel panel-default" data-ng-class="{true:'active', false:''}[isShowCalendarSettingsToolsDetails]" data-ng-show="showCalendarSettingsTools">

    <div class="panel-heading" data-ng-click="isShowCalendarSettingsToolsDetails=!isShowCalendarSettingsToolsDetails">
        <i class="pull-right fa ng-scope fa-chevron-left" ng-class="{true:'fa-chevron-down', false:'fa-chevron-left'}[isShowCalendarSettingsToolsDetails]"></i>
        <h4 class="panel-title">
            <i class="fa fa-calendar fa-lg"></i> Kalendar

        </h4>
    </div>

    <div ng-include="'themes/mypetbooks/app/settings/calsettings.tpl.html'" ng-controller="SettingsCtrl" data-ng-show="isShowCalendarSettingsToolsDetails"></div>

</div>

<div class="panel panel-default textTools" data-ng-class="{true:'active', false:''}[showTextTools]" data-ng-show="showTextTools">

    <div class="panel-heading">
        <i class="pull-right fa ng-scope fa-chevron-left" ng-class="{true:'fa-chevron-down', false:'fa-chevron-left'}[showTextTools]"></i>

        <h4 class="panel-title">
            <i class="fa fa-font"></i> Schriften

        </h4>
    </div>

    <div class="panel-body">
        <form id="niceartTxtTools" role="form">

            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label">Schriftart</label>
                        <ui-select ng-model="settings.font" on-select="selectFont($item, $model)" theme="bootstrap">
                            <ui-select-match style="font-family: {{ settings.font }}">{{settings.font.name}}</ui-select-match>
                            <ui-select-choices repeat="font in fonts">
                                <div style="font-family: {{ font.name }}" >{{ font.name }}</div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
                <div class="col-md-4" data-ng-if="settings.picker">
                    <div class="form-group">
                        <label class="control-label">Schriftfarbe</label>

                        <simplecolorpicker scp-inline="true" style="display: block;" scp-picker="settings.picker" index="settings.color" scp-colors="settings.colors" scp-current-color="settings.color" scp-color="settings.color"></simplecolorpicker>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="form-group">
                        <label class="control-label">Schriftgröße</label>
                        <input type="text" ng-change="selectSize()" ng-model="settings.size" name="tools_size" value="{{settings.size}}" style="display: none" id="tools_size"/>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">&nbsp;</label>
                        <input type="number" ng-model="settings.size" class="form-control" name="tool_size_raw" id="tool_size_raw"/>
                    </div>
                </div>
            </div>


            <!-- BS3 Button Toolbar -->
            <label class="btn-group-label">Stil, Ausrichtug & Anordnung</label>
            <div class="btn-toolbar" role="toolbar">
                <div class="btn-group typeface">
                    <button type="button" ng-click="selectBold()" class="btn btn-default" ng-class="settings.bold" ng-disabled="!settings.showBold"><i class="fa fa-bold"></i></button>
                    <button type="button" ng-click="selectItalic()"class="btn btn-default" ng-class="settings.italic" ng-disabled="!settings.showItalic"><i class="fa fa-italic"></i></button>
                </div>
                <div class="btn-group text-align">
                    <button type="button" ng-click="selectAlignLeft()" ng-class="settings.alignLeft" class="btn btn-default"><i class="fa fa-align-left"></i></button>
                    <button type="button" ng-click="selectAlignCenter()" ng-class="settings.alignCenter" class="btn btn-default"><i class="fa fa-align-center"></i></button>
                    <button type="button" ng-click="selectAlignRight()" ng-class="settings.alignRight" class="btn btn-default"><i class="fa fa-align-right"></i></button>
                    <button type="button" ng-click="selectAlignJustify()" ng-class="settings.alignJustify" class="btn btn-default"><i class="fa fa-align-justify"></i></button>
                </div>
            </div>

        </form>
    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-xs-12">
                <div id="niceartptTxt" class="btn-group btn-group-justified niceart-panel-toolbar">
                    <!--<div class="btn-group">
                        <button type="button" data-container="body" rel="popover" class="btn btn-link btn-lg" data-placement="right" data-html="true" data-content="Hier soll ein Slider rein :)" title="Text Schatten"><i style="color:#f9f9f9!important; text-shadow: 1px 1px 3px #000000;" class="fa fa-font"></i></button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-link btn-lg" title="Text Outline/Kontur"><i class="fa fa-o fa-font"></i></button>
                    </div>
                    <div class="btn-group">
                        <button type="button" class="btn btn-link btn-lg" title="Text Hintergrundfarbe"><i class="icon-text-background"></i></button>
                    </div>-->
                    <div class="btn-group">
                        <button type="button" ng-click="deleteElement()" class="btn btn-link btn-lg" title="Textobjekt löschen"><i class="fa fa-trash text-danger"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default" data-ng-class="{true:'active', false:''}[showMotivTools]" data-ng-show="showMotivTools">

    <div class="panel-heading">
        <h4 class="panel-title">

                <i class="fa fa-picture-o"></i> Bilder

        </h4>
    </div>

    <div class="panel-body">
        <div class="row indent-small">
            <div class="col-md-12">
                <button class="btn btn-default btn-success center-block" ng-controller="MotivCtrl" ng-click="selectMotivMethod(1)" title="Motiv austauschen"><i class="fa fa-cloud-upload"></i> Motiv Austauschen</button>
            </div>
        </div>

    </div>
    <div class="panel-footer">
        <div class="row">
            <div class="col-xs-12">
                <div id="niceartptImage" class="btn-group btn-group-justified niceart-panel-toolbar">
                    <div class="btn-group">
                        <button type="button" ng-click="deleteElement()" class="btn btn-link btn-lg" title="Bild löschen"><i class="fa fa-trash text-error"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row indent-small" ng-show="showTools">
    <div class="col-lg-12">
        <h4 class="label">Objekt Ebene ändern</h4>
        <div class="btn-group btn-group-justified">
            <div class="btn-group">
                <button type="button" ng-click="moveForward()" class="btn btn-default btn-lg" title="Schrittweise nach vorne"><i class="icon-bring-forward"></i></button>
            </div>
            <div class="btn-group">
                <button type="button" ng-click="onTop()" class="btn btn-default btn-lg" title="In den Vordergrund"><i class="icon-bring-to-front"></i></button>
            </div>
            <div class="btn-group">
                <button type="button" ng-click="onBottom()" class="btn btn-default btn-lg" title="In den Hintergrund"><i class="icon-send-to-back"></i></button>
            </div>
            <div class="btn-group">
                <button type="button" ng-click="moveBack()" class="btn btn-default btn-lg" title="Schrittweise nach hinten"><i class="icon-send-backwards"></i></button>
            </div>
        </div>
    </div>
</div>
