{% extends 'backend_base.html.twig' %}

{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa  fa-plug"></i>
                    Migration <span>>
                    Ausführen </span>
                </h3>
            </div>
        </div>
    </div>
    <div class="body">
        {% if mustRun %}
        <div class="alert alert-danger" role="alert">
            <h5>System nicht aktuell</h5>
        </div>
        <div class="panel">
            <div class="body">
                <h5>Soll die Migration durchgeführt werden?</h5>
                <p>

                {{ form_start(form, { 'attr': {'class': ''}}) }}
                <div class="row mb-3">
                    <label class="col-md-1 form-control-label"></label>
                    <div class="col-md-1">
                        {{ form_widget(form.yes, {attr: {class: 'btn btn-lg btn-warning btn-sm'}}) }}
                    </div>
                    <div class="col-md-1">
                        {{ form_widget(form.no, {attr: {class: 'btn btn-lg btn-primary btn-sm'}}) }}
                    </div>
                </div>
                {{ form_end(form) }}
                </p>
            </div>
        </div>
        {% else %}
            <div class="alert alert-success" role="alert">
                <h5>System aktuell</h5>
            </div>
        {% endif %}

        <div class="panel">
            <div class="body">
                <table class="table table-sm">
                    <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Ausgeführt?</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for migration in migrations %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td><b>{{ migration.name }}</b></td>
                            <td>{% if migration.mustRun %}<span class="badge bg-danger">Nein</span>{% else %}<span class="badge bg-success">Ja</span>{% endif %}</td>

                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

    </div>
{% endblock %}