<!DOCTYPE html>
<html ng-app="ngBoilerplate" ng-controller="AppCtrl" ng-intro-options="IntroOptions" ng-intro-method="CallMe"
      ng-intro-autostart="false">
<head>
    <title ng-bind="pageTitle"></title>

    <!-- font awesome from BootstrapCDN -->
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Mr+Bedfort|Schoolbell|Fredoka+One|UnifrakturCook:700|Great+Vibes|Audiowide|Cinzel+Decorative:400,700,900|Ewert|Kaushan+Script|Seaweed+Script' rel='stylesheet' type='text/css'>

    <base href="/apps/steplayouter/"/>
    <link rel="stylesheet" ngIf="stylePath" type="text/css" ng-href="{{stylePath}}" />
    <link rel="stylesheet" type="text/css" href="assets/layouts/style.css" />
    <!--<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Mr+Bedfort|Great+Vibes|Kaushan+Script|Seaweed+Script|Cinzel+Decorative|Audiowide|Euphoria+Script|Codystar|UnifrakturMaguntia|Ewert|Faster+One|Rye" />-->
    <!-- compiled JavaScript -->

    <script type="text/javascript" src="vendor/ng-file-upload/angular-file-upload-shim.js"></script>

    <script type="text/javascript" src="vendor/angular/angular.js"></script>

    <script type="text/javascript" src="vendor/angular-animate/angular-animate.js"></script>

    <script type="text/javascript" src="vendor/angular-promise-tracker/promise-tracker.js"></script>

    <script type="text/javascript" src="vendor/angular-busy/dist/angular-busy.min.js"></script>

    <script type="text/javascript" src="vendor/angular-bootstrap/dist/ui-bootstrap-tpls-0.7.0.min.js"></script>

    <script type="text/javascript" src="vendor/placeholders/angular-placeholders-0.0.1-SNAPSHOT.min.js"></script>

    <script type="text/javascript" src="vendor/angular-ui-router/release/angular-ui-router.js"></script>

    <script type="text/javascript" src="vendor/angular-ui-utils/modules/route/route.js"></script>

    <script type="text/javascript" src="vendor/fabric/dist/fabric.js"></script>

    <script type="text/javascript" src="vendor/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js"></script>

    <script type="text/javascript" src="vendor/ng-file-upload/angular-file-upload.js"></script>

    <script type="text/javascript" src="vendor/jquery/jquery.js"></script>

    <script type="text/javascript" src="vendor/ion-range-slider/js/ion.rangeSlider.js"></script>

    <script type="text/javascript" src="vendor/angular-intro.js/lib/intro.min.js"></script>

    <script type="text/javascript" src="vendor/angular-intro.js/build/angular-intro.min.js"></script>

    <script type="text/javascript" src="src/app/app.js"></script>

    <script type="text/javascript" src="src/app/footer/footer.js"></script>

    <script type="text/javascript" src="src/app/motiv/motiv.js"></script>

    <script type="text/javascript" src="src/app/painter/painter.js"></script>

    <script type="text/javascript" src="src/app/preview/preview.js"></script>

    <script type="text/javascript" src="src/app/settings/settings.js"></script>

    <script type="text/javascript" src="src/app/simplecolorpicker/simplecolorpicker.js"></script>

    <script type="text/javascript" src="src/app/sites/sites.js"></script>

    <script type="text/javascript" src="src/app/tools/tools.js"></script>

    <script type="text/javascript" src="src/app/top/top.js"></script>

    <script type="text/javascript" src="src/common/plusOne/plusOne.js"></script>

    <script type="text/javascript" src="templates-common.js"></script>

    <script type="text/javascript" src="templates-app.js"></script>

    <script type="text/javascript" src="templates-themes.js"></script>


    <!-- it's stupid to have to load it here, but this is for the +1 button -->
    <script type="text/javascript" src="https://apis.google.com/js/plusone.js">
        { "parsetags": "explicit" }
    </script>
</head>
<script src="//ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js"></script>
<script>

</script>

<body ng-switch on="theme">
        <span ng-switch-default>
            <div id="wrap" cg-busy="'app_busy'">
                <div ng-include="'painter/painter.tpl.html'" ng-controller="PainterCtrl"></div>

                <div ng-include="'top/top.tpl.html'" ng-controller="TopCtrl"></div>

                <div style="float: left" ng-include="'sites/sites.tpl.html'" ng-controller="SitesCtrl"></div>

                <div ng-include="'settings/settings.tpl.html'" ng-controller="SettingsCtrl"></div>

                <div ng-include="'tools/tools.tpl.html'" ng-controller="ToolsCtrl"></div>
            </div>

            <div ng-include="'footer/footer.tpl.html'" ng-controller="FooterCtrl"></div>

            <div ng-include="'motiv/motiv.tpl.html'" ng-controller="MotivCtrl"></div>
        </span>
        <span ng-switch-when="dp">
            <div id="wrap" cg-busy="'app_busy'" style="position: relative;height: 100%;">


                <div ng-include="'themes/dp/app/top/top.tpl.html'" ng-controller="TopCtrl"></div>

                <section id="dp24deskwrapper" class="container-fluid column-2">
                    <div class="row">
                        <section class="col-md-9 col-md-push-3 dp24-desk">
                            <header class="siteBrowser row control-bar" ng-include="'themes/dp/app/sites/sites.tpl.html'" ng-controller="SitesCtrl"></header>

                            <div id="dp24-canvas-wrapper" class="row" ng-include="'themes/dp/app/painter/painter.tpl.html'" ng-controller="PainterCtrl"></div>

                            <footer class="row">
                                <div class="col-lg-12">
                                    <div class="btn-group dropup">
                                        <button type="button" class="btn btn-default">100%</button>
                                        <button type="button" class="btn btn-default dropdown-toggle" data-bs-toggle="dropdown">
                                            <span class="fa fa-caret-up"></span>
                                        </button>
                                        <ul class="dropdown-menu text-left" role="menu">
                                            <li><a href="#">10%</a></li>
                                            <li><a href="#">20%</a></li>
                                            <li><a href="#">30%</a></li>
                                            <li><a href="#">40%</a></li>
                                            <li><a href="#">50%</a></li>
                                            <li><a href="#">60%</a></li>
                                            <li><a href="#">70%</a></li>
                                            <li><a href="#">80%</a></li>
                                            <li><a href="#">90%</a></li>
                                            <li><a class="active" href="#">100%</a></li>
                                            <li><a href="#">125%</a></li>
                                            <li><a href="#">150%</a></li>
                                            <li><a href="#">175%</a></li>
                                            <li><a href="#">200%</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">optimal</a></li>
                                        </ul>
                                    </div>
                                    <button class="btn btn-default" ng-controller="FooterCtrl" ng-show="settings.show_preview_pdf" ng-click="previewPDF()" title="Eine PDF Vorschau deines Designs">Vorschau <i class="fa fa-file-pdf-o fa-fw"></i></button>
                                </div>
                            </footer>
                        </section>

                        <section class="col-md-3 col-md-pull-9 dp24-sidebar" ng-include="'themes/dp/app/tools/tools.tpl.html'" ng-controller="ToolsCtrl"></section>
                    </div>
                </section>
            </div>

            <div ng-include="'themes/dp/app/footer/footer.tpl.html'" ng-controller="FooterCtrl"></div>
        </span>
</body>
</html>