{% extends 'backend_base.html.twig' %}

{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-credit-card"></i>
                    Gateway <span>>
                    Einstellungen </span>
                </h3>
            </div>
        </div>
    </div>
    <div class="body">
        {{ form_start(form, { 'attr': {'class': 'smart-form'}}) }}
        {{ form_errors(form) }}
        <div class="panel">
            <div class="body">

                <div class="row">
                    <div class="col-md-2">
                        <ul class="nav flex-column" role="tablist">
                            {% for gateway in gateways %}
                            <li class="nav-item">
                                <a class="nav-link {% if loop.first %}active{% endif %}" data-bs-toggle="tab" href="#{{ gateway.type }}" role="tab">{{ gateway.name }}</a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col-md-10">
                        <div class="tab-content">
                            {% for gateway in gateways %}
                                <div class="tab-pane {% if loop.first %}active{% endif %}" id="{{ gateway.type }}" role="tabpanel">
                                    {% if gateway.getTemplate %}
                                        {{ include(gateway.getTemplate, { 'form': form }) }}
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="panel">
            <div class="body">
                <div class="row mb-3">
                    <div class="col-md-offset-2 col-md-10">
                        {{ form_widget(form.submit, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}