
    <div class="form-group row">
        <label class="col-md-4 form-control-label">{{ form_label(form.paydirekt.production) }}</label>
        <div class="col-md-8">
            {{ form_widget(form.paydirekt.production, {attr: {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-4 form-control-label">{{ form_label(form.paydirekt.apiKey) }}</label>
        <div class="col-md-8">
            {{ form_widget(form.paydirekt.apiKey, {attr: {'class': 'form-control'}}) }}
        </div>
    </div>


    <div class="form-group row">
        <label class="col-md-4 form-control-label">{{ form_label(form.paydirekt.apiSecret) }}</label>
        <div class="col-md-8">
            {{ form_widget(form.paydirekt.apiSecret, {attr: {'class': 'form-control'}}) }}
        </div>
    </div>

    <div class="form-group row">
        <label class="col-md-4 form-control-label">{{ form_label(form.paydirekt.storeName) }}</label>
        <div class="col-md-8">
            {{ form_widget(form.paydirekt.storeName, {attr: {'class': 'form-control'}}) }}
        </div>
    </div>
