{% extends 'backend_layout.html.twig' %}

{% block header %}
    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-picture-o"></i>
                    Media <span>>
                    Dashboard </span>
                </h3>
            </div>
        </div>
    </div>
{% endblock %}

{% block appButtons %}


{% endblock %}

{% block appContent %}
    <div class="row">
        <div class="col-md-3">
            {{ form_start(folderForm, { 'attr': {'class': ''}}) }}
            <div class="form-group form-group-sm row">
                <div class="col-md-6">
                    <select class="form-control form-control-sm" name="icon">
                        <option value="fas fa-file-movie">Video</option>
                        <option value="fas fa-file-image" selected>Bilder</option>
                        <option value="fas fa-file-pdf">PDF</option>
                        <option value="fas fa-file">Sonstige</option>
                    </select>
                </div>
                <div class="col-md-6">
                    <div class="input-group input-group-sm">

                        {{ form_widget(folderForm.title, {attr: {'class': 'form-control'}}) }}
                        <span class="input-group-btn">
                                    <button type="submit" class="btn btn-default btn-sm"><i class="fa fa-save"></i></button>
                            </span>
                    </div>
                </div>
            </div>


            {{ form_end(folderForm) }}
            <hr/>

            <ul class="nav nav-pills flex-column">
                {% for cat in folders %}
                    <li class="nav-item">
                        <a class="nav-link {% if selectedFolder.id == cat.id %}active{% endif %}" href="{{ path('psc_shop_media_backend_folder_show', {uuid: cat.id, modal: modal, htmlId: htmlId}) }}">
                            <span class="badge bg-dark pull-right">({{ cat.media }})</span> <i class="fa {{ cat.icon }}"></i> {{ cat.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">{% if selectedFolder %}<h3>{{ selectedFolder.title }} <small>{{ selectedFolder.id }}</small></h3>{% endif %}</div>
            </div>
            <br/>
            <div class="row">
                <div class="col-md-4">{% if selectedFolder %}<a href="{{ path("psc_shop_media_backend_upload_add", {uuid: selectedFolder.id, modal: modal, htmlId: htmlId}) }}" class="btn btn-info btn-sm"><span class="fa fa-edit"></span> Dateien hinzufügen</a>{% if pagination|length == 0 %} <a href="{{ path("psc_shop_media_backend_folder_delete", {uuid: selectedFolder.id, modal: modal, htmlId: htmlId}) }}" class="btn btn-danger btn-sm"><span class="fa fa-remove"></span> Ordner löschen</a>{% endif %}{% endif %}</div>
                <div class="col-md-6">
                    {{ form_start(searchForm, { 'attr': {'class': ''}}) }}
                        <div class="input-group mb-3">
                            {{ form_widget(searchForm.term) }}
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="submit">Suche</button>
                            </div>
                        </div>
                    {{ form_end(searchForm) }}
                </div>
                <div class="col-md-2 text-end">
                    <div class="btn-group">
                        <a href="{{ path('psc_shop_media_backend_folder_show', {uuid: selectedFolder.id, modal: modal, htmlId: htmlId}) }}?viewMode=thumb-view" class="btn {% if viewMode == 'thumb-view' %}btn-primary{% else %}btn-default{% endif %} btn-sm">
                            <i class="fas fa-images btn__icon"></i>
                        </a>
                        <a href="{{ path('psc_shop_media_backend_folder_show', {uuid: selectedFolder.id, modal: modal, htmlId: htmlId}) }}?viewMode=list-view" class="btn {% if viewMode == 'list-view' %}btn-primary{% else %}btn-default{% endif %} btn-sm">
                            <i class="fas fa-list btn__icon"></i>
                        </a>
                    </div></div>
            </div>
            {% if app.session.get('media-thumb-view') %}
                <div class="row">
                    {% set counter = 1 %}
                    {% for media in pagination %}
                        {% if not handler or handler.canHandle(media) %}
                            {% set usedHandler = mediamanager.getHandler(media) %}
                            {% set imageurl =  usedHandler.getImageUrl(media, app.request.basePath) %}
                            {% if imageurl is not empty and media.location == 'local' %}
                                {% if imageurl|lower|split('.')|last == 'svg' or 'image/svg' in media.contentType %}
                                    {% set imageurlretina = imageurl %}
                                {% else %}
                                    {% set imageurlretina = asset(imageurl | imagine_filter('media_list_thumbnail_retina')) %}
                                    {% set imageurl = asset(imageurl | imagine_filter('media_list_thumbnail')) %}
                                {% endif %}
                            {% endif %}
                            <div class="js-can-have-dnd col-sm-6 col-md-4 col-lg-3">
                            {% set path = "[%s]" | format("M" ~ media.id) %}
                                <figure class="figure">
                                    {% if imageurl %}
                                        <img class="figure-img img-fluid rounded" src="{{ imageurl }}" srcset="{{ imageurl }} 1x, {{ imageurlretina is defined ? ', ' ~ imageurlretina ~ " 2x" }}" alt="{{ media.title }}">
                                    {% else %}
                                        <i class="fas fa-file-o media-thumbnail__icon"></i>
                                    {% endif %}
                                        <figcaption class="figure-caption">
                                            {{ media.title }}
                                        </figcaption>
                                </figure>

                            </div>
                            {# Clearfixes #}
                            {% if counter is divisible by(2) %}
                                <div class="clearfix visible-sm-block"></div>
                            {% endif %}
                            {% if counter is divisible by(3) %}
                                <div class="clearfix visible-md-block"></div>
                            {% endif %}
                            {% if counter is divisible by(4) %}
                                <div class="clearfix visible-lg-block"></div>
                            {% endif %}

                            {% set counter = counter+1 %}

                        {% endif %}
                    {% endfor %}
                </div>
                {{ knp_pagination_render(pagination) }}
            {% else %}

                <div class="panel">
                    <div class="body">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th></th>
                                    <th>{{ knp_pagination_sortable(pagination, 'Uid', 'media.uid') }}</th>
                                    <th>{{ knp_pagination_sortable(pagination, 'Titel', 'media.title') }}</th>
                                    <th>{{ knp_pagination_sortable(pagination, 'Dateiname', 'media.originalFilename') }}</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for media in pagination %}
                                <tr {% if loop.index is odd %}class="color"{% endif %}>
                                    {% set handler = mediamanager.getHandler(media) %}
                                    {% set imageurlorg =  handler.getImageUrl(media, app.request.basePath) %}
                                    {% if imageurlorg is not empty and media.location == 'local' %}
                                        {% if imageurlorg|lower|split('.')|last == 'svg' or 'image/svg' in media.contentType %}
                                            {% set imageurlretina = imageurlorg %}
                                            {% set imageurlinsert = imageurlorg %}
                                            {% set isImage = false %}
                                        {% else %}
                                            {% set imageurlretina = asset(imageurlorg | imagine_filter('psc_backend_media_image')) %}
                                            {% set imageurl = asset(imageurlorg | imagine_filter('psc_backend_media_image')) %}
                                            {% set imageurlinsert = asset(imageurlorg | imagine_filter('psc_backend_media_summernote_image')) %}
                                            {% set isImage = true %}
                                        {% endif %}
                                    {% else %}
                                        {% set imageurlinsert =  handler.getImageUrl(media, app.request.basePath) %}
                                        {% set isImage = false %}
                                    {% endif %}
                                    <td>
                                        {% if imageurlorg %}
                                            <img src="{{ imageurl }}" srcset="{{ imageurl }} 1x {{ imageurlretina is defined ? ', ' ~ imageurlretina ~ " 2x" }}" alt="{{ media.title }}" class="media-thumbnail__img">
                                        {% else %}
                                            <i class="fas fa-file-o media-thumbnail__icon"></i>
                                        {% endif %}
                                    </td>
                                    <td>{{ media.id }}</td>
                                    <td>{{ media.title }}</td>
                                    <td>{{ media.originalFilename }}</td>
                                    <td class="text-end">
                                        {% if modal %}
                                            <button class="btn btn-sm btn-success {% if isImage %}sommernote_insertImage{% else %}sommernote_insertFile{% endif %}" data-uuid="{{ media.id }}" data-src-html="{{ imageurl }}" data-src="{{ imageurlinsert }}">einfügen</button>
                                        {% else %}
                                            <a href="{{ path('psc_shop_media_backend_upload_swap', {folder: selectedFolder.id, media: media.id}) }}" class="btn btn-sm btn-warning">Tauschen</a>
                                            <a href="{{ path('psc_shop_media_backend_media_detail', {uuid: media.id}) }}" class="btn btn-sm btn-info">Bearbeiten</a>
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                        <div class="navigation">
                            {{ knp_pagination_render(pagination) }}
                        </div>
                    </div>
                </div>
            {% endif %}

        </div>
    </div>
{% endblock %}

{% block scripts %}
<script>
    $(document).ready(function() {
        {% if htmlId %}
        $(".sommernote_insertImage").click(function() {
            window.opener.$('#{{ htmlId }}').summernote('insertImage', $(this).attr('data-src'));
            window.close();
        });
        {% else %}

        $(".sommernote_insertImage").click(function() {
            window.opener.$('.sommernote').summernote('insertImage', $(this).attr('data-src'));
            window.close();
        });

        $(".sommernote_insertFile").click(function() {
            window.opener.$('.summernote').summernote('createLink', {
                text: 'Link to File',
                url: $(this).attr('data-src'),
                newWindow: true
            });
            window.close();
        });

        {% endif %}
    });

</script>
{% endblock %}