{% extends 'backend_base.html.twig' %}
{% block body %}
<div class="row hidden-mobile">
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
        <h1 class="page-title txt-color-blueDark">
            <i class="fa-fw fa fa-user"></i>
            Auftrag <span>>
			Detail</span></h1>
    </div>

</div>

<section id="widget-grid" class="">

    <!-- row -->
    <div class="row">

        <!-- NEW WIDGET START -->
        <article class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

            <!-- Widget ID (each widget will need unique ID)-->
            <div class="jarviswidget jarviswidget-color-darken" id="wid-id-0" data-widget-editbutton="false">
                <header>
                    <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                    <h2>Uploads löschen?</h2>

                </header>

                <div class="widget-body">
                    <div class="table-responsive">

                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th>File</th>
                                <th>Pfad</th>
                                <th>Vorhanden</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for orderpos in order.getPositions() %}
                                    {% for upload in orderpos.getUploads() %}
                                       <tr><td>{{ upload.name }}</td><td>{{ upload.path }}</td><td>{% if file_exists(upload.path) %}<span class="badge bg-success">JA</span>{% else %}<span class="badge bg-danger">NEIN</span>{% endif %}</td></tr>
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>

                {{ form_start(form, { 'attr': {'class': 'smart-form'}}) }}
                <div class="widget-body">
                    <div class="row">
                        <div class="col col-1">
                            <section>
                                <label class="label"></label>
                                <label class="input"> {{ form_widget(form.yes, {attr: {class: 'btn btn-lg btn-warning'}}) }}</label>
                            </section>
                        </div>
                        <div class="col col-1">
                            <section>
                                <label class="label"></label>
                                <label class="input"> {{ form_widget(form.no, {attr: {class: 'btn btn-lg btn-primary'}}) }}</label>
                            </section>
                        </div>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </article>
    </div>
</section>
{% endblock %}