{% extends 'backend_base.html.twig' %}

{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-paper-plane"></i>
                    Status <span>>
                    Liste </span>
                </h3>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-end">

            </div>
        </div>
    </div>
    <div class="body">
        <div class="panel">
            <div class="body">
                <a class="btn btn-info btn-sm" href="{{ path("psc_system_status_create") }}">Status
                    hinzufügen</a>
            </div>
        </div>

        <div class="panel">
            <div class="body">
                <h2>Auftragsstatus</h2>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>Code</th>
                        <th>Aktiv</th>
                        <th>interner Name</th>
                        <th>externer Name</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for status in statusOrder %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>{{ status.code }}</td>
                            <td>{% if status.enable %}<span class="badge bg-success">Ja</span>{% else %}<span
                                        class="badge bg-warning">Nein</span>{% endif %}</td>
                            <td>{{ status.internalName }}</td>
                            <td>{{ status.externalName }}</td>
                            <td class="text-end">
                                <a href="{{ path("psc_system_status_edit", {uuid: status.id}) }}" class="btn btn-info btn-sm"><span class="fa fa-edit"></span> Bearbeiten</a>
                                <a href="{{ path("psc_system_status_delete", {uuid: status.id}) }}" class="btn btn-danger btn-sm"><span class="fa fa-trash"></span> Löschen</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel">
            <div class="body">
                <h2>Positionsstatus</h2>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>Code</th>
                        <th>Aktiv</th>
                        <th>interner Name</th>
                        <th>externer Name</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for status in statusPosition %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>{{ status.code }}</td>
                            <td>{% if status.enable %}<span class="badge bg-success">Ja</span>{% else %}<span
                                        class="badge bg-warning">Nein</span>{% endif %}</td>
                            <td>{{ status.internalName }}</td>
                            <td>{{ status.externalName }}</td>
                            <td class="text-end">
                                <a href="{{ path("psc_system_status_edit", {uuid: status.id}) }}" class="btn btn-info btn-sm"><span class="fa fa-edit"></span> Bearbeiten</a>
                                <a href="{{ path("psc_system_status_delete", {uuid: status.id}) }}" class="btn btn-danger btn-sm"><span class="fa fa-trash"></span> Löschen</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}