{% extends 'backend_base.html.twig' %}

{% block body %}
<div class="header">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h3>
                <i class="fas fa-wrench"></i>
                Grafikabteilung <span>>
                Detail </span>
            </h3>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-xs-right">
            <a href="{{ path("psc_backend_production_correction_list_index") }}" class="btn btn-default btn-sm"><i class="fas fa-arrow-left"></i> Zurück</a>
        </div>
    </div>
</div>
<div class="body">
    <div class="row">
        <div class="col-md-3">
            <div class="panel">
                <div class="header">
                    <h4>Auftrag {{ order.alias }}</h4>
                </div>
                <div class="body">
                    <h5>Zahlart: {{ order.getPaymentType.getTitle() }}</h5>
                    <h5>Versandart: {{ order.getShippingType.getTitle() }}</h5>

                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel">
                <div class="header">
                    <h4>Kunde</h4>
                </div>
                <div class="body">
                    <h4>{{ contact.username }}</h4>
                    <h5>{{ invoiceAddress.company }}</h5>
                    <h5>{{ invoiceAddress.company2 }}</h5>
                    <h6>{{ invoiceAddress.firstname }} {{ invoiceAddress.lastname }}</h6>
                    <h6>{{ invoiceAddress.street }} {{ invoiceAddress.houseNumber }}</h6>
                    <h6>{{ invoiceAddress.country }} - {{ invoiceAddress.zip }} {{ invoiceAddress.city }}</h6>

                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel">
                <div class="header">
                    <h4>{{ position.product.title }}</h4>
                </div>
                <div class="body">
                    <ul>
                        {% for opt in calc.getOptions %}
                            <li>{{ opt.name }}: {{ opt.value }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel">
                <div class="header">
                    <h4>Status</h4>
                </div>
                <div class="body">
                    {{ form_start(quickFormStatus, { 'attr': {'class': ''}}) }}
                    {{ form_errors(quickFormStatus) }}
                    <div class="form-group row">
                        <div class="col-md-12">
                        {{ form_widget(quickFormStatus.status, {attr: {class:'form-control'}}) }}
                        {{ form_widget(quickFormStatus.save, {label: 'in die Druckvorstufe übergeben', attr: {class: 'btn btn-primary btn-sm'}}) }}
                            <button class="btn btn-info btn-sm" type="submit" name="status" value="510">Entwurf an Kunde übergeben</button>
                        </div>
                    </div>
                    {{ form_end(quickFormStatus) }}

                </div>
            </div>
        </div>
        <div class="col-md-6"><!--
            <div class="panel">
                <div class="header">
                    <h4>Status</h4>
                </div>
                <div class="body">
                    {{ form_start(formStatus, { 'attr': {'class': ''}}) }}
                    {{ form_errors(formStatus) }}
                    <div class="form-group row">
                        <label class="col-md-1 form-control-label">
                            {{ form_label(formStatus.status) }}
                        </label>
                        <div class="col-md-9">
                            {{ form_widget(formStatus.status, {attr: {class:'form-control'}}) }}
                        </div>
                        <div class="col-md-2">
                            {{ form_widget(formStatus.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                        </div>
                    </div>
                    {{ form_end(formStatus) }}
                </div>
            </div>-->
        </div>
    </div>
    <div class="panel">
        <div class="header">
            <h4>Upload</h4>
        </div>
        <div class="body">
            {{ form_start(form, { 'attr': {'class': ''}}) }}
            {{ form_errors(form) }}
            <div class="form-group row">
                <label class="col-md-1 form-control-label">{{ form_label(form.file) }}</label>
                <div class="col-md-11">
                    {{ form_widget(form.file, {attr: {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-1 form-control-label">{{ form_label(form.typ) }}</label>
                <div class="col-md-11">
                    {{ form_widget(form.typ, {attr: {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row">
                <label class="col-md-1 form-control-label">Kommentar</label>
                <div class="col-md-11">
                    {{ form_widget(form.preflightErrors, {attr: {'class': 'form-control'}}) }}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-offset-1 col-md-11">
                    {{ form_widget(form.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>

    <div class="panel">
        <div class="header">
            <h4>Detail</h4>
        </div>
        <div class="body">
            <table class="table table-striped table-sm">
                <thead>
                    <tr>
                        <th>Bereich</th>
                        <th>Im Package?</th>
                        <th>Datum</th>
                        <th>Datei</th>
                        <th>Kommentar</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for upload in uploads %}
                    <tr>
                        <td>{{ upload.typ }}</td>
                        <td><a href="{{ path("psc_backend_production_correction_changeexport", {uuid: position.uuid, upload: upload.uid}) }}">{% if upload.export %}JA{% else %}NEIN{% endif %}</a></td>
                        <td>{{ upload.updated|date('d.m.Y H:i:s') }}</td>
                        <td><a href="/apps/{{ upload.path }}">{{ upload.name }}</a></td>
                        <td><a href="{{ path("psc_backend_production_correction_deleteupload", {uuid: position.uuid, upload: upload.uid}) }}" class="btn btn-danger"><span class="fa fa-trash-o"></span> Löschen</a></td>
                    </tr>
                    <tr>
                        <td colspan="5">{{ upload.preflightErrors }}</td>
                    </tr>
                    <tr class="divider"><td colspan="5"></td></tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
