{% extends 'backend_base.html.twig' %}

{% block body %}
<div class="header">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
            <h3>
                <i class="fas fa-wrench"></i>
                Grafikabteilung <span>>
			Liste </span></h3>
        </div>

    </div>
</div>
<div class="body">
    <div class="panel">
        <div class="body">
            <table class="table table-striped table-sm">
                <thead class="">
                <tr>
                    <th>{{ knp_pagination_sortable(pagination, 'Alias', 'ord.alias') }}</th>
                    <th>{{ knp_pagination_sortable(pagination, 'Erzeugt', 'ord.created') }}</th>
                    <th>Benutzer</th>
                    <th>Produkttitel</th>
                    <th>Status</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for pos in pagination %}
                    <tr>
                        <td>{{ pos.order.alias }}</td>
                        <td>{{ pos.order.created|date('d.m.Y H:i:s') }}</td>
                        <td>{{ pos.order.contact.username }}</td>
                        <td>{{ pos.product.title }}</td>
                        <td>{{ pos.status|trans({}, 'posstatus') }}</td>
                        <td><a href="{{ path("psc_backend_production_correction_detail_index", {uuid: pos.uuid}) }}" class="btn btn-info btn-sm"><span class="fas fa-edit"></span> Details</a></td>
                    </tr>
                    <tr class="divider"><td colspan="6"></td></tr>
                {% endfor %}
                </tbody>
            </table>
            {# display navigation #}
            <div class="navigation">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
