{% extends 'backend_base.html.twig' %}
{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa fa-paper-plane"></i>
                    Mehrwertsteuersatz <span>>
                    Bearbeiten </span>
                </h3>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-end">
                <a href="{{ path("psc_system_tax_list") }}" class="btn btn-default btn-sm"><i class="fa fa-lg fa-fw fa-arrow-left"></i> Zurück</a>
            </div>
        </div>
    </div>

    <div class="body">
        {{ form_start(form, { 'attr': {'class': ''}}) }}
        <div class="panel">
            <div class="header">
                <h4>Bearbeiten</h4>
            </div>
            <div class="body">
                <div class="row">
                    <div class="col-md-2">
                        <ul class="nav nav-pills flex-column" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-bs-toggle="tab" href="#all" role="tab">Allgemein</a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-md-10">
                        <div class="tab-content">
                            <div class="tab-pane active" id="all" role="tabpanel">
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="row mb-3">
                                            {{ form_label(form.name) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.name) }}
                                            </div>
                                            {{ form_errors(form.name) }}
                                        </div>
                                    </div>
                                    <div class="col-md-5">
                                        <div class="row mb-3">
                                            {{ form_label(form.enable) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.enable) }}
                                            </div>
                                            {{ form_errors(form.enable) }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="row mb-3">
                                            {{ form_label(form.value) }}
                                            <div class="col-md-8">
                                                {{ form_widget(form.value) }}
                                            </div>
                                            {{ form_errors(form.value) }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel">
            <div class="body">
                <div class="row mb-3">
                    <div class="col-md-offset-1 col-md-11">
                        <button class="btn btn-primary btn-sm">Speichern</button>
                    </div>
                </div>
            </div>
        </div>
        {{ form_end(form) }}
    </div>


{% endblock %}