{% extends 'backend_base.html.twig' %}

{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-paper-plane"></i>
                    Mehrwertsteuersätze <span>>
                    Liste </span>
                </h3>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-end">

            </div>
        </div>
    </div>
    <div class="body">
        <div class="panel">
            <div class="body">
                <a class="btn btn-info btn-sm" href="{{ path("psc_system_tax_create") }}">Mehrwertsteuersatz
                    hinzufügen</a>
            </div>
        </div>

        <div class="panel">
            <div class="body">
                <h2>Mehrwertsteuersätze</h2>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Aktiv</th>
                        <th>Wert</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tax in taxes %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>{{ tax.name }}</td>
                            <td>{% if tax.enable %}<span class="badge bg-success">Ja</span>{% else %}<span
                                        class="badge bg-warning">Nein</span>{% endif %}</td>
                            <td>{{ tax.value }}</td>
                            <td class="text-end">
                                <a href="{{ path("psc_system_tax_edit", {uuid: tax.id}) }}" class="btn btn-info btn-sm"><span class="fa fa-edit"></span> Bearbeiten</a>
                                <a href="{{ path("psc_system_tax_delete", {uuid: tax.id}) }}" class="btn btn-danger btn-sm"><span class="fa fa-trash"></span> Löschen</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="panel">
            <div class="body">
                <h2>Mehrwertsteuer für den Shop ändern</h2>
                {{ form_start(form, { 'attr': {'class': ''}}) }}
                <div class="row">
                    <div class="col-md-5">
                        <div class="row mb-3">
                            {{ form_label(form.shop) }}
                            <div class="col-md-8">
                                {{ form_widget(form.shop) }}
                            </div>
                            {{ form_errors(form.shop) }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row mb-3">
                            {{ form_label(form.from) }}
                            <div class="col-md-8">
                                {{ form_widget(form.from) }}
                            </div>
                            {{ form_errors(form.from) }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row mb-3">
                            {{ form_label(form.to) }}
                            <div class="col-md-8">
                                {{ form_widget(form.to) }}
                            </div>
                            {{ form_errors(form.to) }}
                        </div>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-offset-1 col-md-11">
                        <button class="btn btn-primary btn-sm">Speichern</button>
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}