/**
 * This is the main application stylesheet. It should include or import all
 * stylesheets used throughout the application as this is the only stylesheet in
 * the Grunt configuration that is automatically processed.
 */


/**
 * First, we include the Twitter Bootstrap LESS files. Only the ones used in the
 * project should be imported as the rest are just wasting space.
 */


@import 'variables.less';

@import "../../vendor/bootstrap/less/mixins.less";

// Reset
@import "../../vendor/bootstrap/less/normalize.less";
@import "../../vendor/bootstrap/less/print.less";

// Core CSS
@import "../../vendor/bootstrap/less/scaffolding.less";
@import "../../vendor/bootstrap/less/type.less";
@import "../../vendor/bootstrap/less/code.less";
@import "../../vendor/bootstrap/less/grid.less";
@import "../../vendor/bootstrap/less/tables.less";
@import "../../vendor/bootstrap/less/forms.less";
@import "../../vendor/bootstrap/less/buttons.less";

// Components
@import "../../vendor/bootstrap/less/component-animations.less";
@import "../../vendor/bootstrap/less/dropdowns.less";
@import "../../vendor/bootstrap/less/button-groups.less";
@import "../../vendor/bootstrap/less/input-groups.less";
@import "../../vendor/bootstrap/less/navs.less";
@import "../../vendor/bootstrap/less/navbar.less";
@import "../../vendor/bootstrap/less/breadcrumbs.less";
@import "../../vendor/bootstrap/less/pagination.less";
@import "../../vendor/bootstrap/less/pager.less";
@import "../../vendor/bootstrap/less/labels.less";
@import "../../vendor/bootstrap/less/badges.less";
@import "../../vendor/bootstrap/less/jumbotron.less";
@import "../../vendor/bootstrap/less/thumbnails.less";
@import "../../vendor/bootstrap/less/alerts.less";
@import "../../vendor/bootstrap/less/progress-bars.less";
@import "../../vendor/bootstrap/less/media.less";
@import "../../vendor/bootstrap/less/list-group.less";
@import "../../vendor/bootstrap/less/panels.less";
@import "../../vendor/bootstrap/less/wells.less";
@import "../../vendor/bootstrap/less/close.less";

// Components w/ JavaScript
@import "../../vendor/bootstrap/less/modals.less";
@import "../../vendor/bootstrap/less/tooltip.less";
@import "../../vendor/bootstrap/less/popovers.less";
@import "../../vendor/bootstrap/less/carousel.less";

// Utility classes
@import "../../vendor/bootstrap/less/utilities.less";
@import "../../vendor/bootstrap/less/responsive-utilities.less";



@import "../../vendor/font-awesome/less/font-awesome.less";
@fa-font-path:        "../assets";

/* Ion.RangeSlider, Flat UI Skin
// css version 1.9.2
// © 2013-2014 Denis Ineshin | IonDen.com
// ===================================================================================================================*/

/* =====================================================================================================================
// Skin details */

.irs-line-mid,
.irs-line-left,
.irs-line-right,
.irs-diapason,
.irs-slider {
  background: url(sprite-skin-flat.png) repeat-x;
}

.irs {
  height: 40px;
}
.irs-with-grid {
  height: 60px;
}
.irs-line {
  height: 12px; top: 25px;
}
.irs-line-left {
  height: 12px;
  background-position: 0 -30px;
}
.irs-line-mid {
  height: 12px;
  background-position: 0 0;
}
.irs-line-right {
  height: 12px;
  background-position: 100% -30px;
}

.irs-diapason {
  height: 12px; top: 25px;
  background-position: 0 -60px;
}

.irs-slider {
  width: 16px; height: 18px;
  top: 22px;
  background-position: 0 -90px;
}
#irs-active-slider, .irs-slider:hover {
  background-position: 0 -120px;
}

.irs-min, .irs-max {
  color: #999;
  font-size: 10px; line-height: 1.333;
  text-shadow: none;
  top: 0; padding: 1px 3px;
  background: #e1e4e9;
  border-radius: 4px;
}

.irs-from, .irs-to, .irs-single {
  color: #fff;
  font-size: 10px; line-height: 1.333;
  text-shadow: none;
  padding: 1px 5px;
  background: #ed5565;
  border-radius: 4px;
}
.irs-from:after, .irs-to:after, .irs-single:after {
  position: absolute; display: block; content: "";
  bottom: -6px; left: 50%;
  width: 0; height: 0;
  margin-left: -3px;
  overflow: hidden;
  border: 3px solid transparent;
  border-top-color: #ed5565;
}


.irs-grid-pol {
  background: #e1e4e9;
}
.irs-grid-text {
  color: #999;
}

.irs-disabled {
}

/**
 * This is our main variables file. It in turn imports the `variables` file from
 * Twitter Bootstrap. We must include it last so we can overwrite any variable
 * definitions in our imported stylesheets.
 */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/**
 * Navigation
 */

.navbar {
  .navbar-inner {
    padding: 0;
  }

  .nav {
    margin: 0;
    display: table;
    width: 100%;

    li {
      display: table-cell;
      width: 1%;
      float: none;

      a {
        font-weight: bold;
        text-align: center;
        //border-left: 1px solid rgba(255, 255, 255, 0.75);
        border-right: 1px solid rgba(0, 0, 0, .1);
      }
      
      &:first-child a {
        border-left: 0;
        border-radius: 3px 0 0 3px;
      }
      
      &:last-child a {
        border-right: 0;
        border-radius: 3px 0 0 3px;
      }
    }
  }
}

.loading_mask {
  position: absolute;
  top: 5px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: grey;
  z-index: 9999999;
  opacity: 0.1;
}

#loading-bar-spinner .spinner-icon {
  width: 30px !important;
  height: 30px !important;
  border-radius: 15px !important;
}

/**
 * Now that all app-wide styles have been applied, we can load the styles for
 * all the submodules and components we are using. 
 *
 * TODO: In a later version of this boilerplate, I'd like to automate this.
 */

@import '../app/painter/painter.less';
@import '../app/tools/tools.less';
@import '../app/footer/footer.less';
@import '../app/motiv/modal.less';
@import '../app/top/top.less';
@import '../app/sites/sites.less';
@import '../app/settings/settings.less';
@import '../app/simplecolorpicker/simplecolorpicker.less';