{% extends 'backend_base.html.twig' %}

{% block body %}

    {% form_theme form with ['@PSCBackendDashboard/form/form_errors.html.twig'] %}
    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-object-group"></i>
                    Steplayouter <span>>
                    Einstellungen </span>
                </h3>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-end">
                <a href="{{ path("psc_component_steplayouter_system_check_index") }}" class="btn btn-default btn-sm"><i class="fa fa-lg fa-fw fa-object-group"></i> XML Fehlerbehebung</a>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="panel">
            <div class="body">
                {{ form_start(form, { 'attr': {'class': ''}}) }}
                {{ form_errors(form) }}

                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-bs-toggle="tab" href="#cal" role="tab">Kalender</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div class="tab-pane active" id="cal" role="tabpanel">
                        <div class="row mb-3">
                            <label class="col-md-1 form-control-label">
                                {{ form_label(form.calendarStartYear) }}
                            </label>
                            <div class="col-md-11">
                                {{ form_widget(form.calendarStartYear) }}
                            </div>
                            {{ form_errors(form.calendarStartYear) }}
                        </div>

                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-md-offset-1 col-md-11">
                        {{ form_widget(form.save, {attr: {class: 'btn btn-primary btn-sm'}}) }}
                    </div>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}