{% extends 'backend_base.html.twig' %}
{% trans_default_domain 'core_product_list' %}
{% block body %}
    <div class="header">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <h3>
                    <i class="fa-fw fa fa-tags"></i>
                    {{ 'Product'|trans }} <span>></span>
                    {{ 'List'|trans }}
                </h3>
            </div>
        </div>
    </div>
    <div class="body">
        <div class="panel">
            <div class="body">
                <div class="dropdown">
                    <button class="btn btn-info dropdown-toggle btn-sm" type="button" id="dropdownMenu1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="fa fa-plus"></span> {{ 'addproduct'|trans }}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        {% for productType in productTypes %}
                            <a class="dropdown-item" href="{{ path('backend_production_product_create', {type: productType.id}) }}">{{ productType.name }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        <div class="panel">
            <div class="body">
                {{ form_start(form, { 'attr': {'class': 'searchForm'}}) }}
                <div class="form-group form-group-sm row">

                    <div class="col-md-3">
                        <div class="">
                            {{ form_widget(form.mainProduct) }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group input-group-sm">
                            {{ form_widget(form.term) }}
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="input-group input-group-sm">
                            {{ form_widget(form.filter) }}
                        </div>
                    </div>
                </div>

                {{ form_rest(form) }}

                {{ form_end(form) }}

                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th></th>
                        <th>{{ knp_pagination_sortable(pagination, 'Uid', 'product.uid') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Active'|trans, 'product.enable') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Sales'|trans, 'product.buyed') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'generated'|trans, 'product.createdAt') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'changed'|trans, 'product.updatedAt') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Name'|trans, 'product.title') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'NoIntern'|trans, 'product.nrIntern') }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Producttype'|trans, 'product.type') }}</th>
                        <th>{{ "Productgroups"|trans }}</th>
                        <th>{{ 'Mainproduct'|trans }}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for product in pagination %}
                        <tr {% if loop.index is odd %}class="color"{% endif %}>
                            <td>{% thumbnail product.image1, 'psc_shop_product_backend_list_file1' with {'width': 90} %}</td>
                            <td>{{ product.uid }}</td>
                            <td>
                                <input type="checkbox" {% if product.enable %}checked{% endif %} class="btn-sm ajaxToogle" data-size="mini" data-url="{{ path('psc_shop_product_backend_toogle', {uuid: product.uuid, field: 'enable'}) }}" data-toggle="toggle">
                            </td>
                            <td>{{ product.buyed }}</td>
                            <td>{{ product.createdAt|date('H:i d.m.Y') }}</td>
                            <td>{{ product.updatedAt|date('H:i d.m.Y') }}</td>
                            <td>{{ product.title }}</td>
                            <td>{{ product.nrIntern }}</td>
                            <td>{{ product.type|productType }}</td>
                            <td>{% for productGroup in product.productGroups %}{{ productGroup.title }}{% if loop.last != true %}, {%  endif %}{% endfor %}</td>
                            <td>{% if product.originalproduct == 0 %}<span class="badge bg-success">{{ 'Yes'|trans }}</span>{% else %}<span class="badge bg-warning">{{ 'No'|trans }}</span>{% endif %}</td>
                            <td>
                                <a href="{{ path("backend_production_product_edit", {uuid: product.uuid}) }}" class="btn btn-info btn-sm"><span class="fa fa-edit"></span></a>
                                <a href="{{ path("psc_shop_product_backend_edit_copy", {uuid: product.uuid}) }}" class="btn btn-warning btn-sm"><span class="fa fa-copy"></span></a>
                                <a href="{{ path("psc_shop_product_backend_edit_delete", {uuid: product.uuid}) }}" class="btn btn-danger btn-sm"><span class="fa fa-trash"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}