html, body {
  background: #f0f3f4;
  height: 100%;
  font-size: 0.9em;
  > div {
    padding: 0 !important;
  }
}

body > header > .header {
  background: #EA641b;
  box-shadow: 0 2px 2px rgba(0,0,0,.05),0 1px 0 rgba(0,0,0,.05);
  padding: 10px;
  margin: 0;
  color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 990;
  #help a {
    font-size: 1.5em;
    color: white;
  }
  > h4 {
    margin: 0;
  }
  .form-group {
    margin-bottom: 0;
  }

  .btnLogout {
    background: #343a40 !important;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
  }

  .btnWiki {
    background: #343a40 !important;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }

  .btnTicket {
    background: #343a40 !important;
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
}

.sideMenu {
  overflow-x: hidden;
  overflow-y: auto;
  color: #aeb1bc;
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 60px 0 0; /* Height of navbar */
  h5 {
    color: white;
  }

  .collapse-menu {
    float: right;
    margin-top: 5px;
    margin-right: 10px;
  }
  .nav {
    flex-wrap: nowrap !important;
  }
  .nav > li {
    cursor: pointer;
    > a {
      padding: 5px 5px;
      display: block;
    }
    > a:hover {
      color: white;
      background: #555;
      text-decoration: none;
    }
    > a:hover i {
      color: white;
    }
    > ul {
      display: none;
      margin-left: 10px;
    }
  }
  .nav > li.open > ul {
    display: block;
  }
  .nav li.active a {
    color: white;
  }
  .nav li.active a i {
    color: white;
  }
  a {
    i {
      color: #898ba3;
    }
    color: #b4b6bd;
  }

}

.content {
  padding: 0 10px 0 10px;
  margin-top: 50px;
  h3,h4 {
    margin: 0;
  }
  .header {
    padding: 10px;
    color: #373a3c;
    background: #f6f8f8;
    border-bottom: 1px solid #dee5e7;
  }
  .body {
    padding: 10px;
    .btn-default {
      color: #333;
      background-color: #fff;
      border-color: #ccc;
    }
    .searchForm {
      margin-bottom: 10px;
    }
    .panel {

      > .header {
        background: #f6f8f8;
        border-bottom: 1px solid #edf1f2;
        color: #333;
        padding: 10px;
      }
      > .body {
        padding: 10px;
        .tab-content {
          margin-top: 10px;

        }
        .nav-tabs .nav-link.active, .nav-tabs .nav-link.active:focus, .nav-tabs .nav-link.active:hover, .nav-tabs .nav-item.open .nav-link, .nav-tabs .nav-item.open .nav-link:focus, .nav-tabs .nav-item.open .nav-link:hover {
          background-color: #0275d8;
          border-color: #ddd #ddd transparent;
          border: 1px solid;
          border-radius: 4px;
          color: white;
        }

        .overlay {
          position: absolute;
          height: 100%;
          width: 100%;
          background: rgba(234, 100, 27, 0.75);
          z-index: 1;
          text-align: center;
          vertical-align: middle;
          font-size: xx-large;
          padding-top: 150px;
          color: #444;
          margin: -5px;
        }

        .table > tbody > tr.divider > td {
          background: #EA641b;
          height: 2px;
          padding: 0;
        }
        .table .thead-dark {
          th {
            background-color: #343a40;
          }
          a {
            color: white;
            text-decoration: underline;
          }
        }
      }
      margin-top: 10px;
      border: 1px solid #dee5e7;
      background: white;
      border-radius: 2px;
      box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    }
  }
}

.ajax-modal__body {
  padding: 0;
  height: 80vh;
}

.no-margin-top {
  margin-top:0;
}

/** MODAL **/
.modal-lg {
  width: 90vw;
  max-width: none;
}

/** bg table **/
.bg-lightdanger {
  background-color: #ffcece;
}

.bg-lightsuccess {
  background-color: #dbffdb;
}

.bg-lightdark {
  background-color: lightgrey;
}
.form-check {
  margin-bottom: 12px;
}

.thead-dark {
  color:white;
}

@import "toogle/toogle.less";